<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cuentagotas 6b Boulder Problem in Can Bruguera | MadBoulder</title>
	<meta name="description" content="Videos of Cuentagotas Boulder Problem in Can Bruguera climbed by Aniol Santacreu | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/can-bruguera/cuentagotas-6b">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/can-bruguera" class="zone-header-tree-link">Can Bruguera</a>
				> 
				<a href="/sectors/can-bruguera/durkuek" class="zone-header-tree-link">Durkuek</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Cuentagotas, 6b. Can Bruguera
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/-g0GxhtvTNo" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Cuentagotas </p>
					<p> {{ _("Grade") }}: 6b </p>
					
						<p> {{ _("Zone") }}: <a href="/can-bruguera">Can Bruguera</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/can-bruguera/durkuek">Durkuek</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/aniol-santacreu">Aniol Santacreu</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>