<!DOCTYPE html>
<html>
  <head>
    <title>La Frontissa at Can Bruguera | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of La Frontissa at Can Bruguera | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/can-bruguera/la-frontissa">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 La Frontissa, Can Bruguera 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/nE-VbR-f5rM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: La Frontissa </p>
			<p> {{ _("Grade") }}: 4+ </p>
			<p> {{ _("Zone") }}: Can Bruguera </p>
			<p> {{ _("Sector") }}: Durkuek </p>
			<p> {{ _("Climber") }}: Aroa </p>
		</div>
	</div>
</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>