<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Peninha - Kalash at Sintra | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Peninha - Kalash at Sintra | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/sintra/peninha-kalash">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Peninha - Kalash, Sintra 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN88IRpJEdMbSitykFJK-cK" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/666-o-diabo-vive" class="table-row-name text-bold">666 o Diabo Vive</a>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/areia-preta" class="table-row-name text-bold">Areia Preta</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/corta-unhas" class="table-row-name text-bold">Corta Unhas</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/cu-pesado" class="table-row-name text-bold">Cu Pesado</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/kalashnikov" class="table-row-name text-bold">Kalashnikov</a>
						</td>
						<td>7c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/mouse-traverse" class="table-row-name text-bold">Mouse Traverse</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/sintra/tnt" class="table-row-name text-bold">TNT</a>
						</td>
						<td>6a</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>