<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Areny 4 - Rueda Fortuna at Mont-roig del Camp | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Areny 4 - Rueda Fortuna at Mont-roig del Camp | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/mont-roig-del-camp/areny-4-rueda-fortuna">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Areny 4 - Rueda Fortuna, Mont-roig del Camp 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/bollywood" class="table-row-name text-bold">Bollywood</a>
						</td>
						<td>6b (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/dias" class="table-row-name text-bold">Días</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/dias-de-borrasca" class="table-row-name text-bold">Días de borrasca</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/el-senor-de-la-guerra" class="table-row-name text-bold">El señor de la guerra</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/heroe-de-leyenda" class="table-row-name text-bold">Heroe de Leyenda</a>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/l-avia" class="table-row-name text-bold">L'Àvia</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/la-tregua" class="table-row-name text-bold">La tregua</a>
						</td>
						<td>5 (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/magic" class="table-row-name text-bold">Magic</a>
						</td>
						<td>5 (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/magic-right" class="table-row-name text-bold">Magic Right</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/menjablanc" class="table-row-name text-bold">Menjablanc</a>
						</td>
						<td>6c+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/musgo-placa" class="table-row-name text-bold">Musgo Placa</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/plato-chino" class="table-row-name text-bold">Plato chino</a>
						</td>
						<td>5+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/sota-el-pi" class="table-row-name text-bold">Sota el pi</a>
						</td>
						<td>6a (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/tempus-fugit" class="table-row-name text-bold">Tempus fugit</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/torrons-i-neules" class="table-row-name text-bold">Torrons i Neules</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/treeking-topic" class="table-row-name text-bold">Treeking Topic</a>
						</td>
						<td>6c (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/treeking-topic" class="table-row-name text-bold">Treeking Topic</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/truita-d-esparrecs" class="table-row-name text-bold">Truita d'espàrrecs</a>
						</td>
						<td>5 (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/mont-roig-del-camp/wild-horses" class="table-row-name text-bold">Wild horses</a>
						</td>
						<td>6a</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>