<!DOCTYPE html>
<html>
  <head>
    <title>Poco pocket at Avegno | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Poco pocket at Avegno | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/avegno/poco-pocket">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/avegno" class="zone-header-tree-link">Avegno</a>
	 > 
	<a href="/sectors/avegno/destra-5" class="zone-header-tree-link">Destra 5</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Poco pocket 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/LQNcZcc2Msg" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Poco pocket </p>
		<p> {{ _("Grade") }}: 7a </p>
		<p> {{ _("Zone") }}: Avegno </p>
		<p> {{ _("Sector") }}: Destra 5 </p>
		<p> {{ _("Climber") }}: Ruben Zanti </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>