<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Disco Polly V6 Boulder Problem in Priest Draw | MadBoulder</title>
	<meta name="description" content="Videos of Disco Polly Boulder Problem in Priest Draw climbed by Richie Farbman | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/priest-draw/disco-polly-v6">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
				
				> 
				<a href="/states/arizona" class="zone-header-tree-link">Arizona</a>
				
				> 
				<a href="/priest-draw" class="zone-header-tree-link">Priest Draw</a>
				> 
				<a href="/sectors/priest-draw/unknown" class="zone-header-tree-link">Unknown</a>
				
				> 
				<a href="/boulders/priest-draw/" class="zone-header-tree-link">Monster Roof</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Disco Polly, V6. Priest Draw
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/Rg__vb4rxQ4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Disco Polly </p>
					<p> {{ _("Grade") }}: V6 </p>
					
						<p> {{ _("Zone") }}: <a href="/priest-draw">Priest Draw</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/priest-draw/unknown">Unknown</a></p>
					
					
						
							<p> {{ _("Boulder") }}: Monster Roof</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/richie-farbman">Richie Farbman</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>