<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cena de mantels 7A+/B Boulder Problem in Zarzalejo | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Cena de mantels Boulder Problem in Zarzalejo climbed by Guillermo García | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/zarzalejo/cena-de-mantels-7a-b">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/madrid" class="zone-header-tree-link">Madrid</a>
	
	 > 
	<a href="/zarzalejo" class="zone-header-tree-link">Zarzalejo</a>
	 > 
	<a href="/sectors/zarzalejo/unknown" class="zone-header-tree-link">Unknown</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Cena de mantels, 7A+/B. Zarzalejo 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/jcz7EtyY8G4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Cena de mantels </p>
		<p> {{ _("Grade") }}: 7A+/B </p>
		
			<p> {{ _("Zone") }}: <a href="/zarzalejo">Zarzalejo</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/zarzalejo/unknown">Unknown</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/guillermo-garcia">Guillermo García</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>