<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Unknown at Pfalz | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Pfalz | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/pfalz/unknown">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/germany" class="zone-header-tree-link">Germany</a>
	
	 > 
	<a href="/pfalz" class="zone-header-tree-link">Pfalz</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Unknown 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Burning Fingers, 7a+. Pfalz" href="/problems/pfalz/burning-fingers-7a" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Burning Fingers, 7a+. Pfalz" src="https://img.youtube.com/vi/mlLJKKvVRNk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/pfalz/burning-fingers-7a" class="table-row-name text-bold">Burning Fingers</a>
							</div>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Stonemaker, 7a. Pfalz" href="/problems/pfalz/stonemaker-7a" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Stonemaker, 7a. Pfalz" src="https://img.youtube.com/vi/PT6zHU9-ipg/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/pfalz/stonemaker-7a" class="table-row-name text-bold">Stonemaker</a>
							</div>
						</td>
						<td>7a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Touch your Fear, 7b. Pfalz" href="/problems/pfalz/touch-your-fear-7b" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Touch your Fear, 7b. Pfalz" src="https://img.youtube.com/vi/AFpiuW8lj38/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/pfalz/touch-your-fear-7b" class="table-row-name text-bold">Touch your Fear</a>
							</div>
						</td>
						<td>7b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Weitkultur, 7a+. Pfalz" href="/problems/pfalz/weitkultur-7a" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Weitkultur, 7a+. Pfalz" src="https://img.youtube.com/vi/Wv4aAOpSSrM/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/pfalz/weitkultur-7a" class="table-row-name text-bold">Weitkultur</a>
							</div>
						</td>
						<td>7a+</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>