<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at Box Springs | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Box Springs | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/box-springs/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
			   
				> 
			   <a href="/states/california" class="zone-header-tree-link">California</a>
			   
				> 
			   <a href="/box-springs" class="zone-header-tree-link">Box Springs</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Unknown of Box Springs
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Eggshell, V3. Box Springs" href="/problems/box-springs/eggshell-v3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Eggshell, V3. Box Springs" src="https://img.youtube.com/vi/Yys5103GkZY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/eggshell-v3" class="table-row-name text-bold">Eggshell</a>
									</div>
								</td>
								<td>V3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Element 115, V5. Box Springs" href="/problems/box-springs/element-115-v5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Element 115, V5. Box Springs" src="https://img.youtube.com/vi/VG3B3PAGrYQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/element-115-v5" class="table-row-name text-bold">Element 115</a>
									</div>
								</td>
								<td>V5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Evil in a Closet. Box Springs" href="/problems/box-springs/evil-in-a-closet-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Evil in a Closet. Box Springs" src="https://img.youtube.com/vi/AWRToF7ifQg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/evil-in-a-closet-unknown" class="table-row-name text-bold">Evil in a Closet</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Gyroscope. Box Springs" href="/problems/box-springs/gyroscope-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Gyroscope. Box Springs" src="https://img.youtube.com/vi/6uanu0mbGpw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/gyroscope-unknown" class="table-row-name text-bold">Gyroscope</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jabba, V3. Box Springs" href="/problems/box-springs/jabba-v3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jabba, V3. Box Springs" src="https://img.youtube.com/vi/iRKzwiToawM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/jabba-v3" class="table-row-name text-bold">Jabba</a>
									</div>
								</td>
								<td>V3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jackass. Box Springs" href="/problems/box-springs/jackass-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jackass. Box Springs" src="https://img.youtube.com/vi/mk7uqAVTWOY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/jackass-unknown" class="table-row-name text-bold">Jackass</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Left Hook. Box Springs" href="/problems/box-springs/left-hook-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Left Hook. Box Springs" src="https://img.youtube.com/vi/cno3E1y2LlY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/left-hook-unknown" class="table-row-name text-bold">Left Hook</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Lunar Strain, V4. Box Springs" href="/problems/box-springs/lunar-strain-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Lunar Strain, V4. Box Springs" src="https://img.youtube.com/vi/LLRIuvu2d9A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/lunar-strain-v4" class="table-row-name text-bold">Lunar Strain</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Moonshield, V0. Box Springs" href="/problems/box-springs/moonshield-v0" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Moonshield, V0. Box Springs" src="https://img.youtube.com/vi/WNhtQYjufVI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/moonshield-v0" class="table-row-name text-bold">Moonshield</a>
									</div>
								</td>
								<td>V0</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Rail Problem. Box Springs" href="/problems/box-springs/rail-problem-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Rail Problem. Box Springs" src="https://img.youtube.com/vi/XKsWNT2cl2A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/rail-problem-unknown" class="table-row-name text-bold">Rail Problem</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Rebirth. Box Springs" href="/problems/box-springs/rebirth-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Rebirth. Box Springs" src="https://img.youtube.com/vi/uiM_gwj60gk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/rebirth-unknown" class="table-row-name text-bold">Rebirth</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Slap ‘Em Up. Box Springs" href="/problems/box-springs/slap-em-up-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Slap ‘Em Up. Box Springs" src="https://img.youtube.com/vi/AUslGF8c3R8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/slap-em-up-unknown" class="table-row-name text-bold">Slap ‘Em Up</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Sunrise Crack, V2. Box Springs" href="/problems/box-springs/sunrise-crack-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sunrise Crack, V2. Box Springs" src="https://img.youtube.com/vi/MIR3MXsTkrE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/sunrise-crack-v2" class="table-row-name text-bold">Sunrise Crack</a>
									</div>
								</td>
								<td>V2</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Jester’s Dance. Box Springs" href="/problems/box-springs/the-jesters-dance-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Jester’s Dance. Box Springs" src="https://img.youtube.com/vi/P-4RNFgrCeg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/the-jesters-dance-unknown" class="table-row-name text-bold">The Jester’s Dance</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Quiet Place. Box Springs" href="/problems/box-springs/the-quiet-place-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Quiet Place. Box Springs" src="https://img.youtube.com/vi/4jNVw-z0XYE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/the-quiet-place-unknown" class="table-row-name text-bold">The Quiet Place</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Space Between. Box Springs" href="/problems/box-springs/the-space-between-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Space Between. Box Springs" src="https://img.youtube.com/vi/J1OrKUSt65k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/the-space-between-unknown" class="table-row-name text-bold">The Space Between</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Touch of Red. Box Springs" href="/problems/box-springs/touch-of-red-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Touch of Red. Box Springs" src="https://img.youtube.com/vi/FHRH5y3rDxU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/touch-of-red-unknown" class="table-row-name text-bold">Touch of Red</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Uppercut. Box Springs" href="/problems/box-springs/uppercut-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Uppercut. Box Springs" src="https://img.youtube.com/vi/Z78sub1I8Yo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/uppercut-unknown" class="table-row-name text-bold">Uppercut</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Whoracle. Box Springs" href="/problems/box-springs/whoracle-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Whoracle. Box Springs" src="https://img.youtube.com/vi/F9_bXL9zRUE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/box-springs/whoracle-unknown" class="table-row-name text-bold">Whoracle</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>