<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profession de croix 8a (sit) Boulder Problem in Ailefroide | MadBoulder</title>
	<meta name="description" content="Videos of Profession de croix Boulder Problem in Ailefroide climbed by @the_climber_silva | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/ailefroide/profession-de-croix-8a-sit">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/france" class="zone-header-tree-link">France</a>
				
				> 
				<a href="/ailefroide" class="zone-header-tree-link">Ailefroide</a>
				> 
				<a href="/sectors/ailefroide/la-plaque" class="zone-header-tree-link">La Plaque</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Profession de croix, 8a (sit). Ailefroide
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/w9sr_cAQ0BQ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Profession de croix </p>
					<p> {{ _("Grade") }}: 8a (sit) </p>
					
						<p> {{ _("Zone") }}: <a href="/ailefroide">Ailefroide</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/ailefroide/la-plaque">La Plaque</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/the-climber-silva">@the_climber_silva</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>