<!DOCTYPE html>
<html>
  <head>
    <title>Emperor's Lightning V7 Boulder Problem in Leavenworth | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Emperor's Lightning Boulder Problem in Leavenworth climbed by Julie Qiao | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/leavenworth/emperor-s-lightning-v7">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/washington" class="zone-header-tree-link">Washington</a>
	
	 > 
	<a href="/leavenworth" class="zone-header-tree-link">Leavenworth</a>
	 > 
	<a href="/sectors/leavenworth/mountain-home-road" class="zone-header-tree-link">Mountain Home Road</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Emperor's Lightning, V7. Leavenworth 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/MIERREpmbtY" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Emperor's Lightning </p>
		<p> {{ _("Grade") }}: V7 </p>
		<p> {{ _("Zone") }}: Leavenworth </p>
		<p> {{ _("Sector") }}: Mountain Home Road </p>
		<p> {{ _("Climber") }}: Julie Qiao </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>