<!DOCTYPE html>
<html>
  <head>
	{% raw %}
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	{% endraw %}
	
    <title>Bouldering in {% block title %}{% endblock %} | MadBoulder</title>
	<meta name="description" content="Bouldering information and climbing videos in {% block description %}{% endblock %} | MadBoulder">
    {% block head %}{% endblock %}
  </head>
  <body>
	{% raw %}
	{% include 'elements/main-menu.html' %}
	{% endraw %}
    <main>
        <div class="container" id="pageContent">
          <br />
          <h1 style="text-align: center;">
            {% block zone_name %}{% endblock %}
          </h1>
          {% block stats %}{% endblock %}
          {% block widget %} {% endblock %}
          <br />
          <p>{% block topo %}{% endblock %}</p>
          <br />
          {% block body %}{% endblock %} {% block playlists %}{% endblock %}
        </div>
        <br />
	</main>
	{% raw %}
	{% include 'elements/footer.html' %}
	{% endraw %}
  </body>
</html>
