<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Icicle Creek Canyon at Leavenworth | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Icicle Creek Canyon at Leavenworth | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/leavenworth/icicle-creek-canyon">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
			   
				> 
			   <a href="/states/washington" class="zone-header-tree-link">Washington</a>
			   
				> 
			   <a href="/leavenworth" class="zone-header-tree-link">Leavenworth</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Icicle Creek Canyon of Leavenworth
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOTpfSL6ps529O9kFMGSO-C" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="2001, V4. Leavenworth" href="/problems/leavenworth/2001-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: 2001, V4. Leavenworth" src="https://img.youtube.com/vi/jV_ha6eR5Rg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/2001-v4" class="table-row-name text-bold">2001</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Alfalfa, V5. Leavenworth" href="/problems/leavenworth/alfalfa-v5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Alfalfa, V5. Leavenworth" src="https://img.youtube.com/vi/vkVLogBoaWc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/alfalfa-v5" class="table-row-name text-bold">Alfalfa</a>
									</div>
								</td>
								<td>V5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Arrested Development, V4. Leavenworth" href="/problems/leavenworth/arrested-development-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Arrested Development, V4. Leavenworth" src="https://img.youtube.com/vi/vO3acvdtxFU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/arrested-development-v4" class="table-row-name text-bold">Arrested Development</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Band of Gypsies, V1. Leavenworth" href="/problems/leavenworth/band-of-gypsies-v1" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Band of Gypsies, V1. Leavenworth" src="https://img.youtube.com/vi/QUkGP84FZ5Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/band-of-gypsies-v1" class="table-row-name text-bold">Band of Gypsies</a>
									</div>
								</td>
								<td>V1</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Buried Alive, V6. Leavenworth" href="/problems/leavenworth/buried-alive-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Buried Alive, V6. Leavenworth" src="https://img.youtube.com/vi/FrOgbQoAfl8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/buried-alive-v6" class="table-row-name text-bold">Buried Alive</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Busted, V6. Leavenworth" href="/problems/leavenworth/busted-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Busted, V6. Leavenworth" src="https://img.youtube.com/vi/qmQ5XqRGNyk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/busted-v6" class="table-row-name text-bold">Busted</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Busted, V7-8. Leavenworth" href="/problems/leavenworth/busted-v7-8-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Busted, V7-8. Leavenworth" src="https://img.youtube.com/vi/ju1RUzgs8pI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/busted-v7-8-sit" class="table-row-name text-bold">Busted</a>
									</div>
								</td>
								<td>V7-8 (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Cruise Control, V6. Leavenworth" href="/problems/leavenworth/cruise-control-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cruise Control, V6. Leavenworth" src="https://img.youtube.com/vi/XzVhJr59fmE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/cruise-control-v6" class="table-row-name text-bold">Cruise Control</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Dark Hollow, V6. Leavenworth" href="/problems/leavenworth/dark-hollow-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Dark Hollow, V6. Leavenworth" src="https://img.youtube.com/vi/H3OTuYGOEaU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/dark-hollow-v6" class="table-row-name text-bold">Dark Hollow</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fiend it Like a Crack, V4. Leavenworth" href="/problems/leavenworth/fiend-it-like-a-crack-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fiend it Like a Crack, V4. Leavenworth" src="https://img.youtube.com/vi/b78dM4YbVPM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/fiend-it-like-a-crack-v4" class="table-row-name text-bold">Fiend it Like a Crack</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fight Like a Farmer, V2. Leavenworth" href="/problems/leavenworth/fight-like-a-farmer-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fight Like a Farmer, V2. Leavenworth" src="https://img.youtube.com/vi/NSyYYzTawFk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/fight-like-a-farmer-v2" class="table-row-name text-bold">Fight Like a Farmer</a>
									</div>
								</td>
								<td>V2</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hell in a Bucket, V6. Leavenworth" href="/problems/leavenworth/hell-in-a-bucket-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hell in a Bucket, V6. Leavenworth" src="https://img.youtube.com/vi/eK44esojBh0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/hell-in-a-bucket-v6" class="table-row-name text-bold">Hell in a Bucket</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Johnny Appleseed, V10. Leavenworth" href="/problems/leavenworth/johnny-appleseed-v10" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Johnny Appleseed, V10. Leavenworth" src="https://img.youtube.com/vi/rRdgYI86-lc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/johnny-appleseed-v10" class="table-row-name text-bold">Johnny Appleseed</a>
									</div>
								</td>
								<td>V10</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Johnny's Bulge, V7. Leavenworth" href="/problems/leavenworth/johnny-s-bulge-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Johnny's Bulge, V7. Leavenworth" src="https://img.youtube.com/vi/jH4wRpnMWNA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/johnny-s-bulge-v7" class="table-row-name text-bold">Johnny's Bulge</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Kelly’s Bulge, V8. Leavenworth" href="/problems/leavenworth/kellys-bulge-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Kelly’s Bulge, V8. Leavenworth" src="https://img.youtube.com/vi/JkowWbf49NU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/kellys-bulge-v8" class="table-row-name text-bold">Kelly’s Bulge</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Musashi, V9. Leavenworth" href="/problems/leavenworth/musashi-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Musashi, V9. Leavenworth" src="https://img.youtube.com/vi/7lAhAA8Uo_0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/musashi-v9" class="table-row-name text-bold">Musashi</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Nosebleed, V7. Leavenworth" href="/problems/leavenworth/nosebleed-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Nosebleed, V7. Leavenworth" src="https://img.youtube.com/vi/VBJBh_4NDGU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/nosebleed-v7" class="table-row-name text-bold">Nosebleed</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ouchies, V6. Leavenworth" href="/problems/leavenworth/ouchies-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ouchies, V6. Leavenworth" src="https://img.youtube.com/vi/RNfrJhnXPvc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/ouchies-v6" class="table-row-name text-bold">Ouchies</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Resurrection, V10 (low). Leavenworth" href="/problems/leavenworth/resurrection-v10-low" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Resurrection, V10 (low). Leavenworth" src="https://img.youtube.com/vi/6TIYWDakcdI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/resurrection-v10-low" class="table-row-name text-bold">Resurrection</a>
									</div>
								</td>
								<td>V10 (low)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Slice of Cake, V7. Leavenworth" href="/problems/leavenworth/slice-of-cake-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Slice of Cake, V7. Leavenworth" src="https://img.youtube.com/vi/HB6M6JIABsg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/slice-of-cake-v7" class="table-row-name text-bold">Slice of Cake</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Spongebob Squarepad, V6 (sit). Leavenworth" href="/problems/leavenworth/spongebob-squarepad-v6-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Spongebob Squarepad, V6 (sit). Leavenworth" src="https://img.youtube.com/vi/nHaO2nESCCc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/spongebob-squarepad-v6-sit" class="table-row-name text-bold">Spongebob Squarepad</a>
									</div>
								</td>
								<td>V6 (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Starfox, V6. Leavenworth" href="/problems/leavenworth/starfox-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Starfox, V6. Leavenworth" src="https://img.youtube.com/vi/tSHN8caqOjA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/starfox-v6" class="table-row-name text-bold">Starfox</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Terminal Gravity, V10. Leavenworth" href="/problems/leavenworth/terminal-gravity-v10" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Terminal Gravity, V10. Leavenworth" src="https://img.youtube.com/vi/crHaw9QP4y0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/terminal-gravity-v10" class="table-row-name text-bold">Terminal Gravity</a>
									</div>
								</td>
								<td>V10</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Coffee Cup, V9. Leavenworth" href="/problems/leavenworth/the-coffee-cup-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Coffee Cup, V9. Leavenworth" src="https://img.youtube.com/vi/igc_-r3NZVk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-coffee-cup-v9" class="table-row-name text-bold">The Coffee Cup</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Dildo, V3. Leavenworth" href="/problems/leavenworth/the-dildo-v3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Dildo, V3. Leavenworth" src="https://img.youtube.com/vi/SISI6T7M0Bw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-dildo-v3" class="table-row-name text-bold">The Dildo</a>
									</div>
								</td>
								<td>V3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Fridge Center, V4. Leavenworth" href="/problems/leavenworth/the-fridge-center-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Fridge Center, V4. Leavenworth" src="https://img.youtube.com/vi/4uYd8bP1l10/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-fridge-center-v4" class="table-row-name text-bold">The Fridge Center</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Nine Iron, V10. Leavenworth" href="/problems/leavenworth/the-nine-iron-v10" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Nine Iron, V10. Leavenworth" src="https://img.youtube.com/vi/-GhvVjXSAx8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-nine-iron-v10" class="table-row-name text-bold">The Nine Iron</a>
									</div>
								</td>
								<td>V10</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Pony Ride, V4. Leavenworth" href="/problems/leavenworth/the-pony-ride-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Pony Ride, V4. Leavenworth" src="https://img.youtube.com/vi/3XSMkrTeK8I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-pony-ride-v4" class="table-row-name text-bold">The Pony Ride</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Prism, V9. Leavenworth" href="/problems/leavenworth/the-prism-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Prism, V9. Leavenworth" src="https://img.youtube.com/vi/TOPrPawiG34/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-prism-v9" class="table-row-name text-bold">The Prism</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Real Thing, V4. Leavenworth" href="/problems/leavenworth/the-real-thing-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Real Thing, V4. Leavenworth" src="https://img.youtube.com/vi/Qf_eRTh3Qwo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-real-thing-v4" class="table-row-name text-bold">The Real Thing</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Shadow, V10. Leavenworth" href="/problems/leavenworth/the-shadow-v10" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Shadow, V10. Leavenworth" src="https://img.youtube.com/vi/mTPje3ymlUo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-shadow-v10" class="table-row-name text-bold">The Shadow</a>
									</div>
								</td>
								<td>V10</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Teacup, V13. Leavenworth" href="/problems/leavenworth/the-teacup-v13" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Teacup, V13. Leavenworth" src="https://img.youtube.com/vi/E_c_o-iTdtc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/the-teacup-v13" class="table-row-name text-bold">The Teacup</a>
									</div>
								</td>
								<td>V13</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Toto, V4. Leavenworth" href="/problems/leavenworth/toto-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Toto, V4. Leavenworth" src="https://img.youtube.com/vi/JKydSzBgFOg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/toto-v4" class="table-row-name text-bold">Toto</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Turbulence, V12  Leavenworth" href="/problems/leavenworth/turbulence-v12" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Turbulence, V12  Leavenworth" src="https://img.youtube.com/vi/A8NjvdKWpzs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/turbulence-v12" class="table-row-name text-bold">Turbulence</a>
									</div>
								</td>
								<td>V12</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Twisted Stone, V3. Leavenworth" href="/problems/leavenworth/twisted-stone-v3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Twisted Stone, V3. Leavenworth" src="https://img.youtube.com/vi/Eogk27NVnAU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/twisted-stone-v3" class="table-row-name text-bold">Twisted Stone</a>
									</div>
								</td>
								<td>V3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Twisted Tree, V4. Leavenworth" href="/problems/leavenworth/twisted-tree-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Twisted Tree, V4. Leavenworth" src="https://img.youtube.com/vi/dmVyx09VQ04/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/twisted-tree-v4" class="table-row-name text-bold">Twisted Tree</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Unearthed, V5. Leavenworth" href="/problems/leavenworth/unearthed-v5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Unearthed, V5. Leavenworth" src="https://img.youtube.com/vi/hgf9xgfdPd4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/unearthed-v5" class="table-row-name text-bold">Unearthed</a>
									</div>
								</td>
								<td>V5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="WAS, V8. Leavenworth" href="/problems/leavenworth/was-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: WAS, V8. Leavenworth" src="https://img.youtube.com/vi/dJTFWfT_-v0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/was-v8" class="table-row-name text-bold">WAS</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="White Arete, V5. Leavenworth" href="/problems/leavenworth/white-arete-v5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: White Arete, V5. Leavenworth" src="https://img.youtube.com/vi/beftZmMa7FU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/white-arete-v5" class="table-row-name text-bold">White Arete</a>
									</div>
								</td>
								<td>V5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Yosemite Highball, V4. Leavenworth" href="/problems/leavenworth/yosemite-highball-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Yosemite Highball, V4. Leavenworth" src="https://img.youtube.com/vi/Wt9A0YLNZ00/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/leavenworth/yosemite-highball-v4" class="table-row-name text-bold">Yosemite Highball</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>