<!DOCTYPE html>
<html>
  <head>
    <title>Sector Icicle Creek Canyon at Leavenworth | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Icicle Creek Canyon at Leavenworth | MadBoulder">
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Icicle Creek Canyon, Leavenworth</h2>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/leavenworth/problem/Alfalfa">Alfalfa, V5</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Arrested_Development">Arrested Development, V4</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Band_of_Gypsies">Band of Gypsies, V1</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Busted">Busted, V6</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Busted">Busted, V7-8 (sit)</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Dark_Hollow">Dark Hollow, V6</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Fiend_it_Like_a_Crack">Fiend it Like a Crack, V4</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Fight_Like_a_Farmer">Fight Like a Farmer, V2</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Hell_in_a_Bucket">Hell in a Bucket, V6</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Johnnys_Bulge">Johnny's Bulge, V7</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Musashi">Musashi, V9</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Nosebleed">Nosebleed, V7</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Ouchies">Ouchies, V6</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Resurrection">Resurrection, V10 (low)</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Slice_of_Cake">Slice of Cake, V7</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Spongebob_Squarepad">Spongebob Squarepad, V6 (sit)</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Starfox">Starfox, V6</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Terminal_Gravity">Terminal Gravity, V10</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Coffee_Cup">The Coffee Cup, V9</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Fridge_Center">The Fridge Center, V4</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Nine_Iron">The Nine Iron, V10</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Pony_Ride">The Pony Ride, V4</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Prism">The Prism, V9</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Real_Thing">The Real Thing, V4</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/The_Teacup">The Teacup, V13</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Toto">Toto, V4</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Turbulence">Turbulence, V12</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Twisted_Stone">Twisted Stone, V3</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/WAS">WAS, V8</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/White_Arete">White Arete, V5</a>
		</li>
		
		<li>
		  <a href="/leavenworth/problem/Yosemite_Highball">Yosemite Highball, V4</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>