<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Pollen Grains at Buttermilk Country | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Pollen Grains at Buttermilk Country | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/buttermilk-country/pollen-grains">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Pollen Grains, Buttermilk Country 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/buttermilk-country/cindy-swank" class="table-row-name text-bold">Cindy Swank</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/buttermilk-country/drone-militia" class="table-row-name text-bold">Drone Militia</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/buttermilk-country/jedi-mind-tricks" class="table-row-name text-bold">Jedi Mind Tricks</a>
						</td>
						<td>V4</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/buttermilk-country/suspended-in-silence" class="table-row-name text-bold">Suspended in Silence</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/buttermilk-country/swanky" class="table-row-name text-bold">Swanky</a>
						</td>
						<td>V9 (sit)</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>