<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meadowlark Lemon Stand V13 Boulder Problem in Red Rocks | MadBoulder</title>
	<meta name="description" content="Videos of Meadowlark Lemon Stand Boulder Problem in Red Rocks climbed by Martin Stráník | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/red-rocks/meadowlark-lemon-stand-v13">
	
	
    
	</head>
	<body>
		
		{% include 'elements/main-menu.html' %}
		
		<main>
			<div class="zone-header">
				<div class="container zone-header-tree">
					<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
					
					> 
					<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
					
					> 
					<a href="/states/nevada" class="zone-header-tree-link">Nevada</a>
					
					> 
					<a href="/red-rocks" class="zone-header-tree-link">Red Rocks</a>
					> 
					<a href="/sectors/red-rocks/gateway-canyon" class="zone-header-tree-link">Gateway Canyon</a>
					
					> 
					<a href="/boulders/red-rocks/" class="zone-header-tree-link">Meadowlark Lemon</a>
					
					
				</div>
				<h1 class="zone-header-title text-bold">
					Meadowlark Lemon Stand, V13. Red Rocks
				</h1>
			</div>
			<div class="container" id="mainContainer">
				<div class="video-container" >
					<iframe src="https://www.youtube.com/embed/91StPr-umjU" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				</div>
				
				<div class="text-and-map-container">
					<div class="text-container">
						<p> {{ _("Name") }}: Meadowlark Lemon Stand </p>
						<p> {{ _("Grade") }}: V13 </p>
						
							<p> {{ _("Zone") }}: <a href="/red-rocks">Red Rocks</a></p>
							<p> {{ _("Sector") }}: <a href="/sectors/red-rocks/gateway-canyon">Gateway Canyon</a></p>
						
						
							
								<p> {{ _("Boulder") }}: Meadowlark Lemon</p>
							
						
						<p> {{ _("Climber") }}: <a href="/contributors/martin-stranik">Martin Stráník</a></p>
						{% if session['uid'] %}
							<div class="d-flex mt-3 mb-3 log">
								<div class="ml-auto btn-group mb-auto " style="position: relative; display: inline-flex; vertical-align: middle; justify-content: center;">
									<button id="addToProjectsButton" type="button" class="btn btn-sm btn-default" 
										
										onclick="addToProjects('meadowlark-lemon-stand-v13', 'Meadowlark Lemon Stand', 'V13', 'red-rocks', 'Red Rocks')" style="margin-left: -1px;
											border-color: #ccc;
											background: #fff;
											color: #333;
											padding: .25rem .5rem;
											font-size: .875rem;
											line-height: 1.5;
											border-radius: .2rem;
											display: inline-block;
											font-weight: 400
											text-align: center;
											vertical-align: middle;
											-webkit-user-select: none;
											user-select: none;
											padding: .375rem .75rem;
											font-size: 1rem;
											line-height: 1.5;">
										Add to Projects
									</button>
								</div>
							</div>
						{% endif %}
					</div>
					
				</div>
			</div>
		</main>
		
		{% include 'elements/footer.html' %}
		
	</body>
	<script>
	function addToProjects(problem_id, problem_name, problem_grade, problem_area, problem_area_name) {
		fetch('/add-problem-to-projects', {
			method: 'POST',
			body: JSON.stringify({ 'problem_id': problem_id, 'problem_name': problem_name, 'problem_grade': problem_grade, 'problem_area': problem_area,  'problem_area_name': problem_area_name}),
			headers: {'Content-Type': 'application/json'}
		})
		.then(response => response.json())
		.then(data => {
			if(data.status === 'success') {
				let button = document.getElementById('addToProjectsButton');
				button.innerText = 'Added';
				button.setAttribute('disabled', true);
			}
		})
		.catch(error => {
			console.error('Error:', error);
		});
	}
	</script>
</html>