<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Huck V5 Boulder Problem in Red Rocks | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of The Huck Boulder Problem in Red Rocks climbed by Libby Kasmer | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/red-rocks/the-huck-v5">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/nevada" class="zone-header-tree-link">Nevada</a>
	
	 > 
	<a href="/red-rocks" class="zone-header-tree-link">Red Rocks</a>
	 > 
	<a href="/sectors/red-rocks/calico-basin-kraft-boulders" class="zone-header-tree-link">Calico Basin - Kraft Boulders</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 The Huck, V5. Red Rocks 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/atDASkERsis" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: The Huck </p>
		<p> {{ _("Grade") }}: V5 </p>
		
			<p> {{ _("Zone") }}: <a href="/red-rocks">Red Rocks</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/red-rocks/calico-basin-kraft-boulders">Calico Basin - Kraft Boulders</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/libby-kasmer">Libby Kasmer</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>