<!DOCTYPE html>
<html lang="en">
  <head>
    <title>El bloquero solitario 6a+ Boulder Problem in Fussimanya | MadBoulder</title>
	<meta name="description" content="Videos of El bloquero solitario Boulder Problem in Fussimanya climbed by Juan Gallostra | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/fussimanya/el-bloquero-solitario-6a">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/fussimanya" class="zone-header-tree-link">Fussimanya</a>
				> 
				<a href="/sectors/fussimanya/cantera" class="zone-header-tree-link">Cantera</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				El bloquero solitario, 6a+. Fussimanya
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/SUbPkm9B6JM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: El bloquero solitario </p>
					<p> {{ _("Grade") }}: 6a+ </p>
					
						<p> {{ _("Zone") }}: <a href="/fussimanya">Fussimanya</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/fussimanya/cantera">Cantera</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/juan-gallostra">Juan Gallostra</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>