<!DOCTYPE html>
<html lang="en">
  <head>
    <title>La Regleta Fantasma 6b+ Boulder Problem in Fussimanya | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of La Regleta Fantasma Boulder Problem in Fussimanya climbed by Jordi Pérez Canyelles | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/fussimanya/la-regleta-fantasma-6b">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
	
	 > 
	<a href="/fussimanya" class="zone-header-tree-link">Fussimanya</a>
	 > 
	<a href="/sectors/fussimanya/bolet" class="zone-header-tree-link">Bolet</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 La Regleta Fantasma, 6b+. Fussimanya 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/2--777gTMeQ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: La Regleta Fantasma </p>
		<p> {{ _("Grade") }}: 6b+ </p>
		
			<p> {{ _("Zone") }}: <a href="/fussimanya">Fussimanya</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/fussimanya/bolet">Bolet</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/jordi-perez-canyelles">Jordi Pérez Canyelles</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>