<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Musliman 6b Boulder Problem in Fussimanya | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Musliman Boulder Problem in Fussimanya climbed by Puigma | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/fussimanya/musliman-6b">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/fussimanya" class="zone-header-tree-link">Fussimanya</a>
	 > 
	<a href="/sectors/fussimanya/boix-boig" class="zone-header-tree-link">Boix Boig</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Musliman, 6b. Fussimanya 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/CPSPPGMhYUI" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Musliman </p>
		<p> {{ _("Grade") }}: 6b </p>
		<p> {{ _("Zone") }}: Fussimanya </p>
		<p> {{ _("Sector") }}: Boix Boig </p>
		<p> {{ _("Climber") }}: Puigma </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>