<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Conducta lagarta 7b+ Boulder Problem in Almenara | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Conducta lagarta Boulder Problem in Almenara climbed by @deadfingersclimb | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/almenara/conducta-lagarta-7b">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/valencian-community" class="zone-header-tree-link">Valencian Community</a>
	
	 > 
	<a href="/almenara" class="zone-header-tree-link">Almenara</a>
	 > 
	<a href="/sectors/almenara/unknown" class="zone-header-tree-link">Unknown</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Conducta lagarta, 7b+. Almenara 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/FkYdKJ529q4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Conducta lagarta </p>
		<p> {{ _("Grade") }}: 7b+ </p>
		
			<p> {{ _("Zone") }}: <a href="/almenara">Almenara</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/almenara/unknown">Unknown</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/deadfingersclimb">@deadfingersclimb</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>