<!DOCTYPE html>
<html>
  <head>
    <title>Aqui hi ha manija 6a Boulder Problem in La Comarca | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Aqui hi ha manija Boulder Problem in La Comarca climbed by Aniol Santacreu | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/la-comarca/aqui-hi-ha-manija-6a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/la-comarca" class="zone-header-tree-link">La Comarca</a>
	 > 
	<a href="/sectors/la-comarca/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Aqui hi ha manija, 6a. La Comarca 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/iPOdUzusDNI" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Aqui hi ha manija </p>
		<p> {{ _("Grade") }}: 6a </p>
		<p> {{ _("Zone") }}: La Comarca </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Aniol Santacreu </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>