<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Samsara traverse 7b+ Boulder Problem in La Comarca | MadBoulder</title>
	<meta name="description" content="Videos of Samsara traverse Boulder Problem in La Comarca climbed by Joan Panadès Contreras | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/la-comarca/samsara-traverse-7b">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/la-comarca" class="zone-header-tree-link">La Comarca</a>
				> 
				<a href="/sectors/la-comarca/unknown" class="zone-header-tree-link">Unknown</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Samsara traverse, 7b+. La Comarca
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/A2eegLpp4Sc" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Samsara traverse </p>
					<p> {{ _("Grade") }}: 7b+ </p>
					
						<p> {{ _("Zone") }}: <a href="/la-comarca">La Comarca</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/la-comarca/unknown">Unknown</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/joan-panades-contreras">Joan Panadès Contreras</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>