<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at Modřín | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Modřín | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/modrin/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/czech-republic" class="zone-header-tree-link">Czech Republic</a>
			   
				> 
			   <a href="/modrin" class="zone-header-tree-link">Modřín</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Unknown of Modřín
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Anální Prohlídka, 7A+. Modřín" href="/problems/modrin/analni-prohlidka-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Anální Prohlídka, 7A+. Modřín" src="https://img.youtube.com/vi/6OWm2nC8_pM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/analni-prohlidka-7a" class="table-row-name text-bold">Anální Prohlídka</a>
									</div>
								</td>
								<td>7A+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Barrack, 7A+. Modřín" href="/problems/modrin/barrack-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Barrack, 7A+. Modřín" src="https://img.youtube.com/vi/VBwBSm1SkKk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/barrack-7a" class="table-row-name text-bold">Barrack</a>
									</div>
								</td>
								<td>7A+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Barrel of Laughs, 7B. Modřín" href="/problems/modrin/barrel-of-laughs-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Barrel of Laughs, 7B. Modřín" src="https://img.youtube.com/vi/_-PIskY2usg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/barrel-of-laughs-7b" class="table-row-name text-bold">Barrel of Laughs</a>
									</div>
								</td>
								<td>7B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bezhrana, 7A. Modřín" href="/problems/modrin/bezhrana-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bezhrana, 7A. Modřín" src="https://img.youtube.com/vi/nDnncARvKzg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/bezhrana-7a" class="table-row-name text-bold">Bezhrana</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Black Bird, 8B_B+. Modřín" href="/problems/modrin/black-bird-8b-b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Black Bird, 8B_B+. Modřín" src="https://img.youtube.com/vi/WA2zjqaFmLw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/black-bird-8b-b" class="table-row-name text-bold">Black Bird</a>
									</div>
								</td>
								<td>8B/B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Boule, 7B. Modřín" href="/problems/modrin/boule-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Boule, 7B. Modřín" src="https://img.youtube.com/vi/JoGrQMtdaqg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/boule-7b" class="table-row-name text-bold">Boule</a>
									</div>
								</td>
								<td>7B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Culdův Sen, 6C+. Modřín" href="/problems/modrin/culduv-sen-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Culdův Sen, 6C+. Modřín" src="https://img.youtube.com/vi/n_eT4EGwlm4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/culduv-sen-6c" class="table-row-name text-bold">Culdův Sen</a>
									</div>
								</td>
								<td>6C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="DMX, 6B+. Modřín" href="/problems/modrin/dmx-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: DMX, 6B+. Modřín" src="https://img.youtube.com/vi/_qSQgzcLr_k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/dmx-6b" class="table-row-name text-bold">DMX</a>
									</div>
								</td>
								<td>6B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Do Spáry Za Krystal, 6C+. Modřín" href="/problems/modrin/do-spary-za-krystal-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Do Spáry Za Krystal, 6C+. Modřín" src="https://img.youtube.com/vi/QrluRodyoyU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/do-spary-za-krystal-6c" class="table-row-name text-bold">Do Spáry Za Krystal</a>
									</div>
								</td>
								<td>6C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Dýka, 8A. Modřín" href="/problems/modrin/dyka-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Dýka, 8A. Modřín" src="https://img.youtube.com/vi/suS2AvM0yy8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/dyka-8a" class="table-row-name text-bold">Dýka</a>
									</div>
								</td>
								<td>8A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Efedra, 7C+. Modřín" href="/problems/modrin/efedra-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Efedra, 7C+. Modřín" src="https://img.youtube.com/vi/vmy8TxOohmw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/efedra-7c" class="table-row-name text-bold">Efedra</a>
									</div>
								</td>
								<td>7C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Havana, 7B. Modřín" href="/problems/modrin/havana-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Havana, 7B. Modřín" src="https://img.youtube.com/vi/5CgLb3ov8hM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/havana-7b" class="table-row-name text-bold">Havana</a>
									</div>
								</td>
								<td>7B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Holotrop, 6B+. Modřín" href="/problems/modrin/holotrop-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Holotrop, 6B+. Modřín" src="https://img.youtube.com/vi/P8-M71GBIV0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/holotrop-6b" class="table-row-name text-bold">Holotrop</a>
									</div>
								</td>
								<td>6B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jack Hever, 7A. Modřín" href="/problems/modrin/jack-hever-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jack Hever, 7A. Modřín" src="https://img.youtube.com/vi/Z7RwrEC433c/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/jack-hever-7a" class="table-row-name text-bold">Jack Hever</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jump Do Police, 7A. Modřín" href="/problems/modrin/jump-do-police-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jump Do Police, 7A. Modřín" src="https://img.youtube.com/vi/2TaSx4Hqcx0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/jump-do-police-7a" class="table-row-name text-bold">Jump Do Police</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Kvalitní Materiál, 7A. Modřín" href="/problems/modrin/kvalitni-material-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Kvalitní Materiál, 7A. Modřín" src="https://img.youtube.com/vi/eGCV4xc39rQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/kvalitni-material-7a" class="table-row-name text-bold">Kvalitní Materiál</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Leftovers, 7C+. Modřín" href="/problems/modrin/leftovers-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Leftovers, 7C+. Modřín" src="https://img.youtube.com/vi/UddjIK8v8Ik/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/leftovers-7c" class="table-row-name text-bold">Leftovers</a>
									</div>
								</td>
								<td>7C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Libůstka, 7C. Modřín" href="/problems/modrin/libustka-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Libůstka, 7C. Modřín" src="https://img.youtube.com/vi/fpDhmmq0MXc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/libustka-7c" class="table-row-name text-bold">Libůstka</a>
									</div>
								</td>
								<td>7C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Malý Kotrmelec, 7A+. Modřín" href="/problems/modrin/maly-kotrmelec-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Malý Kotrmelec, 7A+. Modřín" src="https://img.youtube.com/vi/1RdAonntgPc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/maly-kotrmelec-7a" class="table-row-name text-bold">Malý Kotrmelec</a>
									</div>
								</td>
								<td>7A+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mikrosvět, 7A. Modřín" href="/problems/modrin/mikrosvet-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mikrosvět, 7A. Modřín" src="https://img.youtube.com/vi/HWw990QjIis/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/mikrosvet-7a" class="table-row-name text-bold">Mikrosvět</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mlhavý Les, 8B. Modřín" href="/problems/modrin/mlhavy-les-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mlhavý Les, 8B. Modřín" src="https://img.youtube.com/vi/l6aLKRh_KQA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/mlhavy-les-8b" class="table-row-name text-bold">Mlhavý Les</a>
									</div>
								</td>
								<td>8B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Naklápěčka, 7A. Modřín" href="/problems/modrin/naklapecka-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Naklápěčka, 7A. Modřín" src="https://img.youtube.com/vi/ALNZDcSGqYY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/naklapecka-7a" class="table-row-name text-bold">Naklápěčka</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ostrá Jízda, 6C. Modřín" href="/problems/modrin/ostra-jizda-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ostrá Jízda, 6C. Modřín" src="https://img.youtube.com/vi/A9MmRHLbB4M/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/ostra-jizda-6c" class="table-row-name text-bold">Ostrá Jízda</a>
									</div>
								</td>
								<td>6C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Papírový Kapesník, 7B. Modřín" href="/problems/modrin/papirovy-kapesnik-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Papírový Kapesník, 7B. Modřín" src="https://img.youtube.com/vi/mrkQTE8g9kc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/papirovy-kapesnik-7b" class="table-row-name text-bold">Papírový Kapesník</a>
									</div>
								</td>
								<td>7B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Patriot, 7C. Modřín" href="/problems/modrin/patriot-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Patriot, 7C. Modřín" src="https://img.youtube.com/vi/qUQrx7jN3T4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/patriot-7c" class="table-row-name text-bold">Patriot</a>
									</div>
								</td>
								<td>7C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pentagon, 8A/A+. Modřín" href="/problems/modrin/pentagon-8a-a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pentagon, 8A/A+. Modřín" src="https://img.youtube.com/vi/-wazLlO5xb8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/pentagon-8a-a" class="table-row-name text-bold">Pentagon</a>
									</div>
								</td>
								<td>8A/A+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Poslední Perla, 8A. Modřín" href="/problems/modrin/posledni-perla-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Poslední Perla, 8A. Modřín" src="https://img.youtube.com/vi/FqkqkYjqabw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/posledni-perla-8a" class="table-row-name text-bold">Poslední Perla</a>
									</div>
								</td>
								<td>8A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pražská Mamba, 8A. Modřín" href="/problems/modrin/prazska-mamba-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pražská Mamba, 8A. Modřín" src="https://img.youtube.com/vi/Ie2Ln1hSz24/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/prazska-mamba-8a" class="table-row-name text-bold">Pražská Mamba</a>
									</div>
								</td>
								<td>8A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 1, 6B+. Modřín" href="/problems/modrin/problem-1-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 1, 6B+. Modřín" src="https://img.youtube.com/vi/sa7zYt_OAlI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/problem-1-6b" class="table-row-name text-bold">Problem 1</a>
									</div>
								</td>
								<td>6B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 2, 6A. Modřín" href="/problems/modrin/problem-2-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 2, 6A. Modřín" src="https://img.youtube.com/vi/mDoYBwZWHlA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/problem-2-6a" class="table-row-name text-bold">Problem 2</a>
									</div>
								</td>
								<td>6A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 20, 7A. Modřín" href="/problems/modrin/problem-20-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 20, 7A. Modřín" src="https://img.youtube.com/vi/m4E3_LsQXbg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/problem-20-7a" class="table-row-name text-bold">Problem 20</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Rychlý Úprk, 7C+. Modřín" href="/problems/modrin/rychly-uprk-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Rychlý Úprk, 7C+. Modřín" src="https://img.youtube.com/vi/b9aKz_s1mps/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/rychly-uprk-7c" class="table-row-name text-bold">Rychlý Úprk</a>
									</div>
								</td>
								<td>7C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Silverstone, 8A. Modřín" href="/problems/modrin/silverstone-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Silverstone, 8A. Modřín" src="https://img.youtube.com/vi/ioDW0eYANKo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/silverstone-8a" class="table-row-name text-bold">Silverstone</a>
									</div>
								</td>
								<td>8A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Small Buttermilk, 6B. Modřín" href="/problems/modrin/small-buttermilk-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Small Buttermilk, 6B. Modřín" src="https://img.youtube.com/vi/HjRJLZsdJhk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/small-buttermilk-6b" class="table-row-name text-bold">Small Buttermilk</a>
									</div>
								</td>
								<td>6B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Stirad, 7A. Modřín" href="/problems/modrin/stirad-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Stirad, 7A. Modřín" src="https://img.youtube.com/vi/WMypmUEiL3A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/stirad-7a" class="table-row-name text-bold">Stirad</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Study Hard, 8A/A+. Modřín" href="/problems/modrin/study-hard-8a-a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Study Hard, 8A/A+. Modřín" src="https://img.youtube.com/vi/zLmJauNaKsg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/study-hard-8a-a" class="table-row-name text-bold">Study Hard</a>
									</div>
								</td>
								<td>8A/A+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Sunset, 6C. Modřín" href="/problems/modrin/sunset-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sunset, 6C. Modřín" src="https://img.youtube.com/vi/PqLU3r4xGB0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/sunset-6c" class="table-row-name text-bold">Sunset</a>
									</div>
								</td>
								<td>6C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tady bude, 6B+. Modřín" href="/problems/modrin/tady-bude-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tady bude, 6B+. Modřín" src="https://img.youtube.com/vi/nV1xWDR4J6Y/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/tady-bude-6b" class="table-row-name text-bold">Tady bude</a>
									</div>
								</td>
								<td>6B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tenze, 7A. Modřín" href="/problems/modrin/tenze-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tenze, 7A. Modřín" src="https://img.youtube.com/vi/q1UMdLWhFJU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/tenze-7a" class="table-row-name text-bold">Tenze</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ticino, 7A. Modřín" href="/problems/modrin/ticino-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ticino, 7A. Modřín" src="https://img.youtube.com/vi/GU4JNkviezM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/ticino-7a" class="table-row-name text-bold">Ticino</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Umyvadlo, 6C+. Modřín" href="/problems/modrin/umyvadlo-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Umyvadlo, 6C+. Modřín" src="https://img.youtube.com/vi/3LTEsDBY4qY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/umyvadlo-6c" class="table-row-name text-bold">Umyvadlo</a>
									</div>
								</td>
								<td>6C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vize, 8A/+. Modřín" href="/problems/modrin/vize-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vize, 8A/+. Modřín" src="https://img.youtube.com/vi/4XHE84LEZUo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/vize-8a" class="table-row-name text-bold">Vize</a>
									</div>
								</td>
								<td>8A/+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Výzva kafe, 6C. Modřín" href="/problems/modrin/vyzva-kafe-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Výzva kafe, 6C. Modřín" src="https://img.youtube.com/vi/8T0yVqU2JMI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/vyzva-kafe-6c" class="table-row-name text-bold">Výzva kafe</a>
									</div>
								</td>
								<td>6C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Wendolové, 8B. Modřín" href="/problems/modrin/wendolove-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Wendolové, 8B. Modřín" src="https://img.youtube.com/vi/crSxxcEDV1w/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/wendolove-8b" class="table-row-name text-bold">Wendolové</a>
									</div>
								</td>
								<td>8B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Zatím Do Police, 6C+. Modřín" href="/problems/modrin/zatim-do-police-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Zatím Do Police, 6C+. Modřín" src="https://img.youtube.com/vi/nJLZqBQZ9mU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/zatim-do-police-6c" class="table-row-name text-bold">Zatím Do Police</a>
									</div>
								</td>
								<td>6C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ztracená Čárka, 6C. Modřín" href="/problems/modrin/ztracena-carka-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ztracená Čárka, 6C. Modřín" src="https://img.youtube.com/vi/6N0ub3b7k8Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/ztracena-carka-6c" class="table-row-name text-bold">Ztracená Čárka</a>
									</div>
								</td>
								<td>6C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Čaromág, 7C. Modřín" href="/problems/modrin/caromag-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Čaromág, 7C. Modřín" src="https://img.youtube.com/vi/_hiYnRpbxYA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/caromag-7c" class="table-row-name text-bold">Čaromág</a>
									</div>
								</td>
								<td>7C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Čermiho Návrat, 7C. Modřín" href="/problems/modrin/cermiho-navrat-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Čermiho Návrat, 7C. Modřín" src="https://img.youtube.com/vi/jDzyEiYLvAA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/cermiho-navrat-7c" class="table-row-name text-bold">Čermiho Návrat</a>
									</div>
								</td>
								<td>7C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Černobílá Trikolora, 8A. Modřín" href="/problems/modrin/cernobila-trikolora-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Černobílá Trikolora, 8A. Modřín" src="https://img.youtube.com/vi/fToDYCAyyjQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/modrin/cernobila-trikolora-8a" class="table-row-name text-bold">Černobílá Trikolora</a>
									</div>
								</td>
								<td>8A</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>