<!DOCTYPE html>
<html>
  <head>
    <title>1890 at El Cogul | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of 1890 at El Cogul | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/el-cogul/1890">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/el-cogul" class="zone-header-tree-link">El Cogul</a>
	 > 
	<a href="/sectors/el-cogul/1890" class="zone-header-tree-link">1890</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 1890 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/iVP22Eyqjy8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: 1890 </p>
		<p> {{ _("Grade") }}: 6a+ (sit) </p>
		<p> {{ _("Zone") }}: El Cogul </p>
		<p> {{ _("Sector") }}: 1890 </p>
		<p> {{ _("Climber") }}: Robert Lleida </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>