<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Albert Torrents | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of country Discover all 10 Beta Videos from Albert Torrents | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/contributors/albert-torrents">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		
<div class="zone-header">
	<div class="container zone-header-tree">
		<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
	</div>
	<h1 class="zone-header-title text-bold">
		List of 10 Beta Videos from Albert Torrents
	</h1>
</div>

		<div class="container" id="mainContainer">
			
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					<th scope="col" class="sorting">{{ _("Area") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Vicious game Sit. Targasonne" href="/problems/targasonne/vicious-game-sit-unknown" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Vicious game Sit. Targasonne" src="https://img.youtube.com/vi/CFS5_BNKVTU/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/vicious-game-sit-unknown" class="table-row-name text-bold">Vicious game Sit</a>
							</div>
						</td>
						<td>Unknown</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Problem 10 (Dimensió Desconeguda), 7a. Targasonne" href="/problems/targasonne/problem-10-dimensio-desconeguda-7a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 10 (Dimensió Desconeguda), 7a. Targasonne" src="https://img.youtube.com/vi/FQpEt6Qyd9w/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/problem-10-dimensio-desconeguda-7a" class="table-row-name text-bold">Problem 10 (Dimensió Desconeguda)</a>
							</div>
						</td>
						<td>7a</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="IN2 P3, 7b/+. Targasonne" href="/problems/targasonne/in2-p3-7b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of IN2 P3, 7b/+. Targasonne" src="https://img.youtube.com/vi/W8yL8EB8n5I/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/in2-p3-7b" class="table-row-name text-bold">IN2 P3</a>
							</div>
						</td>
						<td>7b/+</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Muro de contención, 7b. Albarracín" href="/problems/albarracin/muro-de-contencion-7b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Muro de contención, 7b. Albarracín" src="https://img.youtube.com/vi/Qj6cGK1A_80/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/albarracin/muro-de-contencion-7b" class="table-row-name text-bold">Muro de contención</a>
							</div>
						</td>
						<td>7b</td>
						<td>Albarracín</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Embrasse le!, 7a. Targasonne" href="/problems/targasonne/embrasse-le-7a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Embrasse le!, 7a. Targasonne" src="https://img.youtube.com/vi/Zn5OvsDNkyc/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/embrasse-le-7a" class="table-row-name text-bold">Embrasse le!</a>
							</div>
						</td>
						<td>7a</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Le seigneur des anales, 8a (trav). Targasonne" href="/problems/targasonne/le-seigneur-des-anales-8a-trav" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Le seigneur des anales, 8a (trav). Targasonne" src="https://img.youtube.com/vi/aAqaSY7gosc/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/le-seigneur-des-anales-8a-trav" class="table-row-name text-bold">Le seigneur des anales</a>
							</div>
						</td>
						<td>8a (trav)</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="La quinta sinfonía, 7b. Targasonne" href="/problems/targasonne/la-quinta-sinfonia-7b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La quinta sinfonía, 7b. Targasonne" src="https://img.youtube.com/vi/prZpN0v8gow/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/la-quinta-sinfonia-7b" class="table-row-name text-bold">La quinta sinfonía</a>
							</div>
						</td>
						<td>7b</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Cabale, 7c? (sit). Targasonne" href="/problems/targasonne/cabale-7c-sit" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cabale, 7c? (sit). Targasonne" src="https://img.youtube.com/vi/koePOAvc11A/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/cabale-7c-sit" class="table-row-name text-bold">Cabale</a>
							</div>
						</td>
						<td>7c? (sit)</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="La fée verte, 7c. Targasonne" href="/problems/targasonne/la-fee-verte-7c" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La fée verte, 7c. Targasonne" src="https://img.youtube.com/vi/mwEHlKz01aw/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/la-fee-verte-7c" class="table-row-name text-bold">La fée verte</a>
							</div>
						</td>
						<td>7c</td>
						<td>Targasonne</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Agathe the poison, 7b+ (sit). Targasonne" href="/problems/targasonne/agathe-the-poison-7b-sit" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Agathe the poison, 7b+ (sit). Targasonne" src="https://img.youtube.com/vi/6g3JTz0Kl5o/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/targasonne/agathe-the-poison-7b-sit" class="table-row-name text-bold">Agathe the poison</a>
							</div>
						</td>
						<td>7b+ (sit)</td>
						<td>Targasonne</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
					
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>