<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Bea | MadBoulder</title>
	<meta name="description" content="Discover all 5 Beta Videos from Bea | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/bea">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 5 Beta Videos from Bea
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Maroual Chamak, 6c+. Ailefroide" href="/problems/ailefroide/maroual-chamak-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Maroual Chamak, 6c+. Ailefroide" src="https://img.youtube.com/vi/WjYZFPFKic4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/ailefroide/maroual-chamak-6c" class="table-row-name text-bold">Maroual Chamak</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/ailefroide" class="table-row-area">Ailefroide</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Prow, 7a. Ailefroide" href="/problems/ailefroide/prow-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Prow, 7a. Ailefroide" src="https://img.youtube.com/vi/895njCIdffA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/ailefroide/prow-7a" class="table-row-name text-bold">Prow</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/ailefroide" class="table-row-area">Ailefroide</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Hebelgesetz, 7a. Chironico" href="/problems/chironico/hebelgesetz-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Hebelgesetz, 7a. Chironico" src="https://img.youtube.com/vi/sOwuzGx5784/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/hebelgesetz-7a" class="table-row-name text-bold">Hebelgesetz</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Los cursos, 7a. Chironico" href="/problems/chironico/los-cursos-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Los cursos, 7a. Chironico" src="https://img.youtube.com/vi/Evmkwl31gjY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/los-cursos-7a" class="table-row-name text-bold">Los cursos</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Esforço Transverso, 6c+. Sintra" href="/problems/sintra/esforco-transverso-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Esforço Transverso, 6c+. Sintra" src="https://img.youtube.com/vi/zZbcrSb6mg4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sintra/esforco-transverso-6c" class="table-row-name text-bold">Esforço Transverso</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/sintra" class="table-row-area">Sintra</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>