<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from @beni_blaser | MadBoulder</title>
	<meta name="description" content="Discover all 41 Beta Videos from @beni_blaser | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/beni-blaser">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 41 Beta Videos from @beni_blaser
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Take Five, 7B. Balsthal" href="/problems/balsthal/take-five-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Take Five, 7B. Balsthal" src="https://img.youtube.com/vi/FV7kp87DUg0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/balsthal/take-five-7b" class="table-row-name text-bold">Take Five</a>
									</div>
								</td>
								<td>7B</td>
								
									<td>Balsthal</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Agané mò, 7b. Bianca Piantagione" href="/problems/bianca-piantagione/agane-mo-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Agané mò, 7b. Bianca Piantagione" src="https://img.youtube.com/vi/MsasslDMFpg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/bianca-piantagione/agane-mo-7b" class="table-row-name text-bold">Agané mò</a>
									</div>
								</td>
								<td>7b</td>
								
									<td>Bianca Piantagione</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Agané pü, 7a+. Biasca Piantagione" href="/problems/biasca-piantagione/agane-pu-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Agané pü, 7a+. Biasca Piantagione" src="https://img.youtube.com/vi/Q0ka2xVeel8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/biasca-piantagione/agane-pu-7a" class="table-row-name text-bold">Agané pü</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td>Biasca Piantagione</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Placca dei Patrizi, 7a. Biasca Piantagione" href="/problems/biasca-piantagione/placca-dei-patrizi-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Placca dei Patrizi, 7a. Biasca Piantagione" src="https://img.youtube.com/vi/n0WoIi9ruC8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/biasca-piantagione/placca-dei-patrizi-7a" class="table-row-name text-bold">Placca dei Patrizi</a>
									</div>
								</td>
								<td>7a</td>
								
									<td>Biasca Piantagione</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tschugger, 7c. Biasca Piantagione" href="/problems/biasca-piantagione/tschugger-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tschugger, 7c. Biasca Piantagione" src="https://img.youtube.com/vi/y0jH0UBL_W8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/biasca-piantagione/tschugger-7c" class="table-row-name text-bold">Tschugger</a>
									</div>
								</td>
								<td>7c</td>
								
									<td>Biasca Piantagione</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Grauzone, 8a+. Blausee" href="/problems/blausee/grauzone-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Grauzone, 8a+. Blausee" src="https://img.youtube.com/vi/MUKSXPcV-Qc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/blausee/grauzone-8a" class="table-row-name text-bold">Grauzone</a>
									</div>
								</td>
								<td>8a+</td>
								
									<td>Blausee</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Acid house, 7c. Brione" href="/problems/brione/acid-house-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Acid house, 7c. Brione" src="https://img.youtube.com/vi/Myp9tFrS1As/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/acid-house-7c" class="table-row-name text-bold">Acid house</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Wanted, 7c+. Brione" href="/problems/brione/wanted-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Wanted, 7c+. Brione" src="https://img.youtube.com/vi/gkfOAWJj_NY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/wanted-7c" class="table-row-name text-bold">Wanted</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Café au pillier, 8a. Chironico" href="/problems/chironico/cafe-au-pilier-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Café au pillier, 8a. Chironico" src="https://img.youtube.com/vi/hwT0ycOMHa8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/cafe-au-pilier-8a" class="table-row-name text-bold">Café au pilier</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Euro millions, 7b (sit). Chironico" href="/problems/chironico/euro-millions-7b-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Euro millions, 7b (sit). Chironico" src="https://img.youtube.com/vi/eDSuv3Z6du8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/euro-millions-7b-sit" class="table-row-name text-bold">Euro millions</a>
									</div>
								</td>
								<td>7b (sit)</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Happy new year, 7b. Chironico" href="/problems/chironico/happy-new-year-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Happy new year, 7b. Chironico" src="https://img.youtube.com/vi/PzNUM3STFFs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/happy-new-year-7b" class="table-row-name text-bold">Happy new year</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Human pilot, 7c. Chironico" href="/problems/chironico/human-pilot-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Human pilot, 7c. Chironico" src="https://img.youtube.com/vi/Qibxvthleog/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/human-pilot-7c" class="table-row-name text-bold">Human pilot</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Magic Grama, 7a. Chironico" href="/problems/chironico/magic-grama-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Magic Grama, 7a. Chironico" src="https://img.youtube.com/vi/A9ymoWnFr7E/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/magic-grama-7a" class="table-row-name text-bold">Magic Grama</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mr Mule, 7A+. Chironico" href="/problems/chironico/mr-mule-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mr Mule, 7A+. Chironico" src="https://img.youtube.com/vi/UpyAGJcm5Q4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/mr-mule-7a" class="table-row-name text-bold">Mr Mule</a>
									</div>
								</td>
								<td>7A+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Rabbit seduto, 8a. Chironico" href="/problems/chironico/rabbit-seduto-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Rabbit seduto, 8a. Chironico" src="https://img.youtube.com/vi/pDU9XBACCd8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/rabbit-seduto-8a" class="table-row-name text-bold">Rabbit seduto</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Rah Zi Puz, 8a. Chironico" href="/problems/chironico/rah-zi-puz-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Rah Zi Puz, 8a. Chironico" src="https://img.youtube.com/vi/JQUkNwP8L-g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/rah-zi-puz-8a" class="table-row-name text-bold">Rah Zi Puz</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Schloss im Himmel, 8a+. Chironico" href="/problems/chironico/schloss-im-himmel-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Schloss im Himmel, 8a+. Chironico" src="https://img.youtube.com/vi/47Hsm_QO__0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/schloss-im-himmel-8a" class="table-row-name text-bold">Schloss im Himmel</a>
									</div>
								</td>
								<td>8a+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Schwarzes Loch, 7a. Chironico" href="/problems/chironico/schwarzes-loch-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Schwarzes Loch, 7a. Chironico" src="https://img.youtube.com/vi/uAZCPwhvCCI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/schwarzes-loch-7a" class="table-row-name text-bold">Schwarzes Loch</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Severus, 7c+. Chironico" href="/problems/chironico/severus-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Severus, 7c+. Chironico" src="https://img.youtube.com/vi/Db8WRxUQi70/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/severus-7c" class="table-row-name text-bold">Severus</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tetto Baz, 7a+. Chironico" href="/problems/chironico/tetto-baz-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tetto Baz, 7a+. Chironico" src="https://img.youtube.com/vi/Qu-dcNg4sxc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/tetto-baz-7a" class="table-row-name text-bold">Tetto Baz</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="That goes left, 7b+. Chironico" href="/problems/chironico/that-goes-left-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of That goes left, 7b+. Chironico" src="https://img.youtube.com/vi/Th8-ps4VoOs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/that-goes-left-7b" class="table-row-name text-bold">That goes left</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Viel Arbeit, 7c. Chironico" href="/problems/chironico/viel-arbeit-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Viel Arbeit, 7c. Chironico" src="https://img.youtube.com/vi/lAQ4x6vBSHA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/viel-arbeit-7c" class="table-row-name text-bold">Viel Arbeit</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Bergsteigerkante, 7a+. Cresciano" href="/problems/cresciano/bergsteigerkante-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bergsteigerkante, 7a+. Cresciano" src="https://img.youtube.com/vi/R7qx-B8mruw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cresciano/bergsteigerkante-7a" class="table-row-name text-bold">Bergsteigerkante</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/cresciano" class="table-row-area">Cresciano</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Vol au vent 7a. Cresciano" href="/problems/cresciano/vol-au-vent-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Vol au vent 7a. Cresciano" src="https://img.youtube.com/vi/wbarNHcrR1c/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cresciano/vol-au-vent-7a" class="table-row-name text-bold">Vol au vent</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/cresciano" class="table-row-area">Cresciano</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Voxcanum, 7a. Cresciano" href="/problems/cresciano/voxcanum-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Voxcanum, 7a. Cresciano" src="https://img.youtube.com/vi/EXlPWCoFzT0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cresciano/voxcanum-7a" class="table-row-name text-bold">Voxcanum</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/cresciano" class="table-row-area">Cresciano</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Yuri Gagarin, 7b. Cresciano" href="/problems/cresciano/yuri-gagarin-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Yuri Gagarin, 7b. Cresciano" src="https://img.youtube.com/vi/-0d-2iLw4UE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cresciano/yuri-gagarin-7b" class="table-row-name text-bold">Yuri Gagarin</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/cresciano" class="table-row-area">Cresciano</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Löwenbräu, 7c. Fionnay" href="/problems/fionnay/lowenbrau-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Löwenbräu, 7c. Fionnay" src="https://img.youtube.com/vi/emUSRWKsnmA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fionnay/lowenbrau-7c" class="table-row-name text-bold">Löwenbräu</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/fionnay" class="table-row-area">Fionnay</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Seveso, 8a. Fionnay" href="/problems/fionnay/seveso-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Seveso, 8a. Fionnay" src="https://img.youtube.com/vi/WawMOpXbmms/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fionnay/seveso-8a" class="table-row-name text-bold">Seveso</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/fionnay" class="table-row-area">Fionnay</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="A l’envers, 7c+. Fontainebleau" href="/problems/fontainebleau/a-lenvers-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of A l’envers, 7c+. Fontainebleau" src="https://img.youtube.com/vi/x0GAGv-6yiM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/a-lenvers-7c" class="table-row-name text-bold">A l’envers</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Coup d'Ignorance, 7a. Fontainebleau" href="/problems/fontainebleau/coup-d-ignorance-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Coup d'Ignorance, 7a. Fontainebleau" src="https://img.youtube.com/vi/i6dA8c-MdiY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/coup-d-ignorance-7a" class="table-row-name text-bold">Coup d'Ignorance</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Coup d'Ignorance (gauche), 7b. Fontainebleau" href="/problems/fontainebleau/coup-d-ignorance-gauche-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Coup d'Ignorance (gauche), 7b. Fontainebleau" src="https://img.youtube.com/vi/kC3j4k-ujDA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/coup-d-ignorance-gauche-7a" class="table-row-name text-bold">Coup d'Ignorance (gauche)</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Hotline, 7c. Fontainebleau" href="/problems/fontainebleau/hotline-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Hotline, 7c. Fontainebleau" src="https://img.youtube.com/vi/KwWFVe2GwJs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/hotline-7c" class="table-row-name text-bold">Hotline</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cafelat e campari, 8a. Gottardo" href="/problems/gottardo/cafelat-e-campari-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cafelat e campari, 8a. Gottardo" src="https://img.youtube.com/vi/dSBg4TA0fr0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/gottardo/cafelat-e-campari-8a" class="table-row-name text-bold">Cafelat e campari</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/gottardo" class="table-row-area">Gottardo</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 9b (Kristallweg), 7B+. Grimselpass" href="/problems/grimselpass/problem-9b-kristallweg-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 9b (Kristallweg), 7B+. Grimselpass" src="https://img.youtube.com/vi/9liaNvKwyRM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/grimselpass/problem-9b-kristallweg-7b" class="table-row-name text-bold">Problem 9b (Kristallweg)</a>
									</div>
								</td>
								<td>7B+</td>
								
									<td>Grimselpass</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Der Sultan vom Susten, 7c+. Sustenpass" href="/problems/sustenpass/der-sultan-vom-susten-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Der Sultan vom Susten, 7c+. Sustenpass" src="https://img.youtube.com/vi/qCw0FrrN6jg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sustenpass/der-sultan-vom-susten-7c" class="table-row-name text-bold">Der Sultan vom Susten</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/sustenpass" class="table-row-area">Sustenpass</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Longer Augustiner Hosenlupf, 7c+. Sustenpass" href="/problems/sustenpass/longer-augustiner-hosenlupf-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Longer Augustiner Hosenlupf, 7c+. Sustenpass" src="https://img.youtube.com/vi/GOn-RnH2ms4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sustenpass/longer-augustiner-hosenlupf-7c" class="table-row-name text-bold">Longer Augustiner Hosenlupf</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/sustenpass" class="table-row-area">Sustenpass</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Paradise Lost, 8b/+. Sustenpass" href="/problems/sustenpass/paradise-lost-8b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Paradise Lost, 8b/+. Sustenpass" src="https://img.youtube.com/vi/pn2GISCBpGk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sustenpass/paradise-lost-8b" class="table-row-name text-bold">Paradise Lost</a>
									</div>
								</td>
								<td>8b/+</td>
								
									<td><a href="/sustenpass" class="table-row-area">Sustenpass</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Wrestling moammar, 7C. Sustenpass" href="/problems/sustenpass/wrestling-moammar-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Wrestling moammar, 7C. Sustenpass" src="https://img.youtube.com/vi/FbJO-rT06LA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sustenpass/wrestling-moammar-7c" class="table-row-name text-bold">Wrestling moammar</a>
									</div>
								</td>
								<td>7C</td>
								
									<td><a href="/sustenpass" class="table-row-area">Sustenpass</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dregsdrumandrock`n`roll, 8a. Val Masino" href="/problems/val-masino/dregsdrumandrock-n-roll-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dregsdrumandrock`n`roll, 8a. Val Masino" src="https://img.youtube.com/vi/7Gb7BF5pnKA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/dregsdrumandrock-n-roll-8a" class="table-row-name text-bold">Dregsdrumandrock`n`roll</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La faina, 8a. Val Masino" href="/problems/val-masino/la-faina-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La faina, 8a. Val Masino" src="https://img.youtube.com/vi/_q1RKiTFkT8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/la-faina-8a" class="table-row-name text-bold">La faina</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem B (Boulder 7, La Mota), 7a+. Val Masino" href="/problems/val-masino/problem-b-boulder-7-la-mota-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem B (Boulder 7, La Mota), 7a+. Val Masino" src="https://img.youtube.com/vi/TvqZw6-QE-Q/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/problem-b-boulder-7-la-mota-7a" class="table-row-name text-bold">Problem B (Boulder 7, La mota)</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>