<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from @BrannonFrank | MadBoulder</title>
	<meta name="description" content="Discover all 25 Beta Videos from @BrannonFrank | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/brannonfrank">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 25 Beta Videos from @BrannonFrank
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Yellowjacket, V6. Boise" href="/problems/boise/yellowjacket-v6" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Yellowjacket, V6. Boise" src="https://img.youtube.com/vi/I747KEQ1B0o/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/boise/yellowjacket-v6" class="table-row-name text-bold">Yellowjacket</a>
									</div>
								</td>
								<td>V6</td>
								
									<td>Boise</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pope's Prow Sit, V8. Buttermilk Country" href="/problems/buttermilk-country/pope-s-prow-sit-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pope's Prow Sit, V8. Buttermilk Country" src="https://img.youtube.com/vi/Nanb2y1z66Y/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/buttermilk-country/pope-s-prow-sit-v8" class="table-row-name text-bold">Pope's Prow Sit</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/buttermilk-country" class="table-row-area">Buttermilk Country</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Roadside Highball, V3. Buttermilk Country" href="/problems/buttermilk-country/roadside-highball-v3" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Roadside Highball, V3. Buttermilk Country" src="https://img.youtube.com/vi/H1zs3VymFXs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/buttermilk-country/roadside-highball-v3" class="table-row-name text-bold">Roadside Highball</a>
									</div>
								</td>
								<td>V3</td>
								
									<td><a href="/buttermilk-country" class="table-row-area">Buttermilk Country</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Heart & Cock n' Balls, V10. Castle Rocks" href="/problems/castle-rocks/heart-cock-n-balls-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Heart & Cock n' Balls, V10. Castle Rocks" src="https://img.youtube.com/vi/egnq-JrPDAc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/castle-rocks/heart-cock-n-balls-v10" class="table-row-name text-bold">Heart & Cock n' Balls</a>
									</div>
								</td>
								<td>V10</td>
								
									<td>Castle Rocks</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Swiss Roof, V10. Idaho" href="/problems/idaho/swiss-roof-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Swiss Roof, V10. Idaho" src="https://img.youtube.com/vi/WbTUxKjLmsg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/idaho/swiss-roof-v10" class="table-row-name text-bold">Swiss Roof</a>
									</div>
								</td>
								<td>V10</td>
								
									<td>Idaho</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ring Toss, V5. Little Cottonwood Canyon" href="/problems/little-cottonwood-canyon/ring-toss-v5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ring Toss, V5. Little Cottonwood Canyon" src="https://img.youtube.com/vi/W3HEaBjjUHA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/little-cottonwood-canyon/ring-toss-v5" class="table-row-name text-bold">Ring Toss</a>
									</div>
								</td>
								<td>V5</td>
								
									<td><a href="/little-cottonwood-canyon" class="table-row-area">Little Cottonwood Canyon</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Catalysis, V10. Reynold's Creek" href="/problems/reynold-s-creek/catalysis-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Catalysis, V10. Reynold's Creek" src="https://img.youtube.com/vi/iqgXl2OfZYM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/reynold-s-creek/catalysis-v10" class="table-row-name text-bold">Catalysis</a>
									</div>
								</td>
								<td>V10</td>
								
									<td>Reynold's Creek</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Polymath, V10/11. Reynold's Creek" href="/problems/reynold-s-creek/polymath-v10-11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Polymath, V10/11. Reynold's Creek" src="https://img.youtube.com/vi/0v90C21EMkg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/reynold-s-creek/polymath-v10-11" class="table-row-name text-bold">Polymath</a>
									</div>
								</td>
								<td>V10/11</td>
								
									<td>Reynold's Creek</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Y-Crack, V5. Reynold's Creek" href="/problems/reynold-s-creek/the-y-crack-v5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Y-Crack, V5. Reynold's Creek" src="https://img.youtube.com/vi/hMPqurXPd7w/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/reynold-s-creek/the-y-crack-v5" class="table-row-name text-bold">The Y-Crack</a>
									</div>
								</td>
								<td>V5</td>
								
									<td>Reynold's Creek</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Breaking Vows, V13. Reynolds Creek" href="/problems/reynolds-creek/breaking-vows-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Breaking Vows, V13. Reynolds Creek" src="https://img.youtube.com/vi/8vZXvNYvYJo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/reynolds-creek/breaking-vows-v13" class="table-row-name text-bold">Breaking Vows</a>
									</div>
								</td>
								<td>V13</td>
								
									<td>Reynolds Creek</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Rio's Crack, V6. Sad Boulders" href="/problems/sad-boulders/rio-s-crack-v6" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Rio's Crack, V6. Sad Boulders" src="https://img.youtube.com/vi/2WL7HyZsadg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sad-boulders/rio-s-crack-v6" class="table-row-name text-bold">Rio's Crack</a>
									</div>
								</td>
								<td>V6</td>
								
									<td><a href="/sad-boulders" class="table-row-area">Sad Boulders</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Strength in Numbers, V5. Sad Boulders" href="/problems/sad-boulders/strength-in-numbers-v5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Strength in Numbers, V5. Sad Boulders" src="https://img.youtube.com/vi/83pcfFYMwwY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sad-boulders/strength-in-numbers-v5" class="table-row-name text-bold">Strength in Numbers</a>
									</div>
								</td>
								<td>V5</td>
								
									<td><a href="/sad-boulders" class="table-row-area">Sad Boulders</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="D.O.A., V11. Swan Falls" href="/problems/swan-falls/d-o-a-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of D.O.A., V11. Swan Falls" src="https://img.youtube.com/vi/Bd6G3J5yxHM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/d-o-a-v11" class="table-row-name text-bold">D.O.A.</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Death Proof, V10. Swan Falls" href="/problems/swan-falls/death-proof-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Death Proof, V10. Swan Falls" src="https://img.youtube.com/vi/eKbhJC5_WTc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/death-proof-v10" class="table-row-name text-bold">Death Proof</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Follicle, V7. Swan Falls" href="/problems/swan-falls/follicle-v7" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Follicle, V7. Swan Falls" src="https://img.youtube.com/vi/uiRrpkaqbXQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/follicle-v7" class="table-row-name text-bold">Follicle</a>
									</div>
								</td>
								<td>V7</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Funky Monks Low, V10. Swan Falls" href="/problems/swan-falls/funky-monks-low-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Funky Monks Low, V10. Swan Falls" src="https://img.youtube.com/vi/oNq9LamD3AE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/funky-monks-low-v10" class="table-row-name text-bold">Funky Monks Low</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Gutterball. Swan Falls" href="/problems/swan-falls/gutterball-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Gutterball. Swan Falls" src="https://img.youtube.com/vi/u8V85ZgXBls/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/gutterball-unknown" class="table-row-name text-bold">Gutterball</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mondster, V9. Swan Falls" href="/problems/swan-falls/mondster-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mondster, V9. Swan Falls" src="https://img.youtube.com/vi/lyA72ySFemc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/mondster-v9" class="table-row-name text-bold">Mondster</a>
									</div>
								</td>
								<td>V9</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Power Man, V8/V9. Swan Falls" href="/problems/swan-falls/power-man-v8-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Power Man, V8/V9. Swan Falls" src="https://img.youtube.com/vi/fvuRQIz8Zpc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/power-man-v8-v9" class="table-row-name text-bold">Power Man</a>
									</div>
								</td>
								<td>V8-V9</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Rabbit Hole, V6. Swan Falls" href="/problems/swan-falls/rabbit-hole-v6" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Rabbit Hole, V6. Swan Falls" src="https://img.youtube.com/vi/T3rJqNTuSUE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/rabbit-hole-v6" class="table-row-name text-bold">Rabbit Hole</a>
									</div>
								</td>
								<td>V6</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tessellate. Swan Falls" href="/problems/swan-falls/tessellate-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tessellate. Swan Falls" src="https://img.youtube.com/vi/2Ow8FIJuk0M/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/tessellate-unknown" class="table-row-name text-bold">Tessellate</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Mayor of Swan Falls, V10. Swan Falls" href="/problems/swan-falls/the-mayor-of-swan-falls-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Mayor of Swan Falls, V10. Swan Falls" src="https://img.youtube.com/vi/EwHvmmLyqyI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/the-mayor-of-swan-falls-v10" class="table-row-name text-bold">The Mayor of Swan Falls</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tooth Decay, V4. Swan Falls" href="/problems/swan-falls/tooth-decay-v4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tooth Decay, V4. Swan Falls" src="https://img.youtube.com/vi/Gs24G0XDtGU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/tooth-decay-v4" class="table-row-name text-bold">Tooth Decay</a>
									</div>
								</td>
								<td>V4</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Toro, V7. Swan Falls" href="/problems/swan-falls/toro-v7" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Toro, V7. Swan Falls" src="https://img.youtube.com/vi/tEC-w8Cozw0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/swan-falls/toro-v7" class="table-row-name text-bold">Toro</a>
									</div>
								</td>
								<td>V7</td>
								
									<td><a href="/swan-falls" class="table-row-area">Swan Falls</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Prow, V10. Trail Creek" href="/problems/trail-creek/the-prow-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Prow, V10. Trail Creek" src="https://img.youtube.com/vi/ZXwbVbCIDB0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/trail-creek/the-prow-v10" class="table-row-name text-bold">The Prow</a>
									</div>
								</td>
								<td>V10</td>
								
									<td>Trail Creek</td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>