<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Brian Squire | MadBoulder</title>
	<meta name="description" content="Discover all 20 Beta Videos from Brian Squire | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/brian-squire">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 20 Beta Videos from Brian Squire
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="A Man Escaped, V12. Bradley" href="/problems/bradley/a-man-escaped-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of A Man Escaped, V12. Bradley" src="https://img.youtube.com/vi/1ojwL3T47a0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/bradley/a-man-escaped-v12" class="table-row-name text-bold">A Man Escaped</a>
									</div>
								</td>
								<td>V12</td>
								
									<td>Bradley</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Busted Shadow, V11. Bradley" href="/problems/bradley/busted-shadow-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Busted Shadow, V11. Bradley" src="https://img.youtube.com/vi/AT7jMxyRSdw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/bradley/busted-shadow-v11" class="table-row-name text-bold">Busted Shadow</a>
									</div>
								</td>
								<td>V11</td>
								
									<td>Bradley</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Frightened Rabbit, V9 (sit). Farley Ledges" href="/problems/farley-ledges/frightened-rabbit-v9-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Frightened Rabbit, V9 (sit). Farley Ledges" src="https://img.youtube.com/vi/cg84vhs7zXo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/farley-ledges/frightened-rabbit-v9-sit" class="table-row-name text-bold">Frightened Rabbit</a>
									</div>
								</td>
								<td>V9 (sit)</td>
								
									<td>Farley Ledges</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Full Sized Man, V12. Farley Ledges" href="/problems/farley-ledges/full-sized-man-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Full Sized Man, V12. Farley Ledges" src="https://img.youtube.com/vi/0sg2nSSO6NU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/farley-ledges/full-sized-man-v12" class="table-row-name text-bold">Full Sized Man</a>
									</div>
								</td>
								<td>V12</td>
								
									<td>Farley Ledges</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Terrordactyl, V10. Farley Ledges" href="/problems/farley-ledges/terrordactyl-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Terrordactyl, V10. Farley Ledges" src="https://img.youtube.com/vi/eCy8zdfzsCE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/farley-ledges/terrordactyl-v10" class="table-row-name text-bold">Terrordactyl</a>
									</div>
								</td>
								<td>V10</td>
								
									<td>Farley Ledges</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Bats!, V11. Great Barrington" href="/problems/great-barrington/bats-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bats!, V11. Great Barrington" src="https://img.youtube.com/vi/XrF6MLLGnM8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/great-barrington/bats-v11" class="table-row-name text-bold">Bats!</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/great-barrington" class="table-row-area">Great Barrington</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Kindred Spirits, V9. Great Barrington" href="/problems/great-barrington/kindred-spirits-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Kindred Spirits, V9. Great Barrington" src="https://img.youtube.com/vi/04zuA0lyw7I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/great-barrington/kindred-spirits-v9" class="table-row-name text-bold">Kindred Spirits</a>
									</div>
								</td>
								<td>V9</td>
								
									<td><a href="/great-barrington" class="table-row-area">Great Barrington</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Roses and Bluejays, V13. Great Barrington" href="/problems/great-barrington/roses-and-bluejays-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Roses and Bluejays, V13. Great Barrington" src="https://img.youtube.com/vi/f5ZtXMwLiOk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/great-barrington/roses-and-bluejays-v13" class="table-row-name text-bold">Roses and Bluejays</a>
									</div>
								</td>
								<td>V13</td>
								
									<td><a href="/great-barrington" class="table-row-area">Great Barrington</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="True Bleau, V10. Great Barrington" href="/problems/great-barrington/true-bleau-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of True Bleau, V10. Great Barrington" src="https://img.youtube.com/vi/MEt8CfHcROI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/great-barrington/true-bleau-v10" class="table-row-name text-bold">True Bleau</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/great-barrington" class="table-row-area">Great Barrington</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dark Horse, V10. Guanella Pass" href="/problems/guanella-pass/dark-horse-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dark Horse, V10. Guanella Pass" src="https://img.youtube.com/vi/jCW7BBvuN7g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/guanella-pass/dark-horse-v10" class="table-row-name text-bold">Dark Horse</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/guanella-pass" class="table-row-area">Guanella Pass</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Sister’s Savior, V11. Happy Valley" href="/problems/happy-valley/sisters-savior-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Sister’s Savior, V11. Happy Valley" src="https://img.youtube.com/vi/NcKd-gnpbWI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/happy-valley/sisters-savior-v11" class="table-row-name text-bold">Sister’s Savior</a>
									</div>
								</td>
								<td>V11</td>
								
									<td>Happy Valley</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Insurgency, V14. Joe's Valley" href="/problems/joe-s-valley/insurgency-v14" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Insurgency, V14. Joe's Valley" src="https://img.youtube.com/vi/igO6PrKSvQQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/joe-s-valley/insurgency-v14" class="table-row-name text-bold">Insurgency</a>
									</div>
								</td>
								<td>V14</td>
								
									<td><a href="/joe-s-valley" class="table-row-area">Joe's Valley</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Lust, V11. Joe's Valley" href="/problems/joe-s-valley/lust-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Lust, V11. Joe's Valley" src="https://img.youtube.com/vi/qpB8tIAL6Xk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/joe-s-valley/lust-v11" class="table-row-name text-bold">Lust</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/joe-s-valley" class="table-row-area">Joe's Valley</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Chelsea Smile, V13. Lincoln Woods" href="/problems/lincoln-woods/chelsea-smile-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Chelsea Smile, V13. Lincoln Woods" src="https://img.youtube.com/vi/NzQdBRlrf7Q/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/lincoln-woods/chelsea-smile-v13" class="table-row-name text-bold">Chelsea Smile</a>
									</div>
								</td>
								<td>V13</td>
								
									<td>Lincoln Woods</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Divine Providence, V11. Lincoln Woods" href="/problems/lincoln-woods/divine-providence-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Divine Providence, V11. Lincoln Woods" src="https://img.youtube.com/vi/xFL5mIt-Z3U/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/lincoln-woods/divine-providence-v11" class="table-row-name text-bold">Divine Providence</a>
									</div>
								</td>
								<td>V11</td>
								
									<td>Lincoln Woods</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Nuclear War, V13. Master Bedroom" href="/problems/master-bedroom/nuclear-war-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Nuclear War, V13. Master Bedroom" src="https://img.youtube.com/vi/PEPHYVthTMs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/master-bedroom/nuclear-war-v13" class="table-row-name text-bold">Nuclear War</a>
									</div>
								</td>
								<td>V13</td>
								
									<td>Master Bedroom</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Blood Money, V12. RMNP" href="/problems/rmnp/blood-money-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Blood Money, V12. RMNP" src="https://img.youtube.com/vi/RA37vsyNxqU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/blood-money-v12" class="table-row-name text-bold">Blood Money</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Eternia, V11. RMNP" href="/problems/rmnp/eternia-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Eternia, V11. RMNP" src="https://img.youtube.com/vi/wSQAIsKsezk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/eternia-v11" class="table-row-name text-bold">Eternia</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mind Stream, V11/12. Smuggler's Notch" href="/problems/smuggler-s-notch/mind-stream-v101-12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mind Stream, V11/12. Smuggler's Notch" src="https://img.youtube.com/vi/Hn-u-mtNDTk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/smuggler-s-notch/mind-stream-v101-12" class="table-row-name text-bold">Mind Stream</a>
									</div>
								</td>
								<td>V101/12</td>
								
									<td>Smuggler's Notch</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Universal Disembodiment, V12. Stoddard" href="/problems/stoddard/universal-disembodiment-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Universal Disembodiment, V12. Stoddard" src="https://img.youtube.com/vi/naBhIYw5uBQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/stoddard/universal-disembodiment-v12" class="table-row-name text-bold">Universal Disembodiment</a>
									</div>
								</td>
								<td>V12</td>
								
									<td>Stoddard</td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>