<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Brian Antheunisse | MadBoulder</title>
	<meta name="description" content="Discover all 14 Beta Videos from Brian Antheunisse | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/brian-antheunisse">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 14 Beta Videos from Brian Antheunisse
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ebriosity, V10. Gold Bar" href="/problems/gold-bar/ebriosity-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ebriosity, V10. Gold Bar" src="https://img.youtube.com/vi/4V3apwBfbX0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/gold-bar/ebriosity-v10" class="table-row-name text-bold">Ebriosity </a>
									</div>
								</td>
								<td>V10</td>
								<td>Gold Bar</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Flip the Script, V11. Gus Fruh" href="/problems/gus-fruh/flip-the-script-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Flip the Script, V11. Gus Fruh" src="https://img.youtube.com/vi/UfWPP2n1gIk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/gus-fruh/flip-the-script-v11" class="table-row-name text-bold">Flip the Script</a>
									</div>
								</td>
								<td>V11</td>
								<td>Gus Fruh</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Azimuth. Hueco Tanks" href="/problems/hueco-tanks/azimuth-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Azimuth. Hueco Tanks" src="https://img.youtube.com/vi/3FqJVqBOGdg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/azimuth-unknown" class="table-row-name text-bold">Azimuth</a>
									</div>
								</td>
								<td>Unknown</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Chupacabra Right, V11. Hueco Tanks" href="/problems/hueco-tanks/el-chupacabra-right-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Chupacabra Right, V11. Hueco Tanks" src="https://img.youtube.com/vi/lsdvp-iCwdM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/el-chupacabra-right-v11" class="table-row-name text-bold">El Chupacabra Right</a>
									</div>
								</td>
								<td>V11</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Evangelion, V13. Hueco Tanks" href="/problems/hueco-tanks/evangelion-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Evangelion, V13. Hueco Tanks" src="https://img.youtube.com/vi/KroP5ghxpyk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/evangelion-v13" class="table-row-name text-bold">Evangelion</a>
									</div>
								</td>
								<td>V13</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Julio and Me, V9. Hueco Tanks" href="/problems/hueco-tanks/julio-and-me-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Julio and Me, V9. Hueco Tanks" src="https://img.youtube.com/vi/fbMcBYVLe_c/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/julio-and-me-v9" class="table-row-name text-bold">Julio and Me</a>
									</div>
								</td>
								<td>V9</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mammoth Rub, V12. Hueco Tanks" href="/problems/hueco-tanks/mammoth-rub-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mammoth Rub, V12. Hueco Tanks" src="https://img.youtube.com/vi/dUThqPGSFD8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/mammoth-rub-v12" class="table-row-name text-bold">Mammoth Rub</a>
									</div>
								</td>
								<td>V12</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Natural Disaster, V10. Hueco Tanks" href="/problems/hueco-tanks/natural-disaster-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Natural Disaster, V10. Hueco Tanks" src="https://img.youtube.com/vi/IsppvRDbArc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/natural-disaster-v10" class="table-row-name text-bold">Natural Disaster</a>
									</div>
								</td>
								<td>V10</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Neon Desert, V14. Hueco Tanks" href="/problems/hueco-tanks/neon-desert-v14" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Neon Desert, V14. Hueco Tanks" src="https://img.youtube.com/vi/d1U3H-5ht7E/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/neon-desert-v14" class="table-row-name text-bold">Neon Desert</a>
									</div>
								</td>
								<td>V14</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Butterpumper, V9. Hueco Tanks" href="/problems/hueco-tanks/the-butterpumper-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Butterpumper, V9. Hueco Tanks" src="https://img.youtube.com/vi/wjwrDdGSwfA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/the-butterpumper-v9" class="table-row-name text-bold">The Butterpumper</a>
									</div>
								</td>
								<td>V9</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Unmentionable. Hueco Tanks" href="/problems/hueco-tanks/unmentionable-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Unmentionable. Hueco Tanks" src="https://img.youtube.com/vi/tz9L1HZpve4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/unmentionable-unknown" class="table-row-name text-bold">Unmentionable</a>
									</div>
								</td>
								<td>Unknown</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Wutang, V10. Hueco Tanks" href="/problems/hueco-tanks/wutang-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Wutang, V10. Hueco Tanks" src="https://img.youtube.com/vi/O8y_o_UZFOs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/wutang-v10" class="table-row-name text-bold">Wutang</a>
									</div>
								</td>
								<td>V10</td>
								<td>Hueco Tanks</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Goicoechea, V9. Leavenworth" href="/problems/leavenworth/goicoechea-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Goicoechea, V9. Leavenworth" src="https://img.youtube.com/vi/bd904I528uc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/leavenworth/goicoechea-v9" class="table-row-name text-bold">Goicoechea</a>
									</div>
								</td>
								<td>V9</td>
								<td>Leavenworth</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Shadow, V10. Leavenworth" href="/problems/leavenworth/the-shadow-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Shadow, V10. Leavenworth" src="https://img.youtube.com/vi/mTPje3ymlUo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/leavenworth/the-shadow-v10" class="table-row-name text-bold">The Shadow</a>
									</div>
								</td>
								<td>V10</td>
								<td>Leavenworth</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>