<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Carla Miret | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of country Discover all 13 Beta Videos from Carla Miret | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/contributors/carla-miret">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/zones.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/country.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		
<div class="zone-header">
	<div class="container zone-header-tree">
		<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
	</div>
	<h1 class="zone-header-title text-bold">
		List of 13 Beta Videos from Carla Miret
	</h1>
</div>

		<div class="container" id="mainContainer">
			
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					<th scope="col" class="sorting">{{ _("Area") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Quinto mais fácil, 5+. Sintra" href="/problems/sintra/quinto-mais-facil-5" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Quinto mais fácil, 5+. Sintra" src="https://img.youtube.com/vi/ygapRVLKA7c/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/quinto-mais-facil-5" class="table-row-name text-bold">Quinto mais fácil</a>
							</div>
						</td>
						<td>5+</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Tombado, 5. Sintra" href="/problems/sintra/tombado-5" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tombado, 5. Sintra" src="https://img.youtube.com/vi/w44A_DxqRoM/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/tombado-5" class="table-row-name text-bold">Tombado</a>
							</div>
						</td>
						<td>5</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Problem 5 (Boulder C, Albarrasintra - Meca), 6a. Sintra" href="/problems/sintra/problem-5-boulder-c-albarrasintra-meca-6a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 5 (Boulder C, Albarrasintra - Meca), 6a. Sintra" src="https://img.youtube.com/vi/wysHzzGWjYg/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/problem-5-boulder-c-albarrasintra-meca-6a" class="table-row-name text-bold">Problem 5 (Boulder C, Albarrasintra - Meca)</a>
							</div>
						</td>
						<td>6a</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Cu Pesado, 6a. Sintra" href="/problems/sintra/cu-pesado-6a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cu Pesado, 6a. Sintra" src="https://img.youtube.com/vi/ol1Im4VI2rQ/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/cu-pesado-6a" class="table-row-name text-bold">Cu Pesado</a>
							</div>
						</td>
						<td>6a</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Contrafeito, 5. Sintra" href="/problems/sintra/contrafeito-5" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Contrafeito, 5. Sintra" src="https://img.youtube.com/vi/FP5Uu9sKEn8/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/contrafeito-5" class="table-row-name text-bold">Contrafeito</a>
							</div>
						</td>
						<td>5</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Nada se parte tudo se transforma, 6a+. Sintra" href="/problems/sintra/nada-se-parte-tudo-se-transforma-6a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Nada se parte tudo se transforma, 6a+. Sintra" src="https://img.youtube.com/vi/79C6gSwNiqk/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/nada-se-parte-tudo-se-transforma-6a" class="table-row-name text-bold">Nada se parte, tudo se transforma</a>
							</div>
						</td>
						<td>6a+</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Menirzinho, 5. Sintra" href="/problems/sintra/menirzinho-5" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Menirzinho, 5. Sintra" src="https://img.youtube.com/vi/8cjUlzgucX4/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/menirzinho-5" class="table-row-name text-bold">Menirzinho</a>
							</div>
						</td>
						<td>5</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Salsa Latina, 6b (Right Start). Sintra" href="/problems/sintra/salsa-latina-6b-right-start" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Salsa Latina, 6b (Right Start). Sintra" src="https://img.youtube.com/vi/ESkitG7MRd0/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/salsa-latina-6b-right-start" class="table-row-name text-bold">Salsa Latina</a>
							</div>
						</td>
						<td>6b (Right Start)</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="XS, 4. Sintra" href="/problems/sintra/xs-4" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of XS, 4. Sintra" src="https://img.youtube.com/vi/plgNrttfVOQ/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/xs-4" class="table-row-name text-bold">XS</a>
							</div>
						</td>
						<td>4</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Salsa Latina, 6a. Sintra" href="/problems/sintra/salsa-latina-6a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Salsa Latina, 6a. Sintra" src="https://img.youtube.com/vi/Jcs2NqtYu1A/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/salsa-latina-6a" class="table-row-name text-bold">Salsa Latina</a>
							</div>
						</td>
						<td>6a</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Problem 4 (Mega-Grip), 5. Sintra" href="/problems/sintra/problem-4-mega-grip-5" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 4 (Mega-Grip), 5. Sintra" src="https://img.youtube.com/vi/lppOZ61mHEE/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/problem-4-mega-grip-5" class="table-row-name text-bold">Problem 4 (Mega-Grip)</a>
							</div>
						</td>
						<td>5</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Aquecimento Forçado, 6a. Sintra" href="/problems/sintra/aquecimento-forcado-6a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Aquecimento Forçado, 6a. Sintra" src="https://img.youtube.com/vi/XoHGFjn6b1U/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sintra/aquecimento-forcado-6a" class="table-row-name text-bold">Aquecimento Forçado</a>
							</div>
						</td>
						<td>6a</td>
						<td>Sintra</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="La placa, 5a. Cavallers" href="/problems/cavallers/la-placa-5a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La placa, 5a. Cavallers" src="https://img.youtube.com/vi/3FuI9evzOUM/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/cavallers/la-placa-5a" class="table-row-name text-bold">La placa</a>
							</div>
						</td>
						<td>5a</td>
						<td>Cavallers</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
					
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>