<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Clara Marlio-Magee | MadBoulder</title>
	<meta name="description" content="Discover all 40 Beta Videos from Clara Marlio-Magee | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/clara-marlio-magee">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 40 Beta Videos from Clara Marlio-Magee
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="AdréAdeline, 7b. Fontainebleau" href="/problems/fontainebleau/adreadeline-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of AdréAdeline, 7b. Fontainebleau" src="https://img.youtube.com/vi/cjgZnVkXar0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/adreadeline-7b" class="table-row-name text-bold">AdréAdeline</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Archipel, 6b. Fontainebleau" href="/problems/fontainebleau/archipel-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Archipel, 6b. Fontainebleau" src="https://img.youtube.com/vi/ItP2M84kQ6I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/archipel-6b" class="table-row-name text-bold">Archipel</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Calamity Jane, 7b+. Fontainebleau" href="/problems/fontainebleau/calamity-jane-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Calamity Jane, 7b+. Fontainebleau" src="https://img.youtube.com/vi/qv_eAMnA5xg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/calamity-jane-7b" class="table-row-name text-bold">Calamity Jane</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Collez Serrez, 7a. Fontainebleau" href="/problems/fontainebleau/collez-serrez-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Collez Serrez, 7a. Fontainebleau" src="https://img.youtube.com/vi/cu-a-LXospE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/collez-serrez-7a" class="table-row-name text-bold">Collez Serrez</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Extrême Droite, 7a. Fontainebleau" href="/problems/fontainebleau/extreme-droite-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Extrême Droite, 7a. Fontainebleau" src="https://img.youtube.com/vi/5NP0DEVEBWs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/extreme-droite-7a" class="table-row-name text-bold">Extrême Droite</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'Heure H, 6c. Fontainebleau" href="/problems/fontainebleau/l-heure-h-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'Heure H, 6c. Fontainebleau" src="https://img.youtube.com/vi/PTNttjB1mYM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/l-heure-h-6c" class="table-row-name text-bold">L'Heure H</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'Ultime Secret, 7a+. Fontainebleau" href="/problems/fontainebleau/l-ultime-secret-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'Ultime Secret, 7a+. Fontainebleau" src="https://img.youtube.com/vi/TnMW4NToWzY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/l-ultime-secret-7a" class="table-row-name text-bold">L'Ultime Secret</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Balafre, 6a. Fontainebleau" href="/problems/fontainebleau/la-balafre-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Balafre, 6a. Fontainebleau" src="https://img.youtube.com/vi/Gq2Btg07_Zo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-balafre-6a" class="table-row-name text-bold">La Balafre</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Dalle à Clément, 6a. Fontainebleau" href="/problems/fontainebleau/la-dalle-a-clement-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Dalle à Clément, 6a. Fontainebleau" src="https://img.youtube.com/vi/JtEAcCCwHdg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-dalle-a-clement-6a" class="table-row-name text-bold">La Dalle à Clément</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Dalle du Trou d'Obus, 6c. Fontainebleau" href="/problems/fontainebleau/la-dalle-du-trou-d-obus-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Dalle du Trou d'Obus, 6c. Fontainebleau" src="https://img.youtube.com/vi/yymaaM8D3kY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-dalle-du-trou-d-obus-6c" class="table-row-name text-bold">La Dalle du Trou d'Obus</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Dalle Fléaux, 6b. Fontainebleau" href="/problems/fontainebleau/la-dalle-fleaux-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Dalle Fléaux, 6b. Fontainebleau" src="https://img.youtube.com/vi/5kvhVbvl528/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-dalle-fleaux-6b" class="table-row-name text-bold">La Dalle Fléaux</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Dynamostatique, 6a. Fontainebleau" href="/problems/fontainebleau/la-dynamostatique-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Dynamostatique, 6a. Fontainebleau" src="https://img.youtube.com/vi/1PbCmyuZRRU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-dynamostatique-6a" class="table-row-name text-bold">La Dynamostatique</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Forge, 6c. Fontainebleau" href="/problems/fontainebleau/la-forge-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Forge, 6c. Fontainebleau" src="https://img.youtube.com/vi/OR_8ppHoB2g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-forge-6c" class="table-row-name text-bold">La Forge</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Peur Bleue, 5+. Fontainebleau" href="/problems/fontainebleau/la-peur-bleue-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Peur Bleue, 5+. Fontainebleau" src="https://img.youtube.com/vi/PUHsxm9sPgk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-peur-bleue-5" class="table-row-name text-bold">La Peur Bleue</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La  Piscine, 6a. Fontainebleau" href="/problems/fontainebleau/la-piscine-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La  Piscine, 6a. Fontainebleau" src="https://img.youtube.com/vi/PpiPB9upYIc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-piscine-6a" class="table-row-name text-bold">La  Piscine</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Pyramide, 6b. Fontainebleau" href="/problems/fontainebleau/la-pyramide-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Pyramide, 6b. Fontainebleau" src="https://img.youtube.com/vi/EEXfoPTWneY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-pyramide-6b" class="table-row-name text-bold">La Pyramide</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Scorie, 6c. Fontainebleau" href="/problems/fontainebleau/la-scorie-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Scorie, 6c. Fontainebleau" src="https://img.youtube.com/vi/12Rz8ga9Tl4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-scorie-6c" class="table-row-name text-bold">La Scorie</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Super Fresque (direct), 7a. Fontainebleau" href="/problems/fontainebleau/la-super-fresque-direct-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Super Fresque (direct), 7a. Fontainebleau" src="https://img.youtube.com/vi/GUgWhPWJbi0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-super-fresque-direct-7a" class="table-row-name text-bold">La Super Fresque (direct)</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Super Prestat, 7b+. Fontainebleau" href="/problems/fontainebleau/la-super-prestat-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Super Prestat, 7b+. Fontainebleau" src="https://img.youtube.com/vi/i0NM0b6Yctk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-super-prestat-7b" class="table-row-name text-bold">La Super Prestat</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Vibration, 6a. Fontainebleau" href="/problems/fontainebleau/la-vibration-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Vibration, 6a. Fontainebleau" src="https://img.youtube.com/vi/klMGhWnrFWg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-vibration-6a" class="table-row-name text-bold">La Vibration</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Laser, 7a. Fontainebleau" href="/problems/fontainebleau/laser-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Laser, 7a. Fontainebleau" src="https://img.youtube.com/vi/9EzVd-udvsU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/laser-7a" class="table-row-name text-bold">Laser</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Le Chveux sur la langue, 6a. Fontainebleau" href="/problems/fontainebleau/le-chveux-sur-la-langue-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Le Chveux sur la langue, 6a. Fontainebleau" src="https://img.youtube.com/vi/mp-ykjV6_MM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/le-chveux-sur-la-langue-6a" class="table-row-name text-bold">Le Chveux sur la langue</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Le Mur Cabu, 7a. Fontainebleau" href="/problems/fontainebleau/le-mur-cabu-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Le Mur Cabu, 7a. Fontainebleau" src="https://img.youtube.com/vi/D3xx8oxoZd8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/le-mur-cabu-7a" class="table-row-name text-bold">Le Mur Cabu</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Le Poli Soir, 7a. Fontainebleau" href="/problems/fontainebleau/le-poli-soir-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Le Poli Soir, 7a. Fontainebleau" src="https://img.youtube.com/vi/XXtWi2g_TfM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/le-poli-soir-7a" class="table-row-name text-bold">Le Poli Soir</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Les Trois Rampes, 6a. Fontainebleau" href="/problems/fontainebleau/les-trois-rampes-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Les Trois Rampes, 6a. Fontainebleau" src="https://img.youtube.com/vi/hZ-3yLh7log/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/les-trois-rampes-6a" class="table-row-name text-bold">Les Trois Rampes</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Live on Mars, 6b. Fontainebleau" href="/problems/fontainebleau/live-on-mars-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Live on Mars, 6b. Fontainebleau" src="https://img.youtube.com/vi/mmlHRzUvzB8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/live-on-mars-6b" class="table-row-name text-bold">Live on Mars</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ma Qué Bella!, 6b+. Fontainebleau" href="/problems/fontainebleau/ma-que-bella-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ma Qué Bella!, 6b+. Fontainebleau" src="https://img.youtube.com/vi/qNyTyPVVx3I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/ma-que-bella-6b" class="table-row-name text-bold">Ma Qué Bella!</a>
									</div>
								</td>
								<td>6b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Maïté, 6a. Fontainebleau" href="/problems/fontainebleau/maite-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Maïté, 6a. Fontainebleau" src="https://img.youtube.com/vi/C7Ujg-n-1l8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/maite-6a" class="table-row-name text-bold">Maïté</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mise au Poing, 7a. Fontainebleau" href="/problems/fontainebleau/mise-au-poing-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mise au Poing, 7a. Fontainebleau" src="https://img.youtube.com/vi/OOjaYk-L3OU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/mise-au-poing-7a" class="table-row-name text-bold">Mise au Poing</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mohawk (direct), 7a. Fontainebleau" href="/problems/fontainebleau/mohawk-direct-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mohawk (direct), 7a. Fontainebleau" src="https://img.youtube.com/vi/caa4SmvUzyI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/mohawk-direct-7a" class="table-row-name text-bold">Mohawk (direct)</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Montée Divine, 7a. Fontainebleau" href="/problems/fontainebleau/montee-divine-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Montée Divine, 7a. Fontainebleau" src="https://img.youtube.com/vi/PMfrxPTdwKo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/montee-divine-7a" class="table-row-name text-bold">Montée Divine</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Moondance, 6a. Fontainebleau" href="/problems/fontainebleau/moondance-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Moondance, 6a. Fontainebleau" src="https://img.youtube.com/vi/Z9sZXX9B9JU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/moondance-6a" class="table-row-name text-bold">Moondance</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Never Last!, 7a. Fontainebleau" href="/problems/fontainebleau/never-last-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Never Last!, 7a. Fontainebleau" src="https://img.youtube.com/vi/6FKr57D3TqU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/never-last-7a" class="table-row-name text-bold">Never Last!</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Never Lost, 7a. Fontainebleau" href="/problems/fontainebleau/never-lost-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Never Lost, 7a. Fontainebleau" src="https://img.youtube.com/vi/8d8QMvrj2tE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/never-lost-7a" class="table-row-name text-bold">Never Lost</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pas Chasseur, 6a+. Fontainebleau" href="/problems/fontainebleau/pas-chasseur-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pas Chasseur, 6a+. Fontainebleau" src="https://img.youtube.com/vi/sU7T8UbMnHU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/pas-chasseur-6a" class="table-row-name text-bold">Pas Chasseur</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Patience Yago, 7a. Fontainebleau" href="/problems/fontainebleau/patience-yago-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Patience Yago, 7a. Fontainebleau" src="https://img.youtube.com/vi/jUUwoR3z0EU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/patience-yago-7a" class="table-row-name text-bold">Patience Yago</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Stanley’s Route, 7a+. Fontainebleau" href="/problems/fontainebleau/stanleys-route-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Stanley’s Route, 7a+. Fontainebleau" src="https://img.youtube.com/vi/m6ZlGU71EkM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/stanleys-route-7a" class="table-row-name text-bold">Stanley’s Route</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Toboggan, 6a+. Fontainebleau" href="/problems/fontainebleau/toboggan-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Toboggan, 6a+. Fontainebleau" src="https://img.youtube.com/vi/iscVDKnXylo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/toboggan-6a" class="table-row-name text-bold">Toboggan</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Vase de Sèvres, 6a. Fontainebleau" href="/problems/fontainebleau/vase-de-sevres-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Vase de Sèvres, 6a. Fontainebleau" src="https://img.youtube.com/vi/mStVjhLObdY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/vase-de-sevres-6a" class="table-row-name text-bold">Vase de Sèvres</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Vive les Hommes, 6c. Fontainebleau" href="/problems/fontainebleau/vive-les-hommes-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Vive les Hommes, 6c. Fontainebleau" src="https://img.youtube.com/vi/X3ZlsHYfxHg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/vive-les-hommes-6c" class="table-row-name text-bold">Vive les Hommes</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>