<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Endika | MadBoulder</title>
	<meta name="description" content="Discover all 19 Beta Videos from Endika | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/endika">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 19 Beta Videos from Endika
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Força, 7c. Cavallers" href="/problems/cavallers/la-forca-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Força, 7c. Cavallers" src="https://img.youtube.com/vi/MnAKw2jE_B4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/la-forca-7c" class="table-row-name text-bold">La Força</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Eden roc, 7b+ (sit). Fontainebleau" href="/problems/fontainebleau/eden-roc-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Eden roc, 7b+ (sit). Fontainebleau" src="https://img.youtube.com/vi/zL8i6_QBNHw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/eden-roc-7b" class="table-row-name text-bold">Eden roc</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Fil à Plomb, 7b+. Fontainebleau" href="/problems/fontainebleau/fil-a-plomb-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Fil à Plomb, 7b+. Fontainebleau" src="https://img.youtube.com/vi/sMWEuHHpU3k/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/fil-a-plomb-7b" class="table-row-name text-bold">Fil à Plomb</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Gaïa, 7c+. Fontainebleau" href="/problems/fontainebleau/gaia-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Gaïa, 7c+. Fontainebleau" src="https://img.youtube.com/vi/JRXLLsBr3GU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/gaia-7c" class="table-row-name text-bold">Gaïa</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="God Save my Finger, 8a. Fontainebleau" href="/problems/fontainebleau/god-save-my-finger-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of God Save my Finger, 8a. Fontainebleau" src="https://img.youtube.com/vi/tLhx1znGv2g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/god-save-my-finger-8a" class="table-row-name text-bold">God Save my Finger</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'Art de la Fugue, 8a. Fontainebleau" href="/problems/fontainebleau/l-art-de-la-fugue-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'Art de la Fugue, 8a. Fontainebleau" src="https://img.youtube.com/vi/0fmg4HTITmM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/l-art-de-la-fugue-8a" class="table-row-name text-bold">L'Art de la Fugue</a>
									</div>
								</td>
								<td>8a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Distinction, 7b. Fontainebleau" href="/problems/fontainebleau/la-distinction-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Distinction, 7b. Fontainebleau" src="https://img.youtube.com/vi/sjE07QBdHzQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-distinction-7b" class="table-row-name text-bold">La Distinction</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Abenduak 21, 7b. Targasonne" href="/problems/targasonne/abenduak-21-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Abenduak 21, 7b. Targasonne" src="https://img.youtube.com/vi/PHPzKkTsdg4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/abenduak-21-7b" class="table-row-name text-bold">Abenduak 21</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Absinthe, 7c+. Targasonne" href="/problems/targasonne/absinthe-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Absinthe, 7c+. Targasonne" src="https://img.youtube.com/vi/t570q17l8wo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/absinthe-7c" class="table-row-name text-bold">Absinthe</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Alien tambe era calvo , 7a+. Targasonne" href="/problems/targasonne/alien-tambe-era-calvo-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Alien tambe era calvo , 7a+. Targasonne" src="https://img.youtube.com/vi/i-KDiV8lohA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/alien-tambe-era-calvo-7a" class="table-row-name text-bold">Alien tambe era calvo</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="American Dream, 7b+. Targasonne" href="/problems/targasonne/american-dream-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of American Dream, 7b+. Targasonne" src="https://img.youtube.com/vi/eYXKJ88qoXI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/american-dream-7b" class="table-row-name text-bold">American Dream</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cobalt 60, 7b+ (sit). Targasonne" href="/problems/targasonne/cobalt-60-7b-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cobalt 60, 7b+ (sit). Targasonne" src="https://img.youtube.com/vi/EqFWWLYVnvk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/cobalt-60-7b-sit" class="table-row-name text-bold">Cobalt 60</a>
									</div>
								</td>
								<td>7b+ (sit)</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Erbestean, 7b. Targasonne" href="/problems/targasonne/erbestean-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Erbestean, 7b. Targasonne" src="https://img.youtube.com/vi/gyM_ame_Ce4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/erbestean-7b" class="table-row-name text-bold">Erbestean</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Euskara FreeStiloak, 7b. Targasonne" href="/problems/targasonne/euskara-freestiloak-7ab" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Euskara FreeStiloak, 7b. Targasonne" src="https://img.youtube.com/vi/dBVOIPdpM7I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/euskara-freestiloak-7ab" class="table-row-name text-bold">Euskara FreeStiloak</a>
									</div>
								</td>
								<td>7ab</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Itxura Faltsua, 7a. Targasonne" href="/problems/targasonne/itxura-faltsua-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Itxura Faltsua, 7a. Targasonne" src="https://img.youtube.com/vi/suND17FadZc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/itxura-faltsua-7a" class="table-row-name text-bold">Itxura Faltsua</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Kurama, 7b. Targasonne" href="/problems/targasonne/kurama-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Kurama, 7b. Targasonne" src="https://img.youtube.com/vi/mFFtzuJHJvo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/kurama-7b" class="table-row-name text-bold">Kurama</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Main dans la main, 7a+. Targasonne" href="/problems/targasonne/main-dans-la-main-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Main dans la main, 7a+. Targasonne" src="https://img.youtube.com/vi/8w8qxzYcTzE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/main-dans-la-main-7a" class="table-row-name text-bold">Main dans la main</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pareidolia, 7a+. Targasonne" href="/problems/targasonne/pareidolia-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pareidolia, 7a+. Targasonne" src="https://img.youtube.com/vi/coanQaPm3gk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/pareidolia-7a" class="table-row-name text-bold">Pareidolia</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 1 (Gaia), 7b. Targasonne" href="/problems/targasonne/problem-1-gaia-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 1 (Gaia), 7b. Targasonne" src="https://img.youtube.com/vi/MeqbR-JORyo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/targasonne/problem-1-gaia-7b" class="table-row-name text-bold">Problem 1 (Gaia)</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/targasonne" class="table-row-area">Targasonne</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>