<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Franz Weber | MadBoulder</title>
	<meta name="description" content="Discover all 23 Beta Videos from Franz Weber | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/franz-weber">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 23 Beta Videos from Franz Weber
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Grito, V10. El Diente" href="/problems/el-diente/el-grito-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Grito, V10. El Diente" src="https://img.youtube.com/vi/zJk-ooJprGM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/el-diente/el-grito-v10" class="table-row-name text-bold">El Grito</a>
									</div>
								</td>
								<td>V10</td>
								
									<td>El Diente</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Assisted Living, V8. Hueco Tanks" href="/problems/hueco-tanks/assisted-living-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Assisted Living, V8. Hueco Tanks" src="https://img.youtube.com/vi/eRT_mVyqXHo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/assisted-living-v8" class="table-row-name text-bold">Assisted Living</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/hueco-tanks" class="table-row-area">Hueco Tanks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Smooth Move, V7. Hueco Tanks" href="/problems/hueco-tanks/smooth-move-v7" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Smooth Move, V7. Hueco Tanks" src="https://img.youtube.com/vi/Y2f0-M3VgjA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/smooth-move-v7" class="table-row-name text-bold">Smooth Move</a>
									</div>
								</td>
								<td>V7</td>
								
									<td><a href="/hueco-tanks" class="table-row-area">Hueco Tanks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tigrón, V8. Los Dinamos" href="/problems/los-dinamos/tigron-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tigrón, V8. Los Dinamos" src="https://img.youtube.com/vi/zJ7Hh4Gthgk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/los-dinamos/tigron-v8" class="table-row-name text-bold">Tigrón</a>
									</div>
								</td>
								<td>V8</td>
								
									<td>Los Dinamos</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Foxy Dyno. Magic Wood" href="/problems/magic-wood/foxy-dyno-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Foxy Dyno. Magic Wood" src="https://img.youtube.com/vi/p8nwQ-zffpk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/magic-wood/foxy-dyno-unknown" class="table-row-name text-bold">Foxy Dyno</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/magic-wood" class="table-row-area">Magic Wood</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Borrego Cimarron, V11. Mineral del Chico" href="/problems/mineral-del-chico/borrego-cimarron-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Borrego Cimarron, V11. Mineral del Chico" src="https://img.youtube.com/vi/GUMhkR27bJo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/borrego-cimarron-v11" class="table-row-name text-bold">Borrego Cimarron</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dulce Caos, V8. Mineral del Chico" href="/problems/mineral-del-chico/dulce-caos-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dulce Caos, V8. Mineral del Chico" src="https://img.youtube.com/vi/KBcvbo5bK78/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/dulce-caos-v8" class="table-row-name text-bold">Dulce Caos</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Plato Fuerte, V12. Mineral del Chico" href="/problems/mineral-del-chico/el-plato-fuerte-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Plato Fuerte, V12. Mineral del Chico" src="https://img.youtube.com/vi/uSkWXc-l3ow/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/el-plato-fuerte-v12" class="table-row-name text-bold">El Plato Fuerte</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Encuentros cercanos del tercer tipo, V11. Mineral del Chico" href="/problems/mineral-del-chico/encuentros-cercanos-del-tercer-tipo-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Encuentros cercanos del tercer tipo, V11. Mineral del Chico" src="https://img.youtube.com/vi/58Jh-lpMOfo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/encuentros-cercanos-del-tercer-tipo-v11" class="table-row-name text-bold">Encuentros cercanos del tercer tipo</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Pirámide del Sueño, V10. Mineral del Chico" href="/problems/mineral-del-chico/la-piramide-del-sueno-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Pirámide del Sueño, V10. Mineral del Chico" src="https://img.youtube.com/vi/cJzxLnIrTUk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/la-piramide-del-sueno-v10" class="table-row-name text-bold">La Pirámide del Sueño</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Las Voces del Río, V10. Mineral del Chico" href="/problems/mineral-del-chico/las-voces-del-rio-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Las Voces del Río, V10. Mineral del Chico" src="https://img.youtube.com/vi/fNKz97Y-410/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/las-voces-del-rio-v10" class="table-row-name text-bold">Las Voces del Río</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pongo Pong, V9. Mineral del Chico" href="/problems/mineral-del-chico/pongo-pong-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pongo Pong, V9. Mineral del Chico" src="https://img.youtube.com/vi/OAHeucoZdPM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/pongo-pong-v9" class="table-row-name text-bold">Pongo Pong</a>
									</div>
								</td>
								<td>V9</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Sin Espinas, V9. Mineral del Chico" href="/problems/mineral-del-chico/sin-espinas-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Sin Espinas, V9. Mineral del Chico" src="https://img.youtube.com/vi/Vu2snkyFSOI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mineral-del-chico/sin-espinas-v9" class="table-row-name text-bold">Sin Espinas</a>
									</div>
								</td>
								<td>V9</td>
								
									<td><a href="/mineral-del-chico" class="table-row-area">Mineral del Chico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Catrina, V12. Peñoles" href="/problems/penoles/la-catrina-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Catrina, V12. Peñoles" src="https://img.youtube.com/vi/IG98M5JWAyI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/penoles/la-catrina-v12" class="table-row-name text-bold">La Catrina</a>
									</div>
								</td>
								<td>V12</td>
								
									<td>Peñoles</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Mejillón, V8. Piedritas" href="/problems/piedritas/el-mejillon-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Mejillón, V8. Piedritas" src="https://img.youtube.com/vi/nglgdKakzYc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/piedritas/el-mejillon-v8" class="table-row-name text-bold">El Mejillón</a>
									</div>
								</td>
								<td>V8</td>
								
									<td>Piedritas</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Salsa de Anguila, V8. Piedritas" href="/problems/piedritas/salsa-de-anguila-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Salsa de Anguila, V8. Piedritas" src="https://img.youtube.com/vi/J1UGe4Qe7ZA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/piedritas/salsa-de-anguila-v8" class="table-row-name text-bold">Salsa de Anguila</a>
									</div>
								</td>
								<td>V8</td>
								
									<td>Piedritas</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El techo de Miguelín, V9. Puma" href="/problems/puma/el-techo-de-miguelin-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El techo de Miguelín, V9. Puma" src="https://img.youtube.com/vi/ng930H04J5A/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/puma/el-techo-de-miguelin-v9" class="table-row-name text-bold">El techo de Miguelín</a>
									</div>
								</td>
								<td>V9</td>
								
									<td>Puma</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Taurine, V9. Red Rocks" href="/problems/red-rocks/taurine-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Taurine, V9. Red Rocks" src="https://img.youtube.com/vi/Iu-jECKA0o0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/red-rocks/taurine-v9" class="table-row-name text-bold">Taurine</a>
									</div>
								</td>
								<td>V9</td>
								
									<td><a href="/red-rocks" class="table-row-area">Red Rocks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Stalker On the Horizon, 7b+. Rocklands" href="/problems/rocklands/stalker-on-the-horizon-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Stalker On the Horizon, 7b+. Rocklands" src="https://img.youtube.com/vi/C4iGdu93-cs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rocklands/stalker-on-the-horizon-7b" class="table-row-name text-bold">Stalker On the Horizon</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/rocklands" class="table-row-area">Rocklands</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cazafantasmas, V10. Salazar" href="/problems/salazar/cazafantasmas-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cazafantasmas, V10. Salazar" src="https://img.youtube.com/vi/SOXLJS5XXo4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salazar/cazafantasmas-v10" class="table-row-name text-bold">Cazafantasmas</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/salazar" class="table-row-area">Salazar</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El hombre del bat, V10. Salazar" href="/problems/salazar/el-hombre-del-bat-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El hombre del bat, V10. Salazar" src="https://img.youtube.com/vi/d_WOAbM5jYk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salazar/el-hombre-del-bat-v10" class="table-row-name text-bold">El hombre del bat</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/salazar" class="table-row-area">Salazar</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Jägermeister, V8. Salazar" href="/problems/salazar/jagermeister-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Jägermeister, V8. Salazar" src="https://img.youtube.com/vi/j7TgolIecEs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salazar/jagermeister-v8" class="table-row-name text-bold">Jägermeister</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/salazar" class="table-row-area">Salazar</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="País Orco, V10. Salazar" href="/problems/salazar/pais-orco-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of País Orco, V10. Salazar" src="https://img.youtube.com/vi/7Q5VmVTA_y0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salazar/pais-orco-v10" class="table-row-name text-bold">País Orco</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/salazar" class="table-row-area">Salazar</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>