<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Gerard Centelles | MadBoulder</title>
	<meta name="description" content="Discover all 24 Beta Videos from Gerard Centelles | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/gerard-centelles">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 24 Beta Videos from Gerard Centelles
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Abreviatura, 5. Alcañiz" href="/problems/alcaniz/abreviatura-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Abreviatura, 5. Alcañiz" src="https://img.youtube.com/vi/kCf4hDhpsDo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/abreviatura-5" class="table-row-name text-bold">Abreviatura</a>
									</div>
								</td>
								<td>5</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Birdmatching, 6c+. Alcañiz" href="/problems/alcaniz/birdmatching-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Birdmatching, 6c+. Alcañiz" src="https://img.youtube.com/vi/wMNy4lXtuY4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/birdmatching-6c" class="table-row-name text-bold">Birdmatching</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Delicatesen, 5+. Alcañiz" href="/problems/alcaniz/delicatesen-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Delicatesen, 5+. Alcañiz" src="https://img.youtube.com/vi/uwsK_31g528/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/delicatesen-5" class="table-row-name text-bold">Delicatesen</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El pajarraco, 6b. Alcañiz" href="/problems/alcaniz/el-pajarraco-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El pajarraco, 6b. Alcañiz" src="https://img.youtube.com/vi/QpdySOP3LXM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/el-pajarraco-6b" class="table-row-name text-bold">El pajarraco</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Retorno de Jonatan, 6b. Alcañiz" href="/problems/alcaniz/el-retorno-de-jonatan-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Retorno de Jonatan, 6b. Alcañiz" src="https://img.youtube.com/vi/NnyV6VGXBDo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/el-retorno-de-jonatan-6b" class="table-row-name text-bold">El Retorno de Jonatan</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Jinete pálido, 6c. Alcañiz" href="/problems/alcaniz/jinete-palido-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Jinete pálido, 6c. Alcañiz" src="https://img.youtube.com/vi/b69pHjwsQ_Y/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/jinete-palido-6a" class="table-row-name text-bold">Jinete pálido</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tacto rectal Left, 6b. Alcañiz" href="/problems/alcaniz/tacto-rectal-left-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tacto rectal Left, 6b. Alcañiz" src="https://img.youtube.com/vi/1uLpOCAGe1k/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/tacto-rectal-left-6b" class="table-row-name text-bold">Tacto rectal Left</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tritón, 6a+. Alcañiz" href="/problems/alcaniz/triton-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tritón, 6a+. Alcañiz" src="https://img.youtube.com/vi/W4g64f-j0jM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/alcaniz/triton-6a" class="table-row-name text-bold">Tritón</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/alcaniz" class="table-row-area">Alcañiz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mosquis, 6a. El Cogul" href="/problems/el-cogul/mosquis-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mosquis, 6a. El Cogul" src="https://img.youtube.com/vi/Ey58mXPbe3I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/el-cogul/mosquis-6a" class="table-row-name text-bold">Mosquis</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/el-cogul" class="table-row-area">El Cogul</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="24 Carat of Purple, 6c. Fontainebleau" href="/problems/fontainebleau/24-carat-of-purple-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of 24 Carat of Purple, 6c. Fontainebleau" src="https://img.youtube.com/vi/1KDMP2hFr8s/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/24-carat-of-purple-6c" class="table-row-name text-bold">24 Carat of Purple</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Narine, 6a (sit). Fontainebleau" href="/problems/fontainebleau/la-narine-6a-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Narine, 6a (sit). Fontainebleau" src="https://img.youtube.com/vi/lqsX0LKNAbU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-narine-6a-sit" class="table-row-name text-bold">La Narine</a>
									</div>
								</td>
								<td>6a (sit)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La psyssure, 6b. Fontainebleau" href="/problems/fontainebleau/la-psyssure-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La psyssure, 6b. Fontainebleau" src="https://img.youtube.com/vi/qUEQ_mDTxM0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-psyssure-6b" class="table-row-name text-bold">La psyssure</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Raie des Feses, 6c. Fontainebleau" href="/problems/fontainebleau/la-raie-des-feses-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Raie des Feses, 6c. Fontainebleau" src="https://img.youtube.com/vi/8FB_GVYWzr0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-raie-des-feses-6c" class="table-row-name text-bold">La Raie des Feses</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Maurice, 3+. Fontainebleau" href="/problems/fontainebleau/maurice-3" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Maurice, 3+. Fontainebleau" src="https://img.youtube.com/vi/D9yOhBIzOT4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/maurice-3" class="table-row-name text-bold">Maurice</a>
									</div>
								</td>
								<td>3+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Burberries, 7B. La Pedriza" href="/problems/la-pedriza/el-burberries-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Burberries, 7B. La Pedriza" src="https://img.youtube.com/vi/8t4inguNaYk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-pedriza/el-burberries-7b" class="table-row-name text-bold">El Burberries</a>
									</div>
								</td>
								<td>7B</td>
								
									<td><a href="/la-pedriza" class="table-row-area">La Pedriza</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Aerosol, 6b+. La Riba" href="/problems/la-riba/aerosol-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Aerosol, 6b+. La Riba" src="https://img.youtube.com/vi/A_vwoRC7HZw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/aerosol-6b" class="table-row-name text-bold">Aerosol</a>
									</div>
								</td>
								<td>6b+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cantofobia, 6a. La RIba" href="/problems/la-riba/cantofobia-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cantofobia, 6a. La RIba" src="https://img.youtube.com/vi/qzPCBK-kSqI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/cantofobia-6a" class="table-row-name text-bold">Cantofobia</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El Mixet de la Torre, 5+. La Riba" href="/problems/la-riba/el-mixet-de-la-torre-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Mixet de la Torre, 5+. La Riba" src="https://img.youtube.com/vi/bWC-l_8I4rs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/el-mixet-de-la-torre-5" class="table-row-name text-bold">El Mixet de la Torre</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Akiro, 7b. Magic Wood" href="/problems/magic-wood/akiro-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Akiro, 7b. Magic Wood" src="https://img.youtube.com/vi/GQ2xjj015JE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/magic-wood/akiro-7b" class="table-row-name text-bold">Akiro</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/magic-wood" class="table-row-area">Magic Wood</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="James Bong, 7a+/b. Magic Wood" href="/problems/magic-wood/james-bong-7a-b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of James Bong, 7a+/b. Magic Wood" src="https://img.youtube.com/vi/YDqiOfcqAdY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/magic-wood/james-bong-7a-b" class="table-row-name text-bold">James Bong</a>
									</div>
								</td>
								<td>7a+/b</td>
								
									<td><a href="/magic-wood" class="table-row-area">Magic Wood</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Neandertal, 6c. Mont-roig del Camp" href="/problems/mont-roig-del-camp/neandertal-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Neandertal, 6c. Mont-roig del Camp" src="https://img.youtube.com/vi/PhyjHJPkBbk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mont-roig-del-camp/neandertal-6c" class="table-row-name text-bold">Neandertal</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/mont-roig-del-camp" class="table-row-area">Mont-roig del Camp</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cantonera, 6a. Salvanebleau" href="/problems/salvanebleau/cantonera-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cantonera, 6a. Salvanebleau" src="https://img.youtube.com/vi/Lm-ebOmpGrQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salvanebleau/cantonera-6a" class="table-row-name text-bold">Cantonera</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/salvanebleau" class="table-row-area">Salvanebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 1 Extension (Barraca de Dalt), 6c. Salvanebleau" href="/problems/salvanebleau/problem-1-extension-barraca-de-dalt-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 1 Extension (Barraca de Dalt), 6c. Salvanebleau" src="https://img.youtube.com/vi/3E8y99MW4Us/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salvanebleau/problem-1-extension-barraca-de-dalt-6c" class="table-row-name text-bold">Problem 1 Extension (Barraca de Dalt)</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/salvanebleau" class="table-row-area">Salvanebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 4 (Equilibrista), 6a. Salvanebleau" href="/problems/salvanebleau/problem-4-equilibrista-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 4 (Equilibrista), 6a. Salvanebleau" src="https://img.youtube.com/vi/FjQk3IQEPNI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/salvanebleau/problem-4-equilibrista-6a" class="table-row-name text-bold">Problem 4 (Equilibrista)</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/salvanebleau" class="table-row-area">Salvanebleau</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>