<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Kelly Birch | MadBoulder</title>
	<meta name="description" content="Discover all 39 Beta Videos from Kelly Birch | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/kelly-birch">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 39 Beta Videos from Kelly Birch
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Der Kapitan, V11. Black Mountain" href="/problems/black-mountain/der-kapitan-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Der Kapitan, V11. Black Mountain" src="https://img.youtube.com/vi/2h5u5msD1wk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/black-mountain/der-kapitan-v11" class="table-row-name text-bold">Der Kapitan</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/black-mountain" class="table-row-area">Black Mountain</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Metamorphosis, V10. Black Mountain" href="/problems/black-mountain/metamorphosis-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Metamorphosis, V10. Black Mountain" src="https://img.youtube.com/vi/UR2sz9u-dAA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/black-mountain/metamorphosis-v10" class="table-row-name text-bold">Metamorphosis</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/black-mountain" class="table-row-area">Black Mountain</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Fakir School, V10. Buttermilk Country" href="/problems/buttermilk-country/fakir-school-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Fakir School, V10. Buttermilk Country" src="https://img.youtube.com/vi/SRXLSkbGCqk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/buttermilk-country/fakir-school-v10" class="table-row-name text-bold">Fakir School</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/buttermilk-country" class="table-row-area">Buttermilk Country</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Diabolical, V11 (sit). Coal Creek" href="/problems/coal-creek/diabolical-v11-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Diabolical, V11 (sit). Coal Creek" src="https://img.youtube.com/vi/gHmPuO69P9Q/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/coal-creek/diabolical-v11-sit" class="table-row-name text-bold">Diabolical</a>
									</div>
								</td>
								<td>V11 (sit)</td>
								
									<td><a href="/coal-creek" class="table-row-area">Coal Creek</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Jeremiah, V12. Coal Creek" href="/problems/coal-creek/jeremiah-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Jeremiah, V12. Coal Creek" src="https://img.youtube.com/vi/5YvRRIB1pAc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/coal-creek/jeremiah-v12" class="table-row-name text-bold">Jeremiah</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/coal-creek" class="table-row-area">Coal Creek</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Jeremiah, V13 (low). Coal Creek" href="/problems/coal-creek/jeremiah-v13-low" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Jeremiah, V13 (low). Coal Creek" src="https://img.youtube.com/vi/W7pd33zm71o/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/coal-creek/jeremiah-v13-low" class="table-row-name text-bold">Jeremiah</a>
									</div>
								</td>
								<td>V13 (low)</td>
								
									<td><a href="/coal-creek" class="table-row-area">Coal Creek</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Muscle Car, V14. Coal Creek" href="/problems/coal-creek/muscle-car-v14" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Muscle Car, V14. Coal Creek" src="https://img.youtube.com/vi/tkrR3qEJv5c/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/coal-creek/muscle-car-v14" class="table-row-name text-bold">Muscle Car</a>
									</div>
								</td>
								<td>V14</td>
								
									<td><a href="/coal-creek" class="table-row-area">Coal Creek</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Linder in a Blender, V8. Culp Valley" href="/problems/culp-valley/linder-in-a-blender-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Linder in a Blender, V8. Culp Valley" src="https://img.youtube.com/vi/IovRgRN0tZ4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/culp-valley/linder-in-a-blender-v8" class="table-row-name text-bold">Linder in a Blender</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/culp-valley" class="table-row-area">Culp Valley</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Carnage, V12. Guanella Pass" href="/problems/guanella-pass/carnage-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Carnage, V12. Guanella Pass" src="https://img.youtube.com/vi/wt1_s18AZms/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/guanella-pass/carnage-v12" class="table-row-name text-bold">Carnage</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/guanella-pass" class="table-row-area">Guanella Pass</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="A New Map of Hell, V12. Hueco Tanks" href="/problems/hueco-tanks/a-new-map-of-hell-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of A New Map of Hell, V12. Hueco Tanks" src="https://img.youtube.com/vi/ZVTNeEBhi0Q/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/a-new-map-of-hell-v12" class="table-row-name text-bold">A New Map of Hell</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/hueco-tanks" class="table-row-area">Hueco Tanks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Crown of Aragorn, V13. Hueco Tanks" href="/problems/hueco-tanks/crown-of-aragorn-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Crown of Aragorn, V13. Hueco Tanks" src="https://img.youtube.com/vi/fBZW97sWgcA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/crown-of-aragorn-v13" class="table-row-name text-bold">Crown of Aragorn</a>
									</div>
								</td>
								<td>V13</td>
								
									<td><a href="/hueco-tanks" class="table-row-area">Hueco Tanks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Full Service, V10. Hueco Tanks" href="/problems/hueco-tanks/full-service-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Full Service, V10. Hueco Tanks" src="https://img.youtube.com/vi/46gU3wsnWac/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/full-service-v10" class="table-row-name text-bold">Full Service</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/hueco-tanks" class="table-row-area">Hueco Tanks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Power of Landjager, V11. Hueco Tanks" href="/problems/hueco-tanks/power-of-landjager-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Power of Landjager, V11. Hueco Tanks" src="https://img.youtube.com/vi/eaGSjoXfqY8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hueco-tanks/power-of-landjager-v11" class="table-row-name text-bold">Power of Landjager</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/hueco-tanks" class="table-row-area">Hueco Tanks</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Perpetual Darkness, V10. Joshua Tree" href="/problems/joshua-tree/perpetual-darkness-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Perpetual Darkness, V10. Joshua Tree" src="https://img.youtube.com/vi/LY-11S9Lg2I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/joshua-tree/perpetual-darkness-v10" class="table-row-name text-bold">Perpetual Darkness</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/joshua-tree" class="table-row-area">Joshua Tree</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Kelly’s Bulge, V8. Leavenworth" href="/problems/leavenworth/kellys-bulge-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Kelly’s Bulge, V8. Leavenworth" src="https://img.youtube.com/vi/JkowWbf49NU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/leavenworth/kellys-bulge-v8" class="table-row-name text-bold">Kelly’s Bulge</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/leavenworth" class="table-row-area">Leavenworth</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Evil Backwards, V13. Lincoln Lake" href="/problems/lincoln-lake/evil-backwards-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Evil Backwards, V13. Lincoln Lake" src="https://img.youtube.com/vi/M_62EBjOFno/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/lincoln-lake/evil-backwards-v13" class="table-row-name text-bold">Evil Backwards</a>
									</div>
								</td>
								<td>V13</td>
								
									<td><a href="/lincoln-lake" class="table-row-area">Lincoln Lake</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Honey Badger, V11. Lincoln Lake" href="/problems/lincoln-lake/honey-badger-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Honey Badger, V11. Lincoln Lake" src="https://img.youtube.com/vi/5IzeJbs3GVA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/lincoln-lake/honey-badger-v11" class="table-row-name text-bold">Honey Badger</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/lincoln-lake" class="table-row-area">Lincoln Lake</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="King Critter, V12 (sit). Lincoln Lake" href="/problems/lincoln-lake/king-critter-v12-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of King Critter, V12 (sit). Lincoln Lake" src="https://img.youtube.com/vi/CKmdRzxjlwE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/lincoln-lake/king-critter-v12-sit" class="table-row-name text-bold">King Critter</a>
									</div>
								</td>
								<td>V12 (sit)</td>
								
									<td><a href="/lincoln-lake" class="table-row-area">Lincoln Lake</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Phobos, V11. Lincoln Lake" href="/problems/lincoln-lake/phobos-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Phobos, V11. Lincoln Lake" src="https://img.youtube.com/vi/UqKjb4l0grE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/lincoln-lake/phobos-v11" class="table-row-name text-bold">Phobos</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/lincoln-lake" class="table-row-area">Lincoln Lake</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Bierstadt, V10. Mt Evans" href="/problems/mt-evans/bierstadt-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bierstadt, V10. Mt Evans" src="https://img.youtube.com/vi/x51ERZQ_cRo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mt-evans/bierstadt-v10" class="table-row-name text-bold">Bierstadt</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/mt-evans" class="table-row-area">Mt Evans</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Clear Blue Skies, V12. Mt Evans" href="/problems/mt-evans/clear-blue-skies-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Clear Blue Skies, V12. Mt Evans" src="https://img.youtube.com/vi/su42csEOHfw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mt-evans/clear-blue-skies-v12" class="table-row-name text-bold">Clear Blue Skies</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/mt-evans" class="table-row-area">Mt Evans</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mental Pollution, V12 (low). Mt Evans" href="/problems/mt-evans/mental-pollution-v12-low" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mental Pollution, V12 (low). Mt Evans" src="https://img.youtube.com/vi/K5oUjVW6hyk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mt-evans/mental-pollution-v12-low" class="table-row-name text-bold">Mental Pollution</a>
									</div>
								</td>
								<td>V12 (low)</td>
								
									<td><a href="/mt-evans" class="table-row-area">Mt Evans</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="No More Greener Grasses, V12. Mt Evans" href="/problems/mt-evans/no-more-greener-grasses-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of No More Greener Grasses, V12. Mt Evans" src="https://img.youtube.com/vi/zoTiOh8hnnQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mt-evans/no-more-greener-grasses-v12" class="table-row-name text-bold">No More Greener Grasses</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/mt-evans" class="table-row-area">Mt Evans</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Public Execution, V10. Mt Evans" href="/problems/mt-evans/public-execution-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Public Execution, V10. Mt Evans" src="https://img.youtube.com/vi/6jAQt3llnbU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mt-evans/public-execution-v10" class="table-row-name text-bold">Public Execution</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/mt-evans" class="table-row-area">Mt Evans</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Skyward Sword, V11. Peaceful Valley" href="/problems/peaceful-valley/skyward-sword-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Skyward Sword, V11. Peaceful Valley" src="https://img.youtube.com/vi/9-jf6ikjrW8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/peaceful-valley/skyward-sword-v11" class="table-row-name text-bold">Skyward Sword</a>
									</div>
								</td>
								<td>V11</td>
								
									<td>Peaceful Valley</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dragon’s World, V11. RMNP" href="/problems/rmnp/dragons-world-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dragon’s World, V11. RMNP" src="https://img.youtube.com/vi/0E0zHhQIgFo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/dragons-world-v11" class="table-row-name text-bold">Dragon’s World</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Element of Surprise, V11. RMNP" href="/problems/rmnp/element-of-surprise-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Element of Surprise, V11. RMNP" src="https://img.youtube.com/vi/anO1-kkb9RY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/element-of-surprise-v11" class="table-row-name text-bold">Element of Surprise</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Freaks of the Industry, V13. RMNP" href="/problems/rmnp/freaks-of-the-industry-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Freaks of the Industry, V13. RMNP" src="https://img.youtube.com/vi/e6QWq8--T7M/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/freaks-of-the-industry-v13" class="table-row-name text-bold">Freaks of the Industry</a>
									</div>
								</td>
								<td>V13</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Golden Rows of Flows, V11. RMNP" href="/problems/rmnp/golden-rows-of-flows-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Golden Rows of Flows, V11. RMNP" src="https://img.youtube.com/vi/Txf5tAzMToI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/golden-rows-of-flows-v11" class="table-row-name text-bold">Golden Rows of Flows</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Riddles in the Park, V12. RMNP" href="/problems/rmnp/riddles-in-the-park-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Riddles in the Park, V12. RMNP" src="https://img.youtube.com/vi/rVD_Epm1ShA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/riddles-in-the-park-v12" class="table-row-name text-bold">Riddles in the Park</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Running Scared, V10. RMNP" href="/problems/rmnp/running-scared-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Running Scared, V10. RMNP" src="https://img.youtube.com/vi/6Gf7cmcH3Mo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/running-scared-v10" class="table-row-name text-bold">Running Scared</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tetris, V12. RMNP" href="/problems/rmnp/tetris-v12" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tetris, V12. RMNP" src="https://img.youtube.com/vi/xdjFnnXI0lA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/tetris-v12" class="table-row-name text-bold">Tetris</a>
									</div>
								</td>
								<td>V12</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Glass Tower, V11. RMNP" href="/problems/rmnp/the-glass-tower-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Glass Tower, V11. RMNP" src="https://img.youtube.com/vi/2N2b5sFSiWY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rmnp/the-glass-tower-v11" class="table-row-name text-bold">The Glass Tower</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/rmnp" class="table-row-area">RMNP</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Life Ain’t Easy, V10. Rock Creek" href="/problems/rock-creek/life-aint-easy-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Life Ain’t Easy, V10. Rock Creek" src="https://img.youtube.com/vi/Nxb-_jw2hQ8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rock-creek/life-aint-easy-v10" class="table-row-name text-bold">Life Ain’t Easy</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/rock-creek" class="table-row-area">Rock Creek</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Overzealous, V9. Rock Creek" href="/problems/rock-creek/overzealous-v9" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Overzealous, V9. Rock Creek" src="https://img.youtube.com/vi/VAQTcUIsrbE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/rock-creek/overzealous-v9" class="table-row-name text-bold">Overzealous</a>
									</div>
								</td>
								<td>V9</td>
								
									<td><a href="/rock-creek" class="table-row-area">Rock Creek</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Black Hole, V11. Squamish" href="/problems/squamish/black-hole-v11" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Black Hole, V11. Squamish" src="https://img.youtube.com/vi/ivMGsgCrY7g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/squamish/black-hole-v11" class="table-row-name text-bold">Black Hole</a>
									</div>
								</td>
								<td>V11</td>
								
									<td><a href="/squamish" class="table-row-area">Squamish</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Shelter, V13. Squamish" href="/problems/squamish/shelter-v13" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Shelter, V13. Squamish" src="https://img.youtube.com/vi/XM1N_gZ0LtA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/squamish/shelter-v13" class="table-row-name text-bold">Shelter</a>
									</div>
								</td>
								<td>V13</td>
								
									<td><a href="/squamish" class="table-row-area">Squamish</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The Great Escape, V10. Squamish" href="/problems/squamish/the-great-escape-v10" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Great Escape, V10. Squamish" src="https://img.youtube.com/vi/K1pLvfDU9BU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/squamish/the-great-escape-v10" class="table-row-name text-bold">The Great Escape</a>
									</div>
								</td>
								<td>V10</td>
								
									<td><a href="/squamish" class="table-row-area">Squamish</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The River Styx, V8. Tramway" href="/problems/tramway/the-river-styx-v8" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The River Styx, V8. Tramway" src="https://img.youtube.com/vi/DmYnKuWfHvI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/tramway/the-river-styx-v8" class="table-row-name text-bold">The River Styx</a>
									</div>
								</td>
								<td>V8</td>
								
									<td><a href="/tramway" class="table-row-area">Tramway</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>