<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Léo Magrez | MadBoulder</title>
	<meta name="description" content="Discover all 31 Beta Videos from Léo Magrez | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/leo-magrez">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 31 Beta Videos from Léo Magrez
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Aben Razín, 7b+. Albarracín" href="/problems/albarracin/aben-razin-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Aben Razín, 7b+. Albarracín" src="https://img.youtube.com/vi/1_ap8mQk82Y/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/albarracin/aben-razin-7b" class="table-row-name text-bold">Aben Razín</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/albarracin" class="table-row-area">Albarracín</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Aeroheart, 7c. Fontainebleau" href="/problems/fontainebleau/aeroheart-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Aeroheart, 7c. Fontainebleau" src="https://img.youtube.com/vi/QJ7eox5e2IE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/aeroheart-7c" class="table-row-name text-bold">Aeroheart</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Amicalement Vautre, 7a+. Fontainebleau" href="/problems/fontainebleau/amicalement-vautre-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Amicalement Vautre, 7a+. Fontainebleau" src="https://img.youtube.com/vi/nDfNhcv-NQA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/amicalement-vautre-7a" class="table-row-name text-bold">Amicalement Vautre</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ariane 5, 7c (sit). Fontainebleau" href="/problems/fontainebleau/ariane-5-7c-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ariane 5, 7c (sit). Fontainebleau" src="https://img.youtube.com/vi/jG3S0aAU-EE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/ariane-5-7c-sit" class="table-row-name text-bold">Ariane 5</a>
									</div>
								</td>
								<td>7c (sit)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Bossanovabrasil, 7b. Fontainebleau" href="/problems/fontainebleau/bossanovabrasil-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bossanovabrasil, 7b. Fontainebleau" src="https://img.youtube.com/vi/s4L2RVPBstg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/bossanovabrasil-7b" class="table-row-name text-bold">Bossanovabrasil</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Camalot n°6, 7a. Fontainebleau" href="/problems/fontainebleau/camalot-ndeg6-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Camalot n°6, 7a. Fontainebleau" src="https://img.youtube.com/vi/vNLVQ2DkADs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/camalot-ndeg6-7a" class="table-row-name text-bold">Camalot n°6</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Chute de pierre, 7a. Fontainebleau" href="/problems/fontainebleau/chute-de-pierre-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Chute de pierre, 7a. Fontainebleau" src="https://img.youtube.com/vi/jr9dYCiQdFo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/chute-de-pierre-7a" class="table-row-name text-bold">Chute de pierre</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Colombophilie, 6b+. Fontainebleau" href="/problems/fontainebleau/colombophilie-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Colombophilie, 6b+. Fontainebleau" src="https://img.youtube.com/vi/X620RZkTcuE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/colombophilie-6b" class="table-row-name text-bold">Colombophilie</a>
									</div>
								</td>
								<td>6b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Effet de serre, 7b (direct). Fontainebleau" href="/problems/fontainebleau/effet-de-serre-7b-direct" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Effet de serre, 7b (direct). Fontainebleau" src="https://img.youtube.com/vi/4lFJ1DQeeLs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/effet-de-serre-7b-direct" class="table-row-name text-bold">Effet de serre</a>
									</div>
								</td>
								<td>7b (direct)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Figure de Proue, 7a. Fontainebleau" href="/problems/fontainebleau/figure-de-proue-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Figure de Proue, 7a. Fontainebleau" src="https://img.youtube.com/vi/6F3rOItTc3o/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/figure-de-proue-7a" class="table-row-name text-bold">Figure de Proue</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Instinct, 7c+. Fontainebleau" href="/problems/fontainebleau/instinct-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Instinct, 7c+. Fontainebleau" src="https://img.youtube.com/vi/sHpLPT_33ow/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/instinct-7c" class="table-row-name text-bold">Instinct</a>
									</div>
								</td>
								<td>7c+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'Aérodynamite, 7b+. Fontainebleau" href="/problems/fontainebleau/l-aerodynamite-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'Aérodynamite, 7b+. Fontainebleau" src="https://img.youtube.com/vi/J0qYgSeG_QU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/l-aerodynamite-7b" class="table-row-name text-bold">L'Aérodynamite</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'Œuf, 7b. Fontainebleau" href="/problems/fontainebleau/l-oeuf-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'Œuf, 7b. Fontainebleau" src="https://img.youtube.com/vi/GbQJdaUzLUQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/l-oeuf-7b" class="table-row-name text-bold">L'Œuf</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Grande Patouille, 6c+ (sans le socle). Fontainebleau" href="/problems/fontainebleau/la-grande-patouille-6c-sans-le-socle" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Grande Patouille, 6c+ (sans le socle). Fontainebleau" src="https://img.youtube.com/vi/jiep4yqjhbI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-grande-patouille-6c-sans-le-socle" class="table-row-name text-bold">La Grande Patouille</a>
									</div>
								</td>
								<td>6c+ (sans le socle)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Queste, 7b. Fontainebleau" href="/problems/fontainebleau/la-queste-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Queste, 7b. Fontainebleau" src="https://img.youtube.com/vi/Okcqvn0NxM4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-queste-7b" class="table-row-name text-bold">La Queste</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Tour de Babel, 7c. Fontainebleau" href="/problems/fontainebleau/la-tour-de-babel-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Tour de Babel, 7c. Fontainebleau" src="https://img.youtube.com/vi/zPA6Adx8t0Y/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-tour-de-babel-7c" class="table-row-name text-bold">La Tour de Babel</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Lapin ou Canard, 7a. Fontainebleau" href="/problems/fontainebleau/lapin-ou-canard-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Lapin ou Canard, 7a. Fontainebleau" src="https://img.youtube.com/vi/w8CoaPzHhdQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/lapin-ou-canard-7a" class="table-row-name text-bold">Lapin ou Canard</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Le danseur, 7a+. Fontainebleau" href="/problems/fontainebleau/le-danseur-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Le danseur, 7a+. Fontainebleau" src="https://img.youtube.com/vi/h9nOh6OSXsw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/le-danseur-7a" class="table-row-name text-bold">Le danseur</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Mach 4, 7b. Fontainebleau" href="/problems/fontainebleau/mach-4-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mach 4, 7b. Fontainebleau" src="https://img.youtube.com/vi/c-je_jUc0No/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/mach-4-7b" class="table-row-name text-bold">Mach 4</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Oasis, 7b. Fontainebleau" href="/problems/fontainebleau/oasis-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Oasis, 7b. Fontainebleau" src="https://img.youtube.com/vi/--n5pQ_N09M/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/oasis-7b" class="table-row-name text-bold">Oasis</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Peter Pan, 7c (sit). Fontainebleau" href="/problems/fontainebleau/peter-pan-7c-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Peter Pan, 7c (sit). Fontainebleau" src="https://img.youtube.com/vi/8u_W3wUwGn4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/peter-pan-7c-sit" class="table-row-name text-bold">Peter Pan</a>
									</div>
								</td>
								<td>7c (sit)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Phobos Moon, 7c. Fontainebleau" href="/problems/fontainebleau/phobos-moon-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Phobos Moon, 7c. Fontainebleau" src="https://img.youtube.com/vi/cpXRIScOGJE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/phobos-moon-unknown" class="table-row-name text-bold">Phobos Moon</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Plénitude, 7b. Fontainebleau" href="/problems/fontainebleau/plenitude-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Plénitude, 7b. Fontainebleau" src="https://img.youtube.com/vi/HTNXIfw7Uvo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/plenitude-7b" class="table-row-name text-bold">Plénitude</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Rêve de Pierre, 7a. Fontainebleau" href="/problems/fontainebleau/reve-de-pierre-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Rêve de Pierre, 7a. Fontainebleau" src="https://img.youtube.com/vi/xtz99vaQ5qA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/reve-de-pierre-7a" class="table-row-name text-bold">Rêve de pierre</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Saigon, 7c. Fontainebleau" href="/problems/fontainebleau/saigon-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Saigon, 7c. Fontainebleau" src="https://img.youtube.com/vi/k1yuqVDjAMs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/saigon-7c" class="table-row-name text-bold">Saigon</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Saigon, 7c+ (sit). Fontainebleau" href="/problems/fontainebleau/saigon-7c-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Saigon, 7c+ (sit). Fontainebleau" src="https://img.youtube.com/vi/Sn0ySHBw9lQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/saigon-7c-sit" class="table-row-name text-bold">Saigon</a>
									</div>
								</td>
								<td>7c+ (sit)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Supplément d'Armes, 7b. Fontainebleau" href="/problems/fontainebleau/supplement-d-armes-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Supplément d'Armes, 7b. Fontainebleau" src="https://img.youtube.com/vi/6lEFtaYmiBI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/supplement-d-armes-7b" class="table-row-name text-bold">Supplément d'Armes</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Technograte, 7b. Fontainebleau" href="/problems/fontainebleau/technograte-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Technograte, 7b. Fontainebleau" src="https://img.youtube.com/vi/DZ8seNBm1iY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/technograte-7b" class="table-row-name text-bold">Technograte</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Voltex, 7b+. Fontainebleau" href="/problems/fontainebleau/voltex-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Voltex, 7b+. Fontainebleau" src="https://img.youtube.com/vi/jvYmugVqqpA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/voltex-7b" class="table-row-name text-bold">Voltex</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Waimea (droite), 7a. Fontainebleau" href="/problems/fontainebleau/waimea-droite-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Waimea (droite), 7a. Fontainebleau" src="https://img.youtube.com/vi/97afu6Sz9pY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/waimea-droite-7a" class="table-row-name text-bold">Waimea (droite)</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ireki Ateak, 7a. Jaizkibel" href="/problems/jaizkibel/ireki-ateak-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ireki Ateak, 7a. Jaizkibel" src="https://img.youtube.com/vi/iCM_0RXoIlM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/jaizkibel/ireki-ateak-7a" class="table-row-name text-bold">Ireki Ateak</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/jaizkibel" class="table-row-area">Jaizkibel</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>