<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Lewis Richardson | MadBoulder</title>
	<meta name="description" content="Discover all 12 Beta Videos from Lewis Richardson | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/lewis-richardson">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 12 Beta Videos from Lewis Richardson
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Titans, 7b. Bacon Hole" href="/problems/bacon-hole/titans-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Titans, 7b. Bacon Hole" src="https://img.youtube.com/vi/X79BnMEV7UI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/bacon-hole/titans-7b" class="table-row-name text-bold">Titans</a>
									</div>
								</td>
								<td>7b</td>
								
									<td>Bacon Hole</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Anime Planet, 7a. Brione" href="/problems/brione/anime-planet-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Anime Planet, 7a. Brione" src="https://img.youtube.com/vi/3B6h4RbiZNs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/anime-planet-7a" class="table-row-name text-bold">Anime Planet</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Australian Open, 7b+. Brione" href="/problems/brione/australian-open-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Australian Open, 7b+. Brione" src="https://img.youtube.com/vi/3XWNmQpILnI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/australian-open-7b" class="table-row-name text-bold">Australian Open</a>
									</div>
								</td>
								<td>7b+</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Big 8, 7c. Brione" href="/problems/brione/big-8-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Big 8, 7c. Brione" src="https://img.youtube.com/vi/B0Svdqd8TUw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/big-8-7c" class="table-row-name text-bold">Big 8</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Bizarre, 7B. Churnet" href="/problems/churnet/bizarre-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bizarre, 7B. Churnet" src="https://img.youtube.com/vi/-51_COnv6cE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/churnet/bizarre-7b" class="table-row-name text-bold">Bizarre</a>
									</div>
								</td>
								<td>7B</td>
								
									<td>Churnet</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Jerry's Roof, 7C. Cromlech Boulders" href="/problems/cromlech-boulders/jerry-s-roof-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Jerry's Roof, 7C. Cromlech Boulders" src="https://img.youtube.com/vi/HSAO_kl7M0g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cromlech-boulders/jerry-s-roof-7c" class="table-row-name text-bold">Jerry's Roof</a>
									</div>
								</td>
								<td>7C</td>
								
									<td><a href="/cromlech-boulders" class="table-row-area">Cromlech Boulders</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Supercede, 8A+. Hartland Quay" href="/problems/hartland-quay/supercede-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Supercede, 8A+. Hartland Quay" src="https://img.youtube.com/vi/xOJeLvatTLY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hartland-quay/supercede-8a" class="table-row-name text-bold">Supercede</a>
									</div>
								</td>
								<td>8a+</td>
								
									<td><a href="/hartland-quay" class="table-row-area">Hartland Quay</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Flying Fish, 7b. Ogmore" href="/problems/ogmore/flying-fish-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Flying Fish, 7b. Ogmore" src="https://img.youtube.com/vi/L0bTHI7Bi4s/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/ogmore/flying-fish-7b" class="table-row-name text-bold">Flying Fish</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/ogmore" class="table-row-area">Ogmore</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Flying Fish, 7c (low). Ogmore" href="/problems/ogmore/flying-fish-7c-low" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Flying Fish, 7c (low). Ogmore" src="https://img.youtube.com/vi/UUbHNu6cKNM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/ogmore/flying-fish-7c-low" class="table-row-name text-bold">Flying Fish</a>
									</div>
								</td>
								<td>7c (low)</td>
								
									<td><a href="/ogmore" class="table-row-area">Ogmore</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Brass Monkey, 7c. Peak District" href="/problems/peak-district/brass-monkey-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Brass Monkey, 7c. Peak District" src="https://img.youtube.com/vi/LY1JSZgOWqM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/peak-district/brass-monkey-7c" class="table-row-name text-bold">Brass Monkey</a>
									</div>
								</td>
								<td>7c</td>
								
									<td><a href="/peak-district" class="table-row-area">Peak District</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Arrakis Direct, 7c. Sand Point" href="/problems/sand-point/arrakis-direct-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Arrakis Direct, 7c. Sand Point" src="https://img.youtube.com/vi/UmTjYh1BjrE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/sand-point/arrakis-direct-7c" class="table-row-name text-bold">Arrakis Direct</a>
									</div>
								</td>
								<td>7c</td>
								
									<td>Sand Point</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="AWOL Apprentice, 7C. Tintagel" href="/problems/tintagel/awol-apprentice-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of AWOL Apprentice, 7C. Tintagel" src="https://img.youtube.com/vi/J8cyoSpJ_Lk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/tintagel/awol-apprentice-7c" class="table-row-name text-bold">AWOL Apprentice</a>
									</div>
								</td>
								<td>7C</td>
								
									<td><a href="/tintagel" class="table-row-area">Tintagel</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>