<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from @sam.martinez.naval | MadBoulder</title>
	<meta name="description" content="Discover all 8 Beta Videos from @sam.martinez.naval | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/sam-martinez-naval">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 8 Beta Videos from @sam.martinez.naval
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Robotics Jr., 7b+. Albarracín" href="/problems/albarracin/robotics-jr-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Robotics Jr., 7b+. Albarracín" src="https://img.youtube.com/vi/pjN0hvyAXUY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/albarracin/robotics-jr-7b" class="table-row-name text-bold">Robotics Jr.</a>
									</div>
								</td>
								<td>7b+</td>
								<td><a href="/albarracin" class="table-row-area">Albarracín</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El matemático, 7C. Campisabalos" href="/problems/campisabalos/el-matematico-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El matemático, 7C. Campisabalos" src="https://img.youtube.com/vi/kiFyEiAc57M/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/campisabalos/el-matematico-7c" class="table-row-name text-bold">El matemático</a>
									</div>
								</td>
								<td>7C</td>
								<td><a href="/campisabalos" class="table-row-area">Campisabalos</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Harry costras, 7a+. Hoyamoros" href="/problems/hoyamoros/harry-costras-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Harry costras, 7a+. Hoyamoros" src="https://img.youtube.com/vi/CcQYNjdtaVM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hoyamoros/harry-costras-7a" class="table-row-name text-bold">Harry costras</a>
									</div>
								</td>
								<td>7a+</td>
								<td><a href="/hoyamoros" class="table-row-area">Hoyamoros</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Juego de Tronos, 7c+. Hoyamoros" href="/problems/hoyamoros/juego-de-tronos-7c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Juego de Tronos, 7c+. Hoyamoros" src="https://img.youtube.com/vi/am6udfS0dVo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hoyamoros/juego-de-tronos-7c" class="table-row-name text-bold">Juego de Tronos</a>
									</div>
								</td>
								<td>7c+</td>
								<td><a href="/hoyamoros" class="table-row-area">Hoyamoros</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Topless, 7c (sit). Hoyamoros" href="/problems/hoyamoros/topless-7c-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Topless, 7c (sit). Hoyamoros" src="https://img.youtube.com/vi/UwCGI3gnFbI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/hoyamoros/topless-7c-sit" class="table-row-name text-bold">Topless</a>
									</div>
								</td>
								<td>7c (sit)</td>
								<td><a href="/hoyamoros" class="table-row-area">Hoyamoros</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Catástrofe Retroactiva, 8a+. Xixona" href="/problems/xixona/catastrofe-retroactiva-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Catástrofe Retroactiva, 8a+. Xixona" src="https://img.youtube.com/vi/eIBykyU_jz0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/xixona/catastrofe-retroactiva-8a" class="table-row-name text-bold">Catástrofe Retroactiva</a>
									</div>
								</td>
								<td>8a+</td>
								<td><a href="/xixona" class="table-row-area">Xixona</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tombapins, 8a+. Xixona" href="/problems/xixona/tombapins-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tombapins, 8a+. Xixona" src="https://img.youtube.com/vi/hxo7l1SCxjM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/xixona/tombapins-8a" class="table-row-name text-bold">Tombapins</a>
									</div>
								</td>
								<td>8a+</td>
								<td><a href="/xixona" class="table-row-area">Xixona</a></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tombatossals, 8a. Xixona" href="/problems/xixona/tombatossals-8a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tombatossals, 8a. Xixona" src="https://img.youtube.com/vi/NnjGYc44Si4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/xixona/tombatossals-8a" class="table-row-name text-bold">Tombatossals</a>
									</div>
								</td>
								<td>8a</td>
								<td><a href="/xixona" class="table-row-area">Xixona</a></td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>