<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Selene | MadBoulder</title>
	<meta name="description" content="Discover all 52 Beta Videos from Selene | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/selene">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 52 Beta Videos from Selene
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
			<!-- Ad Test --> 
			<ins class="adsbygoogle" 
				style="display:block" 
				data-ad-client="ca-pub-2946344276077058" 
				data-ad-slot="8704691104" 
				data-ad-format="auto" 
				data-full-width-responsive="true"> 
			</ins> 
			<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Anti-ninyo, 6b. Arbolí" href="/problems/arboli/anti-ninyo-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Anti-ninyo, 6b. Arbolí" src="https://img.youtube.com/vi/A6wLQc2htEk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/arboli/anti-ninyo-6b" class="table-row-name text-bold">Anti-ninyo</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/arboli" class="table-row-area">Arbolí</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Placa jingli, 6a+. Arbolí" href="/problems/arboli/placa-jingli-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Placa jingli, 6a+. Arbolí" src="https://img.youtube.com/vi/pDCkOKKz8vI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/arboli/placa-jingli-6a" class="table-row-name text-bold">Placa jingli</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/arboli" class="table-row-area">Arbolí</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Placa jingli, 6b (sit). Arbolí" href="/problems/arboli/placa-jingli-6b-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Placa jingli, 6b (sit). Arbolí" src="https://img.youtube.com/vi/oRstz4aj2Gw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/arboli/placa-jingli-6b-sit" class="table-row-name text-bold">Placa jingli</a>
									</div>
								</td>
								<td>6b (sit)</td>
								
									<td><a href="/arboli" class="table-row-area">Arbolí</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 33 (Ermita de Sant Pau - Talibans), 5+. Arbolí" href="/problems/arboli/problem-33-ermita-de-sant-pau-talibans-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 33 (Ermita de Sant Pau - Talibans), 5+. Arbolí" src="https://img.youtube.com/vi/m9ITADHOoCk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/arboli/problem-33-ermita-de-sant-pau-talibans-5" class="table-row-name text-bold">Problem 33 (Ermita de Sant Pau - Talibans)</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/arboli" class="table-row-area">Arbolí</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 33 Right (Ermita de Sant Pau - Filomàtic), 5. Arbolí" href="/problems/arboli/problem-33-right-ermita-de-sant-pau-filomatic-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 33 Right (Ermita de Sant Pau - Filomàtic), 5. Arbolí" src="https://img.youtube.com/vi/qhn3M1JLkLw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/arboli/problem-33-right-ermita-de-sant-pau-filomatic-5" class="table-row-name text-bold">Problem 33 Right (Ermita de Sant Pau - Filomàtic)</a>
									</div>
								</td>
								<td>5</td>
								
									<td><a href="/arboli" class="table-row-area">Arbolí</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="En la iglesia nunca hay paro, 4+. Can Boquet" href="/problems/can-boquet/en-la-iglesia-nunca-hay-paro-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of En la iglesia nunca hay paro, 4+. Can Boquet" src="https://img.youtube.com/vi/PUvum0Cso14/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/can-boquet/en-la-iglesia-nunca-hay-paro-4" class="table-row-name text-bold">En la iglesia nunca hay paro</a>
									</div>
								</td>
								<td>4+</td>
								
									<td><a href="/can-boquet" class="table-row-area">Can Boquet</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 1 (La Fissura). Can Bruguera" href="/problems/can-bruguera/problem-1-la-fissura-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 1 (La Fissura). Can Bruguera" src="https://img.youtube.com/vi/D66nNzjKetE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/can-bruguera/problem-1-la-fissura-unknown" class="table-row-name text-bold">Problem 1 (La Fissura)</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/can-bruguera" class="table-row-area">Can Bruguera</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 2 (La Fissura). Can Bruguera" href="/problems/can-bruguera/problem-2-la-fissura-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 2 (La Fissura). Can Bruguera" src="https://img.youtube.com/vi/ULluHKK4WHw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/can-bruguera/problem-2-la-fissura-unknown" class="table-row-name text-bold">Problem 2 (La Fissura)</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/can-bruguera" class="table-row-area">Can Bruguera</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 52 (Durkuek). Can Bruguera" href="/problems/can-bruguera/problem-52-durkuek-unknown" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 52 (Durkuek). Can Bruguera" src="https://img.youtube.com/vi/xMFTWbiFuUw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/can-bruguera/problem-52-durkuek-unknown" class="table-row-name text-bold">Problem 52 (Durkuek)</a>
									</div>
								</td>
								<td>Unknown</td>
								
									<td><a href="/can-bruguera" class="table-row-area">Can Bruguera</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Desorden mental, 6c. Caspe" href="/problems/caspe/desorden-mental-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Desorden mental, 6c. Caspe" src="https://img.youtube.com/vi/P84kr1opkII/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/caspe/desorden-mental-6c" class="table-row-name text-bold">Desorden mental</a>
									</div>
								</td>
								<td>6c</td>
								
									<td>Caspe</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La raja de tu falda, 6a. Caspe" href="/problems/caspe/la-raja-de-tu-falda-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La raja de tu falda, 6a. Caspe" src="https://img.youtube.com/vi/RUueQFGPPRI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/caspe/la-raja-de-tu-falda-6a" class="table-row-name text-bold">La raja de tu falda</a>
									</div>
								</td>
								<td>6a</td>
								
									<td>Caspe</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La rata del culo, 5+ (sit). Caspe" href="/problems/caspe/la-rata-del-culo-5-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La rata del culo, 5+ (sit). Caspe" src="https://img.youtube.com/vi/efF8i2jj9mI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/caspe/la-rata-del-culo-5-sit" class="table-row-name text-bold">La rata del culo</a>
									</div>
								</td>
								<td>5+ (sit)</td>
								
									<td>Caspe</td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cleòpatra, 6a. Cavallers" href="/problems/cavallers/cleopatra-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cleòpatra, 6a. Cavallers" src="https://img.youtube.com/vi/WIPLkDCKA4E/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/cleopatra-6a" class="table-row-name text-bold">Cleòpatra</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dia, 5a. Cavallers" href="/problems/cavallers/dia-5a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dia, 5a. Cavallers" src="https://img.youtube.com/vi/7djVFKqh8Wc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/dia-5a" class="table-row-name text-bold">Dia</a>
									</div>
								</td>
								<td>5a</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dissabte, 6a+. Cavallers" href="/problems/cavallers/dissabte-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dissabte, 6a+. Cavallers" src="https://img.youtube.com/vi/t_pUuqKFlz4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/dissabte-6a" class="table-row-name text-bold">Dissabte</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Fruita, 5c. Cavallers" href="/problems/cavallers/fruita-5c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Fruita, 5c. Cavallers" src="https://img.youtube.com/vi/80glZ7dEGxA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/fruita-5c" class="table-row-name text-bold">Fruita</a>
									</div>
								</td>
								<td>5c</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Gratuït, 5c. Cavallers" href="/problems/cavallers/gratuit-5c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Gratuït, 5c. Cavallers" src="https://img.youtube.com/vi/Qhp5MXfGmlw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/gratuit-5c" class="table-row-name text-bold">Gratuït</a>
									</div>
								</td>
								<td>5c</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Seixantes, 5c. Cavallers" href="/problems/cavallers/seixantes-5c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Seixantes, 5c. Cavallers" src="https://img.youtube.com/vi/bJ_PY-re_UQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/seixantes-5c" class="table-row-name text-bold">Seixantes</a>
									</div>
								</td>
								<td>5c</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Test, 5a. Cavallers" href="/problems/cavallers/test-5a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Test, 5a. Cavallers" src="https://img.youtube.com/vi/fenMQS0yDOY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/test-5a" class="table-row-name text-bold">Test</a>
									</div>
								</td>
								<td>5a</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tota, 5a. Cavallers" href="/problems/cavallers/tota-5a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tota, 5a. Cavallers" src="https://img.youtube.com/vi/WLnlXYpiGpI/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cavallers/tota-5a" class="table-row-name text-bold">Tota</a>
									</div>
								</td>
								<td>5a</td>
								
									<td><a href="/cavallers" class="table-row-area">Cavallers</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 8 (Boulder 6, Les Besses), 4+. Cervià" href="/problems/cervia/problem-8-boulder-6-les-besses-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 8 (Boulder 6, Les Besses), 4+. Cervià" src="https://img.youtube.com/vi/eloHlKPmdEQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cervia/problem-8-boulder-6-les-besses-4" class="table-row-name text-bold">Problem 8 (Boulder 6, Les Besses)</a>
									</div>
								</td>
								<td>4+</td>
								
									<td><a href="/cervia" class="table-row-area">Cervià</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Quelcom entre les mans, 6a+. Cervià" href="/problems/cervia/quelcom-entre-les-mans-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Quelcom entre les mans, 6a+. Cervià" src="https://img.youtube.com/vi/EEc648My1Iw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cervia/quelcom-entre-les-mans-6a" class="table-row-name text-bold">Quelcom entre les mans</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/cervia" class="table-row-area">Cervià</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 6 (Boulder H), V0+. El Chaltén" href="/problems/el-chalten/problem-6-boulder-h-v0" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 6 (Boulder H), V0+. El Chaltén" src="https://img.youtube.com/vi/0uUNgccFWWE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/el-chalten/problem-6-boulder-h-v0" class="table-row-name text-bold">Problem 6 (Boulder H)</a>
									</div>
								</td>
								<td>V0+</td>
								
									<td><a href="/el-chalten" class="table-row-area">El Chaltén</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 7 (Boulder H), V1. El Chaltén" href="/problems/el-chalten/problem-7-boulder-h-v1" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 7 (Boulder H), V1. El Chaltén" src="https://img.youtube.com/vi/cCGVhW5avxM/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/el-chalten/problem-7-boulder-h-v1" class="table-row-name text-bold">Problem 7 (Boulder H)</a>
									</div>
								</td>
								<td>V1</td>
								
									<td><a href="/el-chalten" class="table-row-area">El Chaltén</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Full, 5+. La Bastida" href="/problems/la-bastida/full-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Full, 5+. La Bastida" src="https://img.youtube.com/vi/hcpKBBJNHXY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-bastida/full-5" class="table-row-name text-bold">Full</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/la-bastida" class="table-row-area">La Bastida</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Parella, 4. La Bastida" href="/problems/la-bastida/parella-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Parella, 4. La Bastida" src="https://img.youtube.com/vi/QWoGkIHz97k/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-bastida/parella-4" class="table-row-name text-bold">Parella</a>
									</div>
								</td>
								<td>4</td>
								
									<td><a href="/la-bastida" class="table-row-area">La Bastida</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pumba, 5+. La Bastida" href="/problems/la-bastida/pumba-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pumba, 5+. La Bastida" src="https://img.youtube.com/vi/1UT7gGd7f-8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-bastida/pumba-5" class="table-row-name text-bold">Pumba</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/la-bastida" class="table-row-area">La Bastida</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Toca timbres, 4+. La Bastida" href="/problems/la-bastida/toca-timbres-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Toca timbres, 4+. La Bastida" src="https://img.youtube.com/vi/O3J7sFEf6w8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-bastida/toca-timbres-4" class="table-row-name text-bold">Toca timbres</a>
									</div>
								</td>
								<td>4+</td>
								
									<td><a href="/la-bastida" class="table-row-area">La Bastida</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Trio, 6a+. La Bastida" href="/problems/la-bastida/trio-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Trio, 6a+. La Bastida" src="https://img.youtube.com/vi/DBLw1p0otZE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-bastida/trio-6a" class="table-row-name text-bold">Trio</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/la-bastida" class="table-row-area">La Bastida</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="A lot of waste, 4. La Riba" href="/problems/la-riba/a-lot-of-waste-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of A lot of waste, 4. La Riba" src="https://img.youtube.com/vi/OnlIw3ahBMg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/a-lot-of-waste-4" class="table-row-name text-bold">A lot of waste</a>
									</div>
								</td>
								<td>4</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Balet, 4. La Riba" href="/problems/la-riba/balet-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Balet, 4. La Riba" src="https://img.youtube.com/vi/B6iv7s0p5Xw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/balet-4" class="table-row-name text-bold">Balet</a>
									</div>
								</td>
								<td>4</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Bernat pudent, 6b. La Riba" href="/problems/la-riba/bernat-pudent-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bernat pudent, 6b. La Riba" src="https://img.youtube.com/vi/uzWb26ajXWU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/bernat-pudent-6b" class="table-row-name text-bold">Bernat pudent</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Deixalles, 4+. La Riba" href="/problems/la-riba/deixalles-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Deixalles, 4+. La Riba" src="https://img.youtube.com/vi/Ej-EZqAoRKg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/deixalles-4" class="table-row-name text-bold">Deixalles</a>
									</div>
								</td>
								<td>4+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Easy life, 5. La Riba" href="/problems/la-riba/easy-life-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Easy life, 5. La Riba" src="https://img.youtube.com/vi/CXtak4Rheoo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/easy-life-5" class="table-row-name text-bold">Easy life</a>
									</div>
								</td>
								<td>5</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El escapista, 6b+. La Riba" href="/problems/la-riba/el-escapista-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El escapista, 6b+. La Riba" src="https://img.youtube.com/vi/b7F8fAL22x4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/el-escapista-6b" class="table-row-name text-bold">El escapista</a>
									</div>
								</td>
								<td>6b+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="El senyor del Clot, 4. La Riba" href="/problems/la-riba/el-senyor-del-clot-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El senyor del Clot, 4. La Riba" src="https://img.youtube.com/vi/uYlH9BmEhV4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/el-senyor-del-clot-4" class="table-row-name text-bold">El senyor del Clot</a>
									</div>
								</td>
								<td>4</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Feet up, 6b. La Riba" href="/problems/la-riba/feet-up-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Feet up, 6b. La Riba" src="https://img.youtube.com/vi/djFv9dcqP1w/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/feet-up-6b" class="table-row-name text-bold">Feet up</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Fem-ho bé, 6b. La Riba" href="/problems/la-riba/fem-ho-be-6b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Fem-ho bé, 6b. La Riba" src="https://img.youtube.com/vi/QF9caZPk3iY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/fem-ho-be-6b" class="table-row-name text-bold">Fem-ho bé</a>
									</div>
								</td>
								<td>6b</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'escudelleta, 4+. La Riba" href="/problems/la-riba/l-escudelleta-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'escudelleta, 4+. La Riba" src="https://img.youtube.com/vi/sR2Sz349298/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/l-escudelleta-4" class="table-row-name text-bold">L'escudelleta</a>
									</div>
								</td>
								<td>4+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La clariana, 5. La Riba" href="/problems/la-riba/la-clariana-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La clariana, 5. La Riba" src="https://img.youtube.com/vi/i27dfwo-_NQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/la-clariana-5" class="table-row-name text-bold">La clariana</a>
									</div>
								</td>
								<td>5</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pardao, 4+. La Riba" href="/problems/la-riba/pardao-4" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pardao, 4+. La Riba" src="https://img.youtube.com/vi/2ePISGiF1pw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/pardao-4" class="table-row-name text-bold">Pardao</a>
									</div>
								</td>
								<td>4+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Qüestió de confiança, 5. La Riba" href="/problems/la-riba/questio-de-confianca-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Qüestió de confiança, 5. La Riba" src="https://img.youtube.com/vi/kyrDxmvHvkE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/questio-de-confianca-5" class="table-row-name text-bold">Qüestió de confiança</a>
									</div>
								</td>
								<td>5</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tant amics, 3+. La Riba" href="/problems/la-riba/tant-amics-3" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tant amics, 3+. La Riba" src="https://img.youtube.com/vi/Kuf9g_Ng1v4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/la-riba/tant-amics-3" class="table-row-name text-bold">Tant amics</a>
									</div>
								</td>
								<td>3+</td>
								
									<td><a href="/la-riba" class="table-row-area">La Riba</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 3 (El Dau Cara Nord-Est), 5+. Maldà" href="/problems/malda/problem-3-el-dau-cara-nord-est-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 3 (El Dau Cara Nord-Est), 5+. Maldà" src="https://img.youtube.com/vi/gOUUxoxwxE0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/malda/problem-3-el-dau-cara-nord-est-5" class="table-row-name text-bold">Problem 3 (El Dau Cara Nord-Est)</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/malda" class="table-row-area">Maldà</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem 3 (El Dau Cara Sud - Verd), 3+.  Maldà" href="/problems/malda/problem-3-el-dau-cara-sud-verd-3" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem 3 (El Dau Cara Sud - Verd), 3+.  Maldà" src="https://img.youtube.com/vi/5eq8esOm7jg/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/malda/problem-3-el-dau-cara-sud-verd-3" class="table-row-name text-bold">Problem 3 (El Dau Cara Sud - Verd)</a>
									</div>
								</td>
								<td>3+</td>
								
									<td><a href="/malda" class="table-row-area">Maldà</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ferruginós, 6a. Mont-roig del Camp" href="/problems/mont-roig-del-camp/ferruginos-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ferruginós, 6a. Mont-roig del Camp" src="https://img.youtube.com/vi/TtclD0mSsHc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mont-roig-del-camp/ferruginos-6a" class="table-row-name text-bold">Ferruginós</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/mont-roig-del-camp" class="table-row-area">Mont-roig del Camp</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Fisureibol, 6a (sit). Mont-roig del Camp" href="/problems/mont-roig-del-camp/fisureibol-6a-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Fisureibol, 6a (sit). Mont-roig del Camp" src="https://img.youtube.com/vi/mu0YZjpZ3fY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mont-roig-del-camp/fisureibol-6a-sit" class="table-row-name text-bold">Fisureibol</a>
									</div>
								</td>
								<td>6a (sit)</td>
								
									<td><a href="/mont-roig-del-camp" class="table-row-area">Mont-roig del Camp</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Hop!, 5+. Mont-roig del Camp" href="/problems/mont-roig-del-camp/hop-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Hop!, 5+. Mont-roig del Camp" src="https://img.youtube.com/vi/8Y6fMSqoQiw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mont-roig-del-camp/hop-5" class="table-row-name text-bold">Hop!</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/mont-roig-del-camp" class="table-row-area">Mont-roig del Camp</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pirita, 5+. Mont-roig del Camp" href="/problems/mont-roig-del-camp/pirita-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pirita, 5+. Mont-roig del Camp" src="https://img.youtube.com/vi/lMtVCtYHInQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/mont-roig-del-camp/pirita-5" class="table-row-name text-bold">Pirita</a>
									</div>
								</td>
								<td>5+</td>
								
									<td><a href="/mont-roig-del-camp" class="table-row-area">Mont-roig del Camp</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Cerillazooo, 6a. Unha" href="/problems/unha/cerillazooo-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cerillazooo, 6a. Unha" src="https://img.youtube.com/vi/F7mFu_O8SZw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/unha/cerillazooo-6a" class="table-row-name text-bold">Cerillazooo</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/unha" class="table-row-area">Unha</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tiron de Oreja, 6a+. Unha" href="/problems/unha/tiron-de-oreja-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tiron de Oreja, 6a+. Unha" src="https://img.youtube.com/vi/VS8yY3dW-eo/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/unha/tiron-de-oreja-6a" class="table-row-name text-bold">Tiron de Oreja</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/unha" class="table-row-area">Unha</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Un Paseo por la Sombra, 5. Unha" href="/problems/unha/un-paseo-por-la-sombra-5" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Un Paseo por la Sombra, 5. Unha" src="https://img.youtube.com/vi/3uWYRKSzEkc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/unha/un-paseo-por-la-sombra-5" class="table-row-name text-bold">Un Paseo por la Sombra</a>
									</div>
								</td>
								<td>5</td>
								
									<td><a href="/unha" class="table-row-area">Unha</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>