<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Sile @plaisirextrembouldering | MadBoulder</title>
	<meta name="description" content="Discover all 25 Beta Videos from Sile @plaisirextrembouldering | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/contributors/sile-plaisirextrembouldering">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
			</div>
			<h1 class="zone-header-title text-bold">
				List of 25 Beta Videos from Sile @plaisirextrembouldering
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Area") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Happy hand, 7b. Brione" href="/problems/brione/happy-hand-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Happy hand, 7b. Brione" src="https://img.youtube.com/vi/xY3MrXI9ffA/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/happy-hand-7b" class="table-row-name text-bold">Happy hand</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Her morning elegance, 7b. Brione" href="/problems/brione/her-morning-elegance-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Her morning elegance, 7b. Brione" src="https://img.youtube.com/vi/ehJnsQcD5es/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/brione/her-morning-elegance-7b" class="table-row-name text-bold">Her morning elegance</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/brione" class="table-row-area">Brione</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Andante allegro, 6a. Chironico" href="/problems/chironico/andante-allegro-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Andante allegro, 6a. Chironico" src="https://img.youtube.com/vi/NTwUsDSabqk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/andante-allegro-6a" class="table-row-name text-bold">Andante allegro</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Appetite for destruction, 7a. Chironico" href="/problems/chironico/appetite-for-destruction-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Appetite for destruction, 7a. Chironico" src="https://img.youtube.com/vi/zS8Duu3onLs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/appetite-for-destruction-7a" class="table-row-name text-bold">Appetite for destruction</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Happy people, 6c. Chironico" href="/problems/chironico/happy-people-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Happy people, 6c. Chironico" src="https://img.youtube.com/vi/qky4-yNVito/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/happy-people-6c" class="table-row-name text-bold">Happy people</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pink Lady, 6c+. Chironico" href="/problems/chironico/pink-lady-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pink Lady, 6c+. Chironico" src="https://img.youtube.com/vi/rFUF0KQnhx8/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/pink-lady-6c" class="table-row-name text-bold">Pink Lady</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Selection Door, 7a. Chironico" href="/problems/chironico/selection-door-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Selection Door, 7a. Chironico" src="https://img.youtube.com/vi/auQci4RZstY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/selection-door-7a" class="table-row-name text-bold">Selection Door</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="The aviator, 6c+. Chironico" href="/problems/chironico/the-aviator-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The aviator, 6c+. Chironico" src="https://img.youtube.com/vi/kennZUrjLRE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/the-aviator-6c" class="table-row-name text-bold">The aviator</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Warm up, 6a+. Chironico" href="/problems/chironico/warm-up-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Warm up, 6a+. Chironico" src="https://img.youtube.com/vi/5A1OwQ6sBh0/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/chironico/warm-up-6a" class="table-row-name text-bold">Warm up</a>
									</div>
								</td>
								<td>6a+</td>
								
									<td><a href="/chironico" class="table-row-area">Chironico</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Histeria, 6c+. Cresciano" href="/problems/cresciano/histeria-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Histeria, 6c+. Cresciano" src="https://img.youtube.com/vi/Cq_ag5PbvLQ/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/cresciano/histeria-6c" class="table-row-name text-bold">Histeria</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/cresciano" class="table-row-area">Cresciano</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Road to Underground, 6c. Fionnay" href="/problems/fionnay/road-to-underground-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Road to Underground, 6c. Fionnay" src="https://img.youtube.com/vi/2IhRXKGXUIU/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fionnay/road-to-underground-6c" class="table-row-name text-bold">Road to Underground</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fionnay" class="table-row-area">Fionnay</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Black Hole Traverse, 6c. Fontainebleau" href="/problems/fontainebleau/black-hole-traverse-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Black Hole Traverse, 6c. Fontainebleau" src="https://img.youtube.com/vi/qmLK64ZzXfc/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/black-hole-traverse-6c" class="table-row-name text-bold">Black Hole Traverse</a>
									</div>
								</td>
								<td>6c</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Fatwoman, 7a. Fontainebleau" href="/problems/fontainebleau/fatwoman-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Fatwoman, 7a. Fontainebleau" src="https://img.youtube.com/vi/S8fi5Ipzcgw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/fatwoman-7a" class="table-row-name text-bold">Fatwoman</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Funky cat, 7a. Fontainebleau" href="/problems/fontainebleau/funky-cat-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Funky cat, 7a. Fontainebleau" src="https://img.youtube.com/vi/PwprNAv8XC4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/funky-cat-7a" class="table-row-name text-bold">Funky cat</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="L'Isoloir (direct), 7a. Fontainebleau" href="/problems/fontainebleau/l-isoloir-direct-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of L'Isoloir (direct), 7a. Fontainebleau" src="https://img.youtube.com/vi/1ZFToc7IN2I/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/l-isoloir-direct-7a" class="table-row-name text-bold">L'Isoloir (direct)</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="La Proue de la Passion, 6c+ (sit). Fontainebleau" href="/problems/fontainebleau/la-proue-de-la-passion-6c-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Proue de la Passion, 6c+ (sit). Fontainebleau" src="https://img.youtube.com/vi/gPo4g8BkuKk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/la-proue-de-la-passion-6c-sit" class="table-row-name text-bold">La Proue de la Passion</a>
									</div>
								</td>
								<td>6c+ (sit)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Le Chou-Fleur, 7a (sit). Fontainebleau" href="/problems/fontainebleau/le-chou-fleur-7a-sit" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Le Chou-Fleur, 7a (sit). Fontainebleau" src="https://img.youtube.com/vi/44TPfIprCPY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/fontainebleau/le-chou-fleur-7a-sit" class="table-row-name text-bold">Le Chou-Fleur</a>
									</div>
								</td>
								<td>7a (sit)</td>
								
									<td><a href="/fontainebleau" class="table-row-area">Fontainebleau</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Asperula, 7b. Val Masino" href="/problems/val-masino/asperula-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Asperula, 7b. Val Masino" src="https://img.youtube.com/vi/AvnUowKgoRw/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/asperula-7b" class="table-row-name text-bold">Asperula</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Ayrton Senna, 7a. Val Masino" href="/problems/val-masino/ayrton-senna-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ayrton Senna, 7a. Val Masino" src="https://img.youtube.com/vi/ptrRljXndVY/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/ayrton-senna-7a" class="table-row-name text-bold">Ayrton Senna</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Il Bisteccone, 7a+. Val Masino" href="/problems/val-masino/il-bisteccone-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Il Bisteccone, 7a+. Val Masino" src="https://img.youtube.com/vi/PN641eKZQ_4/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/il-bisteccone-7a" class="table-row-name text-bold">Il Bisteccone</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Pata e tina, 7a. Val Masino" href="/problems/val-masino/pata-e-tina-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pata e tina, 7a. Val Masino" src="https://img.youtube.com/vi/exIf-DI5E6s/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/pata-e-tina-7a" class="table-row-name text-bold">Pata e tina</a>
									</div>
								</td>
								<td>7a</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Problem G (Boulder 1, Tarzan), 6a. Val Masino" href="/problems/val-masino/problem-g-boulder-1-tarzan-6a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Problem G (Boulder 1, Tarzan), 6a. Val Masino" src="https://img.youtube.com/vi/Fq5KI3S3iNE/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/problem-g-boulder-1-tarzan-6a" class="table-row-name text-bold">Problem G (Boulder 1, Tarzan)</a>
									</div>
								</td>
								<td>6a</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Tanti auguri, 7b. Val Masino" href="/problems/val-masino/tanti-auguri-7b" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tanti auguri, 7b. Val Masino" src="https://img.youtube.com/vi/4J9knwg8f_g/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/val-masino/tanti-auguri-7b" class="table-row-name text-bold">Tanti auguri</a>
									</div>
								</td>
								<td>7b</td>
								
									<td><a href="/val-masino" class="table-row-area">Val Masino</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Dickfrau, 7a+. Vernayaz" href="/problems/vernayaz/dickfrau-7a" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dickfrau, 7a+. Vernayaz" src="https://img.youtube.com/vi/we2p0Obd1Bk/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/vernayaz/dickfrau-7a" class="table-row-name text-bold">Dickfrau</a>
									</div>
								</td>
								<td>7a+</td>
								
									<td><a href="/vernayaz" class="table-row-area">Vernayaz</a></td>
								
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
									<a aria-hidden="false" aria-label="Redman, 6c+. Vernayaz" href="/problems/vernayaz/redman-6c" tabindex="0" target="">
										<div class="video-thumbnail-container">
										<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Redman, 6c+. Vernayaz" src="https://img.youtube.com/vi/WbBZmqweXFs/mqdefault.jpg">
										</div>
									</a>
									<a href="/problems/vernayaz/redman-6c" class="table-row-name text-bold">Redman</a>
									</div>
								</td>
								<td>6c+</td>
								
									<td><a href="/vernayaz" class="table-row-area">Vernayaz</a></td>
								
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>