<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beta Videos from Vadim Timonov | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of country Discover all 20 Beta Videos from Vadim Timonov | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/contributors/vadim-timonov">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		
<div class="zone-header">
	<div class="container zone-header-tree">
		<a href="/contributors/contributors-list" class="zone-header-tree-link">All Contributors</a>
	</div>
	<h1 class="zone-header-title text-bold">
		List of 20 Beta Videos from Vadim Timonov
	</h1>
</div>

		<div class="container" id="mainContainer">
			
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					<th scope="col" class="sorting">{{ _("Area") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Unhola, 8A+. Sotunki" href="/problems/sotunki/8a-unhola" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Unhola, 8A+. Sotunki" src="https://img.youtube.com/vi/0Ij5xVKhimA/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sotunki/8a-unhola" class="table-row-name text-bold">8A+</a>
							</div>
						</td>
						<td>Unhola</td>
						<td>Sotunki</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Normipäivä, 8B. Åland" href="/problems/aland/normipaiva-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Normipäivä, 8B. Åland" src="https://img.youtube.com/vi/5nVHVrRuo_Q/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/aland/normipaiva-8b" class="table-row-name text-bold">Normipäivä</a>
							</div>
						</td>
						<td>8B</td>
						<td>Åland</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="The Power of One, 8b. Rocklands" href="/problems/rocklands/the-power-of-one-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Power of One, 8b. Rocklands" src="https://img.youtube.com/vi/GDY9IEI1Yaw/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/the-power-of-one-8b" class="table-row-name text-bold">The Power of One</a>
							</div>
						</td>
						<td>8b</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Pro 2, 8a. Västervik" href="/problems/vastervik/pro-2-8a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pro 2, 8a. Västervik" src="https://img.youtube.com/vi/rRSbisxgwHQ/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/vastervik/pro-2-8a" class="table-row-name text-bold">Pro 2</a>
							</div>
						</td>
						<td>8a</td>
						<td>Västervik</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Hypergravity, 8B. Sipoo" href="/problems/sipoo/hypergravity-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Hypergravity, 8B. Sipoo" src="https://img.youtube.com/vi/PCsJ42-XjV4/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/sipoo/hypergravity-8b" class="table-row-name text-bold">Hypergravity</a>
							</div>
						</td>
						<td>8B</td>
						<td>Sipoo</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="The Hourglass, 8b (sit). Västervik" href="/problems/vastervik/the-hourglass-8b-sit" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Hourglass, 8b (sit). Västervik" src="https://img.youtube.com/vi/glzfkJ4Es5o/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/vastervik/the-hourglass-8b-sit" class="table-row-name text-bold">The Hourglass</a>
							</div>
						</td>
						<td>8b (sit)</td>
						<td>Västervik</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Derailed, 8b. Rocklands" href="/problems/rocklands/derailed-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Derailed, 8b. Rocklands" src="https://img.youtube.com/vi/0i21HM4ioF4/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/derailed-8b" class="table-row-name text-bold">Derailed</a>
							</div>
						</td>
						<td>8b</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Double or Nothing, 8a+. Rocklands" href="/problems/rocklands/double-or-nothing-8a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Double or Nothing, 8a+. Rocklands" src="https://img.youtube.com/vi/IsEF99nsf-U/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/double-or-nothing-8a" class="table-row-name text-bold">Double or Nothing</a>
							</div>
						</td>
						<td>8a+</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Olifants dawn, 8b+. Rocklands" href="/problems/rocklands/olifants-dawn-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Olifants dawn, 8b+. Rocklands" src="https://img.youtube.com/vi/jFpbsCUUq7A/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/olifants-dawn-8b" class="table-row-name text-bold">Olifants dawn</a>
							</div>
						</td>
						<td>8b+</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Monkey business, 8a+. Rocklands" href="/problems/rocklands/monkey-business-8a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Monkey business, 8a+. Rocklands" src="https://img.youtube.com/vi/g3Obh2VOLno/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/monkey-business-8a" class="table-row-name text-bold">Monkey business</a>
							</div>
						</td>
						<td>8a+</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Gogoan, 8b. Rocklands" href="/problems/rocklands/gogoan-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Gogoan, 8b. Rocklands" src="https://img.youtube.com/vi/fmojfTzfYfE/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/gogoan-8b" class="table-row-name text-bold">Gogoan</a>
							</div>
						</td>
						<td>8b</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Shaky warrior, 8b+. Rocklands" href="/problems/rocklands/shaky-warrior-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Shaky warrior, 8b+. Rocklands" src="https://img.youtube.com/vi/kzBjv6sOC8s/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/rocklands/shaky-warrior-8b" class="table-row-name text-bold">Shaky warrior</a>
							</div>
						</td>
						<td>8b+</td>
						<td>Rocklands</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="The Understanding, 8c. Magic Wood" href="/problems/magic-wood/the-understanding-8c" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Understanding, 8c. Magic Wood" src="https://img.youtube.com/vi/qCKwjTpbHd0/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/magic-wood/the-understanding-8c" class="table-row-name text-bold">The Understanding</a>
							</div>
						</td>
						<td>8c</td>
						<td>Magic Wood</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Modus Operandi, 8b/+. La Comarca" href="/problems/la-comarca/modus-operandi-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Modus Operandi, 8b/+. La Comarca" src="https://img.youtube.com/vi/Jy2ikEOf3nY/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/la-comarca/modus-operandi-8b" class="table-row-name text-bold">Modus Operandi</a>
							</div>
						</td>
						<td>8b/+</td>
						<td>La Comarca</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="New School, 7c+/8a. Taradell" href="/problems/taradell/new-school-7c-8a" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of New School, 7c+/8a. Taradell" src="https://img.youtube.com/vi/q8W5QGhbaIY/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/taradell/new-school-7c-8a" class="table-row-name text-bold">New School</a>
							</div>
						</td>
						<td>7c+/8a</td>
						<td>Taradell</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Geo Catcher, 8b. Taradell" href="/problems/taradell/geo-catcher-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Geo Catcher, 8b. Taradell" src="https://img.youtube.com/vi/ZtvsVoVvnPg/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/taradell/geo-catcher-8b" class="table-row-name text-bold">Geo Catcher</a>
							</div>
						</td>
						<td>8b</td>
						<td>Taradell</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Two Wet Bunnies, 8b+. Taradell" href="/problems/taradell/two-wet-bunnies-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Two Wet Bunnies, 8b+. Taradell" src="https://img.youtube.com/vi/XkHf5ZRrvpQ/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/taradell/two-wet-bunnies-8b" class="table-row-name text-bold">Two Wet Bunnies</a>
							</div>
						</td>
						<td>8b+</td>
						<td>Taradell</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Smash the hole, 8b. La Comarca" href="/problems/la-comarca/smash-the-hole-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Smash the hole, 8b. La Comarca" src="https://img.youtube.com/vi/WqNJikiB-LE/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/la-comarca/smash-the-hole-8b" class="table-row-name text-bold">Smash the hole</a>
							</div>
						</td>
						<td>8b</td>
						<td>La Comarca</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="The Shire, 8b+. La Comarca" href="/problems/la-comarca/the-shire-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of The Shire, 8b+. La Comarca" src="https://img.youtube.com/vi/pg2HNSqviw4/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/la-comarca/the-shire-8b" class="table-row-name text-bold">The Shire</a>
							</div>
						</td>
						<td>8b+</td>
						<td>La Comarca</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							<a aria-hidden="false" aria-label="Double Bobble, 8b+. La Comarca" href="/problems/la-comarca/double-bobble-8b" tabindex="0" target="">
								<div class="video-thumbnail-container">
								<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Double Bobble, 8b+. La Comarca" src="https://img.youtube.com/vi/8gB9u0amh0o/mqdefault.jpg">
								</div>
							</a>
							<a href="/problems/la-comarca/double-bobble-8b" class="table-row-name text-bold">Double Bobble</a>
							</div>
						</td>
						<td>8b+</td>
						<td>La Comarca</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
					
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>