<!DOCTYPE html>
<html>
  <head>
    <title>Para escalar hay que trabajar at Carabaña | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Para escalar hay que trabajar at Carabaña | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/carabana/para-escalar-hay-que-trabajar-6c">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/madrid" class="zone-header-tree-link">Madrid</a>
	
	 > 
	<a href="/carabana" class="zone-header-tree-link">Carabaña</a>
	 > 
	<a href="/sectors/carabana/gargantilla" class="zone-header-tree-link">Gargantilla</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Para escalar hay que trabajar 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/mVhaLyTzq34" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Para escalar hay que trabajar </p>
		<p> {{ _("Grade") }}: 6c </p>
		<p> {{ _("Zone") }}: Carabaña </p>
		<p> {{ _("Sector") }}: Gargantilla </p>
		<p> {{ _("Climber") }}: Vicescaleitor </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>