<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tombstone V7 Boulder Problem in Columbia | MadBoulder</title>
	<meta name="description" content="Videos of Tombstone Boulder Problem in Columbia climbed by Vikas Agartha | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/columbia/tombstone-v7">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
				
				> 
				<a href="/states/california" class="zone-header-tree-link">California</a>
				
				> 
				<a href="/columbia" class="zone-header-tree-link">Columbia</a>
				> 
				<a href="/sectors/columbia/columbia-college" class="zone-header-tree-link">Columbia College</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Tombstone, V7. Columbia
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/vJFv-HLL3Iw" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Tombstone </p>
					<p> {{ _("Grade") }}: V7 </p>
					
						<p> {{ _("Zone") }}: <a href="/columbia">Columbia</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/columbia/columbia-college">Columbia College</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/vikas-agartha">Vikas Agartha</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>