<!DOCTYPE html>
<html>
  <head>
    <title>Pocket Rocket at Joe's Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Pocket Rocket at Joe's Valley | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/joes-valley/pocket-rocket">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				   Pocket Rocket, Joe's Valley 
			    </h1>
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/z9qIBuxQgGw" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Pocket Rocket </p>
			<p> {{ _("Grade") }}: V6 </p>
			<p> {{ _("Zone") }}: Joe's Valley </p>
			<p> {{ _("Sector") }}: New Joe's </p>
			<p> {{ _("Climber") }}: Bailey Schmidt </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>