<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drive 8A Boulder Problem in La Pedriza | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Drive Boulder Problem in La Pedriza climbed by Javi Prado | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/la-pedriza/drive-8a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/madrid" class="zone-header-tree-link">Madrid</a>
	
	 > 
	<a href="/la-pedriza" class="zone-header-tree-link">La Pedriza</a>
	 > 
	<a href="/sectors/la-pedriza/crossroads-este" class="zone-header-tree-link">Crossroads Este</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Drive, 8A. La Pedriza 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/pvMV7IjXRug" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Drive </p>
		<p> {{ _("Grade") }}: 8A </p>
		<p> {{ _("Zone") }}: <a href="/la-pedriza">La Pedriza</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/la-pedriza/crossroads-este">Crossroads Este</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/javi-prado">Javi Prado</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>