<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manzanitos Flow 7A Boulder Problem in La Pedriza | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Manzanitos Flow Boulder Problem in La Pedriza climbed by @jmtzve | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/la-pedriza/manzanitos-flow-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/madrid" class="zone-header-tree-link">Madrid</a>
	
	 > 
	<a href="/la-pedriza" class="zone-header-tree-link">La Pedriza</a>
	 > 
	<a href="/sectors/la-pedriza/cancho-islazo" class="zone-header-tree-link">Cancho Islazo</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 El Ocaso de los Dioses, 7A. La Pedriza 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/qGEHFZ_BA3w" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Manzanitos Flow </p>
		<p> {{ _("Grade") }}: 7A </p>
		
			<p> {{ _("Zone") }}: <a href="/la-pedriza">La Pedriza</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/la-pedriza/cancho-islazo">Cancho Islazo</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/jmtzve">@jmtzve</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>