<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frankenstein 6B Boulder Problem in Navalosa | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Frankenstein Boulder Problem in Navalosa climbed by Henar Jiménez | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/navalosa/frankenstein-6b">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/castilla-leon" class="zone-header-tree-link">Castilla Leon</a>
	
	 > 
	<a href="/navalosa" class="zone-header-tree-link">Navalosa</a>
	 > 
	<a href="/sectors/navalosa/umbrias" class="zone-header-tree-link">Umbrías</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Frankenstein, 6B. Navalosa 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/NIzrCpz0Pdg?&autoplay=1" allow="autoplay" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Frankenstein </p>
		<p> {{ _("Grade") }}: 6B </p>
		<p> {{ _("Zone") }}: Navalosa </p>
		<p> {{ _("Sector") }}: Umbrías </p>
		<p> {{ _("Climber") }}: Henar Jiménez </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>