<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Summit at Black Mountain | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Summit at Black Mountain | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/black-mountain/summit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/black-mountain" class="zone-header-tree-link">Black Mountain</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Summit 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Adamantium, V10. Black Mountain" href="/problems/black-mountain/adamantium-v10" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Adamantium, V10. Black Mountain" src="https://img.youtube.com/vi/a0YqrZqFryk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/adamantium-v10" class="table-row-name text-bold">Adamantium</a>
							</div>
						</td>
						<td>V10</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Bang On, V12. Black Mountain" href="/problems/black-mountain/bang-on-v12" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bang On, V12. Black Mountain" src="https://img.youtube.com/vi/5g8bp1PG0so/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/bang-on-v12" class="table-row-name text-bold">Bang On</a>
							</div>
						</td>
						<td>V12</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Buttermilk Face Right, V5. Black Mountain" href="/problems/black-mountain/buttermilk-face-right-v5" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Buttermilk Face Right, V5. Black Mountain" src="https://img.youtube.com/vi/QU7VohnGlCw/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/buttermilk-face-right-v5" class="table-row-name text-bold">Buttermilk Face Right</a>
							</div>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Can Opener, V7. Black Mountain" href="/problems/black-mountain/can-opener-v7" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Can Opener, V7. Black Mountain" src="https://img.youtube.com/vi/dFfntb5botw/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/can-opener-v7" class="table-row-name text-bold">Can Opener</a>
							</div>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Center Visor, V6. Black Mountain" href="/problems/black-mountain/center-visor-v6" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Center Visor, V6. Black Mountain" src="https://img.youtube.com/vi/93s8IckTvrs/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/center-visor-v6" class="table-row-name text-bold">Center Visor</a>
							</div>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Choss Boss, V8. Black Mountain" href="/problems/black-mountain/choss-boss-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Choss Boss, V8. Black Mountain" src="https://img.youtube.com/vi/-t7va9KTODM/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/choss-boss-v8" class="table-row-name text-bold">Choss Boss</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Cracker Boy, V7. Black Mountain" href="/problems/black-mountain/cracker-boy-v7" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cracker Boy, V7. Black Mountain" src="https://img.youtube.com/vi/GAsV_u2QjFA/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/cracker-boy-v7" class="table-row-name text-bold">Cracker Boy</a>
							</div>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Derailed, V5. Black Mountain" href="/problems/black-mountain/derailed-v5" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Derailed, V5. Black Mountain" src="https://img.youtube.com/vi/bv0NOB9zki8/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/derailed-v5" class="table-row-name text-bold">Derailed</a>
							</div>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Face Meat Dyno, V5. Black Mountain" href="/problems/black-mountain/face-meat-dyno-v5" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Face Meat Dyno, V5. Black Mountain" src="https://img.youtube.com/vi/XuPvdttv-Eg/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/face-meat-dyno-v5" class="table-row-name text-bold">Face Meat Dyno</a>
							</div>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="I Animal, V10. Black Mountain" href="/problems/black-mountain/i-animal-v10" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: I Animal, V10. Black Mountain" src="https://img.youtube.com/vi/ea37dByayGY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/i-animal-v10" class="table-row-name text-bold">I Animal</a>
							</div>
						</td>
						<td>V10</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Lower NRA, V5. Black Mountain" href="/problems/black-mountain/lower-nra-v5" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Lower NRA, V5. Black Mountain" src="https://img.youtube.com/vi/F3bPPXmR2NY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/lower-nra-v5" class="table-row-name text-bold">Lower NRA</a>
							</div>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Meat Face, V4. Black Mountain" href="/problems/black-mountain/meat-face-v4" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Meat Face, V4. Black Mountain" src="https://img.youtube.com/vi/40M8JrSwn7s/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/meat-face-v4" class="table-row-name text-bold">Meat Face</a>
							</div>
						</td>
						<td>V4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Morning Again, V8. Black Mountain" href="/problems/black-mountain/morning-again-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Morning Again, V8. Black Mountain" src="https://img.youtube.com/vi/T3fMfGfj14c/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/morning-again-v8" class="table-row-name text-bold">Morning Again</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="NRA, V6. Black Mountain" href="/problems/black-mountain/nra-v6" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: NRA, V6. Black Mountain" src="https://img.youtube.com/vi/-z5T6IWzBaY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/nra-v6" class="table-row-name text-bold">NRA</a>
							</div>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Once Upon a Time, V1. Black Mountain" href="/problems/black-mountain/once-upon-a-time-v1" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Once Upon a Time, V1. Black Mountain" src="https://img.youtube.com/vi/mCmgaLSSwnw/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/once-upon-a-time-v1" class="table-row-name text-bold">Once Upon a Time</a>
							</div>
						</td>
						<td>V1</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Ruination, V8 (sit). Black Mountain" href="/problems/black-mountain/ruination-v8-sit" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ruination, V8 (sit). Black Mountain" src="https://img.youtube.com/vi/1P9xQ5btCbg/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/ruination-v8-sit" class="table-row-name text-bold">Ruination</a>
							</div>
						</td>
						<td>V8 (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="The 8th Dimension, V8. Black Mountain" href="/problems/black-mountain/the-8th-dimension-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The 8th Dimension, V8. Black Mountain" src="https://img.youtube.com/vi/EIOSmUCSMP4/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/the-8th-dimension-v8" class="table-row-name text-bold">The 8th Dimension</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Wildcat, V8. Black Mountain" href="/problems/black-mountain/wildcat-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Wildcat, V8. Black Mountain" src="https://img.youtube.com/vi/sCIhuT6-WYk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/black-mountain/wildcat-v8" class="table-row-name text-bold">Wildcat</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>