<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at Carabaña | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Carabaña | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/carabana/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/madrid" class="zone-header-tree-link">Madrid</a>
			   
				> 
			   <a href="/carabana" class="zone-header-tree-link">Carabaña</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Unknown of Carabaña
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Anticuerpo, 7a. Carabaña" href="/problems/carabana/anticuerpo-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Anticuerpo, 7a. Carabaña" src="https://img.youtube.com/vi/xPl4yOSC3tI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/carabana/anticuerpo-7a" class="table-row-name text-bold">Anticuerpo</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Full Core, 7c. Carabaña" href="/problems/carabana/full-core-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Full Core, 7c. Carabaña" src="https://img.youtube.com/vi/h0kjL8bir-8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/carabana/full-core-7c" class="table-row-name text-bold">Full Core</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Los ilegales, 7c. Carabaña" href="/problems/carabana/los-ilegales-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Los ilegales, 7c. Carabaña" src="https://img.youtube.com/vi/o8aGi29CF0Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/carabana/los-ilegales-7c" class="table-row-name text-bold">Los ilegales</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>