<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resurrection V9 Boulder Problem in Squamish | MadBoulder</title>
	<meta name="description" content="Videos of Resurrection Boulder Problem in Squamish climbed by @Austin Sarles | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/squamish/resurrection-v9">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/canada" class="zone-header-tree-link">Canada</a>
				
				> 
				<a href="/squamish" class="zone-header-tree-link">Squamish</a>
				> 
				<a href="/sectors/squamish/unknown" class="zone-header-tree-link">Unknown</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Resurrection, V9. Squamish
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/ahIvemU_G7E" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Resurrection </p>
					<p> {{ _("Grade") }}: V9 </p>
					
						<p> {{ _("Zone") }}: <a href="/squamish">Squamish</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/squamish/unknown">Unknown</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/austin-sarles">@Austin Sarles</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>