<!DOCTYPE html>
<html>
  <head>
    <title>Captain America at Black Mountain | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Captain America at Black Mountain | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/black-mountain/captain-america">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/black-mountain" class="zone-header-tree-link">Black Mountain</a>
	 > 
	<a href="/sectors/black-mountain/boulder-basin" class="zone-header-tree-link">Boulder Basin</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Captain America 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/7TCl6D_pDdU" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Captain America </p>
		<p> {{ _("Grade") }}: V8 </p>
		<p> {{ _("Zone") }}: Black Mountain </p>
		<p> {{ _("Sector") }}: Boulder Basin </p>
		<p> {{ _("Climber") }}: Vikas Agartha </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>