<!DOCTYPE html>
<html>
  <head>
    <title>Consumption Junction at Black Mountain | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Consumption Junction at Black Mountain | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/black-mountain/consumption-junction">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				   Consumption Junction, Black Mountain 
			    </h1>
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/KhO5c8TbHgM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Consumption Junction </p>
			<p> {{ _("Grade") }}: V6 </p>
			<p> {{ _("Zone") }}: Black Mountain </p>
			<p> {{ _("Sector") }}: Unknown </p>
			<p> {{ _("Climber") }}: Julie Qiao </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>