<!DOCTYPE html>
<html>
  <head>
    <title>Bob Esponja at Pas de la Casa | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Bob Esponja at Pas de la Casa | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/pas-de-la-casa/bob-esponja-7a-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/andorra" class="zone-header-tree-link">Andorra</a>
	
	 > 
	<a href="/pas-de-la-casa" class="zone-header-tree-link">Pas de la Casa</a>
	 > 
	<a href="/sectors/pas-de-la-casa/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Bob Esponja 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/Pf9VyE1VdJw" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Bob Esponja </p>
		<p> {{ _("Grade") }}: 7a+ (sit) </p>
		<p> {{ _("Zone") }}: Pas de la Casa </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Jorge Reparaz </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>