<!DOCTYPE html>
<html>
  <head>
    <title>La Placa de Esther at Pas de la Casa | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of La Placa de Esther at Pas de la Casa | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/pas-de-la-casa/la-placa-de-esther">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				   La Placa de Esther, Pas de la Casa 
			    </h1>
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/uuGwFPRkPoY" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: La Placa de Esther </p>
			<p> {{ _("Grade") }}: 5+ </p>
			<p> {{ _("Zone") }}: Pas de la Casa </p>
			<p> {{ _("Sector") }}: Unknown </p>
			<p> {{ _("Climber") }}: Jorge Reparaz </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>