<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beckenbodentraining 7c Boulder Problem in Blattiswald | MadBoulder</title>
	<meta name="description" content="Videos of Beckenbodentraining Boulder Problem in Blattiswald climbed by Quim Sanchez | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/blattiswald/beckenbodentraining-7c">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Beckenbodentraining, 7c. Blattiswald
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/IH7tWsMSPQ8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Beckenbodentraining </p>
					<p> {{ _("Grade") }}: 7c </p>
					
						<p> {{ _("Zone") }}: Blattiswald</p>
						<p> {{ _("Sector") }}: Ost</p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/quim-sanchez">Quim Sanchez</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>