<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Sector Màgia Blanca at Can Bruguera | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Màgia Blanca at Can Bruguera | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/can-bruguera/magia-blanca">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/can-bruguera" class="zone-header-tree-link">Can Bruguera</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Màgia Blanca 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOK8HS1XcY6aZPIpJ-wuplO" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Caballo maldito, 6a+. Can Bruguera" href="/problems/can-bruguera/caballo-maldito-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Caballo maldito, 6a+. Can Bruguera" src="https://img.youtube.com/vi/lTNrH1nkdnI/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/caballo-maldito-6a" class="table-row-name text-bold">Caballo maldito</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Humor amarillo, 6a+. Can Bruguera" href="/problems/can-bruguera/humor-amarillo-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Humor amarillo, 6a+. Can Bruguera" src="https://img.youtube.com/vi/s9Z2Jl0ttfc/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/humor-amarillo-6a" class="table-row-name text-bold">Humor amarillo</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="L'Ego, 6a. Can Bruguera" href="/problems/can-bruguera/l-ego-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Ego, 6a. Can Bruguera" src="https://img.youtube.com/vi/7UL2pzZvy9Y/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/l-ego-6a" class="table-row-name text-bold">L'Ego</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="L'Essència, 5+. Can Bruguera" href="/problems/can-bruguera/l-essencia-5" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Essència, 5+. Can Bruguera" src="https://img.youtube.com/vi/EYgkT2vo7FA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/l-essencia-5" class="table-row-name text-bold">L'Essència</a>
							</div>
						</td>
						<td>5+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="La Princesa de Ceilán, 6b+. Can Bruguera" href="/problems/can-bruguera/la-princesa-de-ceilan-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Princesa de Ceilán, 6b+. Can Bruguera" src="https://img.youtube.com/vi/RtvwVPFWcxY/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/la-princesa-de-ceilan-6b" class="table-row-name text-bold">La Princesa de Ceilán</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="La boina, 6a+. Can Bruguera" href="/problems/can-bruguera/la-boina-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La boina, 6a+. Can Bruguera" src="https://img.youtube.com/vi/iBV0T8_17mI/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/la-boina-6a" class="table-row-name text-bold">La boina</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Màgia Blanca, 6b. Can Bruguera" href="/problems/can-bruguera/magia-blanca-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Màgia Blanca, 6b. Can Bruguera" src="https://img.youtube.com/vi/6LasIH4Q0ao/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/magia-blanca-6b" class="table-row-name text-bold">Màgia Blanca</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Màgia Negra, 6b+. Can Bruguera" href="/problems/can-bruguera/magia-negra-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Màgia Negra, 6b+. Can Bruguera" src="https://img.youtube.com/vi/2KrYi4xntIc/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/magia-negra-6b" class="table-row-name text-bold">Màgia Negra</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Padre, he picado. Can Bruguera" href="/problems/can-bruguera/padre-he-picado-unknown" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Padre, he picado. Can Bruguera" src="https://img.youtube.com/vi/qVVr648bLfM/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/padre-he-picado-unknown" class="table-row-name text-bold">Padre, he picado</a>
							</div>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Sit Jail, 7b+. Can Bruguera" href="/problems/can-bruguera/sit-jail-7b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sit Jail, 7b+. Can Bruguera" src="https://img.youtube.com/vi/AumNmXRT2i8/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/sit-jail-7b" class="table-row-name text-bold">Sit Jail</a>
							</div>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Sputnik, 6b. Can Bruguera" href="/problems/can-bruguera/sputnik-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sputnik, 6b. Can Bruguera" src="https://img.youtube.com/vi/8gDLNu5aptA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/can-bruguera/sputnik-6b" class="table-row-name text-bold">Sputnik</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>