<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector SummerHill at Can Bruguera | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector SummerHill at Can Bruguera | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/can-bruguera/summerhill">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> SummerHill, Can Bruguera</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNEBFYdj6LAcE9FLjG-c4KK" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/can-bruguera/abnegacio">Abnegació, 5</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/absenta">Absenta, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/abstinencia">Abstinència, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/abstraccio">Abstracció, 5</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/dimitri">Dimitri, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/judas">Judas, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/la-gran-estafa">La gran estafa, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/la-trave-de-ponent">La trave de Ponent, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/masnou-crew">Masnou Crew, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-1-summerhill">Problem 1 (Summerhill), 6a</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-11-summerhill">Problem 11 (SummerHill), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-12-summerhill">Problem 12 (SummerHill), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-13-summerhill">Problem 13 (SummerHill), 5</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-2-summerhill">Problem 2 (Summerhill), 5</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-7-summerhill">Problem 7 (SummerHill), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/can-bruguera/problem-8-summerhill">Problem 8 (SummerHill), 5</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>