<!DOCTYPE html>
<html lang="en">
  <head>
    <title>El Desplom dels Nens 6a Boulder Problem in Savassona | MadBoulder</title>
	<meta name="description" content="Videos of El Desplom dels Nens Boulder Problem in Savassona climbed by Ana Sanchis | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/savassona/el-desplom-dels-nens-6a">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/savassona" class="zone-header-tree-link">Savassona</a>
				> 
				<a href="/sectors/savassona/perdut" class="zone-header-tree-link">Perdut</a>
				
				> 
				<a href="/boulders/savassona/" class="zone-header-tree-link">2. El Leprós</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				El Desplom dels Nens, 6a. Savassona
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/9tiC6m8ojRY" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: El Desplom dels Nens </p>
					<p> {{ _("Grade") }}: 6a </p>
					
						<p> {{ _("Zone") }}: <a href="/savassona">Savassona</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/savassona/perdut">Perdut</a></p>
					
					
						
							<p> {{ _("Boulder") }}: 2. El Leprós</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/ana-sanchis">Ana Sanchis</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>