<!DOCTYPE html>
<html>
  <head>
    <title>1994 at Cabo Negro | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of 1994 at Cabo Negro | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/cabo-negro/1994">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/asturias" class="zone-header-tree-link">Asturias</a>
	
	 > 
	<a href="/cabo-negro" class="zone-header-tree-link">Cabo Negro</a>
	 > 
	<a href="/sectors/cabo-negro/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 1994 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/G2PRPlPpi3o" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: 1994 </p>
		<p> {{ _("Grade") }}: 6b+ </p>
		<p> {{ _("Zone") }}: Cabo Negro </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Tati Villarino </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>