<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Camp 4 at Yosemite Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Camp 4 at Yosemite Valley | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/yosemite-valley/camp-4">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/yosemite-valley" class="zone-header-tree-link">Yosemite Valley</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Camp 4 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN0UVvFpkZHRUw2K6ZDeuoC" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="All start movie mantel, V1  Yosemite Valley" href="/problems/yosemite-valley/all-start-movie-mantel-v1" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: All start movie mantel, V1  Yosemite Valley" src="https://img.youtube.com/vi/qPe7dik7cqE/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/all-start-movie-mantel-v1" class="table-row-name text-bold">All start movie mantel</a>
							</div>
						</td>
						<td>V1</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Battle of the Bulge, V6. Yosemite Valley" href="/problems/yosemite-valley/battle-of-the-bulge-v6" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Battle of the Bulge, V6. Yosemite Valley" src="https://img.youtube.com/vi/gy83nJOzdq0/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/battle-of-the-bulge-v6" class="table-row-name text-bold">Battle of the Bulge</a>
							</div>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Bruce Lee, V8. Yosemite Valley" href="/problems/yosemite-valley/bruce-lee-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bruce Lee, V8. Yosemite Valley" src="https://img.youtube.com/vi/xjR10PYY3Ks/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/bruce-lee-v8" class="table-row-name text-bold">Bruce Lee</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Chapman overhang, V1. Yosemite Valley" href="/problems/yosemite-valley/chapman-overhang-v1" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Chapman overhang, V1. Yosemite Valley" src="https://img.youtube.com/vi/4ANp6iuMu_o/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/chapman-overhang-v1" class="table-row-name text-bold">Chapman overhang</a>
							</div>
						</td>
						<td>V1</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Cocaine Corner, V5. Yosemite Valley" href="/problems/yosemite-valley/cocaine-corner-v5" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cocaine Corner, V5. Yosemite Valley" src="https://img.youtube.com/vi/5jLPdD6jYmA/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/cocaine-corner-v5" class="table-row-name text-bold">Cocaine Corner</a>
							</div>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Hit Man, V5. Yosemite Valley" href="/problems/yosemite-valley/hit-man-v5" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hit Man, V5. Yosemite Valley" src="https://img.youtube.com/vi/IxfasNig1dM/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/hit-man-v5" class="table-row-name text-bold">Hit Man</a>
							</div>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Honor Among Thieves, V7. Yosemite Valley" href="/problems/yosemite-valley/honor-among-thieves-v7" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Honor Among Thieves, V7. Yosemite Valley" src="https://img.youtube.com/vi/p11AczUzHSY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/honor-among-thieves-v7" class="table-row-name text-bold">Honor Among Thieves</a>
							</div>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Honor Among Thieves, V9 (sit). Yosemite Valley" href="/problems/yosemite-valley/honor-among-thieves-v9-sit" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Honor Among Thieves, V9 (sit). Yosemite Valley" src="https://img.youtube.com/vi/pBoinXu0r6w/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/honor-among-thieves-v9-sit" class="table-row-name text-bold">Honor Among Thieves</a>
							</div>
						</td>
						<td>V9 (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Hug a rock, V0. Yosemite Valley" href="/problems/yosemite-valley/hug-a-rock-v0" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hug a rock, V0. Yosemite Valley" src="https://img.youtube.com/vi/AQs8F5hLkg0/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/hug-a-rock-v0" class="table-row-name text-bold">Hug a rock</a>
							</div>
						</td>
						<td>V0</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Kor Problem, V3. Yosemite Valley" href="/problems/yosemite-valley/kor-problem-v3" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Kor Problem, V3. Yosemite Valley" src="https://img.youtube.com/vi/3R8DhuFLhuk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/kor-problem-v3" class="table-row-name text-bold">Kor Problem</a>
							</div>
						</td>
						<td>V3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Marco's traverse, V1. Yosemite Valley" href="/problems/yosemite-valley/marco-s-traverse-v1" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Marco's traverse, V1. Yosemite Valley" src="https://img.youtube.com/vi/ObjF7Y8jG1k/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/marco-s-traverse-v1" class="table-row-name text-bold">Marco's traverse</a>
							</div>
						</td>
						<td>V1</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Midnight Lightning, V8. Yosemite Valley" href="/problems/yosemite-valley/midnight-lightning-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Midnight Lightning, V8. Yosemite Valley" src="https://img.youtube.com/vi/z5HAa-VIxVE/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/midnight-lightning-v8" class="table-row-name text-bold">Midnight Lightning</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 11 (Camp 4), V3. Yosemite Valley" href="/problems/yosemite-valley/problem-11-camp-4-v3" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 11 (Camp 4), V3. Yosemite Valley" src="https://img.youtube.com/vi/_-8SaILcPHk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/problem-11-camp-4-v3" class="table-row-name text-bold">Problem 11 (Camp 4)</a>
							</div>
						</td>
						<td>V3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 35 (Camp 4), V4. Yosemite Valley" href="/problems/yosemite-valley/problem-35-camp-4-v4" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 35 (Camp 4), V4. Yosemite Valley" src="https://img.youtube.com/vi/H7-qVeIeCCk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/problem-35-camp-4-v4" class="table-row-name text-bold">Problem 35 (Camp 4)</a>
							</div>
						</td>
						<td>V4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 40 (Camp 4), V3. Yosemite Valley" href="/problems/yosemite-valley/problem-40-camp-4-v3" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 40 (Camp 4), V3. Yosemite Valley" src="https://img.youtube.com/vi/1GI_Qla5O5Q/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/problem-40-camp-4-v3" class="table-row-name text-bold">Problem 40 (Camp 4)</a>
							</div>
						</td>
						<td>V3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="The Force, V9. Yosemite Valley" href="/problems/yosemite-valley/the-force-v9" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Force, V9. Yosemite Valley" src="https://img.youtube.com/vi/WZQkLoTfw8k/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/the-force-v9" class="table-row-name text-bold">The Force</a>
							</div>
						</td>
						<td>V9</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Torque Spanner, V8. Yosemite Valley" href="/problems/yosemite-valley/torque-spanner-v8" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Torque Spanner, V8. Yosemite Valley" src="https://img.youtube.com/vi/_dXcns5g35Y/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/yosemite-valley/torque-spanner-v8" class="table-row-name text-bold">Torque Spanner</a>
							</div>
						</td>
						<td>V8</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>