<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kaïken 8a+ Boulder Problem in Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Kaïken Boulder Problem in Fontainebleau climbed by Camille Coudert | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/fontainebleau/kaiken-8a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/france" class="zone-header-tree-link">France</a>
	
	 > 
	<a href="/fontainebleau" class="zone-header-tree-link">Fontainebleau</a>
	 > 
	<a href="/sectors/fontainebleau/gros-sablons" class="zone-header-tree-link">Gros Sablons</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Kaïken, 8a+. Fontainebleau 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/rlWEaGBjK1g" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Kaïken </p>
		<p> {{ _("Grade") }}: 8a+ </p>
		
			<p> {{ _("Zone") }}: <a href="/fontainebleau">Fontainebleau</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/fontainebleau/gros-sablons">Gros Sablons</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/camille-coudert">Camille Coudert</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>