<!DOCTYPE html>
<html>
  <head>
    <title>Les Ombres d'Opaline 8a+ (droite) Boulder Problem in Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Les Ombres d'Opaline Boulder Problem in Fontainebleau climbed by Camille Coudert | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/fontainebleau/les-ombres-d-opaline-8a-droite">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/france" class="zone-header-tree-link">France</a>
	
	 > 
	<a href="/fontainebleau" class="zone-header-tree-link">Fontainebleau</a>
	 > 
	<a href="/sectors/fontainebleau/coquibus-rumont" class="zone-header-tree-link">Coquibus Rumont</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Les Ombres d'Opaline, 8a+ (droite). Fontainebleau 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/jEp_k6MJSfk" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Les Ombres d'Opaline </p>
		<p> {{ _("Grade") }}: 8a+ (droite) </p>
		<p> {{ _("Zone") }}: Fontainebleau </p>
		<p> {{ _("Sector") }}: Coquibus Rumont </p>
		<p> {{ _("Climber") }}: Camille Coudert </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>