<!DOCTYPE html>
<html>
  <head>
    <title>  </title>
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Unknown  </h2>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/squamish/problem/ATD">ATD, V7</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Anatomy_Lessons">Anatomy Lessons, V3</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Autobody">Autobody, V8</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Close_Shave">Close Shave, V7</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Crackhead">Crackhead, V3</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Cradle_Robber_Light">Cradle Robber Light, V6</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Dead_Sea_to_Israelia">Dead Sea to Israelia, V10</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Deadlift">Deadlift, V14</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Defender_of_the_Faith">Defender of the Faith, V9</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Easy_In_An_Easy_Chair">Easy In An Easy Chair, V4</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Gibbs_Cave">Gibb's Cave, V8</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Golden_Boy">Golden Boy, V7</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Its_About_Time">It's About Time, V5</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Majestic">Majestic, V6</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Missing_Reaction">Missing Reaction, V8</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Mr._Bigglesworth_Low">Mr. Bigglesworth Low, V10</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Palminator">Palminator, V4</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Physics_Hyperbole">Physics Hyperbole, V9</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Portable_Mantle">Portable Mantle, V4</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Prime_Time">Prime Time, V5 (sit)</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Progression_in_Backward_Thinking">Progression in Backward Thinking, V9</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Ramen_Raw">Ramen Raw, V7</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Resurrection">Resurrection, V9</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Send_the_Pain_Below">Send the Pain Below, V10</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Space_Monkey">Space Monkey, V5</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Space_Robber">Space Robber, V6</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Swank_Stretch">Swank Stretch, V5</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Tatonka">Tatonka, V9</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/The_Fuzz">The Fuzz, V7</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/The_Tugger">The Tugger, V6</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Timeless">Timeless, V5</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Trad_Killer">Trad Killer, V4</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Wafer_Decker">Wafer Decker, V6</a>
		</li>
		
		<li>
		  <a href="/squamish/problem/Worm_World_Cave_Low">Worm World Cave Low, V10</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>