<!DOCTYPE html>
<html>
  <head>
    <title>Les 3 Primes at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Les 3 Primes at Targasonne | MadBoulder">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/6Gu_xGMKfOI" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Les 3 Primes </p>
			<p> {{ _("Grade") }}: 6a (sit) </p>
			<p> {{ _("Zone") }}: Targasonne </p>
			<p> {{ _("Sector") }}: Carrière </p>
			<p> {{ _("Climber") }}: Aniol Santacreu </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>