<!DOCTYPE html>
<html>
  <head>
    <title>Ticket tacc at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Ticket tacc at Targasonne | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/targasonne/ticket-tacc">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/france" class="zone-header-tree-link">France</a>
	
	 > 
	<a href="/targasonne" class="zone-header-tree-link">Targasonne</a>
	 > 
	<a href="/sectors/targasonne/carriere" class="zone-header-tree-link">Carrière</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Ticket tacc 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/gmV8iUlOnHE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Ticket tacc </p>
		<p> {{ _("Grade") }}: 6c </p>
		<p> {{ _("Zone") }}: Targasonne </p>
		<p> {{ _("Sector") }}: Carrière </p>
		<p> {{ _("Climber") }}: Puigma </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>