<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Apremont Est at Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Apremont Est at Fontainebleau | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/fontainebleau/apremont-est">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/fontainebleau" class="zone-header-tree-link">Fontainebleau</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Apremont Est of Fontainebleau
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hyper Plomb, 7a. Fontainebleau" href="/problems/fontainebleau/hyper-plomb-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hyper Plomb, 7a. Fontainebleau" src="https://img.youtube.com/vi/cuX5xkAnTTw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/hyper-plomb-7a" class="table-row-name text-bold">Hyper Plomb</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'Alchimiste, 8b+. Fontainebleau" href="/problems/fontainebleau/l-alchimiste-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Alchimiste, 8b+. Fontainebleau" src="https://img.youtube.com/vi/Oa7-aj9OzWI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/l-alchimiste-8b" class="table-row-name text-bold">L'Alchimiste</a>
									</div>
								</td>
								<td>8b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La Science Friction, 6b. Fontainebleau" href="/problems/fontainebleau/la-science-friction-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Science Friction, 6b. Fontainebleau" src="https://img.youtube.com/vi/qFEnGb2PaGw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/la-science-friction-6b" class="table-row-name text-bold">La Science Friction</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Piano à Queue, 7a+ (sit). Fontainebleau" href="/problems/fontainebleau/le-piano-a-queue-7a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Piano à Queue, 7a+ (sit). Fontainebleau" src="https://img.youtube.com/vi/PyAoaypffNw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-piano-a-queue-7a-sit" class="table-row-name text-bold">Le Piano à Queue</a>
									</div>
								</td>
								<td>7a+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Onde de Choc, 7b. Fontainebleau" href="/problems/fontainebleau/onde-de-choc-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Onde de Choc, 7b. Fontainebleau" src="https://img.youtube.com/vi/TbjbwZNnR2Y/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/onde-de-choc-7b" class="table-row-name text-bold">Onde de Choc</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tank, 6b. Fontainebleau" href="/problems/fontainebleau/tank-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tank, 6b. Fontainebleau" src="https://img.youtube.com/vi/zGm2XXy__zI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/tank-6b" class="table-row-name text-bold">Tank</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Un Os sous l'Arête, 7c. Fontainebleau" href="/problems/fontainebleau/un-os-sous-l-arete-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Un Os sous l'Arête, 7c. Fontainebleau" src="https://img.youtube.com/vi/WfRvOEVsiZE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/un-os-sous-l-arete-7c" class="table-row-name text-bold">Un Os sous l'Arête</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>