<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Cuvier Rempart at Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Cuvier Rempart at Fontainebleau | MadBoulder">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Cuvier Rempart, Fontainebleau</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNcZshmspKCGJFiTdtHW-ea" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/fontainebleau/problem/fourmis-rouges">Fourmis Rouges, 7c</a>
		</li>
		
		<li>
		  <a href="/fontainebleau/problem/gourmandise-raccourci">Gourmandise Raccourci, 8a+</a>
		</li>
		
		<li>
		  <a href="/fontainebleau/problem/noir-desir">Noir Désir, 7c</a>
		</li>
		
		<li>
		  <a href="/fontainebleau/problem/noir-desir-gauche">Noir Désir (gauche), 7b</a>
		</li>
		
		<li>
		  <a href="/fontainebleau/problem/salathe-wall">Salathé Wall, 7c+ (sit)</a>
		</li>
		
		<li>
		  <a href="/fontainebleau/problem/salathe-wall">Salathé Wall, 7a+</a>
		</li>
		
		<li>
		  <a href="/fontainebleau/problem/tristesse">Tristesse, 7c</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>