<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Éléphant at Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Éléphant at Fontainebleau | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/fontainebleau/elephant.html">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Éléphant, Fontainebleau</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNwdjUZTCpobYTXg8eCc00a" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/fontainebleau/barre-fixe">Barre Fixe, 7b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/beta-hunter">Beta Hunter, 6a+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/figure-de-proue">Figure de Proue, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-dalle-a-poly">La Dalle à Poly, 5a</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-fleuriste">La Fleuriste, 5a</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-moreau">La Moreau, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-poule-le-luxe">La Poule le Luxe, 5c</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-prise-occulte">La Prise Occulte, 5a+</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-reptile">La Reptile, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-seance">La Séance, 4</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-traversee-du-surplomb-direct">La Traversée du Surplomb (direct), 4+</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/la-voie-michaud">La Voie Michaud, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/le-coeur">Le Cœur, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/le-lepreux">Le Lépreux , 7b</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/le-mono-exacerbe">Le Mono Exacerbé, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/les-inversees">Les Inversées, 5b</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/medaillon">Médaillon, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/fontainebleau/terminator">Terminator, 7s+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>