<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Franchard Isatis at Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Franchard Isatis at Fontainebleau | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/fontainebleau/franchard-isatis">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/fontainebleau" class="zone-header-tree-link">Fontainebleau</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Franchard Isatis of Fontainebleau
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMNOSNob4fNTTknMkA9piV0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="- (Franchard Isatis), 2+. Fontainebleau" href="/problems/fontainebleau/franchard-isatis-2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: - (Franchard Isatis), 2+. Fontainebleau" src="https://img.youtube.com/vi/xgorFL0EkGo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/franchard-isatis-2" class="table-row-name text-bold">- (Franchard Isatis)</a>
									</div>
								</td>
								<td>2+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="- (Franchard Isatis), 4-. Fontainebleau" href="/problems/fontainebleau/franchard-isatis-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: - (Franchard Isatis), 4-. Fontainebleau" src="https://img.youtube.com/vi/eMf4gyh2YEA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/franchard-isatis-4" class="table-row-name text-bold">- (Franchard Isatis)</a>
									</div>
								</td>
								<td>4-</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Alta, 7c. Fontainebleau" href="/problems/fontainebleau/alta-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Alta, 7c. Fontainebleau" src="https://img.youtube.com/vi/lxGCO-7yD6c/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/alta-7c" class="table-row-name text-bold">Alta</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Burn to Shine, 7c (gauche). Fontainebleau" href="/problems/fontainebleau/burn-to-shine-7c-gauche" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Burn to Shine, 7c (gauche). Fontainebleau" src="https://img.youtube.com/vi/Vz0ecm3usJI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/burn-to-shine-7c-gauche" class="table-row-name text-bold">Burn to Shine</a>
									</div>
								</td>
								<td>7c (gauche)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Crocodile, 4b. Fontainebleau" href="/problems/fontainebleau/crocodile-4b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Crocodile, 4b. Fontainebleau" src="https://img.youtube.com/vi/jjeZOiGszO8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/crocodile-4b" class="table-row-name text-bold">Crocodile</a>
									</div>
								</td>
								<td>4b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Crocodile, 6a. Fontainebleau" href="/problems/fontainebleau/crocodile-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Crocodile, 6a. Fontainebleau" src="https://img.youtube.com/vi/xEk4RrgSP6U/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/crocodile-6a" class="table-row-name text-bold">Crocodile</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="De Brevitate Vitae, 7a. Fontainebleau" href="/problems/fontainebleau/de-brevitate-vitae-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: De Brevitate Vitae, 7a. Fontainebleau" src="https://img.youtube.com/vi/HP1WXpJH8OI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/de-brevitate-vitae-7a" class="table-row-name text-bold">De Brevitate Vitae</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Donnant-Donnant, 7a. Fontainebleau" href="/problems/fontainebleau/donnant-donnant-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Donnant-Donnant, 7a. Fontainebleau" src="https://img.youtube.com/vi/GWJQWhYp0hU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/donnant-donnant-7a" class="table-row-name text-bold">Donnant-Donnant</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El Poussif, 7a+. Fontainebleau" href="/problems/fontainebleau/el-poussif-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El Poussif, 7a+. Fontainebleau" src="https://img.youtube.com/vi/Umi8HyoBVW0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/el-poussif-7a" class="table-row-name text-bold">El Poussif</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Estelle, 5+. Fontainebleau" href="/problems/fontainebleau/estelle-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Estelle, 5+. Fontainebleau" src="https://img.youtube.com/vi/VCPsTg3-aBY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/estelle-5" class="table-row-name text-bold">Estelle</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Froggy Dick, 7b. Fontainebleau" href="/problems/fontainebleau/froggy-dick-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Froggy Dick, 7b. Fontainebleau" src="https://img.youtube.com/vi/AE6nHh2VLUg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/froggy-dick-7b" class="table-row-name text-bold">Froggy Dick</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Furyax, 7a+. Fontainebleau" href="/problems/fontainebleau/furyax-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Furyax, 7a+. Fontainebleau" src="https://img.youtube.com/vi/ITO-HczdE3c/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/furyax-7a" class="table-row-name text-bold">Furyax</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Iceberg (par le haut), 8a. Fontainebleau" href="/problems/fontainebleau/iceberg-par-le-haut-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Iceberg (par le haut), 8a. Fontainebleau" src="https://img.youtube.com/vi/3FmhQzF-OAU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/iceberg-par-le-haut-8a" class="table-row-name text-bold">Iceberg (par le haut)</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Kanguru City, 7b+. Fontainebleau" href="/problems/fontainebleau/kanguru-city-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Kanguru City, 7b+. Fontainebleau" src="https://img.youtube.com/vi/2qkxSUS2mtk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/kanguru-city-7b" class="table-row-name text-bold">Kanguru City</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'Angle du Sérac, 6b+. Fontainebleau" href="/problems/fontainebleau/l-angle-du-serac-l-angle-facial-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Angle du Sérac, 6b+. Fontainebleau" src="https://img.youtube.com/vi/FXNHE3Z1KJ4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/l-angle-du-serac-l-angle-facial-6b" class="table-row-name text-bold">L'Angle du Sérac / L'angle Facial</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'Insoutenable Légèreté de l'Être, 8b. Fontainebleau" href="/problems/fontainebleau/l-insoutenable-legerete-de-l-etre-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Insoutenable Légèreté de l'Être, 8b. Fontainebleau" src="https://img.youtube.com/vi/oumrnSu7O10/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/l-insoutenable-legerete-de-l-etre-8b" class="table-row-name text-bold">L'Insoutenable Légèreté de l'Être</a>
									</div>
								</td>
								<td>8b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'arrache Coeur, 7c+. Fontainebleau" href="/problems/fontainebleau/l-arrache-coeur-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'arrache Coeur, 7c+. Fontainebleau" src="https://img.youtube.com/vi/wp8bRglk2l0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/l-arrache-coeur-7c" class="table-row-name text-bold">L'arrache Coeur</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La Fête de l’Insignifiance, 8b+. Fontainebleau" href="/problems/fontainebleau/la-fete-de-linsignifiance-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Fête de l’Insignifiance, 8b+. Fontainebleau" src="https://img.youtube.com/vi/D22x2aAEdyw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/la-fete-de-linsignifiance-8b" class="table-row-name text-bold">La Fête de l’Insignifiance</a>
									</div>
								</td>
								<td>8b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La Raie des Feses, 6c. Fontainebleau" href="/problems/fontainebleau/la-raie-des-feses-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Raie des Feses, 6c. Fontainebleau" src="https://img.youtube.com/vi/8FB_GVYWzr0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/la-raie-des-feses-6c" class="table-row-name text-bold">La Raie des Feses</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Casse-Dalle, 7a (sit). Fontainebleau" href="/problems/fontainebleau/le-casse-dalle-7a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Casse-Dalle, 7a (sit). Fontainebleau" src="https://img.youtube.com/vi/Am2x-Koa4BY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-casse-dalle-7a-sit" class="table-row-name text-bold">Le Casse-Dalle</a>
									</div>
								</td>
								<td>7a (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La Farine, 6b. Fontainebleau" href="/problems/fontainebleau/le-farine-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Farine, 6b. Fontainebleau" src="https://img.youtube.com/vi/O0GMJ0XC2BA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-farine-6b" class="table-row-name text-bold">Le Farine</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Mur des Lamentations, 7b+. Fontainebleau" href="/problems/fontainebleau/le-mur-des-lamentations-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Mur des Lamentations, 7b+. Fontainebleau" src="https://img.youtube.com/vi/t8JHQeFEgxQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-mur-des-lamentations-7b" class="table-row-name text-bold">Le Mur des Lamentations</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Pilier Légendaire, 7a+. Fontainebleau" href="/problems/fontainebleau/le-pilier-legendaire-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Pilier Légendaire, 7a+. Fontainebleau" src="https://img.youtube.com/vi/SxPvI9-gcDk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-pilier-legendaire-7a" class="table-row-name text-bold">Le Pilier Légendaire</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Poire, 5b. Fontainebleau" href="/problems/fontainebleau/le-poire-5b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Poire, 5b. Fontainebleau" src="https://img.youtube.com/vi/VKefm3QP05I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-poire-5b" class="table-row-name text-bold">Le Poire</a>
									</div>
								</td>
								<td>5b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Rétabomane, 6a. Fontainebleau" href="/problems/fontainebleau/le-retabomane-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Rétabomane, 6a. Fontainebleau" src="https://img.youtube.com/vi/RZNwL1kvvGI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-retabomane-6a" class="table-row-name text-bold">Le Rétabomane</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Tire-Bouchon, 5+. Fontainebleau" href="/problems/fontainebleau/le-tire-bouchon-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Tire-Bouchon, 5+. Fontainebleau" src="https://img.youtube.com/vi/5N_c-3zGNUc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/le-tire-bouchon-5" class="table-row-name text-bold">Le Tire-Bouchon</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Machete Kills Again, 7c. Fontainebleau" href="/problems/fontainebleau/machete-kills-again-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Machete Kills Again, 7c. Fontainebleau" src="https://img.youtube.com/vi/C8lJd2JrN8o/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/machete-kills-again-7c" class="table-row-name text-bold">Machete Kills Again</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mégawatt, 7c+. Fontainebleau" href="/problems/fontainebleau/megawatt-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mégawatt, 7c+. Fontainebleau" src="https://img.youtube.com/vi/x5mIjM2exUA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/megawatt-7c" class="table-row-name text-bold">Mégawatt</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Nezzundorma, 7a. Fontainebleau" href="/problems/fontainebleau/nezzundorma-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Nezzundorma, 7a. Fontainebleau" src="https://img.youtube.com/vi/u1QaqxCsdeE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/nezzundorma-7a" class="table-row-name text-bold">Nezzundorma</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="OK Corral, 7a. Fontainebleau" href="/problems/fontainebleau/ok-corral-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: OK Corral, 7a. Fontainebleau" src="https://img.youtube.com/vi/Mx4Xz4AaGOA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/ok-corral-7a" class="table-row-name text-bold">OK Corral</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Panzer, 7a+. Fontainebleau" href="/problems/fontainebleau/panzer-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Panzer, 7a+. Fontainebleau" src="https://img.youtube.com/vi/KoNaUVDsIGg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/panzer-7a" class="table-row-name text-bold">Panzer</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Shanti, 6c. Fontainebleau" href="/problems/fontainebleau/shanti-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Shanti, 6c. Fontainebleau" src="https://img.youtube.com/vi/oT63bLqt3kM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/shanti-6c" class="table-row-name text-bold">Shanti</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tango, 3b. Fontainebleau" href="/problems/fontainebleau/tango-3b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tango, 3b. Fontainebleau" src="https://img.youtube.com/vi/IxtH-4nZ1XU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/tango-3b" class="table-row-name text-bold">Tango</a>
									</div>
								</td>
								<td>3b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vin Rouge, 5a. Fontainebleau" href="/problems/fontainebleau/vin-rouge-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vin Rouge, 5a. Fontainebleau" src="https://img.youtube.com/vi/bkJRa5JUpQI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/fontainebleau/vin-rouge-5a" class="table-row-name text-bold">Vin Rouge</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>