<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Roche aux Sabots at Fontainebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Roche aux Sabots at Fontainebleau | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/fontainebleau/roche-aux-sabots">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Roche aux Sabots, Fontainebleau 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMVgU-hGQIQAPmbC0kkeKlN" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/chapeau-chinois" class="table-row-name text-bold">Chapeau Chinois</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/danger-majeur" class="table-row-name text-bold">Danger Majeur</a>
						</td>
						<td>7a (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/graviton" class="table-row-name text-bold">Graviton</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/jet-set" class="table-row-name text-bold">Jet Set</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/jeu-du-toit" class="table-row-name text-bold">Jeu du toit</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/l-angle-ghersen" class="table-row-name text-bold">L'Angle Ghersen</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/l-angle-a-jean-luc" class="table-row-name text-bold">L'Angle à Jean Luc</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/l-auriculaire" class="table-row-name text-bold">L'Auriculaire</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/la-narine" class="table-row-name text-bold">La Narine</a>
						</td>
						<td>6a (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/le-surplomb-a-coulisse" class="table-row-name text-bold">Le Surplomb à Coulisse</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/legalize-this" class="table-row-name text-bold">Legalize This</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/lucifer" class="table-row-name text-bold">Lucifer</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/no-mojo" class="table-row-name text-bold">No Mojo</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/passage-a-l-acte" class="table-row-name text-bold">Passage a l'Acte</a>
						</td>
						<td>5c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/reglette-a-calcul" class="table-row-name text-bold">Réglette à Calcul</a>
						</td>
						<td>5b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/smash" class="table-row-name text-bold">Smash</a>
						</td>
						<td>7b+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/fontainebleau/smash" class="table-row-name text-bold">Smash</a>
						</td>
						<td>7b</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>