<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector El Arenal at Alcañiz | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector El Arenal at Alcañiz | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/alcaniz/el-arenal">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> El Arenal, Alcañiz</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN3HzEWGS16rdcN24c84uaX" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/alcaniz/a-traves-de-los-huecos">A través de los huecos, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/abreviatura">Abreviatura, 5</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/al-aya-que-voy">Al aya que voy, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/al-norte-del-eden">Al norte del Edén, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/arenal-sound">Arenal Sound, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/aristocroto">Aristocroto, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/ano-del-conejo">Año del conejo, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/birdmatching">Birdmatching, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/bonito-paseo">Bonito paseo, 5</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/delicatesen">Delicatesen, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/el-barano-de-alcaniz">El Barano de Alcañiz, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/el-eden">El Edén, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/el-quintet">El Quintet, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/el-hombre-de-negro">El hombre de negro, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/el-pajarraco">El pajarraco, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/el-pajarraco">El pajarraco, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/eskimo">Eskimo, 5</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/finnish-press">Finnish press, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/flu-g-ecko">Flu-G-ecko, 6a+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/for-shorties-with-love">For Shorties with love, 7a (low)</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/fun-people">Fun People, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/heiligs-blechle">Heiligs Blechle, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/holey-grail">Holey Grail, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/jinete-palido">Jinete pálido, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/kleine-meise-grosses-herz">Kleine Meise großes Herz, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/la-duda">La duda, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/la-plegatina">La plegatina, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/links-der-mit">Links der mit, 5</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/mate-te">Mate te, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/maximo-quinto-mas">Maximo quinto más, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/mundo-romalia">Mundo romalia, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/no-relief">No Relief, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/not-so-evil-twin">Not so evil twin, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/pasion-por-la-birra">Pasión por la birra, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/peakaboo">Peakaboo, 5</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/romualdotegi">Romualdotegi, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/tacto-rectal-left">Tacto rectal Left, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/tantantan">Tantantan, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/uplifting">Uplifting, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/vectrex">Vectrex, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/watch-your-back">Watch your back, 5+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>