<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Manjus Place at Alcañiz | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Manjus Place at Alcañiz | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/alcaniz/manjus-place.html">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Manjus Place, Alcañiz</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM9cSc8nkaBoBBPecNq2IlG" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/alcaniz/ave">Ave, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/canguro">Canguro, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/duotriphobie">Duotriphobie, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/espoo">Espoo, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/fengshui">Fengshui, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/helsinki">Helsinki, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/hidden-gem">Hidden Gem, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/hidden-gem-left">Hidden Gem left, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/hidden-gem-right">Hidden Gem right, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/hidroelectrico">Hidroeléctrico, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/hydropaseo">Hydropaseo, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/luigi">Luigi, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/lunacy">Lunacy, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/lunatron">Lunatron, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/macrodose">Macrodose, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/manjus-place">Manjus Place, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/martzis-problem">Martzis problem, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/moist-side-of-the-moon">Moist side of the Moon, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/reolardo-left">Reolardo Left, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/resilience">Resilience, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/sistema-iberico">Sistema Ibérico, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/stay-forever">Stay Forever, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/stay-for-day">Stay for day, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/super-mario">Super Mario, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/via-finlandes">Via Finlandes, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/way-out-of-the-jam">Way out of the jam, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/wipeout">Wipeout, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/alcaniz/zelda">Zelda, 7a</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>