<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bushwhacker’s Roof V6 Boulder Problem in Sunol | MadBoulder</title>
	<meta name="description" content="Videos of Bushwhacker’s Roof Boulder Problem in Sunol climbed by Vikas Agartha | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/sunol/bushwhackers-roof-v6">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Bushwhacker’s Roof, V6. Sunol
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/qaYqbjH7w8U" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Bushwhacker’s Roof </p>
					<p> {{ _("Grade") }}: V6 </p>
					
						<p> {{ _("Zone") }}: Sunol</p>
						<p> {{ _("Sector") }}: Unknown</p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/vikas-agartha">Vikas Agartha</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>