<!DOCTYPE html>
<html lang="en">
  <head>
    <title>La Danse des Balrogs 8b Boulder Problem in Branson | MadBoulder</title>
	<meta name="description" content="Videos of La Danse des Balrogs Boulder Problem in Branson climbed by Samuel Ometz | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/branson/la-danse-des-balrogs-8b">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				La Danse des Balrogs, 8b. Branson
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/mX8isztPkKg" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: La Danse des Balrogs </p>
					<p> {{ _("Grade") }}: 8b </p>
					
						<p> {{ _("Zone") }}: Branson</p>
						<p> {{ _("Sector") }}: Pierre à Grosse</p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/samuel-ometz">Samuel Ometz</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>