<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Get funky 8a+ (low) Boulder Problem in Uppsala | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Get funky Boulder Problem in Uppsala climbed by Felix Abrahamsson | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/uppsala/get-funky-8a-low">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/sweden" class="zone-header-tree-link">Sweden</a>
	
	 > 
	<a href="/uppsala" class="zone-header-tree-link">Uppsala</a>
	 > 
	<a href="/sectors/uppsala/viss-garde" class="zone-header-tree-link">Viss gärde</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Get funky, 8a+ (low). Uppsala 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/GgNaar3dUnk" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Get funky </p>
		<p> {{ _("Grade") }}: 8a+ (low) </p>
		<p> {{ _("Zone") }}: <a href="/uppsala">Uppsala</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/uppsala/viss-garde">Viss gärde</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/felix-abrahamsson">Felix Abrahamsson</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>