<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Krach am Ohr 7a Boulder Problem in Okertal | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Krach am Ohr Boulder Problem in Okertal climbed by Malte Schütt | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/okertal/krach-am-ohr-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Krach am Ohr, 7a. Okertal 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/tMnsi0lq8R8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Krach am Ohr </p>
		<p> {{ _("Grade") }}: 7a </p>
		
			<p> {{ _("Zone") }}: Okertal</p>
			<p> {{ _("Sector") }}: Unknown</p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/malte-schutt">Malte Schütt</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>