<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Forest at Gold Bar | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Forest at Gold Bar | MadBoulder">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Forest, Gold Bar</h2>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/gold-bar/problem/bmoc">BMOC, V2</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/beam-me-up">Beam Me Up, V2</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/frequent-flyer">Frequent Flyer, V2</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/hagakure">Hagakure, V8</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/metroid-prime">Metroid Prime, V6</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/midnight-lichen">Midnight lichen, V4</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/road-to-zion">Road to Zion, V5</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/scotty">Scotty, V1</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/shortstop">Shortstop, V2</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/so-it-seams">So It Seams, V2</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/stinkin-slopers">Stinkin' Slopers, V5</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/stinkin-slopers-variation">Stinkin' Slopers Variation, V4</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/the-button">The Button, V3</a>
		</li>
		
		<li>
		  <a href="/gold-bar/problem/the-catcher">The Catcher, V0</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>