<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Sega lombarda at Val Masino | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Sega lombarda at Val Masino | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/val-masino/sega-lombarda">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Sega lombarda, Val Masino 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMJwiq4SxlSHFDtf5KJK4xq" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/val-masino/africa" class="table-row-name text-bold">Africa</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/val-masino/black-woman-dream" class="table-row-name text-bold">Black Woman Dream</a>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/val-masino/problem-a-boulder-8-sega-lombarda" class="table-row-name text-bold">Problem A (Boulder 8, Sega lombarda)</a>
						</td>
						<td>7c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/val-masino/problem-b-boulder-5-sega-lombarda" class="table-row-name text-bold">Problem B (Boulder 5, Sega lombarda)</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/val-masino/rastabilimento" class="table-row-name text-bold">Rastabilimento</a>
						</td>
						<td>7c+ (sit)</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>