<!DOCTYPE html>
<html>
  <head>
    <title>Problem 1 (Boulder 5, Metzger) at Wassen | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Problem 1 (Boulder 5, Metzger) at Wassen | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/wassen/problem-1-boulder-5-metzger">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
	
	 > 
	<a href="/states/uri" class="zone-header-tree-link">Uri</a>
	
	 > 
	<a href="/wassen" class="zone-header-tree-link">Wassen</a>
	 > 
	<a href="/sectors/wassen/metzger" class="zone-header-tree-link">Metzger</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Problem 1 (Boulder 5, Metzger) 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/aJtTxBjQJ5M" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Problem 1 (Boulder 5, Metzger) </p>
		<p> {{ _("Grade") }}: 5+ </p>
		<p> {{ _("Zone") }}: Wassen </p>
		<p> {{ _("Sector") }}: Metzger </p>
		<p> {{ _("Climber") }}: Aniol Santacreu </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>