<!DOCTYPE html>
<html>
  <head>
    <title>Problem A (La Sfinge) 7a Boulder Problem in Bagni di Masino | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Problem A (La Sfinge) Boulder Problem in Bagni di Masino climbed by Tommaso | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/bagni-di-masino/problem-a-la-sfinge-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/italy" class="zone-header-tree-link">Italy</a>
	
	 > 
	<a href="/bagni-di-masino" class="zone-header-tree-link">Bagni di Masino</a>
	 > 
	<a href="/sectors/bagni-di-masino/ersaf" class="zone-header-tree-link">Ersaf</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Problem A (La Sfinge), 7a. Bagni di Masino 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/Krt1-J6I9RU" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Problem A (La Sfinge) </p>
		<p> {{ _("Grade") }}: 7a </p>
		<p> {{ _("Zone") }}: Bagni di Masino </p>
		<p> {{ _("Sector") }}: Ersaf </p>
		<p> {{ _("Climber") }}: Tommaso </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>