@charset "UTF-8";

div#stats-areas {
	background-image: url('../images/about/stats-areas.webp');
}

div#stats-videos {
	background-image: url('../images/about/stats-videos.webp');
}

div#stats-contributors {
	background-image: url('../images/about/stats-contributors.webp');
}

.card-stats {
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: darken;
	color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  
	display: flex;
    flex-direction: column;
	justify-content: center;
	width: 312px;
	max-width: 100%;
	margin: 10px;
	border-radius: 4px;
	overflow: hidden;
}

.card-stats-value {
	margin-top: 2rem;
}

.card-stats-title {
	margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .card-stats {
	width: 280px;
  }

  .card-stats-value {
	margin-top: 1.5rem;
  }

  .card-stats-title {
	margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .card-stats {
	width: 170px;
	margin: 2px;
  }
  
  .card-stats-title {
	font-size: medium;
  }

  .card-stats-value {
	margin-top: 1.5rem;
  }

  .card-stats-title {
	margin-bottom: 1.5rem;
  }
}