.Layout {
    display: grid;
    --Layout-gutter: 16px;
    grid-auto-flow: column;
    grid-template-columns: auto 0 minmax(0, calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)));
    grid-gap: var(--Layout-gutter);
}

@media (min-width: 1012px){
    .Layout {
    --Layout-sidebar-width: 296px;
    }
}

@media (min-width: 768px){
    .Layout {
    --Layout-sidebar-width: 256px;
    }
}
@media (min-width: 1012px){
    .Layout {
    --Layout-gutter: 24px;
    }
}

.Layout.Layout--sidebarPosition-start .Layout-sidebar {
    grid-column: 1;
}

.Layout.Layout--sidebarPosition-start .Layout-main {
    grid-column: 2 / span 2;
}

.Layout-main {
    min-width: 0;
}

@media (max-width: 767.98px){
    .Layout.Layout--flowRow-until-md .Layout-divider, .Layout.Layout--flowRow-until-md .Layout-main, .Layout.Layout--flowRow-until-md .Layout-sidebar {
        grid-column: 1 !important;
        width: 100% !important;
    }
}

.Subhead {
    border-bottom: max(1px, 0.0625rem) solid #d0d7deb3;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.Subhead--spacious {
    margin-top: var(--base-size-40, 2.5rem);
}

.Subhead-heading {
    flex: 1 1 auto;
    font-weight: 400;
    order: 0;
}

.Subhead-heading--large {
    font-size: 1.5rem;
}

.Subhead-heading--danger {
    color: #d1242f;
    font-weight: 600;
}

.form-group {
    margin: 15px 0;
}

.form-group dt, .form-group .form-group-header {
    margin: 0 0 6px;
}

.form-group .form-control {
    width: 440px;
    max-width: 100%;
    max-width: 100%;
    margin-right: 5px;
    background-color: #f6f8fa;;
}

.form-control, .form-select, .form-checkbox {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.form-control, .form-select {
    padding: 5px 12px;
    color: #1f2328;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: inset 0px 1px 0px 0px #1f23280a;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}

.form-group .form-control.short {
    width: 250px;
}

.form-group .form-control.shortest {
    width: 125px;
}

.form-control:disabled{
    color: #8c959f;
    border-color: #eaeef2b3;
}

.form-checkbox {
    margin: 15px 0;
}

.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #636c76;
}

.Button {
    align-items: center;
    background-color: initial;
    border: var(--borderWidth-thin, max(1px, 0.0625rem)) solid;
    border-color: #0000;
    border-radius: var(--borderRadius-medium, 0.375rem);
    color: var(--button-default-fgColor-rest, var(--color-btn-text));
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.25rem;
    height: 2rem;
    justify-content: space-between;
    min-width: max-content;
    padding: 0 0.75rem;
    position: relative;
    text-align: center;
    transition: var(--duration-fast) var(--easing-easeInOut);
    transition-property: color, fill, background-color, border-color;
    -webkit-user-select: none;
    user-select: none;
}

.Button--primary {
    color: #ffffff;
    fill: #ffffffcc;
    background-color: #FAC12F;
    border-color: #1f232826;
    box-shadow: 0px 1px 0px 0px #1f23280a;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
}

.btn {
    color: #24292f;
    background-color: #f6f8fa;
    border-color: #d0d7de;
    box-shadow: 0px 1px 0px 0px #1f23280a;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}

.btn:hover, .btn.hover, [open]>.btn {
    background-color: #eef1f4;
    border-color: #d0d7de;
    transition-duration: .1s;
}

.btn:disabled, .btn.disabled, .btn[aria-disabled=true] {
    color: #8c959f;
    background-color: #f6f8fa;
    border-color: #d0d7de;
}

.btn:disabled, .btn.disabled, .btn[aria-disabled=true] {
    cursor: default;
}

.btn-danger {
    color: #d1242f;
    background-color: #f6f8fa;
    border-color: #d0d7de;
    box-shadow: 0px 1px 0px 0px #1f23280a;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
}

.btn-danger:hover, [open]>.btn-danger {
    color: #ffffff;
    background-color: #a40e26;
    border-color: #1f232826;
    box-shadow: 0px 1px 0px 0px #1f23280a;
}

.btn-transparent {
    border: none;
    background-color: transparent;
}

.btn-transparent:hover {
    background-color: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-user-selector {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 12px;
    border: 1px solid #888;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#climberIdSelect{
    margin-bottom: .5rem;
}

#userModalSelect{
    margin-bottom: .5rem;
}

.close-button {
    align-self: flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.context-menu-trigger {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.context-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    transform-origin: top right; /* Ensures the menu 'grows' leftwards from the button */
}

.context-menu-container {
    position: relative;
    display: inline-block;
}

.context-menu button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
}

.context-menu button:hover {
    background-color: #f6f6f6;
}

.context-menu button:not(:last-child) {
    border-bottom: 1px solid #eeeeee; /* Optional: add a separator between buttons */
}

table.dataTable tbody tr.odd .status-pending,
table.dataTable tbody tr.even .status-pending,
input.status-pending {
    background-color: #fff3cd !important;
}

table.dataTable tbody tr.odd .status-declined,
table.dataTable tbody tr.even .status-declined,
input.status-declined {
    background-color: #f8d7da !important;
}

table.dataTable tbody tr.odd .status-approved,
table.dataTable tbody tr.even .status-approved,
input.status-approved {
    background-color: #d4edda !important;
}

.remove-project-icon {
    cursor: pointer;
    color: #cc0000;
    margin-left: 10px;
}