

.remove-weather-widget-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
    border: none;
    color: inherit;
    background: transparent;
}

hr {
    border: none;
    border-top: 1px dotted black;
    margin: 0.1rem 0;
}

#area-selection {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    border: black;
    box-shadow: inset 0 0 0 1px #dfdfdf;
    border-style: dotted;
}

#area-selection button{
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: x-large;
}

.zone-selector-popup {
    display: none;
    position: fixed;
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
}

#search-box {
    width: 100%;
}

.zone-selector-popup ul {
    list-style: none;
    padding: 0;
}

.zone-selector-popup ul li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f0f0f0;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}

.bouldercast-blocks {
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    color: #000;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

.bouldercast-blocks h2{
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bouldercast-blocks h3{
    font-size: 18px;
    font-weight: 600;
}

.bouldercast-blocks p{
    margin: 0;
}

.bouldercast-blocks article h2{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.bouldercast-blocks .block-padding{
    padding: 50px 0px 60px 0px;
}

@media ((max-width: 1060px)){
    .bouldercast-blocks .block-padding{
        padding: 50px 60px 60px;
    }
}

.bouldercast-blocks .max-width{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

@media ((max-width: 1060px)){
    .bouldercast-blocks .max-width{
        width: auto;
    }
}

.bouldercast-block-wide-bg {
    padding: 40px 60px;
    background-color: #f1f4f7;
}

#bouldercast-desc {
    display: flex;
    align-items: center;
    line-height: 1.75;
}

@media (max-width: 767px){
    #bouldercast-desc {
        flex-direction: column-reverse;
    }
}

#bouldercast-desc img{
    margin-left: 25px;
    height: 180px;
}

#bouldercast-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#bouldercast-features .item{
    box-sizing: border-box;
    width: 47%;
    background-position: 0 2px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 35px;
    background-image: url('../images/hot-coffee.svg');
    background-size: 32px 32px;
}

@media (max-width: 767px){
    #bouldercast-features .item {
        width: 100%;
    }
}

#bouldercast-features h3{
    margin-top: 0;
    margin-bottom: 5px;
}


