@charset "UTF-8";

.country-overview{
	max-height: 100px; 
	overflow: hidden; 
	transition: max-height 0.3s ease-out;
}

.ellipsis-container{
	display: flex; 
	justify-content: center;
}

.ellipsis-container ellipsis{
	display: none;
}

.show-more-trigger{
	display: none;  
	cursor: pointer; 
	color: blue;
}