
.filter-box-container {
    display: none;
    justify-content: center;
}

.filter-box {
    background: white;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    width: 800px;
}

.filter-section {
    margin-top: 0.5rem;
}

.show-filters {
    display: flex;
}

.filter-reset-section {
    display: flex; 
    flex-direction: row-reverse;
}

.filter-reset-button {
    border:none; 
    background: transparent;
}

.filter-button {
    background: white;
    border-color: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.filter-button.filters-visible {
    color: white;
    background: #555555;
    border-color: white;
}

.slider-range {
    width: 80%;
    margin-left: 1em;
}

.ui-slider-range {
    background: #555555;
}

.ui-slider-handle {
    background: #555555;
}

.range-label {
    width: 50px;
    text-align: center;
}

.range_container {
    max-height: 1.2rem;
    margin-top: 1.2rem;
}

.filter-mark {
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.select2-container {
    width: 100%!important;
}
