ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}

/* Base styles for all ads */
.adsbygoogle-container {
    display: block;
    margin: 0 auto;
  }
  
  /* Default Ad Size (Horizontal for Desktop) */
  .adsbygoogle-container.horizontal-ad {
    width: 728px !important;
    height: 90px !important;
  }
  
  /* Smaller Desktop Ad Size */
  @media (max-width: 1024px) {
    .adsbygoogle-container.horizontal-ad {
      width: 970px !important;
      height: 90px !important;
    }
  }
  
  /* Mobile Ad Size */
  @media (max-width: 768px) {
    .adsbygoogle-container.horizontal-ad {
      width: 428px !important;
      height: 60px !important;
    }
  }
  
  /* Mobile Phones (portrait) */
  @media (max-width: 480px) {
    .adsbygoogle-container.horizontal-ad {
      width: 300px !important;
      height: 50px !important;
    }
  }
  
  
  /* Vertical Ad Sizes for Desktop (hidden on mobile) */
  .adsbygoogle-container.vertical-ad {
    width: 120px;
    height: 100%;
    max-height: 600px;
    max-width: 160px;
  }

  /* Vertical ad (160x600) */
  @media (min-width: 768px) {
    .adsbygoogle-container.vertical-ad {
      width: 160px;
      height: 100%;
    }
  }


  .vertical-ad-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .mobile-only {
    display: none;
  }
  
  .horizontal-ad-container {
    justify-self: center;
  }
  
  @media (max-width: 768px) {
    .mobile-only {
        display: block;
    }
    
    .desktop-only {
        display: none;
    }
  }
  