ul#lang-selector li {
    display: inline;
}

.my-card {
    position: absolute;
    left: 40%;
    top: -20px;
    /* border-radius: 50%; */
}

.stats-col {
    background-color: transparent;
    min-width: 155px;
    color: #fefefe;
}

.stats-content {
    font-size: 40px;
}

.stats-title {
    font-size: 20px;
}

#searchbar-input {
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 10px;
}

#search-text-input-large {
    display: inline;
    text-align: center;
    border-radius: 10px;
}

#search-text-input-small {
    display: none;
}

/* 767 = medium sized screen (sm) */
@media (max-width: 767px) {
    .my-card {
        position: absolute;
        left: 30%;
        top: -20px;
        border-radius: 50%;
    }

    .stats-title {
        font-size: 1.1rem;
    }

    .stats-content {
        font-size: 1.4rem;
    }

    .stats-col {
        min-width: 50%;
        height: 140px;
        width: 50%;
    }

    #searchbar-input {
        width: 80%;
        text-align: center;
        color: black;
        border-radius: 10px;
    }
}

#mainContainer {
    width: 100%;
    padding-left: 100px;
}

#welcome-text {
    color: #fefefe;
    font-weight: 300;
    font-size: 60px;
    padding-left: 15px;
}

#madboulder-text {
    color: #fefefe;
    font-weight: 400;
    font-size: 20px;
    padding-left: 15px;
}

#upload-text {
    color: #fefefe;
    font-weight: 300;
    font-size: 14px;
    padding-left: 15px;
}

.row {
    margin-right: 0px;
}

#placeholder1 {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* #placeholder1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../static/images/home_2.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  } */

/* #placeholder2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../static/images/home_1.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  } */

@media screen and (max-width: 600px) {
    #mainContainer {
        padding-left: 15px;
    }

    #welcome-text {
        color: #fefefe;
        font-weight: 300;
        font-size: 32px;
    }

    #madboulder-text {
        color: #fefefe;
        font-weight: 400;
        font-size: 16px;
    }

    #upload-text {
        color: #fefefe;
        /* font-weight: bold; */
        font-weight: 300;
        font-size: 12px;
    }

    #search-container {
        padding-right: 0px;
        padding-left: 20%;
    }

    #search-text-input-large {
        display: none;
    }

    #search-text-input-small {
        text-align: center;
        display: inline;
        border-radius: 10px;
    }
}