ul#lang-selector li {
    display: inline;
}

.my-card {
    position: absolute;
    left: 37.5%;
    top: -20px;
    border-radius: 50%;
}

.stats-col {
    min-width: 185px;
    max-width: 185px;
}

.stats-title {
    font-size: 0.9rem;
}

.stats-content {
    font-size: 1rem;
}

.tab {
    margin-bottom: 1rem;
}

/* 767 = medium sized screen (sm) */
@media (max-width: 767px) {
    .my-card {
        position: absolute;
        left: 33%;
        top: -20px;
        border-radius: 50%;
    }

    .stats-title {
        font-size: 0.9rem;
    }

    .stats-content {
        font-size: 0.8rem;
    }

    .stats-col {
        min-width: 140px;
        max-width: 140px;
        height: 120px;
        width: 140px;
    }
}

.weatherElement {
    margin: 15px 0;
}

.compareWeatherButtonContainer {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #big-weather-widget {
        display: none !important;
    }

    #small-weather-widget {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    #big-weather-widget {
        display: block;
    }

    #small-weather-widget {
        display: none !important;
    }
}

body {
    font-family: 'Raleway';
}

.list {
  display: none;
  margin-top: 0;
}

.opened {
  display: block;
}

.listTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggleIcon {
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
  transform: scale(0.8);
}

.problem-thumbnail-cell {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.video-thumbnail-container {
    width: 200px; 
    height: 96px; 
    position: relative;
}
@media (max-width: 768px) {
    .video-thumbnail-container {
        width: 160px; 
        height: 84px; 
    }
}

.video-thumbnail-img {
    display: block; 
    width: 100%; 
    height: 100%; 
    object-fit: 
    cover; object-position: var(--ytcp-img-with-fallback-object-position);
}

@media (min-width: 585px) {
    .problem-thumbnail-cell {
        flex-direction: row;
    }
}

@media (max-width: 584px) {
    .problem-thumbnail-cell {
        flex-direction: column;
    }
}

.user-container {
    display: flex;
    flex-direction: row;
}

.map-container {
    flex: 1;
    min-height: 300px;
    margin-left: 12px;
    margin-bottom: 12px;
}

@media (max-width: 768px) {
    .map-container {
        margin-left: 0;
    }
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
}

.btn-normal {
    margin-left: -1px;
    border-color: #ccc;
    background: #fff;
    color: #333;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.btn-normal:hover {
    background: #dee2e6;
}

#commentsTable {
    width: 100%;
}

.table-sm td {
    padding: .3rem;
    border-top: 1px solid #dee2e6;
}

#commentsTable td.comment {
    width: 100%;
    word-wrap: break-word;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #555555;
    text-align: center;
    padding-left: 1rem;
    margin-bottom: 0;
}

.ratingContainer span {
    margin-right: 0.2rem;
}

#trashRating {
    cursor: pointer;
    color: gray;
}

#trashRating:hover {
    color: rgb(243, 156, 18);
}

#deleteRating {
    display: none;
    cursor: pointer;
    color: gray;
}

.comments-section {
    margin-bottom: 10px;
}

.comments-header {
    font-weight: 900;
    font-size: 22px;
}

.comment-box {
    padding: 1.4rem 1rem 1rem;
    background-color: #dee2e6;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    width: 100%;
    padding: .8rem .75rem .75rem;
    height: 100px;
}

.comment-form .form-char-count {
    display: none;
    margin-bottom: .5rem;
    margin-top: .15rem;
    font-size: 12px;
    text-align: end;
}

.comment-form button {
    display: none;
}

#search-container, #problems-table_filter, #problems-table_filter label {
    width: 100%;
}

@media (max-width: 768px) {
    #area-thumbnail {
        overflow: visible;
    }
    #area-thumbnail img {
        margin: 0 -15px 0;
        max-width: calc(100% + 30px);
        width: calc(100% + 30px);
    }
}

#general-info p {
    font-size: 14px;
}