ul#lang-selector li {
    display: inline;
}

.my-card {
    position: absolute;
    left: 37.5%;
    top: -20px;
    border-radius: 50%;
}

.stats-col {
    min-width: 185px;
    max-width: 185px;
    height: 100px;
}

.stats-title {
    font-size: 0.9rem;
}

.stats-content {
    font-size: 1rem;
}

/* 767 = medium sized screen (sm) */
@media (max-width: 767px) {
    .my-card {
        position: absolute;
        left: 33%;
        top: -20px;
        border-radius: 50%;
    }

    .stats-title {
        font-size: 0.9rem;
    }

    .stats-content {
        font-size: 0.8rem;
    }

    .stats-col {
        min-width: 140px;
        max-width: 140px;
        height: 120px;
        width: 140px;
    }
}

@media only screen and (max-width: 600px) {
    #big-weather-widget {
        display: none !important;
    }

    #small-weather-widget {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    #big-weather-widget {
        display: block;
    }

    #small-weather-widget {
        display: none !important;
    }
}

body {
    font-family: 'Raleway';
}