/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  top: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.homeTopnav {
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
}

div #links {
	display: inline-block;
}

div .menuLink {
	display: inline-block;
	margin-right: 12px;
}

.homeTopnav #links a{
	color: #f2f2f2;
	font-size: 17px;
	text-decoration: none;
}

.homeTopnav button.icon {
  background-color: black;
	color: #f2f2f2;
	font-size: 17px;
	text-decoration: none;
  padding: 14px 16px;
  border: none;
}

.homeTopnav button.icon-show-small {
  display: none;
}

.homeTopnav div#searchElement {
  display: inline-block;
  margin-right: 12px;
  position: relative;
  width: 240px;
  vertical-align: middle;
}

@media screen and (max-width: 820px) {
  .homeTopnav {
    overflow: hidden;
    background-color: black;
  }

  .homeTopnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  
  homeTopnav button.icon:not(:first-child){
    display: none;
  }
  
  .homeTopnav div.menuLink {
    display: none;
  }
  
  .homeTopnav div#links {
    display: none	;
  }
  
  .homeTopnav.responsive div#links {
    display: flow-root;
  }

  .homeTopnav button.icon-show-small {
    float: right;
    display: block;
  }

  .homeTopnav.responsive {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
	width: -webkit-fill-available;
  }

  .homeTopnav.responsive.sticky button.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .homeTopnav.responsive button.icon {
    position: absolute;
    right: 15px;
    top: 24px;
  }

  .homeTopnav.responsive div.menuLink {
    float: none;
    display: block;
    text-align: left;
	margin-top: 4px;
	margin-bottom: 8px;
	margin-left: 12px;
  }

  .homeTopnav.responsive .dropdown {
    float: none;
  }

  .homeTopnav.responsive .dropdown-content {
    position: relative;
  }

  .homeTopnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


@media screen and (max-width: 400px) {
  .homeTopnav div#searchElement {
	  width: 220px;
	}
}


@media screen and (max-width: 380px) {
  .homeTopnav div#searchElement {
	  width: 200px;
	}
}

.Overlay:modal {
  position: fixed;
}

.Overlay.Overlay--placement-right {
  animation-name: Overlay--motion-slideInLeft;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  inset: 0 0 0 auto;
}

.Overlay.Overlay--placement-left, .Overlay.Overlay--placement-right {
  height: 100%;
  max-height: unset;
  position: fixed;
}
.Overlay.Overlay--size-small-portrait {
  --overlay-height: 432px;
  --overlay-width: 320px;
}
.Overlay {
  background-color: #ffffff;
  border: 0;
  border-radius: var(--borderRadius-large, 0.75rem);
  box-shadow: var(--shadow-floating-small, var(--color-overlay-shadow));
  color: #1f2328;
  display: flex;
  flex-direction: column;
  inset: 0;
  margin: auto;
  max-height: min(100vh - 2rem, var(--overlay-height));
  min-width: 192px;
  opacity: 1;
  padding: 0;
  position: static;
  white-space: normal;
  width: min(var(--overlay-width), 100vw - 2rem);
}

dialog.Overlay:not([open]) {
  display: none;
}

.Overlay-header {
  color: #1f2328;
  z-index: 1;
}
.Overlay-form, .Overlay-header {
  display: flex;
  flex-direction: column;
}

.Overlay-header .Overlay-headerContentWrap {
  align-items: flex-center;
  justify-content: flex-end;
  display: flex;
  gap: var(--stack-gap-condensed, 0.5rem);
  padding: var(--stack-gap-condensed, 0.5rem) var(--stack-gap-condensed, 0.5rem) 0 var(--stack-gap-condensed, 0.5rem);
}

.SidePanel>.Overlay-header>.Overlay-headerContentWrap>.Overlay-titleWrap {
  padding-top: 8px;
}

.Overlay-header .Overlay-headerContentWrap .Overlay-titleWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--control-small-gap, 0.25rem);
  padding: calc(var(--stack-gap-condensed, 0.5rem)* .75) 0 calc(var(--stack-gap-condensed, 0.5rem)* .75) var(--stack-gap-condensed, 0.5rem);
}
.AppHeader .Overlay-titleWrap {
  width: 100%;
  overflow-x: hidden;
}

.Truncate {
  display: inline-flex;
  max-width: 100%;
  min-width: 0;
}

.Truncate>.Truncate-text {
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 1ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SidePanel>.Overlay-header>.Overlay-headerContentWrap>.Overlay-actionWrap {
  padding: 8px;
}
.Overlay-header .Overlay-headerContentWrap .Overlay-actionWrap {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Overlay-closeButton {
  position: relative;
  display: grid;
  width: var(--base-size-32, 2rem);
  height: var(--base-size-32, 2rem);
  padding: 0;
  color: #636c76;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  user-select: none;
  background-color: initial;
  border: var(--borderWidth-thin, max(1px, 0.0625rem)) solid transparent;
  border-radius: var(--borderRadius-medium, 0.375rem);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  align-self: flex-start;
  flex-shrink: 0;
  place-content: center;
}

.Overlay-body {
  flex-grow: 1;
  font-size: var(--text-body-size-medium, 0.875rem);
  overflow-y: auto;
  padding: var(--stack-padding-normal, 1rem);
  padding-top: 0;
  scrollbar-width: thin;
}

.ActionList {
  padding: 8px;
}

.ActionListWrap {
  list-style: none;
}

.ActionList ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.ActionListItem {
  background-color: #ffffff00;
  border-radius: 0.375rem;
  list-style: none;
  position: relative;
}

.ActionListItem a {
  color: var(--fgColor-accent, var(--color-accent-fg));
  text-decoration: none;
}

.ActionListItem label {
  font-weight: 600;
}

.ActionListItem:hover {
  background-color: #d0d7de33;
}

.ActionListItem.ActionListItem--navActive {
  outline: 2px solid #0000;
}

.ActionListItem.ActionListItem--navActive:not(.ActionListItem--danger) {
  background: #d0d7de33;
}

.ActionListItem.ActionListItem--navActive:not(.ActionListItem--danger):after {
  background: #0969da;
  border-radius: 0.375rem;
  content: "";
  height: var(--base-size-24, 1.5rem);
  left: calc(var(--base-size-8, 0.5rem)* -1);
  position: absolute;
  top: calc(50% - 12px);
  width: var(--base-size-4, 0.25rem);
}

.ActionListContent {
  background-color: initial;
  border: none;
  border-radius: 0.375rem;
  color: #24292f;
  display: grid;
  align-items: center;
  padding-block: 0.375rem;
  padding-inline: 0.5rem;
  position: relative;
  text-align: left;
  touch-action: manipulation;
  transition: background 33.333ms linear;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  grid-template-areas: "leadingAction leadingVisual label trailingVisual trailingAction";
  grid-template-columns: min-content min-content minmax(0, auto) min-content min-content;
  grid-template-rows: min-content;
}


.ActionListItem-label {
  color: #1f2328;
  font-size: 0.875rem;
  font-weight: 400;
  grid-area: label;
  line-height: 1.4285;
  position: relative;
}

.ActionListItem.ActionListItem--navActive:not(.ActionListItem--subItem) .ActionListItem-label {
  font-weight: 600;
}

.ActionList-sectionDivider:empty {
  display: block;
  height: 1px;
  padding: 0;
  margin: 7px -8px 8px;
  list-style: none;
  background: #d0d7deb3;
  border: 0;
}

.ActionList-sectionDivider:not(:empty) {
  display: flex;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 600;
  color: #636c76;
  flex-direction: column;
}

.ActionList-sectionDivider .ActionList-sectionDivider-title {
  font-size: 12px;
  font-weight: 600;
  color: #636c76;
}