#upload-form {
    display: grid;
    padding: 1.5rem;
    background-color: rgb(245 245 245);
    border-radius: .5rem;
    grid-template-columns: 1fr 2.5fr;
    width: 18rem;
    gap: 0.8rem;
}

@media (min-width: 768px){
    #upload-form {
        width: 30rem;
    }
}

#upload-form .form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#upload-form .full-width {
    grid-column: 1 / -1;
}

#upload-form .section-checkbox {
    flex-flow: row;
    align-items: center;
}

#upload-form input[type="text"],  #upload-form input[type="email"],  #upload-form input[type="file"]{
    width: 100%;
}

#upload-form textarea {
    width: 100%;
}

#upload-form input[type="checkbox"]{
    margin-right: 0.2rem; 
}

#progress-container {
    display: none;
}

#upload-form progress {
    width: 100%;
    margin-right: 0.2rem; 
}

#upload-form .alert {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#upload-form .text-xs {
    font-size: .75rem;
    line-height: 1rem;
}