
.weather-container{
    margin-top: 0.5rem;
    padding: 4px;
    border-radius: 4px;
    position: relative;
}

.weather-container.dark{
    background-color: #131224;
    color: white !important; 
}

.weather-container.light{
    background-color: white;
    color: #131224 !important;
    box-shadow: inset 0 0 0 1px #dfdfdf;
}

.weather-title-container{
    FONT-WEIGHT: 600;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.weather-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 4px;
}

.weather-info{
    display: flex;
    flex-direction: row;
}

.current-weather{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    padding: 0.5em 0.45em;
    justify-content: space-around;
}

.current-weather-icon{
    text-align: center;
    width: 5.25rem;
}

.current-weather-desc{
    width: 5.25rem; height: 5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.current-weather-temperature{
    font-size: 1.6em;
}

.current-weather-description{
    font-size: 0.9em;
    max-width: 12.5rem;
    padding: 0 1px;
    margin: 0 auto;
}

.current_weather-stats{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_weather-stats-temp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.current_weather-stats-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weather-max-temperature{
    color: #dc2b2b;
}

.light .weather-min-temperature {
    color: #1279c2;
}

.dark .weather-min-temperature {
    color: #93bffe;
}

.weather-forecast{
    flex-grow: 12; font-size: 0.8em; text-align: center; display: flex; justify-content: space-between;
}

.weather-forecast-container{
    padding: 0.6em 0.3em;
    width: 14.2857%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-forecast-day-icon{
    width: 2.75rem;
    height: 2.75rem;
}

.weather-forecast-day-stats{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    flex-wrap: nowrap;
}

.weather-forecast-day-stats-temp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.weather-forecast-day-stats-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@media (max-width: 1000px){
    .weather-info{
        flex-direction: column;
    }
        
}