body {
    overflow-y: scroll;
}

ul#lang-selector li {
    display: inline;
}

a.zone-card-link,
a.zone-card-link:hover {
    color: inherit;
    text-decoration: none;
}

.active-filter-selection {
    border-radius: 0.3rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: thin;
    border-color: #ccc;
}

.active-filter-text-list-item {
    padding-left: 0.75rem;
}

.active-filter-text {
    padding-left: 0.75rem;
    margin-right: 0.1rem;
}

/* .item-icon {
    color: white;
  } */
select {
    -webkit-appearance: none;
}

/* input:focus, */
/* textarea:focus, */
/* button:focus, */
select:focus {
    outline: none;
}

#sort-criteria {
    height: 100%;
    border-radius: inherit;
    padding-left: 0.6rem;
    align-self: center;
    text-align: left;
    text-align-last: left;
    appearance: none;
    border: none;
    background-color: #ffffff;
}

.card-title {
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1.1rem;
}

.card-image-text {
    position: absolute;
    color: white;
    bottom: -16px;
    right: 0px;
    background: #555555AA;
    padding: 2px;
    font-size: x-small;
}

/* .sort-btn{
    border-radius: 0.25rem;
  } */
.joint-btns {
    border-radius: 0.25rem;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.zone-card {
    border-color: black;
    border-width: medium;
}

@media only screen and (max-width: 600px) {
    div.custom-card {
        max-width: 50%;
    }

    .zone-card {
        max-width: 70%;
        margin: 15%;
    }
}

@media only screen and (min-width: 600px) {
    .zone-card {
        margin: 2.5rem;
    }
}

.filter-box-container {
    display: none;
    justify-content: center;
}

.filter-box {
    background: white;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    width: 800px;
}

.filter-section {
    margin-top: 0.5rem;
}

.show-filters {
    display: flex;
}

.filter-reset-section {
    display: flex; 
    flex-direction: row-reverse;
}

.filter-reset-button {
    border:none; 
    background: transparent;
}

.filter-button {
    background: white;
    border-color: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.filter-button.filters-visible {
    color: white;
    background: #555555;
    border-color: white;
}

.slider-range {
    width: 80%;
    margin-left: 1em;
}

.ui-slider-range {
    background: #555555;
}

.ui-slider-handle {
    background: #555555;
}

.range-label {
    width: 50px;
    text-align: center;
}

.range_container {
    max-height: 1.2rem;
    margin-top: 1.2rem;
}

.filter-mark {
    display: none;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}

.select2-container {
    width: 100%!important;
}
