<!DOCTYPE html>
<html>
  <head>
    <title>The Walker V9 Boulder Problem in Grampians | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of The Walker Boulder Problem in Grampians climbed by Andrew Beckworth | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/grampians/the-walker-v9">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/australia" class="zone-header-tree-link">Australia</a>
	
	 > 
	<a href="/grampians" class="zone-header-tree-link">Grampians</a>
	 > 
	<a href="/sectors/grampians/the-bleachers" class="zone-header-tree-link">The Bleachers</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 The Walker, V9. Grampians 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/GvAaXuJFJa0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: The Walker </p>
		<p> {{ _("Grade") }}: V9 </p>
		<p> {{ _("Zone") }}: Grampians </p>
		<p> {{ _("Sector") }}: The Bleachers </p>
		<p> {{ _("Climber") }}: Andrew Beckworth </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>