<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Voodoo Stones at Lake Tahoe | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Voodoo Stones at Lake Tahoe | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/lake-tahoe/voodoo-stones">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
			</div>
			<h1 class="zone-header-title text-bold">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
			   
				> 
			   <a href="/states/california" class="zone-header-tree-link">California</a>
			   
				> 
			   <a href="/lake-tahoe" class="zone-header-tree-link">Lake Tahoe</a>
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fallen Leaf, V9. Lake Tahoe" href="/problems/lake-tahoe/fallen-leaf-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fallen Leaf, V9. Lake Tahoe" src="https://img.youtube.com/vi/XWYJzdKxD6E/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/lake-tahoe/fallen-leaf-v9" class="table-row-name text-bold">Fallen Leaf</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pure Gold, V10 (low). Lake Tahoe" href="/problems/lake-tahoe/pure-gold-v10-low" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pure Gold, V10 (low). Lake Tahoe" src="https://img.youtube.com/vi/TKeIm32gc28/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/lake-tahoe/pure-gold-v10-low" class="table-row-name text-bold">Pure Gold</a>
									</div>
								</td>
								<td>V10 (low)</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>