<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Moa at Xistral | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Moa at Xistral | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/xistral/moa">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/galicia" class="zone-header-tree-link">Galicia</a>
			   
				> 
			   <a href="/xistral" class="zone-header-tree-link">Xistral</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Moa of Xistral
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPJMMhsADJJv03AJP4ERVA3" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Momo, 4. Xistral" href="/problems/xistral/momo-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Momo, 4. Xistral" src="https://img.youtube.com/vi/j0OOJx8Iz5I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/xistral/momo-4" class="table-row-name text-bold">Momo</a>
									</div>
								</td>
								<td>4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 3 (Moa), 3. Xistral" href="/problems/xistral/problem-moa-3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 3 (Moa), 3. Xistral" src="https://img.youtube.com/vi/GIlX66LzK1w/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/xistral/problem-moa-3" class="table-row-name text-bold">Problem  (Moa)</a>
									</div>
								</td>
								<td>3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 17 (Moa), 6b. Xistral" href="/problems/xistral/problem-17-moa-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 17 (Moa), 6b. Xistral" src="https://img.youtube.com/vi/Hw-v_Rq527k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/xistral/problem-17-moa-6b" class="table-row-name text-bold">Problem 17 (Moa)</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 18 (Moa), 6a. Xistral" href="/problems/xistral/problem-18-moa-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 18 (Moa), 6a. Xistral" src="https://img.youtube.com/vi/mDszza_R9zA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/xistral/problem-18-moa-6a" class="table-row-name text-bold">Problem 18 (Moa)</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 33 (Moa). Xistral" href="/problems/xistral/problem-33-moa-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 33 (Moa). Xistral" src="https://img.youtube.com/vi/SAhxNJP7ftY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/xistral/problem-33-moa-unknown" class="table-row-name text-bold">Problem 33 (Moa)</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>