<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Clàssic - Camí at Salvanebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Clàssic - Camí at Salvanebleau | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/salvanebleau/classic-cami">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/salvanebleau" class="zone-header-tree-link">Salvanebleau</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Clàssic - Camí 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMHtjo3d-Lu5I_aDpc3bTgw" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Els petits canvis son poderosos. Salvanebleau" href="/problems/salvanebleau/els-petits-canvis-son-poderosos" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Els petits canvis son poderosos. Salvanebleau" src="https://img.youtube.com/vi/TH9UfH14KF4/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/els-petits-canvis-son-poderosos" class="table-row-name text-bold">Els petits canvis son poderosos</a>
							</div>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Els tres merlets, 6b+. Salvanebleau" href="/problems/salvanebleau/els-tres-merlets" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Els tres merlets, 6b+. Salvanebleau" src="https://img.youtube.com/vi/0pmnZ3wa0mU/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/els-tres-merlets" class="table-row-name text-bold">Els tres merlets</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="L'Ouresta, 7c. Salvanebleau" href="/problems/salvanebleau/l-ouresta" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Ouresta, 7c. Salvanebleau" src="https://img.youtube.com/vi/Xai_R_V808M/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/l-ouresta" class="table-row-name text-bold">L'Ouresta</a>
							</div>
						</td>
						<td>7c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Nebula, 7a. Salvanebleau" href="/problems/salvanebleau/nebula" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Nebula, 7a. Salvanebleau" src="https://img.youtube.com/vi/nmU5ONnp8VQ/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/nebula" class="table-row-name text-bold">Nebula</a>
							</div>
						</td>
						<td>7a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Pit-Roig, 7b. Salvanebleau" href="/problems/salvanebleau/pit-roig" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pit-Roig, 7b. Salvanebleau" src="https://img.youtube.com/vi/ihaBIM0njUw/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/pit-roig" class="table-row-name text-bold">Pit-Roig</a>
							</div>
						</td>
						<td>7b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 1 (Paper de Fumar), 6b+. Salvanebleau" href="/problems/salvanebleau/problem-1-paper-de-fumar" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 1 (Paper de Fumar), 6b+. Salvanebleau" src="https://img.youtube.com/vi/mc31k2NPTzE/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-1-paper-de-fumar" class="table-row-name text-bold">Problem 1 (Paper de Fumar)</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 1 (Portaavions), 6a. Salvanebleau" href="/problems/salvanebleau/problem-1-portaavions" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 1 (Portaavions), 6a. Salvanebleau" src="https://img.youtube.com/vi/YSFzY27rZGo/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-1-portaavions" class="table-row-name text-bold">Problem 1 (Portaavions)</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 1 (Silvestre), 6c. Salvanebleau" href="/problems/salvanebleau/problem-1-silvestre" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 1 (Silvestre), 6c. Salvanebleau" src="https://img.youtube.com/vi/oAYMwC9IRdk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-1-silvestre" class="table-row-name text-bold">Problem 1 (Silvestre)</a>
							</div>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 2 (La Pasterada), 6a. Salvanebleau" href="/problems/salvanebleau/problem-2-la-pasterada" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 2 (La Pasterada), 6a. Salvanebleau" src="https://img.youtube.com/vi/3W97G7HC8-o/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-2-la-pasterada" class="table-row-name text-bold">Problem 2 (La Pasterada)</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 2 (Portaavions), 5. Salvanebleau" href="/problems/salvanebleau/problem-2-portaavions" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 2 (Portaavions), 5. Salvanebleau" src="https://img.youtube.com/vi/ORlIOruOmGA/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-2-portaavions" class="table-row-name text-bold">Problem 2 (Portaavions)</a>
							</div>
						</td>
						<td>5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 2 (Silvestre), 6a. Salvanebleau" href="/problems/salvanebleau/problem-2-silvestre" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 2 (Silvestre), 6a. Salvanebleau" src="https://img.youtube.com/vi/PqAednedqUY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-2-silvestre" class="table-row-name text-bold">Problem 2 (Silvestre)</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 3 (Portaavions), 4. Salvanebleau" href="/problems/salvanebleau/problem-3-portaavions" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 3 (Portaavions), 4. Salvanebleau" src="https://img.youtube.com/vi/NOIoEKp1-OU/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-3-portaavions" class="table-row-name text-bold">Problem 3 (Portaavions)</a>
							</div>
						</td>
						<td>4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 3 (Silvestre), 5. Salvanebleau" href="/problems/salvanebleau/problem-3-silvestre" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 3 (Silvestre), 5. Salvanebleau" src="https://img.youtube.com/vi/K7dKzqBmSDk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-3-silvestre" class="table-row-name text-bold">Problem 3 (Silvestre)</a>
							</div>
						</td>
						<td>5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 4 (Paper de Fumar), 6c (sit). Salvanebleau" href="/problems/salvanebleau/problem-4-paper-de-fumar" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 4 (Paper de Fumar), 6c (sit). Salvanebleau" src="https://img.youtube.com/vi/c1a4ILzd4b4/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-4-paper-de-fumar" class="table-row-name text-bold">Problem 4 (Paper de Fumar)</a>
							</div>
						</td>
						<td>6c (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 4 (Paper de Fumar), 6a. Salvanebleau" href="/problems/salvanebleau/problem-4-paper-de-fumar" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 4 (Paper de Fumar), 6a. Salvanebleau" src="https://img.youtube.com/vi/xjQ-bND_3kk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-4-paper-de-fumar" class="table-row-name text-bold">Problem 4 (Paper de Fumar)</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Problem 4 (Portaavions), 3+. Salvanebleau" href="/problems/salvanebleau/problem-4-portaavions" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 4 (Portaavions), 3+. Salvanebleau" src="https://img.youtube.com/vi/Z0FHdTUm9HQ/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/problem-4-portaavions" class="table-row-name text-bold">Problem 4 (Portaavions)</a>
							</div>
						</td>
						<td>3+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Semilla de la Duda, 7b. Salvanebleau" href="/problems/salvanebleau/semilla-de-la-duda" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Semilla de la Duda, 7b. Salvanebleau" src="https://img.youtube.com/vi/yIiD0Ae7_1Q/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/salvanebleau/semilla-de-la-duda" class="table-row-name text-bold">Semilla de la Duda</a>
							</div>
						</td>
						<td>7b</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>