<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Mallencosa at Salvanebleau | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Mallencosa at Salvanebleau | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/salvanebleau/mallencosa">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/salvanebleau" class="zone-header-tree-link">Salvanebleau</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Mallencosa 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMnOApclrRGxj1mk0MBnQel" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/ave-felix" class="table-row-name text-bold">Ave Félix</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/el-fugitiu" class="table-row-name text-bold">El Fugitiu</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/el-fugitiu-sit" class="table-row-name text-bold">El Fugitiu sit</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/el-dofi" class="table-row-name text-bold">El dofí</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/guantanamera" class="table-row-name text-bold">Guantanamera</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/l-ensigalada" class="table-row-name text-bold">L'ensigalada</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/mortadelo-y-guillemon" class="table-row-name text-bold">Mortadelo y Guillemón</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/noa" class="table-row-name text-bold">Noa</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/oraculo" class="table-row-name text-bold">Oraculo</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/problem-1-bloc-del-rovello" class="table-row-name text-bold">Problem 1 (Bloc del Rovelló)</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/problem-1-el-dofi" class="table-row-name text-bold">Problem 1 (El Dofí)</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/somiatruites" class="table-row-name text-bold">Somiatruites</a>
						</td>
						<td>7b/+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/salvanebleau/talon-de-aquiles" class="table-row-name text-bold">Talón de Aquiles</a>
						</td>
						<td>Unknown</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>