<!DOCTYPE html>
<html>
  <head>
    <title>Problem 2 (Bloc del Camí) at Maldà | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Problem 2 (Bloc del Camí) at Maldà | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/malda/problem-2-bloc-del-cami">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/malda" class="zone-header-tree-link">Maldà</a>
	 > 
	<a href="/sectors/malda/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Problem 2 (Bloc del Camí) 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/S4PIL3Tif7E" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Problem 2 (Bloc del Camí) </p>
		<p> {{ _("Grade") }}: 4 </p>
		<p> {{ _("Zone") }}: Maldà </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Aniol Santacreu </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>