<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Problem 1 (El Dau Cara Sud - Verd) 4+ Boulder Problem in Maldà | MadBoulder</title>
	<meta name="description" content="Videos of Problem 1 (El Dau Cara Sud - Verd) Boulder Problem in Maldà climbed by Aniol Santacreu | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/malda/problem-1-el-dau-cara-sud-verd-4">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/malda" class="zone-header-tree-link">Maldà</a>
				> 
				<a href="/sectors/malda/unknown" class="zone-header-tree-link">Unknown</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Problem 1 (El Dau Cara Sud - Verd), 4+. Maldà
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/W1UgymWpj9s" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Problem 1 (El Dau Cara Sud - Verd) </p>
					<p> {{ _("Grade") }}: 4+ </p>
					
						<p> {{ _("Zone") }}: <a href="/malda">Maldà</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/malda/unknown">Unknown</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/aniol-santacreu">Aniol Santacreu</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>