<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector La Curva at Val Daone | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector La Curva at Val Daone | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/val-daone/la-curva">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/italy" class="zone-header-tree-link">Italy</a>
			   
				> 
			   <a href="/val-daone" class="zone-header-tree-link">Val Daone</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector La Curva of Val Daone
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPC6cFDSHD8Vy2XyfHb31Yd" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Analogia, 8a. Val Daone" href="/problems/val-daone/analogia-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Analogia, 8a. Val Daone" src="https://img.youtube.com/vi/6vQnvu3bOag/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/analogia-8a" class="table-row-name text-bold">Analogia</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Antologia, 7b+. Val Daone" href="/problems/val-daone/antologia-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Antologia, 7b+. Val Daone" src="https://img.youtube.com/vi/XF3Z68fD9IQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/antologia-7b" class="table-row-name text-bold">Antologia</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bogaboo Rider, 8a. Val Daone" href="/problems/val-daone/bogaboo-rider-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bogaboo Rider, 8a. Val Daone" src="https://img.youtube.com/vi/H70XwqOMjL0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/bogaboo-rider-8a" class="table-row-name text-bold">Bogaboo Rider</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Creep, 5c. Val Daone" href="/problems/val-daone/creep-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Creep, 5c. Val Daone" src="https://img.youtube.com/vi/ZtMH9Hz_Jlg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/creep-5c" class="table-row-name text-bold">Creep</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="David Mamba, 7a. Val Daone" href="/problems/val-daone/david-mamba-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: David Mamba, 7a. Val Daone" src="https://img.youtube.com/vi/GyXIvOPERnM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/david-mamba-7a" class="table-row-name text-bold">David Mamba</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ganja Tartara, 8a. Val Daone" href="/problems/val-daone/ganja-tartara-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ganja Tartara, 8a. Val Daone" src="https://img.youtube.com/vi/5OVvTgZyN7A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/ganja-tartara-8a" class="table-row-name text-bold">Ganja Tartara</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Il Ré di Drena, 6a. Val Daone" href="/problems/val-daone/il-re-di-drena-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Il Ré di Drena, 6a. Val Daone" src="https://img.youtube.com/vi/A7HJiRawGaA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/il-re-di-drena-6a" class="table-row-name text-bold">Il Ré di Drena</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="In Visita, 7a. Val Daone" href="/problems/val-daone/in-visita-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: In Visita, 7a. Val Daone" src="https://img.youtube.com/vi/8dhul59eeks/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/in-visita-7a" class="table-row-name text-bold">In Visita</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'Ufficio del Teschio, 7c+. Val Daone" href="/problems/val-daone/l-ufficio-del-teschio-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Ufficio del Teschio, 7c+. Val Daone" src="https://img.youtube.com/vi/lsnF8Z3iCmE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/l-ufficio-del-teschio-7c" class="table-row-name text-bold">L'Ufficio del Teschio</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La notte scende, 7a. Val Daone" href="/problems/val-daone/la-notte-scende-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La notte scende, 7a. Val Daone" src="https://img.youtube.com/vi/1veV0iwc8qs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/la-notte-scende-7a" class="table-row-name text-bold">La notte scende</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Müller Thurgan, 6c+. Val Daone" href="/problems/val-daone/muller-thurgan-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Müller Thurgan, 6c+. Val Daone" src="https://img.youtube.com/vi/N3AGBrPyUoY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/muller-thurgan-6c" class="table-row-name text-bold">Müller Thurgan</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem B (Boulder 12, La Curva), 6a. Val Daone" href="/problems/val-daone/problem-b-boulder-12-la-curva-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem B (Boulder 12, La Curva), 6a. Val Daone" src="https://img.youtube.com/vi/RpFp8fNNmHY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/problem-b-boulder-12-la-curva-6a" class="table-row-name text-bold">Problem B (Boulder 12, La Curva)</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem M (Boulder 1, La Curva), 5c. Val Daone" href="/problems/val-daone/problem-m-boulder-1-la-curva-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem M (Boulder 1, La Curva), 5c. Val Daone" src="https://img.youtube.com/vi/bZSgUEGdyCA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/problem-m-boulder-1-la-curva-5c" class="table-row-name text-bold">Problem M (Boulder 1, La Curva)</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem N (Boulder 1, La Curva), 5a. Val Daone" href="/problems/val-daone/problem-n-boulder-1-la-curva-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem N (Boulder 1, La Curva), 5a. Val Daone" src="https://img.youtube.com/vi/aQVJnxHLRVo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/problem-n-boulder-1-la-curva-5a" class="table-row-name text-bold">Problem N (Boulder 1, La Curva)</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem N (Boulder 17, La Curva), 6a. Val Daone" href="/problems/val-daone/problem-n-boulder-17-la-curva-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem N (Boulder 17, La Curva), 6a. Val Daone" src="https://img.youtube.com/vi/XJx0DUlRdTY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/problem-n-boulder-17-la-curva-6a" class="table-row-name text-bold">Problem N (Boulder 17, La Curva)</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem O (Boulder 1, La Curva), 3a. Val Daone" href="/problems/val-daone/problem-o-boulder-1-la-curva-3a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem O (Boulder 1, La Curva), 3a. Val Daone" src="https://img.youtube.com/vi/YuMwovHtYlY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/problem-o-boulder-1-la-curva-3a" class="table-row-name text-bold">Problem O (Boulder 1, La Curva)</a>
									</div>
								</td>
								<td>3a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Salto Morticale, 7c+. Val Daone" href="/problems/val-daone/salto-morticale-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Salto Morticale, 7c+. Val Daone" src="https://img.youtube.com/vi/Esq9xS-n2-o/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/salto-morticale-7c" class="table-row-name text-bold">Salto Morticale</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Something Special, 5c. Val Daone" href="/problems/val-daone/something-special-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Something Special, 5c. Val Daone" src="https://img.youtube.com/vi/V2uByeLFocY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/something-special-5c" class="table-row-name text-bold">Something Special</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tarta Salsara, 7c .Val Daone" href="/problems/val-daone/tarta-salsara-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tarta Salsara, 7c .Val Daone" src="https://img.youtube.com/vi/IXOqfcF7BaA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/val-daone/tarta-salsara-7c" class="table-row-name text-bold">Tarta Salsara</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>