<!DOCTYPE html>
<html>
  <head>
    <title>My Strange Addiction at La Roca del Vallès | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of My Strange Addiction at La Roca del Vallès | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/la-roca-del-valles/my-strange-addiction.html">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/sLYV5dSdGJ8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: My Strange Addiction </p>
			<p> {{ _("Grade") }}: Unknown </p>
			<p> {{ _("Zone") }}: La Roca del Vallès </p>
			<p> {{ _("Sector") }}: Morro de Gall </p>
			<p> {{ _("Climber") }}: Jordi Arabia </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>