<!DOCTYPE html>
<html>
  <head>
    <title>El mercenario at Can Boquet | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of El mercenario at Can Boquet | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/can-boquet/el-mercenario">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/can-boquet" class="zone-header-tree-link">Can Boquet</a>
	 > 
	<a href="/sectors/can-boquet/jonny-dawes" class="zone-header-tree-link">Jonny Dawes</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 El mercenario 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/HjzqulWiSP0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: El mercenario </p>
		<p> {{ _("Grade") }}: 6a+ </p>
		<p> {{ _("Zone") }}: Can Boquet </p>
		<p> {{ _("Sector") }}: Jonny Dawes </p>
		<p> {{ _("Climber") }}: Aniol Santacreu </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>