<!DOCTYPE html>
<html lang="en">
  <head>
    <title>El Bosc 33 Boulder in Cavallers | MadBoulder</title>
	<meta name="description" content="Beta Videos in El Bosc 33 Boulder in Cavallers | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	

	<link rel="canonical" href="https://www.madboulder.org/boulders/cavallers/el-bosc-33">
	
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/cavallers" class="zone-header-tree-link">Cavallers</a>
				> 
				<a href="/sectors/cavallers/el-bosc" class="zone-header-tree-link">El Bosc</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				El Bosc 33 Boulder
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<div>
				
				<div class="map-container" id="mapid"></div>
				<script>
					var mymap = L.map('mapid').setView([42.576242, 0.848788], 15);
				
					// Base layer
					var streetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
						maxZoom: 18,
					}).addTo(mymap);
				
					// Satellite layer (for ortho view)
					var satelliteMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', { // Use a satellite imagery provider URL
						attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
						maxZoom: 18,
					});
				
					var customIcon = L.icon({
						iconUrl: '/static/images/marker/marker.webp', // URL to your custom icon
						iconSize: [24, 24], // Size of the icon
						iconAnchor: [12, 12], // Point of the icon which will correspond to marker's location
						popupAnchor: [0, -12] // Point from which the popup should open relative to the iconAnchor
					});
				
					var marker = L.marker([42.576242, 0.848788], {icon: customIcon}).addTo(mymap);
					marker.bindPopup("<b> {{ _('Boulder Location') }}</b><br><a href='https://www.google.com/maps?q=42.576242,0.848788' target='_blank'>{{ _('Open in Google Maps') }}</a>").openPopup();				
					var baseLayers = {
						"Street Map": streetMap,
						"Satellite": satelliteMap
					};
				
					L.control.layers(baseLayers).addTo(mymap);
				</script>
				
			</div>
			<!-- Mid Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5728767573"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="4665061365"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<!--Problem List-->
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Kus kus, 6c+. Cavallers" href="/problems/cavallers/kus-kus-6c" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Kus kus, 6c+. Cavallers" src="https://img.youtube.com/vi/J5ksAyMXuI4/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/cavallers/kus-kus-6c" class="table-row-name text-bold">Kus kus</a>
						</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Magma, 6c+. Cavallers" href="/problems/cavallers/magma-6c" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Magma, 6c+. Cavallers" src="https://img.youtube.com/vi/Sbqpn2WExgA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/cavallers/magma-6c" class="table-row-name text-bold">Magma</a>
						</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Odissea, 6c+. Cavallers" href="/problems/cavallers/odissea-6c" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Odissea, 6c+. Cavallers" src="https://img.youtube.com/vi/qwbsZMmoaQk/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/cavallers/odissea-6c" class="table-row-name text-bold">Odissea</a>
						</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Unisex, 7b. Cavallers" href="/problems/cavallers/unisex-7b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Unisex, 7b. Cavallers" src="https://img.youtube.com/vi/p7IpXWCZhhA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/cavallers/unisex-7b" class="table-row-name text-bold">Unisex</a>
						</div>
								</td>
								<td>7b</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>