<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at San Cassiano | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at San Cassiano | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/san-cassiano/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
			</div>
			<h1 class="zone-header-title text-bold">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/italy" class="zone-header-tree-link">Italy</a>
			   
				> 
			   <a href="/san-cassiano" class="zone-header-tree-link">San Cassiano</a>
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Blocco Gino, 7b. San Cassiano" href="/problems/san-cassiano/blocco-gino-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Blocco Gino, 7b. San Cassiano" src="https://img.youtube.com/vi/zYKABydVDVs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/blocco-gino-7b" class="table-row-name text-bold">Blocco Gino</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Blocco Gino extended, 8a. San Cassiano" href="/problems/san-cassiano/blocco-gino-extended-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Blocco Gino extended, 8a. San Cassiano" src="https://img.youtube.com/vi/TvziH2wZG_I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/blocco-gino-extended-8a" class="table-row-name text-bold">Blocco Gino extended</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Blocco Pedeferri, 8a. San Cassiano" href="/problems/san-cassiano/blocco-pedeferri-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Blocco Pedeferri, 8a. San Cassiano" src="https://img.youtube.com/vi/Iwo8ghjvR6g/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/blocco-pedeferri-8a" class="table-row-name text-bold">Blocco Pedeferri</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hachioji, 8B+. San Cassiano" href="/problems/san-cassiano/hachioji-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hachioji, 8B+. San Cassiano" src="https://img.youtube.com/vi/4zP6UVxecQg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/hachioji-8b" class="table-row-name text-bold">Hachioji</a>
									</div>
								</td>
								<td>8B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Il Dino, 7c. San Cassiano" href="/problems/san-cassiano/il-dino-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Il Dino, 7c. San Cassiano" src="https://img.youtube.com/vi/vQCUdC5Kocc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/il-dino-7c" class="table-row-name text-bold">Il Dino</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La placca, 7a. San Cassiano" href="/problems/san-cassiano/la-placca-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La placca, 7a. San Cassiano" src="https://img.youtube.com/vi/0MtUaQOn17U/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/la-placca-7a" class="table-row-name text-bold">La placca</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mano armata, 8B. San Cassiano" href="/problems/san-cassiano/mano-armata-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mano armata, 8B. San Cassiano" src="https://img.youtube.com/vi/lj_Y_dZCDq8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/mano-armata-8b" class="table-row-name text-bold">Mano armata</a>
									</div>
								</td>
								<td>8B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Montala, 7c. San Cassiano" href="/problems/san-cassiano/montala-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Montala, 7c. San Cassiano" src="https://img.youtube.com/vi/Erix-5Mwe_0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/montala-7c" class="table-row-name text-bold">Montala</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Per totti, 7a. San Cassiano" href="/problems/san-cassiano/per-totti-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Per totti, 7a. San Cassiano" src="https://img.youtube.com/vi/jGqF8Dnu-0Y/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/per-totti-7a" class="table-row-name text-bold">Per totti</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Puma's Den, 8A. San Cassiano" href="/problems/san-cassiano/the-puma-s-den-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Puma's Den, 8A. San Cassiano" src="https://img.youtube.com/vi/gfoLK3pe_s0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/the-puma-s-den-8a" class="table-row-name text-bold">The Puma's Den</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vai Sereno, 7b. San Cassiano" href="/problems/san-cassiano/vai-sereno-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vai Sereno, 7b. San Cassiano" src="https://img.youtube.com/vi/5OZ4sHJuyKg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/san-cassiano/vai-sereno-7b" class="table-row-name text-bold">Vai Sereno</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>