<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The number of the best 7c Boulder Problem in Fisterra | MadBoulder</title>
	<meta name="description" content="Videos of The number of the best Boulder Problem in Fisterra climbed by Benito Santos | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/fisterra/the-number-of-the-best-7c">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				The number of the best, 7c. Fisterra
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/MNA_BIMSN0c" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: The number of the best </p>
					<p> {{ _("Grade") }}: 7c </p>
					
						<p> {{ _("Zone") }}: Fisterra</p>
						<p> {{ _("Sector") }}: Facho</p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/benito-santos">Benito Santos</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>