<!DOCTYPE html>
<html>
  <head>
    <title>Aben Razín 8a (sit) Boulder Problem in Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Aben Razín Boulder Problem in Albarracín climbed by Camille Coudert | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/albarracin/aben-razin-8a-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
	
	 > 
	<a href="/albarracin" class="zone-header-tree-link">Albarracín</a>
	 > 
	<a href="/sectors/albarracin/loma-de-la-tejeria" class="zone-header-tree-link">Loma de la Tejería</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Aben Razín, 8a (sit). Albarracín 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/saw1wwVyMwQ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Aben Razín </p>
		<p> {{ _("Grade") }}: 8a (sit) </p>
		<p> {{ _("Zone") }}: Albarracín </p>
		<p> {{ _("Sector") }}: Loma de la Tejería </p>
		<p> {{ _("Climber") }}: Camille Coudert </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>