<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bleau's art 6c Boulder Problem in Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Bleau's art Boulder Problem in Albarracín climbed by Aniol Santacreu | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/albarracin/bleau-s-art-6c">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
	
	 > 
	<a href="/albarracin" class="zone-header-tree-link">Albarracín</a>
	 > 
	<a href="/sectors/albarracin/entreaguas" class="zone-header-tree-link">Entreaguas</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Bleau's art, 6c. Albarracín 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/LJkPzSIKmP4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Bleau's art </p>
		<p> {{ _("Grade") }}: 6c </p>
		<p> {{ _("Zone") }}: Albarracín </p>
		<p> {{ _("Sector") }}: Entreaguas </p>
		<p> {{ _("Climber") }}: Aniol Santacreu </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>