<!DOCTYPE html>
<html>
  <head>
    <title>La huella del jabalí at Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of La huella del jabalí at Albarracín | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/albarracin/la-huella-del-jabali">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				   La huella del jabalí, Albarracín 
			    </h1>
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/Ru_Gk1CRjOs" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: La huella del jabalí </p>
			<p> {{ _("Grade") }}: 7b+ </p>
			<p> {{ _("Zone") }}: Albarracín </p>
			<p> {{ _("Sector") }}: La fuente </p>
			<p> {{ _("Climber") }}: Bender </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>