<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Liliputada 7a+ Boulder Problem in Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Liliputada Boulder Problem in Albarracín climbed by Thomas Collignon | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/albarracin/liliputada-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
	
	 > 
	<a href="/albarracin" class="zone-header-tree-link">Albarracín</a>
	 > 
	<a href="/sectors/albarracin/territorio-discovery" class="zone-header-tree-link">Territorio Discovery</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Liliputada, 7a+. Albarracín 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/2V5IxZKIoBQ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Liliputada </p>
		<p> {{ _("Grade") }}: 7a+ </p>
		
			<p> {{ _("Zone") }}: <a href="/albarracin">Albarracín</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/albarracin/territorio-discovery">Territorio Discovery</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/thomas-collignon">Thomas Collignon</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>