<!DOCTYPE html>
<html>
  <head>
    <title>El Carcamal 7a Boulder Problem in Buñol | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of El Carcamal Boulder Problem in Buñol climbed by Rauldiazboulder | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/bunol/el-carcamal-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/valencian-community" class="zone-header-tree-link">Valencian Community</a>
	
	 > 
	<a href="/bunol" class="zone-header-tree-link">Buñol</a>
	 > 
	<a href="/sectors/bunol/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 El Carcamal, 7a. Buñol 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/4nVuNA6XJ0c" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: El Carcamal </p>
		<p> {{ _("Grade") }}: 7a </p>
		<p> {{ _("Zone") }}: Buñol </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Rauldiazboulder </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>