<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Halley at Can Boquet | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Halley at Can Boquet | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/can-boquet/halley">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
			   
				> 
			   <a href="/can-boquet" class="zone-header-tree-link">Can Boquet</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Halley of Can Boquet
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNv38fRIiqJp4kQLytJTOUr" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Agua bendita, 6a+. Can Boquet" href="/problems/can-boquet/agua-bendita-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Agua bendita, 6a+. Can Boquet" src="https://img.youtube.com/vi/5itcl_07L3k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/agua-bendita-6a" class="table-row-name text-bold">Agua bendita</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Apocalipsis, 7a. Can Boquet" href="/problems/can-boquet/apocalipsis-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Apocalipsis, 7a. Can Boquet" src="https://img.youtube.com/vi/5o7GqrM1rVI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/apocalipsis-7a" class="table-row-name text-bold">Apocalipsis</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Aprieta los dientes, 6a+. Can Boquet" href="/problems/can-boquet/aprieta-los-dientes-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Aprieta los dientes, 6a+. Can Boquet" src="https://img.youtube.com/vi/low5_7O32RM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/aprieta-los-dientes-6a" class="table-row-name text-bold">Aprieta los dientes</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Aprieta los dientes Right, 5+. Can Boquet" href="/problems/can-boquet/aprieta-los-dientes-right-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Aprieta los dientes Right, 5+. Can Boquet" src="https://img.youtube.com/vi/_Q5F7c4ZRfU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/aprieta-los-dientes-right-5" class="table-row-name text-bold">Aprieta los dientes Right</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bala perdida, 7a. Can Boquet" href="/problems/can-boquet/bala-perdida-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bala perdida, 7a. Can Boquet" src="https://img.youtube.com/vi/gdw-Ic5_rmM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/bala-perdida-7a" class="table-row-name text-bold">Bala perdida</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Buen rollito, 7a+. Can Boquet" href="/problems/can-boquet/buen-rollito-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Buen rollito, 7a+. Can Boquet" src="https://img.youtube.com/vi/MfOripfq1Uc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/buen-rollito-7a" class="table-row-name text-bold">Buen rollito</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Demenciales, 7c?. Can Boquet" href="/problems/can-boquet/demenciales-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Demenciales, 7c?. Can Boquet" src="https://img.youtube.com/vi/3jZfqKApmSU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/demenciales-7c" class="table-row-name text-bold">Demenciales</a>
									</div>
								</td>
								<td>7c?</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El broncejador, 6a. Can Boquet" href="/problems/can-boquet/el-broncejador-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El broncejador, 6a. Can Boquet" src="https://img.youtube.com/vi/fHI0w2RuklY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/el-broncejador-6a" class="table-row-name text-bold">El broncejador</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El maestro, 5+. Can Boquet" href="/problems/can-boquet/el-maestro-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El maestro, 5+. Can Boquet" src="https://img.youtube.com/vi/iCJN8NsvOAs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/el-maestro-5" class="table-row-name text-bold">El maestro</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El perro mocho, 5+. Can Boquet" href="/problems/can-boquet/el-perro-mocho-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El perro mocho, 5+. Can Boquet" src="https://img.youtube.com/vi/mmLphbnliJU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/el-perro-mocho-5" class="table-row-name text-bold">El perro mocho</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El poder de la mente, 7c+ (sit). Can Boquet" href="/problems/can-boquet/el-poder-de-la-mente-7c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El poder de la mente, 7c+ (sit). Can Boquet" src="https://img.youtube.com/vi/693uuMl_TuU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/el-poder-de-la-mente-7c-sit" class="table-row-name text-bold">El poder de la mente</a>
									</div>
								</td>
								<td>7c+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El poder de spiderjoan, 8a. Can Boquet" href="/problems/can-boquet/el-poder-de-spiderjoan-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El poder de spiderjoan, 8a. Can Boquet" src="https://img.youtube.com/vi/nAl1m5cVfW0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/el-poder-de-spiderjoan-8a" class="table-row-name text-bold">El poder de spiderjoan</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="En busca de la bala perdida, 7b+. Can Boquet" href="/problems/can-boquet/en-busca-de-la-bala-perdida-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: En busca de la bala perdida, 7b+. Can Boquet" src="https://img.youtube.com/vi/l0_EyUezZXE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/en-busca-de-la-bala-perdida-7b" class="table-row-name text-bold">En busca de la bala perdida</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Força bruta, 5+. Can Boquet" href="/problems/can-boquet/forca-bruta-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Força bruta, 5+. Can Boquet" src="https://img.youtube.com/vi/s941bHmyZ7k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/forca-bruta-5" class="table-row-name text-bold">Força bruta</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ke te den!!, 5. Can Boquet" href="/problems/can-boquet/ke-te-den-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ke te den!!, 5. Can Boquet" src="https://img.youtube.com/vi/8nyuLOslFxk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/ke-te-den-5" class="table-row-name text-bold">Ke te den!!</a>
									</div>
								</td>
								<td>5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La cardada, 6a+. Can Boquet" href="/problems/can-boquet/la-cardada-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La cardada, 6a+. Can Boquet" src="https://img.youtube.com/vi/wkOal4u8Zcw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/la-cardada-6a" class="table-row-name text-bold">La cardada</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La gustosa, 6a. Can Boquet" href="/problems/can-boquet/la-gustosa-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La gustosa, 6a. Can Boquet" src="https://img.youtube.com/vi/Qf34EI6xl7w/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/la-gustosa-6a" class="table-row-name text-bold">La gustosa</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La polla redors, 5+. Can Boquet" href="/problems/can-boquet/la-polla-redors-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La polla redors, 5+. Can Boquet" src="https://img.youtube.com/vi/B_1g2iWdrYk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/la-polla-redors-5" class="table-row-name text-bold">La polla redors</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La rabia sale sola, 6b+. Can Boquet" href="/problems/can-boquet/la-rabia-sale-sola-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La rabia sale sola, 6b+. Can Boquet" src="https://img.youtube.com/vi/n30w8afwBZY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/la-rabia-sale-sola-6b" class="table-row-name text-bold">La rabia sale sola</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Libertad, 6b. Can Boquet" href="/problems/can-boquet/libertad-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Libertad, 6b. Can Boquet" src="https://img.youtube.com/vi/jmAQz9Jd62c/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/libertad-6b" class="table-row-name text-bold">Libertad</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mamas on sight, 5+. Can Boquet" href="/problems/can-boquet/mamas-on-sight-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mamas on sight, 5+. Can Boquet" src="https://img.youtube.com/vi/tqKipBgN0xo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/mamas-on-sight-5" class="table-row-name text-bold">Mamas on sight</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Movilizate, 6c+. Can Boquet" href="/problems/can-boquet/movilizate-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Movilizate, 6c+. Can Boquet" src="https://img.youtube.com/vi/960Ckyug3_w/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/movilizate-6c" class="table-row-name text-bold">Movilizate</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Movilizate, 7a+ (sit). Can Boquet" href="/problems/can-boquet/movilizate-7a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Movilizate, 7a+ (sit). Can Boquet" src="https://img.youtube.com/vi/b7QukXMCDlk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/movilizate-7a-sit" class="table-row-name text-bold">Movilizate</a>
									</div>
								</td>
								<td>7a+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Muñec, 6a. Can Boquet" href="/problems/can-boquet/munec-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Muñec, 6a. Can Boquet" src="https://img.youtube.com/vi/FqD6SlPwg4U/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/munec-6a" class="table-row-name text-bold">Muñec</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Papas at home, 6a. Can Boquet" href="/problems/can-boquet/papas-at-home-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Papas at home, 6a. Can Boquet" src="https://img.youtube.com/vi/NcxE2L9cVYg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/papas-at-home-6a" class="table-row-name text-bold">Papas at home</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ponte Nivea, 7b. Can Boquet" href="/problems/can-boquet/ponte-nivea-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ponte Nivea, 7b. Can Boquet" src="https://img.youtube.com/vi/iBOQyW4ZcZg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/ponte-nivea-7b" class="table-row-name text-bold">Ponte Nivea</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Rampingui, 3. Can Boquet" href="/problems/can-boquet/rampingui-3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Rampingui, 3. Can Boquet" src="https://img.youtube.com/vi/e_P8hhNMJFc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/rampingui-3" class="table-row-name text-bold">Rampingui</a>
									</div>
								</td>
								<td>3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Spiderjoan, 6c. Can Boquet" href="/problems/can-boquet/spiderjoan-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Spiderjoan, 6c. Can Boquet" src="https://img.youtube.com/vi/ZI-TyT8v1sM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/spiderjoan-6c" class="table-row-name text-bold">Spiderjoan</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tanto tienes tanto vales, 6a. Can Boquet" href="/problems/can-boquet/tanto-tienes-tanto-vales-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tanto tienes tanto vales, 6a. Can Boquet" src="https://img.youtube.com/vi/WkYp2WBhH0A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/tanto-tienes-tanto-vales-6a" class="table-row-name text-bold">Tanto tienes tanto vales</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tanto vales tanto eres, 4. Can Boquet" href="/problems/can-boquet/tanto-vales-tanto-eres-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tanto vales tanto eres, 4. Can Boquet" src="https://img.youtube.com/vi/1TlUFopK3Dc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/tanto-vales-tanto-eres-4" class="table-row-name text-bold">Tanto vales tanto eres</a>
									</div>
								</td>
								<td>4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Teciway, 5. Can Boquet" href="/problems/can-boquet/teciway-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Teciway, 5. Can Boquet" src="https://img.youtube.com/vi/w0o5_zfRXy8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/teciway-5" class="table-row-name text-bold">Teciway</a>
									</div>
								</td>
								<td>5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Teciway Left, 4+. Can Boquet" href="/problems/can-boquet/teciway-left-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Teciway Left, 4+. Can Boquet" src="https://img.youtube.com/vi/VWl5LcjNDic/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/teciway-left-4" class="table-row-name text-bold">Teciway Left</a>
									</div>
								</td>
								<td>4+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Teciway Right, 5. Can Boquet" href="/problems/can-boquet/teciway-right-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Teciway Right, 5. Can Boquet" src="https://img.youtube.com/vi/eGhgAxfZFdk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/teciway-right-5" class="table-row-name text-bold">Teciway Right</a>
									</div>
								</td>
								<td>5</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Traveltotortu, 7a+. Can Boquet" href="/problems/can-boquet/traveltotortu-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Traveltotortu, 7a+. Can Boquet" src="https://img.youtube.com/vi/e7gD22vtmEY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/traveltotortu-7a" class="table-row-name text-bold">Traveltotortu</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Venganza y triunfo, 6b (sit). Can Boquet" href="/problems/can-boquet/venganza-y-triunfo-6b-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Venganza y triunfo, 6b (sit). Can Boquet" src="https://img.youtube.com/vi/pxihywW2nN8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/venganza-y-triunfo-6b-sit" class="table-row-name text-bold">Venganza y triunfo</a>
									</div>
								</td>
								<td>6b (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vertical reality, 6a. Can Boquet" href="/problems/can-boquet/vertical-reality-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vertical reality, 6a. Can Boquet" src="https://img.youtube.com/vi/ze_Fpeed8SQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/can-boquet/vertical-reality-6a" class="table-row-name text-bold">Vertical reality</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>