<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Nou at Can Boquet | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Nou at Can Boquet | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/can-boquet/nou">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Nou, Can Boquet 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOwLiGSbGbhWGIZaoWn_6G5" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/aerodinamite" class="table-row-name text-bold">Aerodinamite</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/algo-que-se-siente" class="table-row-name text-bold">Algo que se siente</a>
						</td>
						<td>7b+ (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/biceps-power" class="table-row-name text-bold">Biceps power</a>
						</td>
						<td>8a/a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/brainless" class="table-row-name text-bold">Brainless</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/cerebro-atrofia" class="table-row-name text-bold">Cerebro atrofia</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/closca-de-tortuga" class="table-row-name text-bold">Closca de tortuga</a>
						</td>
						<td>3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/creatina" class="table-row-name text-bold">Creatina</a>
						</td>
						<td>7a (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/creatina" class="table-row-name text-bold">Creatina</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/croquetman" class="table-row-name text-bold">Croquetman</a>
						</td>
						<td>7c (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/croquetman-extension" class="table-row-name text-bold">Croquetman Extension</a>
						</td>
						<td>7c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/cuando-revientes-descansaras" class="table-row-name text-bold">Cuando revientes descansarás</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/desertors-de-la-corda" class="table-row-name text-bold">Desertors de la corda</a>
						</td>
						<td>6b (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/espolo-manu" class="table-row-name text-bold">Espoló Manu</a>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/familia-pollo" class="table-row-name text-bold">Familia pollo</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/gandalf" class="table-row-name text-bold">Gandalf</a>
						</td>
						<td>7c (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/gollum" class="table-row-name text-bold">Gollum</a>
						</td>
						<td>7c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/gora-teta" class="table-row-name text-bold">Gora teta</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/hasta-las-flores-me-tienen" class="table-row-name text-bold">Hasta las flores me tienen..</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/lolomaster" class="table-row-name text-bold">Lolomaster</a>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/los-mariachis" class="table-row-name text-bold">Los mariachis</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/los-visitantes" class="table-row-name text-bold">Los visitantes</a>
						</td>
						<td>6a+ </td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/maniatika" class="table-row-name text-bold">Maniatika</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/megacoprolit" class="table-row-name text-bold">Megacoprolit</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/nando" class="table-row-name text-bold">Nando</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/no-somos-nada" class="table-row-name text-bold">No somos nada</a>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/raspa-mama" class="table-row-name text-bold">Raspa mama</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/romocop" class="table-row-name text-bold">Romocop</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/soldador-universal" class="table-row-name text-bold">Soldador universal</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/tanga-deep-eyes" class="table-row-name text-bold">Tanga deep eyes</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/te-lo-dije" class="table-row-name text-bold">Te lo dije</a>
						</td>
						<td> 6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/tenacita" class="table-row-name text-bold">Tenacita</a>
						</td>
						<td>8a+ (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/tom-bombadil" class="table-row-name text-bold">Tom Bombadil</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/tranki" class="table-row-name text-bold">Tranki</a>
						</td>
						<td>5+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/via-del-tro" class="table-row-name text-bold">Via del tro</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/what-s-up" class="table-row-name text-bold">What's up!!!</a>
						</td>
						<td>3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/wuan-samer-in-de-boket" class="table-row-name text-bold">Wuan samer in de boket</a>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/can-boquet/ya-somos-algo" class="table-row-name text-bold">Ya somos algo</a>
						</td>
						<td>7a</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>