<!DOCTYPE html>
<html>
  <head>
    <title>  </title>
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Right Fork  </h2>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/joes_valley/problem/All_You_Sinners">All You Sinners, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Antaeus">Antaeus, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Apple_Bottom_Jeans">Apple Bottom Jeans, V10</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Baldwin_Bash">Baldwin Bash, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Barely_Legal">Barely Legal, V11</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Champagne_Supernova">Champagne Supernova, V9</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Cook_the_Patty">Cook the Patty, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Cook_the_Patty">Cook the Patty, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Cosmos">Cosmos, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Counter_Clockwork">Counter Clockwork, V11</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Crescent_Moon">Crescent Moon, V2</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Death_Scream">Death Scream, V10</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Dirty_Harry">Dirty Harry, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Double_Delicious">Double Delicious, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Dungeon_Master">Dungeon Master, V9</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Dyno_Time_Low">Dyno Time Low, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Fanstasy_Factory">Fanstasy Factory, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Finger_Hut">Finger Hut, V10</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Fortune_Cookie">Fortune Cookie, V3</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Frosted_Flakes">Frosted Flakes, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Great_White">Great White, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Hand_of_Doom">Hand of Doom, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Killa_Bees">Killa Bees, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Kung_Fu_Theatre">Kung Fu Theatre, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Kung_Fury">Kung Fury, V10</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Loc-Nar">Loc-Nar, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Master_Po">Master Po, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Mono_E_Mono">Mono E Mono, V4</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Mononoke">Mononoke, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Ninja_Please">Ninja Please, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/No_Substance">No Substance, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/O_Face">O Face, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Pandemic">Pandemic, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Pilot_Light">Pilot Light, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Playmate_of_the_Year">Playmate of the Year, V9</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Poricini_or_Portabello">Poricini or Portabello, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Poseidon">Poseidon, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Proppa_Dyno">Proppa Dyno, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Rabbit_Fur">Rabbit Fur, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Rawhide">Rawhide, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Rug_Rat">Rug Rat, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Runt">Runt, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Scrawny_and_Brawny">Scrawny and Brawny, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Shaolin_Slab">Shaolin Slab, V4</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Shark_Bait">Shark Bait, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Speak_of_the_Devil">Speak of the Devil, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Stand_Up_Comedian">Stand Up Comedian, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Team_Effort">Team Effort, V9</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/The_Coaster">The Coaster, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/The_Flu">The Flu, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/The_Hulk">The Hulk, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Thors_Hammer">Thor's Hammer, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Three_Amigos">Three Amigos, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Vertical_Ice">Vertical Ice, V6</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Walrus">Walrus, V5</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Water_Paintings">Water Paintings, V7</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/White_Buffalo">White Buffalo, V8</a>
		</li>
		
		<li>
		  <a href="/joes_valley/problem/Zatoichi">Zatoichi, V8</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>