<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'scripts/tracking-tools-scripts.html' %}
		<title>{{ _("MadBoulder Account - Profile Settings") }}</title>
		<meta name="description" content="description">
		{% include 'elements/head-resources.html' %}
		{% include 'scripts/cookie-scripts.html' %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}" />
	</head>
	<body>
		{% include 'elements/main-menu.html' %}
		<main>
			<div class="pt-4 container-xl p-responsive clearfix">
				<header class="d-md-flex flex-items-center flex-justify-between mt-1 mb-2" aria-labelledby="settings-header">
					<div class="d-flex flex-items-center mb-2 mb-md-0">
						<div class="flex-auto">
							<h1 id="settings-header" class="h3 lh-condensed">
								{{ user_data.displayName }}
							</h1>
						</div>
					</div>
				</header>
				<div data-view-component="true" class="Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start">
					{% include 'elements/settings-nav-menu.html' %}
					<div data-view-component="true" class="Layout-main">
						<div data-view-component="true" class="Layout-main-centered-xl">
							<div data-view-component="true" class="container-xl">
								<div data-view-component="true" class="Subhead mt-0 mb-0">
									<h2 id="public-profile-heading" data-view-component="true" class="Subhead-heading Subhead-heading--large">{{ _("Profile") }}</h2>
								</div>  
								<div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row">
									<div class="col-12">
										<dl class="form-group">
											<dt>
												<label for="user_status">{{ _("Contributor Status") }}</label>
											</dt>
											<dd>
												<div style="display: flex; flex-wrap: wrap; flex-direction: row;">
													{% if user_data.contributor_status == 'declined' or user_data.contributor_status == 'non contributor' %}
														{% if user_data.contributor_status == 'declined' %}
															<input disabled class="form-control shortest status-{{ user_data.contributor_status }}" type="text" id="user_status" value="{{ user_data.contributor_status }}">
														{% endif %}
														<button class="Button--primary Button--medium Button" onclick="applyAsContributor()">{{ _("Apply as Contributor") }}</button>
													{% elif user_data.contributor_status == 'pending' %}
														<input disabled class="form-control shortest status-pending" type="text" id="user_status" value="{{ user_data.contributor_status }}">
														<button class="btn btn-danger" onclick="cancelContributorSubmission()">{{ _("Cancel") }}</button>
													{% elif user_data.contributor_status == 'approved' %}
														<input disabled class="form-control shortest status-approved" type="text" id="user_status" value="{{ user_data.contributor_status }}">
														<button class="btn btn-danger" onclick="removeFromContributor()">{{ _("Remove") }}</button>
													{% endif %}
												</div>
											</dd>
										</dl>
										{% if user_data.contributor_status == 'approved' %}
											<dl class="form-group">
												<dt>
													<label for="user_climber_name">{{ _("Climber Id") }}</label>
												</dt>
												<dd>
													<input disabled class="form-control short" type="text" id="user_climber_name" value="{{ user_data.climber_id }}">
													<div class="note">
														{{ _("Your climber Id may appear around MadBoulder where you contribute or are mentioned. If you want to opt out or change it, send a request to madboulderteam@gmail.com. Please see our") }}
														<a href="/madboulder-privacy-policy" data-view-component="true" class="Link--inTextBlock Link">{{ _("privacy statement") }}</a>
														{{ _("to learn more about how we use this information.") }}
													</div>
												</dd>
											</dl>
										{% endif %}
										<dl class="form-group">
											<dt>
												<label for="user_profile_name">{{ _("Name") }}</label>
											</dt>
											<dd>
												<input class="form-control short" type="text" name="user[profile_name]" id="user_profile_name" value="{{ user_data.displayName }}">
												<div class="note">
													{{ _("This value may appear around MadBoulder where you contribute. You may change it at any time.") }}
												</div>
											</dd>
										</dl>
										<p>
											<button onclick="updateUserProfile()" data-view-component="true" class="Button--primary Button--medium Button">
												<span class="Button-content">
													<span class="Button-label">{{ _("Update profile") }}</span>
												</span>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include 'elements/footer.html' %}
	</body>
	<script>
		function applyAsContributor() {
			console.log("applyAsContributor");
			updateContributorStatus('pending', null);
		}
		
		function cancelContributorSubmission() {
			if(confirm("{{ _('Are you sure you want to cancel your contributor submission?') }}")){
				updateContributorStatus('non contributor', null);
			}
		}
		
		function removeFromContributor() {
			if(confirm("{{ _('Are you sure you want to remove yourself as contributor?') }}")) {
				updateContributorStatus('non contributor', null);
			}
		}
		
		function updateContributorStatus(newStatus, climberId) {
			console.log("updateContributorStatus");
			fetch('/update_user_details', {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify({
					contributor_status: newStatus
				})
			})
			.then(response => {
				if (response.ok) {
					return response.json();
				} else {
					throw new Error('Failed to update user');
				}
			})
			.then(data => {
				console.log(data.message);
				window.location.reload();
			})
			.catch((error) => {
				console.error("Error updating user:", error);
			});
		}

		function updateUserProfile(userId){
			const name = document.getElementById('user_profile_name').value;
			const userData = {
				displayName: name
			};

			fetch('/update_user', {
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(userData)
			})
			.then(response => {
				if (response.ok) {
					return response.json();
				} else {
					throw new Error('Failed to update user profile');
				}
			})
			.then(data => {
				console.log(data.message);
				alert('{{ _("Profile updated successfully.") }}');
				
				window.location.reload();
			})
			.catch((error) => {
				console.error("Error updating user profile:", error);
				alert('{{ _("Error updating profile: ") }}' + error.message);
			});
		}
	</script>
</html>
