<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'scripts/tracking-tools-scripts.html' %}
		<title>{{ _("MadBoulder Account - Stats") }}</title>
		<meta name="description" content="description">
		{% include 'elements/head-resources.html' %}
		{% include 'scripts/cookie-scripts.html' %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}" />
	</head>
	<body>
		{% include 'elements/main-menu.html' %}
		<main>
			<div class="pt-4 container-xl p-responsive clearfix">
				<div data-view-component="true" class="Layout Layout--flowRow-until-md Layout--sidebarPosition-start Layout--sidebarPosition-flowRow-start">
					{% include 'elements/settings-nav-menu.html' %}
					<div data-view-component="true" class="Layout-main">
						<div data-view-component="true" class="Layout-main-centered-xl">
							<div data-view-component="true" class="container-xl">
								<div data-view-component="true" class="Subhead mt-0 mb-0">
									<h2 id="public-profile-heading" data-view-component="true" class="Subhead-heading Subhead-heading--large">{{ _("My Stats") }}</h2>
								</div>
								{% if user_data['contributor_stats'] %}
									<div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row">
										<div class="col-12">
											<dl class="form-group">
												<dt>
													<label for="user_status">{{ _("Date Created") }}</label>
												</dt>
												<dd>{{ user_data.dateCreated }}</dd>
											</dl>
											<dl class="form-group">
												<dt>
													<label for="user_status">{{ _("Account Age") }}</label>
												</dt>
												<dd>{{ user_data.timeSinceCreation }}</dd>
											</dl>
											<dl class="form-group">
												<dt>
													<label for="user_status">{{ _("Contributor Stats") }}</label>
												</dt>
												<dd>
													{{ _("Number of videos") }}: {{ user_data.contributor_stats.num_videos }}
													<div class="note">Ranking {{ user_data.contributor_stats.user_video_rank  }} {{ _("from") }} {{ user_data.total_contributors }}</div> 
													{{ _("Total Views") }}: {{ user_data.contributor_stats.total_views|format_views }}
													<div class="note">Ranking {{ user_data.contributor_stats.total_views_rank  }} {{ _("from") }} {{ user_data.total_contributors }}</div> 
													{{ _("Unique Areas") }}: {{ user_data.contributor_stats.unique_areas }}
												</dd>
											</dl>
											<dl class="form-group">
												<dt>
													<label for="top_areas">{{ _("Areas by Number of Videos") }}</label>
												</dt>
												<dd>
													<ul>
														{% if user_data.contributor_stats and user_data.contributor_stats.top_areas %}
															{% for area_info in user_data.contributor_stats.top_areas %}
																<li>{{ area_info.area }}: {{ area_info.videos }} videos</li>
															{% endfor %}
														{% endif %}
													</ul>
												</dd>
											</dl>
										</div>
									</div>
								{% else %}
									<div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row">
										<label for="user_status">{{ _("You're are not a confirmed contributor yet.") }}</label>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include 'elements/footer.html' %}
	</body>
</html>
