<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Sector 3 grasses at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector 3 grasses at Targasonne | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/3-grasses">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/france" class="zone-header-tree-link">France</a>
	
	 > 
	<a href="/targasonne" class="zone-header-tree-link">Targasonne</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector 3 grasses 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNaCyubyaqSa5W6oFp5RH7j" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Bonheur, 5b. Targasonne" href="/problems/targasonne/bonheur-5b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bonheur, 5b. Targasonne" src="https://img.youtube.com/vi/ppi6sNU4plQ/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/bonheur-5b" class="table-row-name text-bold">Bonheur</a>
							</div>
						</td>
						<td>5b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Cool, 6a. Targasonne" href="/problems/targasonne/cool-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cool, 6a. Targasonne" src="https://img.youtube.com/vi/0WuTCN3NsSE/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/cool-6a" class="table-row-name text-bold">Cool</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Elixir, 6c. Targasonne" href="/problems/targasonne/elixir-6c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Elixir, 6c. Targasonne" src="https://img.youtube.com/vi/XvzGMCTRpN0/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/elixir-6c" class="table-row-name text-bold">Elixir</a>
							</div>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Fiferie, 6a+. Targasonne" href="/problems/targasonne/fiferie-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fiferie, 6a+. Targasonne" src="https://img.youtube.com/vi/BoT50SoEhZw/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/fiferie-6a" class="table-row-name text-bold">Fiferie</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Fru fru, 4+. Targasonne" href="/problems/targasonne/fru-fru-4" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fru fru, 4+. Targasonne" src="https://img.youtube.com/vi/H-YvQ2QQ2eg/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/fru-fru-4" class="table-row-name text-bold">Fru-fru</a>
							</div>
						</td>
						<td>4+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Fru-fru Left, 4+. Targasonne" href="/problems/targasonne/fru-fru-left-4" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fru-fru Left, 4+. Targasonne" src="https://img.youtube.com/vi/wfG_ATfEHBo/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/fru-fru-left-4" class="table-row-name text-bold">Fru-fru Left</a>
							</div>
						</td>
						<td>4+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Graal patate, 6a. Targasonne" href="/problems/targasonne/graal-patate-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Graal patate, 6a. Targasonne" src="https://img.youtube.com/vi/6J70hJhoRzA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/graal-patate-6a" class="table-row-name text-bold">Graal patate</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="L'amère douce, 5c. Targasonne" href="/problems/targasonne/l-amere-douce-5c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'amère douce, 5c. Targasonne" src="https://img.youtube.com/vi/E3vjqwR4eCc/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/l-amere-douce-5c" class="table-row-name text-bold">L'amère douce</a>
							</div>
						</td>
						<td>5c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="La mouche, 4. Targasonne" href="/problems/targasonne/la-mouche-4" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La mouche, 4. Targasonne" src="https://img.youtube.com/vi/UzXSBJyoVVc/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/la-mouche-4" class="table-row-name text-bold">La mouche</a>
							</div>
						</td>
						<td>4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="La mouche Left, 5. Targasonne" href="/problems/targasonne/la-mouche-left-5" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La mouche Left, 5. Targasonne" src="https://img.youtube.com/vi/5OLsrlj9zgM/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/la-mouche-left-5" class="table-row-name text-bold">La mouche Left</a>
							</div>
						</td>
						<td>5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Ligne Berhault, 6a. Targasonne" href="/problems/targasonne/ligne-berhault-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ligne Berhault, 6a. Targasonne" src="https://img.youtube.com/vi/NBhWFs03Aj8/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/ligne-berhault-6a" class="table-row-name text-bold">Ligne Berhault</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Légitime défonce, 7a+. Targasonne" href="/problems/targasonne/legitime-defonce-7a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Légitime défonce, 7a+. Targasonne" src="https://img.youtube.com/vi/mfhP4JxH50Q/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/legitime-defonce-7a" class="table-row-name text-bold">Légitime défonce</a>
							</div>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Nice, 5b. Targasonne" href="/problems/targasonne/nice-5b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Nice, 5b. Targasonne" src="https://img.youtube.com/vi/jCGaLAMriZ8/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/nice-5b" class="table-row-name text-bold">Nice</a>
							</div>
						</td>
						<td>5b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Plaisir, 4b. Targasonne" href="/problems/targasonne/plaisir-4b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Plaisir, 4b. Targasonne" src="https://img.youtube.com/vi/HtF0k_5NNGc/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/plaisir-4b" class="table-row-name text-bold">Plaisir</a>
							</div>
						</td>
						<td>4b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 42 (3 grasses), 4. Targasonne" href="/problems/targasonne/problem-2-3-grasses-4" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 42 (3 grasses), 4. Targasonne" src="https://img.youtube.com/vi/Jy-0POM5Qd0/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/problem-2-3-grasses-4" class="table-row-name text-bold">Problem 2 (3 grasses)</a>
							</div>
						</td>
						<td>4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 54 (3 grasses), 5a (sit). Targasonne" href="/problems/targasonne/problem-54-3-grasses-5a-sit" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 54 (3 grasses), 5a (sit). Targasonne" src="https://img.youtube.com/vi/8N0uBhaimgo/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/problem-54-3-grasses-5a-sit" class="table-row-name text-bold">Problem 54 (3 grasses)</a>
							</div>
						</td>
						<td>5a (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 46 (3 grasses), 4. Targasonne" href="/problems/targasonne/problem-6-3-grasses-4" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 46 (3 grasses), 4. Targasonne" src="https://img.youtube.com/vi/ByEpfnQBQrI/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/problem-6-3-grasses-4" class="table-row-name text-bold">Problem 6 (3 grasses)</a>
							</div>
						</td>
						<td>4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 81' (3 grasses), 4. Targasonne" href="/problems/targasonne/problem-81-3-grasses-4" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 81' (3 grasses), 4. Targasonne" src="https://img.youtube.com/vi/AiXdosZuEG8/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/problem-81-3-grasses-4" class="table-row-name text-bold">Problem 81' (3 grasses)</a>
							</div>
						</td>
						<td>4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Rien de plus, 6b. Targasonne" href="/problems/targasonne/rien-de-plus-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Rien de plus, 6b. Targasonne" src="https://img.youtube.com/vi/5357UADRKlA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/rien-de-plus-6b" class="table-row-name text-bold">Rien de plus</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Vieille école, 6b+. Targasonne" href="/problems/targasonne/vieille-ecole-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vieille école, 6b+. Targasonne" src="https://img.youtube.com/vi/L07M3r51Eys/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/vieille-ecole-6b" class="table-row-name text-bold">Vieille école</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Volutes, 5+. Targasonne" href="/problems/targasonne/volutes-5" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Volutes, 5+. Targasonne" src="https://img.youtube.com/vi/hgA5E-l2d6k/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/targasonne/volutes-5" class="table-row-name text-bold">Volutes</a>
							</div>
						</td>
						<td>5+</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>