<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Aigle at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Aigle at Targasonne | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/aigle">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
			</div>
			<h1 class="zone-header-title text-bold">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/targasonne" class="zone-header-tree-link">Targasonne</a>
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnP0rIrBlPMkknnnpvVR9Bzm" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Anubis, 7b. Targasonne" href="/problems/targasonne/anubis-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Anubis, 7b. Targasonne" src="https://img.youtube.com/vi/Xe9xqLc8Q2Y/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/anubis-7b" class="table-row-name text-bold">Anubis</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bellestète, 5c. Targasonne" href="/problems/targasonne/bellestete-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bellestète, 5c. Targasonne" src="https://img.youtube.com/vi/XsLNZnZ7eBU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/bellestete-5c" class="table-row-name text-bold">Bellestète</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Continental Lockdown, 7a. Targasonne" href="/problems/targasonne/continental-lockdown-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Continental Lockdown, 7a. Targasonne" src="https://img.youtube.com/vi/zUwekHe-llY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/continental-lockdown-7a" class="table-row-name text-bold">Continental Lockdown</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hugo frais, 6a. Targasonne" href="/problems/targasonne/hugo-frais-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hugo frais, 6a. Targasonne" src="https://img.youtube.com/vi/ekFiMaTJ1MA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/hugo-frais-6a" class="table-row-name text-bold">Hugo frais</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'amour sur le charnier, 7b. Targasonne" href="/problems/targasonne/l-amour-sur-le-charnier-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'amour sur le charnier, 7b. Targasonne" src="https://img.youtube.com/vi/yPrCzvZrj80/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/l-amour-sur-le-charnier-7b" class="table-row-name text-bold">L'amour sur le charnier</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La carre, 4c. Targasonne" href="/problems/targasonne/la-carre-4c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La carre, 4c. Targasonne" src="https://img.youtube.com/vi/F15n4O-eifs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-carre-4c" class="table-row-name text-bold">La carre</a>
									</div>
								</td>
								<td>4c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La feu occulte, 7b+. Targasonne" href="/problems/targasonne/la-feu-occulte-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La feu occulte, 7b+. Targasonne" src="https://img.youtube.com/vi/nIRAmeJsgpY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-feu-occulte-7b" class="table-row-name text-bold">La feu occulte</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La feu occulte, 7c/+ (sit). Targasonne" href="/problems/targasonne/la-feu-occulte-7c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La feu occulte, 7c/+ (sit). Targasonne" src="https://img.youtube.com/vi/AczTQaDHYwM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-feu-occulte-7c-sit" class="table-row-name text-bold">La feu occulte</a>
									</div>
								</td>
								<td>7c/+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La trou du culte Right, 7b+. Targasonne" href="/problems/targasonne/le-trou-du-culte-right-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La trou du culte Right, 7b+. Targasonne" src="https://img.youtube.com/vi/Q-br2R99ioE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/le-trou-du-culte-right-7b" class="table-row-name text-bold">Le trou du culte Right</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La trou du culte ferme. Targasonne" href="/problems/targasonne/le-trou-du-culte-ferme-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La trou du culte ferme. Targasonne" src="https://img.youtube.com/vi/hZv24BXKYRM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/le-trou-du-culte-ferme-unknown" class="table-row-name text-bold">Le trou du culte ferme</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Michelin, 8a. Targasonne" href="/problems/targasonne/michelin-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Michelin, 8a. Targasonne" src="https://img.youtube.com/vi/39XH5Gs8wQo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/michelin-8a" class="table-row-name text-bold">Michelin</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ouverture sur le monde, 7a+. Targasonne" href="/problems/targasonne/ouverture-sur-le-monde-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ouverture sur le monde, 7a+. Targasonne" src="https://img.youtube.com/vi/1dSCr6gLifU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/ouverture-sur-le-monde-7a" class="table-row-name text-bold">Ouverture sur le monde</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Placebo, 7a. Targasonne" href="/problems/targasonne/placebo-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Placebo, 7a. Targasonne" src="https://img.youtube.com/vi/oleEQqLL1eA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/placebo-7a" class="table-row-name text-bold">Placebo</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Plus fort que la police, 6c+. Targasonne" href="/problems/targasonne/plus-fort-que-la-police-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Plus fort que la police, 6c+. Targasonne" src="https://img.youtube.com/vi/elRmyKVUXKE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/plus-fort-que-la-police-6c" class="table-row-name text-bold">Plus fort que la police</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 16 (Aigle), 6a. Targasonne" href="/problems/targasonne/problem-16-aigle-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 16 (Aigle), 6a. Targasonne" src="https://img.youtube.com/vi/bPGpJ7fJsQo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-16-aigle-6a" class="table-row-name text-bold">Problem 16 (Aigle)</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 17 (Aigle), 6c. Targasonne" href="/problems/targasonne/problem-17-aigle-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 17 (Aigle), 6c. Targasonne" src="https://img.youtube.com/vi/AuFYNKS1zsQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-17-aigle-6c" class="table-row-name text-bold">Problem 17 (Aigle)</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 61 (Aigle), 6a. Targasonne" href="/problems/targasonne/problem-61-aigle-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 61 (Aigle), 6a. Targasonne" src="https://img.youtube.com/vi/loxLdv4fkLI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-61-aigle-6a" class="table-row-name text-bold">Problem 61 (Aigle)</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 81 (Aigle), 6a (sit). Targasonne" href="/problems/targasonne/problem-81-aigle-6a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 81 (Aigle), 6a (sit). Targasonne" src="https://img.youtube.com/vi/esIVLNaFirw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-81-aigle-6a-sit" class="table-row-name text-bold">Problem 81 (Aigle)</a>
									</div>
								</td>
								<td>6a (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 87 (Aigle), 4c. Targasonne" href="/problems/targasonne/problem-87-aigle-4c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 87 (Aigle), 4c. Targasonne" src="https://img.youtube.com/vi/KtmIBDkUOIE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-87-aigle-4c" class="table-row-name text-bold">Problem 87 (Aigle)</a>
									</div>
								</td>
								<td>4c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 88 (Aigle), 4c. Targasonne" href="/problems/targasonne/problem-88-aigle-4c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 88 (Aigle), 4c. Targasonne" src="https://img.youtube.com/vi/TNbj55YGhzU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-88-aigle-4c" class="table-row-name text-bold">Problem 88 (Aigle)</a>
									</div>
								</td>
								<td>4c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 94 (Aigle), 4c. Targasonne" href="/problems/targasonne/problem-94-aigle-4c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 94 (Aigle), 4c. Targasonne" src="https://img.youtube.com/vi/6el5SAlduNA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-94-aigle-4c" class="table-row-name text-bold">Problem 94 (Aigle)</a>
									</div>
								</td>
								<td>4c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Scato no vice, 6b+. Targasonne" href="/problems/targasonne/scato-no-vice-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Scato no vice, 6b+. Targasonne" src="https://img.youtube.com/vi/KDeCzUnKIYY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/scato-no-vice-6b" class="table-row-name text-bold">Scato no vice</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Start pilot, 7c (sit). Targasonne" href="/problems/targasonne/start-pilot-7c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Start pilot, 7c (sit). Targasonne" src="https://img.youtube.com/vi/su4MbfOQp94/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/start-pilot-7c-sit" class="table-row-name text-bold">Start pilot</a>
									</div>
								</td>
								<td>7c+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Targarocklands, 7b+. Targasonne" href="/problems/targasonne/targarocklands-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Targarocklands, 7b+. Targasonne" src="https://img.youtube.com/vi/B5UnyHQfOOE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/targarocklands-7b" class="table-row-name text-bold">Targarocklands</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vicious game, 7b+. Targasonne" href="/problems/targasonne/vicious-game-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vicious game, 7b+. Targasonne" src="https://img.youtube.com/vi/hzY6QZtB6kQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/vicious-game-7b" class="table-row-name text-bold">Vicious game</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vicious game Sit. Targasonne" href="/problems/targasonne/vicious-game-sit-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vicious game Sit. Targasonne" src="https://img.youtube.com/vi/CFS5_BNKVTU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/vicious-game-sit-unknown" class="table-row-name text-bold">Vicious game Sit</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>