<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Balcons bavards at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Balcons bavards at Targasonne | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/balcons-bavards">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/targasonne" class="zone-header-tree-link">Targasonne</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Balcons bavards of Targasonne
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNpE-7oWP3T_EhhS5L15Eb1" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Basa yaun, 7a+. Targasonne" href="/problems/targasonne/basa-yaun-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Basa yaun, 7a+. Targasonne" src="https://img.youtube.com/vi/fuqMnTvNTks/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/basa-yaun-7a" class="table-row-name text-bold">Basa yaun</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Braguette magique, 5c. Targasonne" href="/problems/targasonne/braguette-magique-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Braguette magique, 5c. Targasonne" src="https://img.youtube.com/vi/kRRLL2f2QGQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/braguette-magique-5c" class="table-row-name text-bold">Braguette magique</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Frappe l'acier, 6b. Targasonne" href="/problems/targasonne/frappe-l-acier-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Frappe l'acier, 6b. Targasonne" src="https://img.youtube.com/vi/y-p9PFmwC6k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/frappe-l-acier-6b" class="table-row-name text-bold">Frappe l'acier</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Instants damnés, 6c+. Targasonne" href="/problems/targasonne/instants-damnes-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Instants damnés, 6c+. Targasonne" src="https://img.youtube.com/vi/EwO8llWPjY4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/instants-damnes-6c" class="table-row-name text-bold">Instants damnés</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La fée verte, 7c. Targasonne" href="/problems/targasonne/la-fee-verte-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La fée verte, 7c. Targasonne" src="https://img.youtube.com/vi/mwEHlKz01aw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-fee-verte-7c" class="table-row-name text-bold">La fée verte</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pouss mouss, 6a+. Targasonne" href="/problems/targasonne/pouss-mouss-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pouss mouss, 6a+. Targasonne" src="https://img.youtube.com/vi/9rtPvh86pfw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/pouss-mouss-6a" class="table-row-name text-bold">Pouss mouss</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 1 (Balcons Bavards), 5c. Targasonne" href="/problems/targasonne/problem-1-balcons-bavards-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 1 (Balcons Bavards), 5c. Targasonne" src="https://img.youtube.com/vi/zNH54egAHf8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-1-balcons-bavards-5c" class="table-row-name text-bold">Problem 1 (Balcons Bavards)</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 11 (Balcons bavards), 5c. Targasonne" href="/problems/targasonne/problem-11-balcons-bavards-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 11 (Balcons bavards), 5c. Targasonne" src="https://img.youtube.com/vi/LYK1eCPtcbo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-11-balcons-bavards-5c" class="table-row-name text-bold">Problem 11 (Balcons bavards)</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 14 (Balcons Bavards), 6b. Targasonne" href="/problems/targasonne/problem-14-balcons-bavards-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 14 (Balcons Bavards), 6b. Targasonne" src="https://img.youtube.com/vi/68ORHj_C7vA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-14-balcons-bavards-6b" class="table-row-name text-bold">Problem 14 (Balcons Bavards)</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 32 (Balcons bavards), 6c. Targasonne" href="/problems/targasonne/problem-32-balcons-bavards-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 32 (Balcons bavards), 6c. Targasonne" src="https://img.youtube.com/vi/-n0DWzEFSiE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-32-balcons-bavards-6c" class="table-row-name text-bold">Problem 32 (Balcons bavards)</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 4 (Balcons bavards), 6b+. Targasonne" href="/problems/targasonne/problem-4-balcons-bavards-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 4 (Balcons bavards), 6b+. Targasonne" src="https://img.youtube.com/vi/yzolyEnRpDc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-4-balcons-bavards-6b" class="table-row-name text-bold">Problem 4 (Balcons bavards)</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Problem 6 (Balcons bavards), 6b+. Targasonne" href="/problems/targasonne/problem-6-balcons-bavards-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 6 (Balcons bavards), 6b+. Targasonne" src="https://img.youtube.com/vi/tc0tN_9w9h4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/problem-6-balcons-bavards-6b" class="table-row-name text-bold">Problem 6 (Balcons bavards)</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vallée heureuse, 6a+. Targasonne" href="/problems/targasonne/vallee-heureuse-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vallée heureuse, 6a+. Targasonne" src="https://img.youtube.com/vi/0bZoXYp7u4A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/vallee-heureuse-6a" class="table-row-name text-bold">Vallée heureuse</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Zdabauw, 8a+. Targasonne" href="/problems/targasonne/zdabauw-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Zdabauw, 8a+. Targasonne" src="https://img.youtube.com/vi/p2IspQLTdTY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/zdabauw-8a" class="table-row-name text-bold">Zdabauw</a>
									</div>
								</td>
								<td>8a+</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>