<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Baleine at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Baleine at Targasonne | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/baleine">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/targasonne" class="zone-header-tree-link">Targasonne</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Baleine of Targasonne
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNOtFf_E24uTVHej-Zt2nHt" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Achille, 6c. Targasonne" href="/problems/targasonne/achille-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Achille, 6c. Targasonne" src="https://img.youtube.com/vi/u0jppGbZ7q8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/achille-6c" class="table-row-name text-bold">Achille</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Allergie aux buts, 7b+. Targasonne" href="/problems/targasonne/allergie-aux-buts-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Allergie aux buts, 7b+. Targasonne" src="https://img.youtube.com/vi/hZ0AznsjzaA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/allergie-aux-buts-7b" class="table-row-name text-bold">Allergie aux buts</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bottant boton, 7a+. Targasonne" href="/problems/targasonne/bottant-botton-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bottant boton, 7a+. Targasonne" src="https://img.youtube.com/vi/Uepe3kXkoRM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/bottant-botton-7a" class="table-row-name text-bold">Bottant botton</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bottant botton, 7b (sit). Targasonne" href="/problems/targasonne/bottant-botton-7b-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bottant botton, 7b (sit). Targasonne" src="https://img.youtube.com/vi/GXG6NfYUAqQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/bottant-botton-7b-sit" class="table-row-name text-bold">Bottant botton</a>
									</div>
								</td>
								<td>7b (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Clem rit, 7c. Targasonne" href="/problems/targasonne/clem-rit-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Clem rit, 7c. Targasonne" src="https://img.youtube.com/vi/pOx3BXdI0Uc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/clem-rit-7c" class="table-row-name text-bold">Clem rit</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Err Vector (short), 7a. Targasonne" href="/problems/targasonne/err-vector-short-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Err Vector (short), 7a. Targasonne" src="https://img.youtube.com/vi/WcWB5Ht8gls/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/err-vector-short-7a" class="table-row-name text-bold">Err Vector (short)</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Err vector, 7a+. Targasonne" href="/problems/targasonne/err-vector-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Err vector, 7a+. Targasonne" src="https://img.youtube.com/vi/W8lBQXfpGew/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/err-vector-7a" class="table-row-name text-bold">Err vector</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Harcellement sensuel, 7a+. Targasonne" href="/problems/targasonne/harcellement-sensuel-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Harcellement sensuel, 7a+. Targasonne" src="https://img.youtube.com/vi/YNcBjjvadys/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/harcellement-sensuel-7a" class="table-row-name text-bold">Harcellement sensuel</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hey yop, 5c. Targasonne" href="/problems/targasonne/hey-yop-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hey yop, 5c. Targasonne" src="https://img.youtube.com/vi/oX4pIYx2GyE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/hey-yop-5c" class="table-row-name text-bold">Hey yop</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hula hoop, 5b. Targasonne" href="/problems/targasonne/hula-hoop-5b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hula hoop, 5b. Targasonne" src="https://img.youtube.com/vi/TiI2bJdY2lA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/hula-hoop-5b" class="table-row-name text-bold">Hula hoop</a>
									</div>
								</td>
								<td>5b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="J'veux une hyène, 7b. Targasonne" href="/problems/targasonne/j-veux-une-hyene-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: J'veux une hyène, 7b. Targasonne" src="https://img.youtube.com/vi/7_O1uDw3DUM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/j-veux-une-hyene-7a" class="table-row-name text-bold">J'veux une hyène</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'oeuvrette, 7a. Targasonne" href="/problems/targasonne/l-oeuvrette-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'oeuvrette, 7a. Targasonne" src="https://img.youtube.com/vi/qGMHxe_n5iY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/l-oeuvrette-7a" class="table-row-name text-bold">L'oeuvrette</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'oeuvrette, 7c (sit). Targasonne" href="/problems/targasonne/l-oeuvrette-7c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'oeuvrette, 7c (sit). Targasonne" src="https://img.youtube.com/vi/PTkk-h8fudA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/l-oeuvrette-7c-sit" class="table-row-name text-bold">L'oeuvrette</a>
									</div>
								</td>
								<td>7c (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La balance, 6c+. Targasonne" href="/problems/targasonne/la-balance-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La balance, 6c+. Targasonne" src="https://img.youtube.com/vi/Q9ZUtHMPuoM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-balance-6c" class="table-row-name text-bold">La balance</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La baleine, 7a. Targasonne" href="/problems/targasonne/la-baleine-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La baleine, 7a. Targasonne" src="https://img.youtube.com/vi/f8TJ52ibbqE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-baleine-7a" class="table-row-name text-bold">La baleine</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La beauté de la chose, 7c. Targasonne" href="/problems/targasonne/la-beaute-de-la-chose-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La beauté de la chose, 7c. Targasonne" src="https://img.youtube.com/vi/dL6RTYtSbD0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-beaute-de-la-chose-7c" class="table-row-name text-bold">La beauté de la chose</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La beauté de la chose, 7c+ (sit). Targasonne" href="/problems/targasonne/la-beaute-de-la-chose-7c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La beauté de la chose, 7c+ (sit). Targasonne" src="https://img.youtube.com/vi/6gfhUM4rToM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-beaute-de-la-chose-7c-sit" class="table-row-name text-bold">La beauté de la chose</a>
									</div>
								</td>
								<td>7c+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La cerise avant le gâteau, 6a. Targasonne" href="/problems/targasonne/la-cerise-avant-le-gateau-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La cerise avant le gâteau, 6a. Targasonne" src="https://img.youtube.com/vi/QenJSBSJK7Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-cerise-avant-le-gateau-6a" class="table-row-name text-bold">La cerise avant le gâteau</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La chose au fond du trou, 7c. Targasonne" href="/problems/targasonne/la-chose-au-fond-du-trou-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La chose au fond du trou, 7c. Targasonne" src="https://img.youtube.com/vi/OeJS6GbJuQg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-chose-au-fond-du-trou-7c" class="table-row-name text-bold">La chose au fond du trou</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La couleuvre, 6b. Targasonne" href="/problems/targasonne/la-couleuvre-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La couleuvre, 6b. Targasonne" src="https://img.youtube.com/vi/MsDRzwPo1Kw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-couleuvre-6b" class="table-row-name text-bold">La couleuvre</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La lèvre, 6c. Targasonne" href="/problems/targasonne/la-levre-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La lèvre, 6c. Targasonne" src="https://img.youtube.com/vi/1DD5YO8_DTY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-levre-6c" class="table-row-name text-bold">La lèvre</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La philosophie du chaos, 7b. Targasonne" href="/problems/targasonne/la-philosophie-du-chaos-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La philosophie du chaos, 7b. Targasonne" src="https://img.youtube.com/vi/vZRsBKAGCOM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-philosophie-du-chaos-7b" class="table-row-name text-bold">La philosophie du chaos</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La sieste, 5b. Targasonne" href="/problems/targasonne/la-sieste-5b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La sieste, 5b. Targasonne" src="https://img.youtube.com/vi/5ftgyoEB2Ls/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-sieste-5b" class="table-row-name text-bold">La sieste</a>
									</div>
								</td>
								<td>5b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La taupe, 6b+. Targasonne" href="/problems/targasonne/la-taupe-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La taupe, 6b+. Targasonne" src="https://img.youtube.com/vi/4FXmK9iEHcc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-taupe-6b" class="table-row-name text-bold">La taupe</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La théorie du chaos, 7c. Targasonne" href="/problems/targasonne/la-theorie-du-chaos-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La théorie du chaos, 7c. Targasonne" src="https://img.youtube.com/vi/j4jnyAsa5G8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-theorie-du-chaos-7c" class="table-row-name text-bold">La théorie du chaos</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La théorie du chaos, 8a+ (sit). Targasonne" href="/problems/targasonne/la-theorie-du-chaos-8a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La théorie du chaos, 8a+ (sit). Targasonne" src="https://img.youtube.com/vi/LuQLgJQSoj4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-theorie-du-chaos-8a-sit" class="table-row-name text-bold">La théorie du chaos</a>
									</div>
								</td>
								<td>8a+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le 7a le plus dur de monde, 7b. Targasonne" href="/problems/targasonne/le-7a-le-plus-dur-de-monde-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le 7a le plus dur de monde, 7b. Targasonne" src="https://img.youtube.com/vi/JJMR7LcZ-qs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/le-7a-le-plus-dur-de-monde-7b" class="table-row-name text-bold">Le 7a le plus dur de monde</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le Coeur Sur la main, 7c. Targasonne" href="/problems/targasonne/le-coeur-sur-la-main-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le Coeur Sur la main, 7c. Targasonne" src="https://img.youtube.com/vi/Nw7ycgtdN8g/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/le-coeur-sur-la-main-7c" class="table-row-name text-bold">Le Coeur Sur la main</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le bal du plancton, 6b. Targasonne" href="/problems/targasonne/le-bal-du-plancton-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le bal du plancton, 6b. Targasonne" src="https://img.youtube.com/vi/LqLNB_zarRU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/le-bal-du-plancton-6b" class="table-row-name text-bold">Le bal du plancton</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Magic instinct, 7c. Targasonne" href="/problems/targasonne/magic-instinct-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Magic instinct, 7c. Targasonne" src="https://img.youtube.com/vi/CYdB3vL1oAQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/magic-instinct-7c" class="table-row-name text-bold">Magic instinct</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Magic instinct, 8a (du fond). Targasonne" href="/problems/targasonne/magic-instinct-8a-du-fond" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Magic instinct, 8a (du fond). Targasonne" src="https://img.youtube.com/vi/53_Y6hAkq-E/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/magic-instinct-8a-du-fond" class="table-row-name text-bold">Magic instinct</a>
									</div>
								</td>
								<td>8a (du fond)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Objectif lune, 5a. Targasonne" href="/problems/targasonne/objectif-lune-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Objectif lune, 5a. Targasonne" src="https://img.youtube.com/vi/D_ccxAVhQ1U/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/objectif-lune-5a" class="table-row-name text-bold">Objectif lune</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Peau de banane, 6a. Targasonne" href="/problems/targasonne/peau-de-banane-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Peau de banane, 6a. Targasonne" src="https://img.youtube.com/vi/0cmKv4tzRck/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/peau-de-banane-6a" class="table-row-name text-bold">Peau de banane</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pince mince, 6c. Targasonne" href="/problems/targasonne/pince-mince-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pince mince, 6c. Targasonne" src="https://img.youtube.com/vi/kMmxwiOEqZY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/pince-mince-6c" class="table-row-name text-bold">Pince mince</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Première dent, 6b+. Targasonne" href="/problems/targasonne/premiere-dent-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Première dent, 6b+. Targasonne" src="https://img.youtube.com/vi/dLGLkZja2bg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/premiere-dent-6b" class="table-row-name text-bold">Première dent</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Presque parfait, 4a. Targasonne" href="/problems/targasonne/presque-parfait-4a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Presque parfait, 4a. Targasonne" src="https://img.youtube.com/vi/kdhQX0pETKk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/presque-parfait-4a" class="table-row-name text-bold">Presque parfait</a>
									</div>
								</td>
								<td>4a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Putr'effraction, 7b (sit). Targasonne" href="/problems/targasonne/putr-effraction-7b-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Putr'effraction, 7b (sit). Targasonne" src="https://img.youtube.com/vi/xL85KxDDjQY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/putr-effraction-7b-sit" class="table-row-name text-bold">Putr'effraction</a>
									</div>
								</td>
								<td>7b (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Soulagement, 4a. Targasonne" href="/problems/targasonne/soulagement-4a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Soulagement, 4a. Targasonne" src="https://img.youtube.com/vi/bn1Fj_Rx_GA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/soulagement-4a" class="table-row-name text-bold">Soulagement</a>
									</div>
								</td>
								<td>4a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tango, 6a. Targasonne" href="/problems/targasonne/tango-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tango, 6a. Targasonne" src="https://img.youtube.com/vi/Onl5b4RNIik/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/tango-6a" class="table-row-name text-bold">Tango</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tombé du lit, 4c. Targasonne" href="/problems/targasonne/tombe-du-lit-4c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tombé du lit, 4c. Targasonne" src="https://img.youtube.com/vi/VH8cHYL7IGM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/tombe-du-lit-4c" class="table-row-name text-bold">Tombé du lit</a>
									</div>
								</td>
								<td>4c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Vino tinto, 5c. Targasonne" href="/problems/targasonne/vino-tinto-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Vino tinto, 5c. Targasonne" src="https://img.youtube.com/vi/ah017d-ovfk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/vino-tinto-5c" class="table-row-name text-bold">Vino tinto</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Virgule, 7a+. Targasonne" href="/problems/targasonne/virgule-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Virgule, 7a+. Targasonne" src="https://img.youtube.com/vi/oIEn4RzRMac/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/virgule-7a" class="table-row-name text-bold">Virgule</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Voisins discrets, 5c. Targasonne" href="/problems/targasonne/voisins-discrets-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Voisins discrets, 5c. Targasonne" src="https://img.youtube.com/vi/H-LUknT_oEI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/voisins-discrets-5c" class="table-row-name text-bold">Voisins discrets</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ziza, 6a. Targasonne" href="/problems/targasonne/ziza-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ziza, 6a. Targasonne" src="https://img.youtube.com/vi/t99oZk3ad7o/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/ziza-6a" class="table-row-name text-bold">Ziza</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>