<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Bosquet at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Bosquet at Targasonne | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/bosquet">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Bosquet, Targasonne 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOkOF45zbIpS3mdUK7o3xFm" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/le-trou-noir" class="table-row-name text-bold">Le trou noir</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-1-right-bosquet" class="table-row-name text-bold">Problem 1 Right (Bosquet)</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-2-bosquet" class="table-row-name text-bold">Problem 2 (Bosquet)</a>
						</td>
						<td>Unknown</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-4-bosquet" class="table-row-name text-bold">Problem 4 (Bosquet)</a>
						</td>
						<td>Unknown</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>