<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Carrière at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Carrière at Targasonne | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/carriere">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				  
			    </h1>
				
<div class="container">
	<h1 style="text-align: center;"> Carrière, Targasonne</h1>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMTsJrVO1kS94Xq3gR4xC4e" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/targasonne/accarian-troubadour">Accarian troubadour, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/breefing">Breefing, 5b</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/crucifixion">Crucifixion, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/dalala">Dalala, 4c</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/le-pardon">Le pardon, 8a</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/les-3-primes">Les 3 Primes, 6a (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/planete-des-songes">Planète des songes, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-1-carriere">Problem 1 (Carrière), 5c</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-10-carriere">Problem 10 (Carrière), 5c</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-11-carriere">Problem 11 (Carrière), 4c</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-14-carriere">Problem 14 (Carrière,), 6a</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-15-carriere">Problem 15 (Carrière), 5a</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-16-carriere">Problem 16 (Carrière), 5a</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-17-carriere">Problem 17 (Carrière), 5c</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-20-carriere">Problem 20 (Carrière), 5b</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-21-carriere">Problem 21 (Carrière), 4a</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-23-carriere">Problem 23 (Carrière), 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/problem-9-carriere">Problem 9 (Carrière), 5b</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/sing-while-you-may">Sing while you may, 8a (Du fond)</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/sing-while-you-may">Sing while you may, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/targasonne/ticket-tacc">Ticket tacc, 6c</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>