<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Chapeau at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Chapeau at Targasonne | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/chapeau">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Chapeau, Targasonne 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMmw7mnuM2OEtXU9BeZMF1n" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/adehop" class="table-row-name text-bold">Adéhop</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/ashes-to-ashes-taragasonne" class="table-row-name text-bold">Ashes to ashes, . Taragasonne</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/bourrinator" class="table-row-name text-bold">Bourrinator</a>
						</td>
						<td>6c (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/dogma-l-oeil-du-voisin" class="table-row-name text-bold">Dogma (L'oeil du voisin)</a>
						</td>
						<td>7c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/facehugger" class="table-row-name text-bold">Facehugger</a>
						</td>
						<td>8a+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/facehugger" class="table-row-name text-bold">Facehugger</a>
						</td>
						<td>7c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/fight-fascism" class="table-row-name text-bold">Fight fascism</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/l-oeuf-d-alien" class="table-row-name text-bold">L'oeuf d'alien</a>
						</td>
						<td>7a+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/l-ecume-des-lourds" class="table-row-name text-bold">L'écume des lourds</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/longimalus" class="table-row-name text-bold">Longimalus</a>
						</td>
						<td>6b (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/mirazapata" class="table-row-name text-bold">Mirazapata</a>
						</td>
						<td>4</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/pas-cash" class="table-row-name text-bold">Pas cash</a>
						</td>
						<td>7a (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-102-chapeau" class="table-row-name text-bold">Problem 102 (Chapeau)</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-103-chapeau" class="table-row-name text-bold">Problem 103 (Chapeau)</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-105-chapeau" class="table-row-name text-bold">Problem 105 (Chapeau)</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-108-chapeau" class="table-row-name text-bold">Problem 108 (Chapeau)</a>
						</td>
						<td>4</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-109-right-chapeau" class="table-row-name text-bold">Problem 109 Right (Chapeau)</a>
						</td>
						<td>3+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-111-chapeau" class="table-row-name text-bold">Problem 111 (Chapeau)</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-117-chapeau" class="table-row-name text-bold">Problem 117 (Chapeau)</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-6-chapeau" class="table-row-name text-bold">Problem 6 (Chapeau)</a>
						</td>
						<td>5+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-80-chapeau" class="table-row-name text-bold">Problem 80 (Chapeau)</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-87-chapeau" class="table-row-name text-bold">Problem 87 (Chapeau)</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-93-chapeau" class="table-row-name text-bold">Problem 93 (Chapeau)</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-95-chapeau" class="table-row-name text-bold">Problem 95 (Chapeau)</a>
						</td>
						<td>5b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/problem-96-chapeau" class="table-row-name text-bold">Problem 96 (Chapeau)</a>
						</td>
						<td>5b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/t-style" class="table-row-name text-bold">T style</a>
						</td>
						<td>4</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/tape-a-l-oeil" class="table-row-name text-bold">Tape à l'oeil</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/yen-pox" class="table-row-name text-bold">Yen pox</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/targasonne/zone-rouge" class="table-row-name text-bold">Zone rouge</a>
						</td>
						<td>6c+</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>