<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Créatura at Targasonne | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Créatura at Targasonne | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/targasonne/creatura">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/targasonne" class="zone-header-tree-link">Targasonne</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Créatura of Targasonne
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNoWHLgO-kTx8n2nLt6tov7" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="21 grammes, 7c+.Targasonne" href="/problems/targasonne/21-grammes-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: 21 grammes, 7c+.Targasonne" src="https://img.youtube.com/vi/JXwx8L3FbQ0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/21-grammes-7c" class="table-row-name text-bold">21 grammes</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="21 grammes, 8b (sit). Targasonne" href="/problems/targasonne/21-grammes-8b-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: 21 grammes, 8b (sit). Targasonne" src="https://img.youtube.com/vi/_wYQpvR9OMQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/21-grammes-8b-sit" class="table-row-name text-bold">21 grammes</a>
									</div>
								</td>
								<td>8b (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Antiacide, 6b. Targasonne" href="/problems/targasonne/antiacide-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Antiacide, 6b. Targasonne" src="https://img.youtube.com/vi/kv3_Fx6xi4I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/antiacide-6b" class="table-row-name text-bold">Antiacide</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Corazon partido, 6c. Targasonne" href="/problems/targasonne/corazon-partido-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Corazon partido, 6c. Targasonne" src="https://img.youtube.com/vi/gxSPj5t5cOM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/corazon-partido-6c" class="table-row-name text-bold">Corazon partido</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Créatura, 8b (sit). Targasonne" href="/problems/targasonne/creatura-8b-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Créatura, 8b (sit). Targasonne" src="https://img.youtube.com/vi/gbbary3iEjo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/creatura-8b-sit" class="table-row-name text-bold">Créatura</a>
									</div>
								</td>
								<td>8b (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Cupula, 6c. Targasonne" href="/problems/targasonne/cupula-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cupula, 6c. Targasonne" src="https://img.youtube.com/vi/ybIAlqThr7c/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/cupula-6c" class="table-row-name text-bold">Cupula</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Euphémisme, 6b. Targasonne" href="/problems/targasonne/euphemisme-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Euphémisme, 6b. Targasonne" src="https://img.youtube.com/vi/Vbm1AqN7Mn4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/euphemisme-6b" class="table-row-name text-bold">Euphémisme</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Evol, 6a+. Targasonne" href="/problems/targasonne/evol-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Evol, 6a+. Targasonne" src="https://img.youtube.com/vi/QHQMOEKUDDU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/evol-6a" class="table-row-name text-bold">Evol</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Gang de requin Extension, 7b+. Targasonne" href="/problems/targasonne/gang-de-requin-extension-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Gang de requin Extension, 7b+. Targasonne" src="https://img.youtube.com/vi/lADrjCX-kWM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/gang-de-requin-extension-7b" class="table-row-name text-bold">Gang de requin Extension</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Illusion sensorielle, 5c. Targasonne" href="/problems/targasonne/illusion-sensorielle-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Illusion sensorielle, 5c. Targasonne" src="https://img.youtube.com/vi/d60flkDCmVA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/illusion-sensorielle-5c" class="table-row-name text-bold">Illusion sensorielle</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'effet de foehn, 7a. Targasonne" href="/problems/targasonne/l-effet-de-foehn-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'effet de foehn, 7a. Targasonne" src="https://img.youtube.com/vi/RiGt8K8S_zg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/l-effet-de-foehn-7a" class="table-row-name text-bold">L'effet de foehn</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'emsemble de Mandelbrot, 6a+. Targasonne" href="/problems/targasonne/l-ensemble-de-mandelbrot-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'emsemble de Mandelbrot, 6a+. Targasonne" src="https://img.youtube.com/vi/v-GSgHRzlzw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/l-ensemble-de-mandelbrot-6a" class="table-row-name text-bold">L'ensemble de Mandelbrot</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La voie du samuraï, 6c. Targasonne" href="/problems/targasonne/la-voie-du-samurai-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La voie du samuraï, 6c. Targasonne" src="https://img.youtube.com/vi/mX53fcX1Zeg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/la-voie-du-samurai-6c" class="table-row-name text-bold">La voie du samuraï</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Lobotomie, 7a+. Targasonne" href="/problems/targasonne/lobotomie-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Lobotomie, 7a+. Targasonne" src="https://img.youtube.com/vi/XsC7uIJSwrQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/lobotomie-7a" class="table-row-name text-bold">Lobotomie</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mange plat Right, 6b+. Targasonne" href="/problems/targasonne/m-ange-plat-right-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mange plat Right, 6b+. Targasonne" src="https://img.youtube.com/vi/o0FQ8nWOB4s/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/m-ange-plat-right-6b" class="table-row-name text-bold">M,ange plat Right</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mange plat, 6a. Targasonne" href="/problems/targasonne/mange-plat-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mange plat, 6a. Targasonne" src="https://img.youtube.com/vi/LYx0zOMO-gM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/mange-plat-6a" class="table-row-name text-bold">Mange plat</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Motif récurrent, 5c (sit). Targasonne" href="/problems/targasonne/motif-recurrent-5c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Motif récurrent, 5c (sit). Targasonne" src="https://img.youtube.com/vi/fwUNEfwZU5E/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/motif-recurrent-5c-sit" class="table-row-name text-bold">Motif récurrent</a>
									</div>
								</td>
								<td>5c (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Plongeoir mouillé darrière. Targasonne" href="/problems/targasonne/plongeoir-mouille-darriere-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Plongeoir mouillé darrière. Targasonne" src="https://img.youtube.com/vi/hzkAElnIqOM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/plongeoir-mouille-darriere-unknown" class="table-row-name text-bold">Plongeoir mouillé darrière</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Plongeoir moullié, 6c (sit). Targasonne" href="/problems/targasonne/plongeoir-moullie-6c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Plongeoir moullié, 6c (sit). Targasonne" src="https://img.youtube.com/vi/-QJE-e1spKo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/plongeoir-moullie-6c-sit" class="table-row-name text-bold">Plongeoir moullié</a>
									</div>
								</td>
								<td>6c (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pléonasme, 6b+. Targasonne" href="/problems/targasonne/pleonasme-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pléonasme, 6b+. Targasonne" src="https://img.youtube.com/vi/oL68tsW14pM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/pleonasme-6b" class="table-row-name text-bold">Pléonasme</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pose longue, 5a. Targasonne" href="/problems/targasonne/pose-longue-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pose longue, 5a. Targasonne" src="https://img.youtube.com/vi/JSm-tl-rWAo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/pose-longue-5a" class="table-row-name text-bold">Pose longue</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pour adultes, 5a. Targasonne" href="/problems/targasonne/pour-adultes-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pour adultes, 5a. Targasonne" src="https://img.youtube.com/vi/kswuy8nHgHc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/pour-adultes-5a" class="table-row-name text-bold">Pour adultes</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Renaiss, 7b+ (sit). Targasonne" href="/problems/targasonne/renaiss-7b-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Renaiss, 7b+ (sit). Targasonne" src="https://img.youtube.com/vi/pe8b6QcfjNY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/renaiss-7b-sit" class="table-row-name text-bold">Renaiss</a>
									</div>
								</td>
								<td>7b+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ronde-bosse, 5b. Targasonne" href="/problems/targasonne/ronde-bosse-5b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ronde-bosse, 5b. Targasonne" src="https://img.youtube.com/vi/-L-caOokUa4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/ronde-bosse-5b" class="table-row-name text-bold">Ronde-bosse</a>
									</div>
								</td>
								<td>5b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Siège éjectable, 6a. Targasonne" href="/problems/targasonne/siege-ejectable-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Siège éjectable, 6a. Targasonne" src="https://img.youtube.com/vi/9pE7pygC8bU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/siege-ejectable-6a" class="table-row-name text-bold">Siège éjectable</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Smirking face, 4a. Targasonne" href="/problems/targasonne/smirking-face-4a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Smirking face, 4a. Targasonne" src="https://img.youtube.com/vi/purjMA9tElk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/smirking-face-4a" class="table-row-name text-bold">Smirking face</a>
									</div>
								</td>
								<td>4a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tribulation, 6b+. Targasonne" href="/problems/targasonne/tribulation-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tribulation, 6b+. Targasonne" src="https://img.youtube.com/vi/vjDCZgo1Ehg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/tribulation-6b" class="table-row-name text-bold">Tribulation</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tue-peau leffe, 7a. Targasonne" href="/problems/targasonne/tue-peau-leffe-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tue-peau leffe, 7a. Targasonne" src="https://img.youtube.com/vi/qE48oH05VLQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/targasonne/tue-peau-leffe-7a" class="table-row-name text-bold">Tue-peau leffe</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>