<!DOCTYPE html>
<html>
  <head>
    <title>  </title>
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Taz  </h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMXhPskXrkhdCTkZccSf_fa" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/targasonne/problem/Help_Jesus_revient">(Help!) Jesus revient, 7a</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/A_poertee_de_nains">A poertée de nains, 6b+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Absinthe">Absinthe, 7c+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Absinthe">Absinthe, 8a+ (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Alien_tambe_era_calvo">Alien tambe era calvo, 7a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Body_in_decay">Body in decay, 7a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Bouillon_de_culture">Bouillon de culture, 8a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Cabale">Cabale, 7a</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Cabale">Cabale, 7c? (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Compression">Compression, 8a (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Deadness">Deadness, 6c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Devoreur_de_lumiere">Devoreur de lumière, 6c (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/El_hadjiz">El hadjiz, 7b+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/El_hadjiz">El hadjiz, 7c+ (ssit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Eroto_mecanics">Eroto mecanics, 8a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Foot_oublie">Foot oublié, 7b/+ (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Foot_oublie">Foot oublié, 6c+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Free_zone">Free zone, 6a (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Gotcha">Gotcha, 6c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Hypnose">Hypnose, 4b</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Kebab_traum">Kebab traum, 7b (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Kebab_traum">Kebab traum, 6c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Laquarium_envole">L'aquarium envolé, 7a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/La_fee_verte">La fée verte, 8a (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Lamed_vav">Lamed vav, 4c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Laminak">Laminak, 7a</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Le_conte_de_la_neige_noire">Le conte de la neige noire, 7a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Le_seigneur_des_anales">Le seigneur des anales, 8a (trav)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Le_seigneur_des_anales">Le seigneur des anales, 7b</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Le_sous_peuple">Le sous peuple, 7b+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Le_tombeau_de_damme_panc_ashash">Le tombeau de damme panc ashash, 7c+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Le_tombeau_de_damme_panc_ashash_Right">Le tombeau de damme panc ashash Right, 8a+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Lucky_loser">Lucky loser, 8b</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Lumiere_et_melancolie">Lumière et mélancolie, 6b</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/La-bas">Là-bas, 6a</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Matrix">Matrix, 7c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Mother_of_Dragons">Mother of Dragons, 7b+?</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Nazgul">Nazgul, 7c+ (trav)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Nazgul">Nazgul, 7c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Problem_3_Taz">Problem 3 (Taz), 5c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Problem_47_Taz">Problem 47 (Taz), 6a</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Problem_48_Taz">Problem 48 (Taz), 6a</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Problem_72_Taz">Problem 72' (Taz), 6c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Queen_of_hearts">Queen of hearts, 8b/8b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Scarification">Scarification, 6c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Serrez_stimulez">Serrez stimulez, 7b</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Si_pres_de_lantre">Si prés de l'antre, 5c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Thanatodrome">Thanatodrome, 7c+</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Un_soufle">Un soufle, 5c</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Unknown_Taz">Unknown (Taz), 6c/7a?</a>
		</li>
		
		<li>
		  <a href="/targasonne/problem/Zone_dautonomie_temporaire">Zone d'autonomie temporaire, 6a+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>