<!DOCTYPE html>
<html>
  <head>
    <title>  </title>
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Unknown  </h2>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/hoyamoros/problem/Cuerpo_de_Hombre">Cuerpo de Hombre, 7a</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/El_Choten">El Chotén, 7a</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/El_nido_del_Cuco">El nido del Cuco, 7b+</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Fisura_hutus">Fisura hutus, 7b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Juego_de_Tronos">Juego de Tronos, 7c+</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/La_Uve">La Uve, 7a</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Lance_portugues">Lance portugués, 7a</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Liquid_Sun">Liquid Sun, 6c</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Nimeacuerdo">Nimeacuerdo, 6b+</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Piornimans">Piornimans, 6c+</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Portucuco">Portucuco, 8a+</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Sinaloa">Sinaloa, 6c</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Sol_de_Oro">Sol de Oro, 6b+</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Treparriscos">Treparriscos, 7c</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Urandrea">Urandrea, 8a</a>
		</li>
		
		<li>
		  <a href="/hoyamoros/problem/Urandrea_corto">Urandrea corto, 7c+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>