<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Unknown at Torrelodones | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Torrelodones | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/torrelodones/unknown">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Unknown, Torrelodones 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/torrelodones/aeroplano" class="table-row-name text-bold">Aeroplano</a>
						</td>
						<td>6c+/7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/torrelodones/arramplachoflas" class="table-row-name text-bold">Arramplachoflas</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/torrelodones/farias-izquierda" class="table-row-name text-bold">Farias izquierda</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/torrelodones/gato-cosmico" class="table-row-name text-bold">Gato Cósmico</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/torrelodones/zanzibar" class="table-row-name text-bold">Zanzibar</a>
						</td>
						<td>7c</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>