<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Zonas de Boulder en México | MadBoulder</title>
	<meta name="description" content="Descubre toas las 1 Zonas de Boulder en México | MadBoulder">

	<meta name="description" content="Información y videos de las zonas de boulder de  | MadBoulder">
	
	<link rel="canonical" href="https://www.madboulder.org/countries/es/mexico">
	<link rel="alternate" hreflang="en" href="https://www.madboulder.org/countries/mexico">
	<link rel="alternate" hreflang="es" href="https://www.madboulder.org/countries/es/mexico">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/zones.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/country.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">Todas las Zonas</a>
			</div>
			<h1 class="zone-header-title text-bold">
				1 Zonas de Boulder en México
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container">
				<h2>Boulder en México</h2>
				<p class="country-overview" id="overview">
					La escena de boulder en México está en pleno auge, ofreciendo ubicaciones diversas para los escaladores.<br><br>Peñoles, Salazar, Mineral del Chico, Ixcatán y El Diente de Jalisco son destinos destacados, cada uno contribuyendo al creciente protagonismo del país en la comunidad de escaladores. Con formaciones rocosas únicas, rutas desafiantes y paisajes pintorescos, estas áreas muestran el atractivo diverso y en constante crecimiento de México para los entusiastas del boulder.<br><br>Notablemente, El Diente de Jalisco tiene importancia histórica al ser uno de los lugares clave del nacimiento del boulder en México y atraer a escaladores famosos como Chris Sharma.<br><br>A medida que crece el interés en el boulder, las variadas oportunidades de escalada en México lo convierten en un destino atractivo para aquellos que buscan desafíos nuevos y emocionantes.
				</p>
				<div class="ellipsis-container">
					<span class="ellipsis" id="ellipsis">...</span>
				</div>
				<p id="showMoreLink" class="show-more-trigger" onclick="toggleShowMore()">Read more</p>
				<script>
					document.addEventListener("DOMContentLoaded", function() {
						var content = document.getElementById("overview");
						var showMoreLink = document.getElementById("showMoreLink");
		
						if (checkOverflow(content)) { 
							showMoreLink.style.display = "block";
							ellipsis.style.display = "inline";
							content.style.marginBottom = "0px"
						}
					});
		
					function checkOverflow(el) { 
						let curOverf = el.style.overflow; 
						 
						if ( !curOverf || curOverf === "visible" ) 
							el.style.overflow = "hidden"; 
						 
						let isOverflowing = el.clientWidth < el.scrollWidth
							|| el.clientHeight < el.scrollHeight; 
						 
						el.style.overflow = curOverf; 
						 
						return isOverflowing; 
					}
		
					function toggleShowMore() {
						var content = document.getElementById("overview");
						var showMoreLink = document.getElementById("showMoreLink");
						if (checkOverflow(content)) { 
							showMoreLink.textContent = "Show less";
							content.style.maxHeight = "none";
							ellipsis.style.display = "none";
						}
						else{
							showMoreLink.textContent = "Show more";
							content.style.maxHeight = "100px";
							ellipsis.style.display = "inline";
						}
					}
				</script>
			</div>
			
			
			<div class="container">
				<h2>Lista de 1 Zonas de Boulder</h2>
				<div class="md-form active-pink active-pink-2 mt-2 mr-0" style="display:flex; flex-wrap: nowrap;">
					<input id="search-zone" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="border-color: black;">
					<!-- Sort order -->
					<div class="btn-group mb-2 joint-btns">
						<div style="background: white; max-width: 100%; display: flex; border-radius: 0.25rem; border-color:black;">
							<select id="sort-criteria" onchange="ReorderZones()">
								
								<option value="alph" selected>Alfabeticamente</option>
								<option value="nvid">Numero de videos</option>
								
							</select>
							<button id="btn-asc" class="btn form-group-addon sort-btn" onclick="Sort(true)">
								<i class="fas fa-angle-up"></i>
							</button>
							<button id="btn-desc" class="btn form-group-addon sort-btn" onclick="Sort(false)">
								<i class="fas fa-angle-down"></i>
							</button>
						</div>
					</div>
				</div>
				<div id="zones-list" style="display: flex; flex-wrap: wrap; justify-content: center;">
					
						<div class="custom-card" id="salazar_mexico">
							
							
							<a href="/salazar" style="text-decoration: none;">
								<div class="card-body">
									<div class="card-body-image-container">
										<div class="card-body-image-container-container">
											<img loading="lazy" class="card-body-image">
										</div>
									</div>
									<div class="card-body-title-container">
										<h5 class="text-bold card-title">Salazar</h5>
										<p class="card-text">
										</p>
									</div>
								</div>
							</a>
							<script>
								document.addEventListener("DOMContentLoaded", function() {
									var card = document.getElementById("salazar_mexico");
									var cardImage = card.querySelector(".card-body-image");
									cardImage.src = "https://i.ytimg.com/vi/Em2QxBbMvTc/maxresdefault.jpg";
									var cardText = card.querySelector(".card-text");
									var videoCount = 7;
									cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
									cardText.setAttribute("data-videos", videoCount);
								});		
							</script>
							
						</div>
					
					
					<script>
						function Sort(asc) {
						var criteria = $("#sort-criteria")[0].value;
						$(".custom-card").sort(function(a, b) {
							if (criteria==="nvid") {
							var aValue = parseInt($(a).find("p")[0].dataset.videos);
							var bValue = parseInt($(b).find("p")[0].dataset.videos);
							return (asc ? 1 : -1) * (aValue - bValue);
							}
							else if (criteria==="alph") {
							return (asc ? 1 : -1) * ($(a).find("h5")[0].textContent.localeCompare($(b).find("h5")[0].textContent));
							}
						}).appendTo('#zones-list');
						sessionStorage.setItem("sortCriteria", criteria);
						if(asc){
							sessionStorage.setItem("sortOrder", "asc");
							$("#btn-asc").hide();
							$("#btn-desc").show();
						} 
						else{
							sessionStorage.setItem("sortOrder", "des");
							$("#btn-asc").show();
							$("#btn-desc").hide();
						}
						};
						
						function ReorderZones() {
						if (sessionStorage.getItem("sortOrder") === "asc")
							Sort(asc=true);
						else if (sessionStorage.getItem("sortOrder") === "des")
							Sort(asc=true);
						};
						
						window.addEventListener('load', function() {
						var $cards = $(".custom-card");
						
						$("#search-zone").keyup(function() {
							var val = $.trim(this.value).toLowerCase();
							if (val === "")
								$cards.show();
							else {
								$cards.hide();
								$cards.each(function(){
								if($(this).find(".card-title")[0].innerHTML.toLowerCase().indexOf(val) != -1) {
									$(this).show();
								}
								});
							}
						});
						});
					</script>
				</div>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>