<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Escorpí at La Roca del Vallès | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Escorpí at La Roca del Vallès | MadBoulder">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Escorpí, La Roca del Vallès</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN49eXALRxJvdLWMiemU1Jt" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/la-roca-del-valles/problem/cabirol">Cabirol, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/cagadero-prehistoric">Cagadero prehistòric, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/center-de-masses">Center de masses, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/cul-de-vidre">Cul de Vidre, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/dream-karcher">Dream karcher, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/kobe-sit">Kobe sit, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/mini-aret">Mini Aret, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/push-the-pussy">Push the pussy, Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/trave-del-pi-sec">Trave del pi sec , Unknown</a>
		</li>
		
		<li>
		  <a href="/la-roca-del-valles/problem/vulva">Vulva, Unknown</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>