<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Perdut at Savassona | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Perdut at Savassona | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/savassona/perdut">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				  
			    </h1>
				
<div class="container">
	<h1 style="text-align: center;"> Perdut, Savassona</h1>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPMR61xiVMiJjji_F56aCTU" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/savassona/averell-dalton">Averell Dalton, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/cmyk">CMYK, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/el-classic">El Clàssic, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/el-desplom-dels-nens">El Desplom dels Nens, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/el-lepros">El Leprós, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/el-penjat">El Penjat, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/els-gallecs">Els Gallecs, 6c (sit) </a>
		</li>
		
		<li>
		  <a href="/problems/savassona/fabre">Fabre, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/jack-dalton">Jack Dalton, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/joe-dalton">Joe Dalton, 6a (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/joe-dalton">Joe Dalton, 5</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/l-aorkat">L'Aorkat, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/la-perla">La Perla, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/la-xurrera">La Xurrera, 6a+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/la-figuera">La figuera, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/la-trave-del-lepros">La trave del Leprós, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/lepra">Lepra, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/mondongo">Mondongo, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/problem-1-pedra-fonten">Problem 1 (Pedra Fonten), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/rgb">RGB, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/trave-fonten">Trave Fonten, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/trave-de-la-figuera">Trave de la Figuera, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/trave-del-mondongo-left">Trave del Mondongo Left, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/savassona/topic">Tòpic, 6c</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>