<!DOCTYPE html>
<html>
  <head>
    <title>Sector Senglar at Savassona | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Senglar at Savassona | MadBoulder">
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Senglar, Savassona</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO2YmEVGVV836gyb7XWKl1J" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/savassona/problem/Jumanji">Jumanji, 6a+</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Lance_del_Regletometro">Lance del Regletómetro, 5</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Mowgli">Mowgli, Unknown</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Placa_de_la_Veritat">Placa de la Veritat, 6b</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Problema_6_Passadis">Problema 6 (Passadís), 6b</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Problema_7_Passadis">Problema 7 (Passadís), 6b</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Regletometro">Regletómetro, 5</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Regletometro_Esquerra">Regletómetro Esquerra, 4+</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Res_es_el_que_sembla">Res és el que sembla, 6a</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/Reunio_Clandestina">Reunió Clandestina, 6c</a>
		</li>
		
		<li>
		  <a href="/savassona/problem/The_Jungle">The Jungle, 5+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>