<!DOCTYPE html>
<html lang="en">
  <head>
    <title>La Force Tranquile 8c Boulder Problem in Magic Wood | MadBoulder</title>
	<meta name="description" content="Videos of La Force Tranquile Boulder Problem in Magic Wood climbed by Nicolas Pelorson | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/magic-wood/la-force-tranquile-8c">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
				
				> 
				<a href="/states/graubunden" class="zone-header-tree-link">Graubünden</a>
				
				> 
				<a href="/magic-wood" class="zone-header-tree-link">Magic Wood</a>
				> 
				<a href="/sectors/magic-wood/mitte" class="zone-header-tree-link">Mitte</a>
				
				> 
				<a href="/boulders/magic-wood/" class="zone-header-tree-link">27</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				La Force Tranquile, 8c. Magic Wood
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/nCVhExdGoOE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: La Force Tranquile </p>
					<p> {{ _("Grade") }}: 8c </p>
					
						<p> {{ _("Zone") }}: <a href="/magic-wood">Magic Wood</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/magic-wood/mitte">Mitte</a></p>
					
					
						
							<p> {{ _("Boulder") }}: 27</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/nicolas-pelorson">Nicolas Pelorson</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>