<!DOCTYPE html>
<html lang="en">
  <head>
    <title>More Mantle Magic 6a Boulder Problem in Magic Wood | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of More Mantle Magic Boulder Problem in Magic Wood climbed by @sooniagm | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/magic-wood/more-mantle-magic-6a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
	
	 > 
	<a href="/states/graubunden" class="zone-header-tree-link">Graubünden</a>
	
	 > 
	<a href="/magic-wood" class="zone-header-tree-link">Magic Wood</a>
	 > 
	<a href="/sectors/magic-wood/bach" class="zone-header-tree-link">Bach</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 More Mantle Magic, 6a. Magic Wood 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/KUx7feKKH7o" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: More Mantle Magic </p>
		<p> {{ _("Grade") }}: 6a </p>
		<p> {{ _("Zone") }}: <a href="/magic-wood">Magic Wood</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/magic-wood/bach">Bach</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/sooniagm">@sooniagm</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>