<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Bosc Màgic at Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Bosc Màgic at Cavallers | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/cavallers/bosc-magic">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
			</div>
			<h1 class="zone-header-title text-bold">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
			   
				> 
			   <a href="/cavallers" class="zone-header-tree-link">Cavallers</a>
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNoOhNXAkjpY-FzY46TlJI3" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Amagatall, 6c+. Cavallers" href="/problems/cavallers/amagatall-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Amagatall, 6c+. Cavallers" src="https://img.youtube.com/vi/NzmVLwRLsyo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/amagatall-6c" class="table-row-name text-bold">Amagatall</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Amanita, 6a. Cavallers" href="/problems/cavallers/amanita-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Amanita, 6a. Cavallers" src="https://img.youtube.com/vi/40aTKsPxyXY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/amanita-6a" class="table-row-name text-bold">Amanita</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bosc, 5c. Cavallers" href="/problems/cavallers/bosc-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bosc, 5c. Cavallers" src="https://img.youtube.com/vi/dw1tVfghRXA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/bosc-5c" class="table-row-name text-bold">Bosc</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Dia, 5a. Cavallers" href="/problems/cavallers/dia-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Dia, 5a. Cavallers" src="https://img.youtube.com/vi/7djVFKqh8Wc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/dia-5a" class="table-row-name text-bold">Dia</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Diabòliques, 6b+. Cavallers" href="/problems/cavallers/diaboliques-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Diabòliques, 6b+. Cavallers" src="https://img.youtube.com/vi/5CM7Y6yBNSY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/diaboliques-6b" class="table-row-name text-bold">Diabòliques</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fills dels mitjons, 7c+. Cavallers" href="/problems/cavallers/fills-dels-mitjons-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fills dels mitjons, 7c+. Cavallers" src="https://img.youtube.com/vi/nL4pdd-o424/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/fills-dels-mitjons-7c" class="table-row-name text-bold">Fills dels mitjons</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Gratuït, 5c. Cavallers" href="/problems/cavallers/gratuit-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Gratuït, 5c. Cavallers" src="https://img.youtube.com/vi/Qhp5MXfGmlw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/gratuit-5c" class="table-row-name text-bold">Gratuït</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="H.h, 7b. Cavallers" href="/problems/cavallers/h-h-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: H.h, 7b. Cavallers" src="https://img.youtube.com/vi/viqHhTaRNU8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/h-h-7b" class="table-row-name text-bold">H.h</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="H.h.h, 7b+. Cavallers" href="/problems/cavallers/h-h-h-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: H.h.h, 7b+. Cavallers" src="https://img.youtube.com/vi/hXNPe7IcpIs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/h-h-h-7b" class="table-row-name text-bold">H.h.h</a>
									</div>
								</td>
								<td>7b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Iron Andrer, 7a. Cavallers" href="/problems/cavallers/iron-andrer-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Iron Andrer, 7a. Cavallers" src="https://img.youtube.com/vi/HEof4OP4Y4c/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/iron-andrer-7a" class="table-row-name text-bold">Iron Andrer</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Peatge, 6a+. Cavallers" href="/problems/cavallers/peatge-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Peatge, 6a+. Cavallers" src="https://img.youtube.com/vi/8qVgvffbSQg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/peatge-6a" class="table-row-name text-bold">Peatge</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Plàstic, 6a+. Cavallers" href="/problems/cavallers/plastic-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Plàstic, 6a+. Cavallers" src="https://img.youtube.com/vi/LoXyYE6ncFg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/plastic-6a" class="table-row-name text-bold">Plàstic</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Primera, 6b+. Cavallers" href="/problems/cavallers/primera-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Primera, 6b+. Cavallers" src="https://img.youtube.com/vi/d5kbn8Xos7s/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/primera-6b" class="table-row-name text-bold">Primera</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Romàntica, 7a. Cavallers" href="/problems/cavallers/romantica-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Romàntica, 7a. Cavallers" src="https://img.youtube.com/vi/ZJbQXa0LJM8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/romantica-7a" class="table-row-name text-bold">Romàntica</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Surfista, 6b+. Cavallers" href="/problems/cavallers/surfista-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Surfista, 6b+. Cavallers" src="https://img.youtube.com/vi/rNx76fuBkd4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/surfista-6b" class="table-row-name text-bold">Surfista</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tovallola, 6c+. Cavallers" href="/problems/cavallers/tovallola-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tovallola, 6c+. Cavallers" src="https://img.youtube.com/vi/BrXkGoTYEoI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/tovallola-6c" class="table-row-name text-bold">Tovallola</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>