<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector El Prat at Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector El Prat at Cavallers | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/cavallers/el-prat">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector El Prat, Cavallers 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNReTFgd_Z9GJqRIra_WLoT" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/ades" class="table-row-name text-bold">Adés</a>
						</td>
						<td>4c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/antosta" class="table-row-name text-bold">Antosta</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/boca-negra" class="table-row-name text-bold">Boca negra</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/boca-seca-man" class="table-row-name text-bold">Boca seca man</a>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/broma" class="table-row-name text-bold">Broma</a>
						</td>
						<td>5c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/buscallada" class="table-row-name text-bold">Buscallada</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/camp-de-trumfos" class="table-row-name text-bold">Camp de trumfos</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/carlos-fantova" class="table-row-name text-bold">Carlos Fantova</a>
						</td>
						<td>7c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/contrapeus" class="table-row-name text-bold">Contrapeus</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/decadencia" class="table-row-name text-bold">Decadència</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/dilluns" class="table-row-name text-bold">Dilluns</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/directa-italiana" class="table-row-name text-bold">Directa italiana</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/dissabte" class="table-row-name text-bold">Dissabte</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/ditxous" class="table-row-name text-bold">Ditxous</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/divendres" class="table-row-name text-bold">Divendres</a>
						</td>
						<td>3a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/diversio" class="table-row-name text-bold">Diversió</a>
						</td>
						<td>3a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/el-forat" class="table-row-name text-bold">El forat</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/escacs" class="table-row-name text-bold">Escacs</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/espero-del-prat" class="table-row-name text-bold">Esperó del prat</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/formatge" class="table-row-name text-bold">Formatge</a>
						</td>
						<td>4c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/frontal" class="table-row-name text-bold">Frontal</a>
						</td>
						<td>4a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/genoll-falcat" class="table-row-name text-bold">Genoll falcat</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/julianes" class="table-row-name text-bold">Julianes</a>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/l-arc" class="table-row-name text-bold">L'arc</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/la-forca" class="table-row-name text-bold">La Força</a>
						</td>
						<td>7c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/la-carnisseria" class="table-row-name text-bold">La carnisseria</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/la-cuca-fera" class="table-row-name text-bold">La cuca fera</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/la-placa" class="table-row-name text-bold">La placa</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/la-vaca" class="table-row-name text-bold">La vaca</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/lil-liput" class="table-row-name text-bold">Lil·liput</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/lo-ruc" class="table-row-name text-bold">Lo ruc</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/mala-conducta" class="table-row-name text-bold">Mala conducta</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/muntada" class="table-row-name text-bold">Muntada</a>
						</td>
						<td>3c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/ovella" class="table-row-name text-bold">Ovella</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/placa-del-prat" class="table-row-name text-bold">Placa del Prat</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/puntera" class="table-row-name text-bold">Puntera</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/romossoma" class="table-row-name text-bold">Romossoma</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/roquera" class="table-row-name text-bold">Roquera</a>
						</td>
						<td>5c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/test" class="table-row-name text-bold">Test</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/tota" class="table-row-name text-bold">Tota</a>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/tremolor" class="table-row-name text-bold">Tremolor</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/tremolor" class="table-row-name text-bold">Tremolor</a>
						</td>
						<td>5c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/violeta" class="table-row-name text-bold">Violeta</a>
						</td>
						<td>5c</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$.fn.dataTable.ext.type.order['vgrade-pre'] = function(data) {
				var regex = /^V(\d+)/;// Regular expression to match V-grades like 'V0', 'V1', etc.

				var match = regex.exec(data);
				if (match) {
					var numericValue = parseInt(match[1], 10);
					return numericValue;
				} else {
					return data;
				}
			};

			$(document).ready(function () {
				function filter_problems_by_query(search_query) {
					var $problems = $(".problem-row");
					if (search_query === "")
						$problems.show();
					else {
						$problems.hide();
						$problems.each(function() {
							var rowName = $(this).find(".table-row-name").text().toLowerCase();
							if (rowName.indexOf(search_query) !== -1) {
								$(this).show();
							}
						});
					}
				};
			
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'vgrade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					filter_problems_by_query(search_query)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>