<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector La Ferradura at Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector La Ferradura at Cavallers | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/cavallers/la-ferradura">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
			   
				> 
			   <a href="/cavallers" class="zone-header-tree-link">Cavallers</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector La Ferradura of Cavallers
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPww2rq3KE9MNKj6cUZnQ2J" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Aloevera, 6c. Cavallers" href="/problems/cavallers/aloevera-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Aloevera, 6c. Cavallers" src="https://img.youtube.com/vi/EObuMzcGXw8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/aloevera-6c" class="table-row-name text-bold">Aloevera</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Anticrits, 6b. Cavallers" href="/problems/cavallers/anticrits-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Anticrits, 6b. Cavallers" src="https://img.youtube.com/vi/fVtd8hsMUaQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/anticrits-6b" class="table-row-name text-bold">Anticrits</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Aresta, 6b+. Cavallers" href="/problems/cavallers/aresta-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Aresta, 6b+. Cavallers" src="https://img.youtube.com/vi/BuTmhrEFKj0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/aresta-6b" class="table-row-name text-bold">Aresta</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Arrencament, 5c. Cavallers" href="/problems/cavallers/arrencament-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Arrencament, 5c. Cavallers" src="https://img.youtube.com/vi/KghxN1Lmolg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/arrencament-5c" class="table-row-name text-bold">Arrencament</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Banyera, 5a. Cavallers" href="/problems/cavallers/banyera-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Banyera, 5a. Cavallers" src="https://img.youtube.com/vi/ju7M1nR0wRc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/banyera-5a" class="table-row-name text-bold">Banyera</a>
									</div>
								</td>
								<td>5a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Capell, 5c. Cavallers" href="/problems/cavallers/capell-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Capell, 5c. Cavallers" src="https://img.youtube.com/vi/GN1e9Sohfm8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/capell-5c" class="table-row-name text-bold">Capell</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Clavament, 6a+. Cavallers" href="/problems/cavallers/clavament-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Clavament, 6a+. Cavallers" src="https://img.youtube.com/vi/Z7sYsPnvaUE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/clavament-6a" class="table-row-name text-bold">Clavament</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Do, 6a. Cavallers" href="/problems/cavallers/do-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Do, 6a. Cavallers" src="https://img.youtube.com/vi/Mwl1ipCNiT8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/do-6a" class="table-row-name text-bold">Do</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El quadrat, 5c. Cavallers" href="/problems/cavallers/el-quadrat-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El quadrat, 5c. Cavallers" src="https://img.youtube.com/vi/VGf4vogC2ts/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/el-quadrat-5c" class="table-row-name text-bold">El quadrat</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Els llastres, 6c+. Cavallers" href="/problems/cavallers/els-llastres-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Els llastres, 6c+. Cavallers" src="https://img.youtube.com/vi/Q4pyF6OXPJ4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/els-llastres-6c" class="table-row-name text-bold">Els llastres</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Frykis go rome, 7a+. Cavallers" href="/problems/cavallers/frykis-go-rome-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Frykis go rome, 7a+. Cavallers" src="https://img.youtube.com/vi/ipETeJlB0BQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/frykis-go-rome-7a" class="table-row-name text-bold">Frykis go rome</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Inquisició, 5c. Cavallers" href="/problems/cavallers/inquisicio-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Inquisició, 5c. Cavallers" src="https://img.youtube.com/vi/JvTol_DXVqg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/inquisicio-5c" class="table-row-name text-bold">Inquisició</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Lo barret, 6b. Cavallers" href="/problems/cavallers/lo-barret-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Lo barret, 6b. Cavallers" src="https://img.youtube.com/vi/KNlVodVGDH0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/lo-barret-6b" class="table-row-name text-bold">Lo barret</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mikeleta, 6c. Cavallers" href="/problems/cavallers/mikeleta-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mikeleta, 6c. Cavallers" src="https://img.youtube.com/vi/Iww3-CXo5VQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/mikeleta-6c" class="table-row-name text-bold">Mikeleta</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Moniato, 7a. Cavallers" href="/problems/cavallers/moniato-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Moniato, 7a. Cavallers" src="https://img.youtube.com/vi/5Jb0y6ED5UY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/moniato-7a" class="table-row-name text-bold">Moniato</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Orinal, 6a+. Cavallers" href="/problems/cavallers/orinal-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Orinal, 6a+. Cavallers" src="https://img.youtube.com/vi/ZzeganiCwa4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/orinal-6a" class="table-row-name text-bold">Orinal</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Panellet, 6b. Cavallers" href="/problems/cavallers/panellet-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Panellet, 6b. Cavallers" src="https://img.youtube.com/vi/UJh8McX9d_w/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/panellet-6b" class="table-row-name text-bold">Panellet</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pitza, 6c. Cavallers" href="/problems/cavallers/pitza-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pitza, 6c. Cavallers" src="https://img.youtube.com/vi/TS8e9jwVeuU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/pitza-6c" class="table-row-name text-bold">Pitza</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Solfa, 6b.  Cavallers" href="/problems/cavallers/solfa-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Solfa, 6b.  Cavallers" src="https://img.youtube.com/vi/JAZmCcqRd44/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/solfa-6b" class="table-row-name text-bold">Solfa</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tonadeta, 5c.  Cavallers" href="/problems/cavallers/tonadeta-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tonadeta, 5c.  Cavallers" src="https://img.youtube.com/vi/62KtYJKGVN8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/tonadeta-5c" class="table-row-name text-bold">Tonadeta</a>
									</div>
								</td>
								<td>5c</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>