<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Mct at Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Mct at Cavallers | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/cavallers/mct">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Mct, Cavallers 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMe0sZiZtS_qA4xTnksBwam" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/corrupcio" class="table-row-name text-bold">Corrupció</a>
						</td>
						<td>6b (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/diplomacia" class="table-row-name text-bold">Diplomàcia</a>
						</td>
						<td>6b+ (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/la-punta" class="table-row-name text-bold">La punta</a>
						</td>
						<td>6c (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/cavallers/mdt" class="table-row-name text-bold">Mdt</a>
						</td>
						<td>6c (sit)</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>