<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Paritori at Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Paritori at Cavallers | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/cavallers/paritori">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
			   
				> 
			   <a href="/cavallers" class="zone-header-tree-link">Cavallers</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Paritori of Cavallers
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOscZqk4mUTT-h-vGgjy2mu" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Alletament, 6a. Cavallers" href="/problems/cavallers/alletament-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Alletament, 6a. Cavallers" src="https://img.youtube.com/vi/5KOUIwWOlIg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/alletament-6a" class="table-row-name text-bold">Alletament</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bord, 6b+. Cavallers" href="/problems/cavallers/bord-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bord, 6b+. Cavallers" src="https://img.youtube.com/vi/8A6FcbvwaPk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/bord-6b" class="table-row-name text-bold">Bord</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Cesària, 6c+. Cavallers" href="/problems/cavallers/cesaria-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cesària, 6c+. Cavallers" src="https://img.youtube.com/vi/YYfXuQJJT7k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/cesaria-6c" class="table-row-name text-bold">Cesària</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Dilatació, 6b+. Cavallers" href="/problems/cavallers/dilatacio-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Dilatació, 6b+. Cavallers" src="https://img.youtube.com/vi/xIO1Z6DQGGw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/dilatacio-6b" class="table-row-name text-bold">Dilatació</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Epidural, 6a. Cavallers" href="/problems/cavallers/epidural-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Epidural, 6a. Cavallers" src="https://img.youtube.com/vi/kPprojMQrek/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/epidural-6a" class="table-row-name text-bold">Epidural</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Episiotomia, 7a+. Cavallers" href="/problems/cavallers/episiotomia-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Episiotomia, 7a+. Cavallers" src="https://img.youtube.com/vi/mtSS8IT05yU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/episiotomia-7a" class="table-row-name text-bold">Episiotomia</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Expulsiu, 7a. Cavallers" href="/problems/cavallers/expulsiu-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Expulsiu, 7a. Cavallers" src="https://img.youtube.com/vi/WG_ZrQtBTsk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/expulsiu-7a" class="table-row-name text-bold">Expulsiu</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fòrceps, 6c+. Cavallers" href="/problems/cavallers/forceps-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fòrceps, 6c+. Cavallers" src="https://img.youtube.com/vi/7yWWOhXhC40/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/forceps-6c" class="table-row-name text-bold">Fòrceps</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Llevadora, 6c+. Cavallers" href="/problems/cavallers/llevadora-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Llevadora, 6c+. Cavallers" src="https://img.youtube.com/vi/J2VOIkRogy0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/llevadora-6c" class="table-row-name text-bold">Llevadora</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Migjorn, 6b+. Cavallers" href="/problems/cavallers/migjorn-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Migjorn, 6b+. Cavallers" src="https://img.youtube.com/vi/SpdqWM-dzXk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/migjorn-6b" class="table-row-name text-bold">Migjorn</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Monitors Extensió, 6b. Cavallers" href="/problems/cavallers/monitors-extensio-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Monitors Extensió, 6b. Cavallers" src="https://img.youtube.com/vi/zWgsv8MrUZQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/monitors-extensio-6b" class="table-row-name text-bold">Monitors Extensió</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Part antinatural, 7a+. Cavallers" href="/problems/cavallers/part-antinatural-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Part antinatural, 7a+. Cavallers" src="https://img.youtube.com/vi/KGQm7nJ2pvg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/part-antinatural-7a" class="table-row-name text-bold">Part antinatural</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Part prematur, 6c. Cavallers" href="/problems/cavallers/part-prematur-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Part prematur, 6c. Cavallers" src="https://img.youtube.com/vi/mzvMI2SX-ss/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/part-prematur-6c" class="table-row-name text-bold">Part prematur</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Perineu, 5+. Cavallers" href="/problems/cavallers/perineu-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Perineu, 5+. Cavallers" src="https://img.youtube.com/vi/rckrMJDfW78/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/perineu-5" class="table-row-name text-bold">Perineu</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Prepart, 6b. Cavallers" href="/problems/cavallers/prepart-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Prepart, 6b. Cavallers" src="https://img.youtube.com/vi/XOPpLtZvu0s/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/prepart-6b" class="table-row-name text-bold">Prepart</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Prepart Left, 6a+. Cavallers" href="/problems/cavallers/prepart-left-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Prepart Left, 6a+. Cavallers" src="https://img.youtube.com/vi/SHSFlViBhPw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/prepart-left-6a" class="table-row-name text-bold">Prepart Left</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Trenca aigües, 6b+. Cavallers" href="/problems/cavallers/trenca-aigues-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Trenca aigües, 6b+. Cavallers" src="https://img.youtube.com/vi/G7eoa4U8gIA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cavallers/trenca-aigues-6b" class="table-row-name text-bold">Trenca aigües</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>