<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Voraelriu at Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Voraelriu at Cavallers | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/cavallers/voraelriu">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/cavallers" class="zone-header-tree-link">Cavallers</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Voraelriu 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMoj8_YBz643An3s-CO2wA4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Acte directe, 7a+. Cavallers" href="/problems/cavallers/acte-directe" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Acte directe, 7a+. Cavallers" src="https://img.youtube.com/vi/ylIMcGvtkhQ/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/acte-directe" class="table-row-name text-bold">Acte directe</a>
							</div>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Addicionalment, 5c. Cavallers" href="/problems/cavallers/addicionalment" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Addicionalment, 5c. Cavallers" src="https://img.youtube.com/vi/B-eVYO3XvT4/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/addicionalment" class="table-row-name text-bold">Addicionalment</a>
							</div>
						</td>
						<td>5c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Andròmina, 3a. Cavallers" href="/problems/cavallers/andromina" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Andròmina, 3a. Cavallers" src="https://img.youtube.com/vi/TCqXMrYCXLw/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/andromina" class="table-row-name text-bold">Andròmina</a>
							</div>
						</td>
						<td>3a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Baranes, 3a. Cavallers" href="/problems/cavallers/baranes" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Baranes, 3a. Cavallers" src="https://img.youtube.com/vi/ILxn8dENeds/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/baranes" class="table-row-name text-bold">Baranes</a>
							</div>
						</td>
						<td>3a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Biuf, 6a+. Cavallers" href="/problems/cavallers/biuf" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Biuf, 6a+. Cavallers" src="https://img.youtube.com/vi/Ic2tQtUvI5U/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/biuf" class="table-row-name text-bold">Biuf</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Cançó, 3c. Cavallers" href="/problems/cavallers/canco" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cançó, 3c. Cavallers" src="https://img.youtube.com/vi/mr5NWRpJdGE/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/canco" class="table-row-name text-bold">Cançó</a>
							</div>
						</td>
						<td>3c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="El detergent, 7a+. Cavallers" href="/problems/cavallers/el-detergent" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El detergent, 7a+. Cavallers" src="https://img.youtube.com/vi/1Aws-v5xk6A/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/el-detergent" class="table-row-name text-bold">El detergent</a>
							</div>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Els baixos, 6c. Cavallers" href="/problems/cavallers/els-baixos" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Els baixos, 6c. Cavallers" src="https://img.youtube.com/vi/-5kvhTedSG8/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/els-baixos" class="table-row-name text-bold">Els baixos</a>
							</div>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Joves castors, 6c. Cavallers" href="/problems/cavallers/joves-castors" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Joves castors, 6c. Cavallers" src="https://img.youtube.com/vi/ZALbdAtCzlE/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/joves-castors" class="table-row-name text-bold">Joves castors</a>
							</div>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Karakorum, 3a. Cavallers" href="/problems/cavallers/karakorum" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Karakorum, 3a. Cavallers" src="https://img.youtube.com/vi/AYzduqAAjtM/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/karakorum" class="table-row-name text-bold">Karakorum</a>
							</div>
						</td>
						<td>3a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="La col·locació, 5c. Cavallers" href="/problems/cavallers/la-col-locacio" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La col·locació, 5c. Cavallers" src="https://img.youtube.com/vi/ds5kTYaKN6I/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/la-col-locacio" class="table-row-name text-bold">La col·locació</a>
							</div>
						</td>
						<td>5c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="La comuna, 6c+. Cavallers" href="/problems/cavallers/la-comuna" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La comuna, 6c+. Cavallers" src="https://img.youtube.com/vi/g2iy4J74u-A/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/la-comuna" class="table-row-name text-bold">La comuna</a>
							</div>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="La contra, 6a. Cavallers" href="/problems/cavallers/la-contra" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La contra, 6a. Cavallers" src="https://img.youtube.com/vi/bHi_t3c9yT0/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/la-contra" class="table-row-name text-bold">La contra</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="La revolta granotera, 7a. Cavallers" href="/problems/cavallers/la-revolta-granotera" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La revolta granotera, 7a. Cavallers" src="https://img.youtube.com/vi/VNfrwh_NGPY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/la-revolta-granotera" class="table-row-name text-bold">La revolta granotera</a>
							</div>
						</td>
						<td>7a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Madriz, 7b. Cavallers" href="/problems/cavallers/madriz" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Madriz, 7b. Cavallers" src="https://img.youtube.com/vi/C_RTczzjyjk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/madriz" class="table-row-name text-bold">Madriz</a>
							</div>
						</td>
						<td>7b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Només, 3a. Cavallers" href="/problems/cavallers/nomes" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Només, 3a. Cavallers" src="https://img.youtube.com/vi/N6rJweeiITo/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/nomes" class="table-row-name text-bold">Només</a>
							</div>
						</td>
						<td>3a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Peu amunt, 6b. Cavallers" href="/problems/cavallers/peu-amunt" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Peu amunt, 6b. Cavallers" src="https://img.youtube.com/vi/6VVIXQ1ha3g/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/peu-amunt" class="table-row-name text-bold">Peu amunt</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Plaqueta, 5a. Cavallers" href="/problems/cavallers/plaqueta" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Plaqueta, 5a. Cavallers" src="https://img.youtube.com/vi/NKDbXsc0Gzs/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/plaqueta" class="table-row-name text-bold">Plaqueta</a>
							</div>
						</td>
						<td>5a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Saltet, 6a. Cavallers" href="/problems/cavallers/saltet" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Saltet, 6a. Cavallers" src="https://img.youtube.com/vi/0xVZV7lIVhk/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/saltet" class="table-row-name text-bold">Saltet</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Sense aresta, 6c+. Cavallers" href="/problems/cavallers/sense-aresta" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sense aresta, 6c+. Cavallers" src="https://img.youtube.com/vi/kNZrhGtA2_8/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/sense-aresta" class="table-row-name text-bold">Sense aresta</a>
							</div>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Ulls, 6a+. Cavallers" href="/problems/cavallers/ulls" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ulls, 6a+. Cavallers" src="https://img.youtube.com/vi/tmEy0qQr9WY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/ulls" class="table-row-name text-bold">Ulls</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Voraelriu, 6a+ (sit). Cavallers" href="/problems/cavallers/voraelriu" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Voraelriu, 6a+ (sit). Cavallers" src="https://img.youtube.com/vi/UWAn37xYYGg/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/voraelriu" class="table-row-name text-bold">Voraelriu</a>
							</div>
						</td>
						<td>6a+ (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Xitxa, 5. Cavallers" href="/problems/cavallers/xitxa" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Xitxa, 5. Cavallers" src="https://img.youtube.com/vi/4t0bhA0gk_c/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/cavallers/xitxa" class="table-row-name text-bold">Xitxa</a>
							</div>
						</td>
						<td>5a</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>