<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Mocó at Cocalzinho de Goiás | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Mocó at Cocalzinho de Goiás | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/cocalzinho-de-goias/moco">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script>

  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="mb-section-header">
			<div class="container">
				<nav aria-label="breadcrumb">
					<ol class="mb-breadcrumb">
						<li><a href="/bouldering-areas-list">{{ _("All Areas") }}</a></li>
						<li><a href="/countries/brazil">Brazil</a></li>
						
						<li><a href="/cocalzinho-de-goias">Cocalzinho de Goiás</a></li>
					</ol>
				</nav>
			</div>
			<h1 class="mb-section-header-title">
				Sector Mocó of Cocalzinho de Goiás
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<div class="mb-table-search">
					<input id="search-problem" class="form-control" type="text" placeholder="Search" aria-label="Search">
				</div>
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Abajur, V2. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/abajur-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Abajur, V2. Cocalzinho de Goiás" src="https://img.youtube.com/vi/6_1uObWzMQI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/abajur-v2" class="table-row-name text-bold">Abajur</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V2</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Carnificina, V5. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/carnificina-v5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Carnificina, V5. Cocalzinho de Goiás" src="https://img.youtube.com/vi/F_7QpBgoZ_8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/carnificina-v5" class="table-row-name text-bold">Carnificina</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V5</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fendinha, V2. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/fendinha-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fendinha, V2. Cocalzinho de Goiás" src="https://img.youtube.com/vi/sqJ_guLNr_s/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/fendinha-v2" class="table-row-name text-bold">Fendinha</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V2</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Galego enjoado, V3. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/galego-enjoado-v3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Galego enjoado, V3. Cocalzinho de Goiás" src="https://img.youtube.com/vi/GOaGgXoZyDs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/galego-enjoado-v3" class="table-row-name text-bold">Galego enjoado</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V3</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Green time, V2. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/green-time-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Green time, V2. Cocalzinho de Goiás" src="https://img.youtube.com/vi/ZHOV1-v6-JU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/green-time-v2" class="table-row-name text-bold">Green time</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V2</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Massa cinzenta, V2. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/massa-cinzenta-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Massa cinzenta, V2. Cocalzinho de Goiás" src="https://img.youtube.com/vi/Zx07gRu-W9I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/massa-cinzenta-v2" class="table-row-name text-bold">Massa cinzenta</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V2</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Moai sentado, V7. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/moai-sentado-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Moai sentado, V7. Cocalzinho de Goiás" src="https://img.youtube.com/vi/icLb6U-qD9Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/moai-sentado-v7" class="table-row-name text-bold">Moai sentado</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V7</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mãos ao alto, V2. Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/maos-ao-alto-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mãos ao alto, V2. Cocalzinho de Goiás" src="https://img.youtube.com/vi/KJnZGrID8Co/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/maos-ao-alto-v2" class="table-row-name text-bold">Mãos ao alto</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V2</span></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Piés no chão, V5 (sit). Cocalzinho de Goiás" href="/problems/cocalzinho-de-goias/pies-no-chao-v5-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Piés no chão, V5 (sit). Cocalzinho de Goiás" src="https://img.youtube.com/vi/sZWpOdAMZFE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/cocalzinho-de-goias/pies-no-chao-v5-sit" class="table-row-name text-bold">Piés no chão</a>
									</div>
								</td>
								<td><span class="mb-badge mb-badge-grade">V5 (sit)</span></td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});

						$("#search-problem").trigger("keyup");

						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>