<!DOCTYPE html>
<html>
  <head>
    <title>Way Dubious Contortionist V7 (low) Boulder Problem in Castle Rock State Park | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Way Dubious Contortionist Boulder Problem in Castle Rock State Park climbed by Vikas Agartha | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/castle-rock-state-park/way-dubious-contortionist-v7-low">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/castle-rock-state-park" class="zone-header-tree-link">Castle Rock State Park</a>
	 > 
	<a href="/sectors/castle-rock-state-park/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Way Dubious Contortionist, V8 (low). Castle Rock State Park 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/7TaXt7BDmv4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Way Dubious Contortionist </p>
		<p> {{ _("Grade") }}: V7 (low) </p>
		<p> {{ _("Zone") }}: Castle Rock State Park </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Vikas Agartha </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>