<!DOCTYPE html>
<html lang="es">
  <head>
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
     <title>Boulder en Stone Fort, LRC/Little Rock City | MadBoulder</title>
	 <meta name="description" content="Página sobre boulder en Stone Fort, LRC/Little Rock City con lista de videos de los bloques, información sobre guías de bloque y previsión del tiempo">
	
    
<!-- Weather Widget dependencies-->
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>

<!-- Table Widget dependencies-->
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>

<link rel="canonical" href="https://www.madboulder.org/es/stone-fort-lrc-little-rock-city">
<link rel="alternate" hreflang="en" href="https://www.madboulder.org/stone-fort-lrc-little-rock-city">
<link rel="alternate" hreflang="es" href="https://www.madboulder.org/es/stone-fort-lrc-little-rock-city">

	<link href="/static/tabdrop/css/tabdrop.css" rel="stylesheet" >
	<script src="/static/tabdrop/js/bootstrap-tabdrop.js" ></script>
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
    <main>
		<div class="zone-header">
		  <div class="container zone-header-tree">
			
	<a href="/bouldering-areas-list" class="zone-header-tree-link">Todas las zonas</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
  
   > 
  <a href="/states/tennessee" class="zone-header-tree-link">Tennessee</a>
	

		  </div>
          <h1 class="zone-header-title text-bold">
             Stone Fort, LRC/Little Rock City Boulder
          </h1>
		  <nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link text-bold" data-default-tab id="nav-info-tab" href="#info" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">
						<i class="fas fa-info"></i>
						Info
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold"  id="nav-problems-tab" href="#problems" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false">
						<i class="fas fa-list"></i>
						Bloques
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-sectors-tab" href="#sectors" data-bs-toggle="tab" data-bs-target="#sectors" type="button" role="tab" aria-controls="sectors" aria-selected="false">
						<i class="fas fa-list"></i>
						Sectores
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-playlists-tab" href="#playlists" data-bs-toggle="tab" data-bs-target="#playlists" type="button" role="tab" aria-controls="playlists" aria-selected="false">
						<i class="fas fa-video-camera"></i>
						Listas de Reproducción
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-weather-tab" href="#weather" data-bs-toggle="tab" data-bs-target="#weather" type="button" role="tab" aria-controls="weather" aria-selected="true">
						<i class="fas fa-sun"></i>
						Tiempo
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-map-tab" href="#map" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">
						<i class="fas fa-map"></i>
						Mapa
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-stats-tab" href="#stats" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true">
						<i class="fa fa-chart-column"></i>
						Estadísticas
					</a>
				</li>
			  </div>
			  <script>
				$(document).ready(function () {
					checkHash();
					$('.nav-tabs').tabdrop();
					
					window.addEventListener('hashchange', function() {
						console.log("hashchange");
						checkHash();
					});
					
					function checkHash() {
						console.log("checkHash");
						var hash = window.location.hash;
						if (hash) {
							$('a[data-bs-toggle="tab"][href="' + hash + '"]').tab('show');
							console.log("show tab: ", hash);
						} 
						else {
							$('a[data-bs-toggle="tab"][data-default-tab]').tab('show');
							console.log("show default tab");
						}
					}
				});
				
				$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
					console.log("Tab shown:", e.target);

					e.preventDefault();
					
					var hash = $(e.target).attr('href');
					history.pushState(null, null, hash);
				});
			</script>
		  </nav>
        </div>
        
        <div class="container" id="pageContent">
			<div class="tab-content" id="myTabContent">
				<div class="tab tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats">
					
<h2 style="clear:both;display:block" class="">Estadísticas de Stone Fort, LRC/Little Rock City Boulder</h2>
<div class="container" style="padding-top: 1rem;">
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

				</div>
				<div class="tab tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather">
					
<h2 style="clear:both;display:block" class="">Previsión del Tiempo en Stone Fort, LRC/Little Rock City Boulder</h2>
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center">
  <input type="hidden" id="lat" name="lat_val" value="35.24772" />
  <input type="hidden" id="lng" name="lng_val" value="-85.22079" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Stone Fort, LRC/Little Rock City
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img loading="lazy" height="75" class="weather-icon"></img>
        <div class="mx-auto text-capitalize weather-description text-center"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex align-items-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="d-flex align-items-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="d-flex align-items-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-wind mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 d-flex align-content-center flex-wrap">
        <div id="big" class="row weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Stone Fort, LRC/Little Rock City
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img loading="lazy" height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather_small" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <i class="fas fa-wind mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ current_lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 

				</div>
				<div class="tab tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
					
<div id="main" class="row" style="margin-bottom: 1rem;">
	<div class="col-md-12">
		<div class="tab-content ">
			<div class="row">
				<div class="col-md-6" style="align-self: center; margin-bottom: 1rem;">
					<div id="area-thumbnail" title="Foto de Stone Fort, LRC/Little Rock City Boulder" style="opacity: 1; filter: saturate(100%);">
						<picture>
							<source media="(min-width: 1200px)" sizes="605px" srcset="https://i.ytimg.com/vi/nKeEJbITak4/maxresdefault.jpg">
							<source media="(min-width: 997px)" sizes="450px" srcset="https://i.ytimg.com/vi/nKeEJbITak4/maxresdefault.jpg">
							<source media="(min-width: 768px)" sizes="330px" srcset="https://i.ytimg.com/vi/nKeEJbITak4/maxresdefault.jpg">
							<img loading="lazy" class="img-fluid d-block" src="https://i.ytimg.com/vi/nKeEJbITak4/maxresdefault.jpg" alt="Foto de Stone Fort, LRC/Little Rock City Boulder">
						</picture>
					</div>
				</div>
				<div class="col-md-6">
					<div id="general-info" class="overflow-auto d-flex flex-column">
						
							<div id="features_info" class="position-relative">
								<h2>Escalada en Stone Fort, LRC/Little Rock City</h2>
								<p style="text-align: justify;">Stone Fort, parte de Little Rock City en Tennessee, es famoso por sus singulares bloques de arenisca y a menudo se le llama Little Font. A los escaladores les encantan los desafíos técnicos y las características delicadas. Es un destino popular en invierno, cuando la fricción es óptima.</p>
							</div>
						
						<div id="general_stats">
							<p style="background: rgba(0,0,0,.075);color: #555555;padding: 5px; margin-bottom: 0;">
								<b>Videos</b> 21
								
									<br>
									<b>Tipo de Roca</b> Sandstone
								
								
									<br>
									<b>Altitud</b> 542m
								
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

  <div>
    <h2>Guias de Stone Fort, LRC/Little Rock City Boulder</h2>
    
    
      <div class="list-group">
        
          <a id="generic_link" href="https://www.mountainproject.com/area/106031921/stone-fort-aka-little-rock-city" target="_blank" style="display: flex; align-items: center;" class="list-group-item list-group-item-action list-group-item-light text-bold">
            <i class="fas fa-book" style="margin-right: 0.2rem;"></i>
            Mountain Project (Online)
            
          </a>
        
          <a id="generic_link" href="https://27crags.com/crags/little-rock-city" target="_blank" style="display: flex; align-items: center;" class="list-group-item list-group-item-action list-group-item-light text-bold">
            <i class="fas fa-book" style="margin-right: 0.2rem;"></i>
            27 Crags (Online)
            
          </a>
        
      </div>
    
  </div>


				</div>
				<div class="tab tab-pane fade" id="map" role="tabpanel" aria-labelledby="map">
					
<!-- Zone Map -->
<h2 style="clear:both;display:block" class="">Mapa de Stone Fort, LRC/Little Rock City Boulder</h2>
<div class="container">
	<div style="position: relative; padding-top: 56%;">
		<iframe
			src="maps/stone-fort-lrc-little-rock-city"
			frameborder="0"
		  loading="lazy"
			allowfullscreen
			style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
		</iframe>
	</div>
</div>

				</div>
				<div class="tab tab-pane fade" id="problems" role="tabpanel" aria-labelledby="problems">
				</div>
				<div class="tab tab-pane fade" id="sectors" role="tabpanel" aria-labelledby="sectors">
					
<!--Sector List-->
<h2 style="clear:both;display:block" class="">Lista de 1 Sectores de Stone Fort, LRC/Little Rock City Boulder</h2>
<div class="container">
	<input id="search-sector" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
	<table id="sectors-table" class="table table-hover">
		<thead>
			<tr>
				
				<th scope="col" class="sorting">Nombre</th>
				<th scope="col" class="sorting">Bloques</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/stone-fort-lrc-little-rock-city/unknown" class="table-row-name text-bold">Unknown</a>
					</td>
					<td class="text-center">21</td>
				</tr>
			
		</tbody>
	</table>
	<script>
		$(document).ready(function () {
			$('#sectors-table').DataTable({
				paging: false,
				dom: 'tr'
			});
			$("#search-sector").trigger("keyup");
				
			$("#search-sector").keyup(function() {
				var search_query = $.trim($(this).val());
				var items = $(".sector-row");
				filter_items_by_query(search_query, items)
			});
		});
	</script>
</div>

				</div>
				<div class="tab tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists">
					
<!--Playlists-->
<h2 style="clear:both;display:block" class="">5 Listas de Reproducción de Stone Fort, LRC/Little Rock City Boulder</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        
        <b>Completa</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOHKUO7Y3D1Vr-2FVmzU7Cw"
          frameborder="0"
          loading="lazy"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

				</div>
			</div>
			
<!--Problem List-->
<h2 style="clear:both;display:block" class="">Lista de 21 Bloques en Video de Stone Fort, LRC/Little Rock City Boulder</h2>
<div class="container">
	<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
	<table id="problems-table" class="table table-hover">
		<thead>
			<tr>
				
				<th scope="col" class="sorting">Nombre</th>
				<th scope="col" class="sorting">Grado</th>
				<th scope="col" class="sorting">Sector</th>
				
			</tr>
		</thead>
		<tbody style="vertical-align: middle;">
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="A face in the crowd, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/a-face-in-the-crowd-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de A face in the crowd, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/IHGgHrQoL1o/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/a-face-in-the-crowd-v7" class="table-row-name text-bold">A face in the crowd</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Art of Vogi, V4. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/art-of-vogi-v4" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Art of Vogi, V4. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/u7cK0ud7LSg/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/art-of-vogi-v4" class="table-row-name text-bold">Art of Vogi </a>
            </div>
					</td>
					<td>V4</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Black Carpet, V4. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/black-carpet-v4" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Black Carpet, V4. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/5ggVJnXCtB4/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/black-carpet-v4" class="table-row-name text-bold">Black Carpet</a>
            </div>
					</td>
					<td>V4</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Blind Spot, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/blind-spot-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Blind Spot, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/UphX3dS5j7Q/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/blind-spot-v7" class="table-row-name text-bold">Blind Spot</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Cyclops, V6. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/cyclops-v6" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Cyclops, V6. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/C47-dvcKv4I/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/cyclops-v6" class="table-row-name text-bold">Cyclops</a>
            </div>
					</td>
					<td>V6</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Fat Cat, V5. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/fat-cat-v5" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Fat Cat, V5. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/lmVigTv3wiE/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/fat-cat-v5" class="table-row-name text-bold">Fat Cat</a>
            </div>
					</td>
					<td>V5</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Genghis Khan, V5. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/genghis-khan-v5" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Genghis Khan, V5. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/67rcxOlpjok/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/genghis-khan-v5" class="table-row-name text-bold">Genghis Khan</a>
            </div>
					</td>
					<td>V5</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Jerry Rigged, V8. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/jerry-rigged-v8" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Jerry Rigged, V8. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/KF5ldbknGiI/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/jerry-rigged-v8" class="table-row-name text-bold">Jerry Rigged</a>
            </div>
					</td>
					<td>V8</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Jerry's Kids, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/jerry-s-kids-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Jerry's Kids, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/PaW0o7p-hGU/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/jerry-s-kids-v7" class="table-row-name text-bold">Jerry's Kids</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Left Wing, V6. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/left-wing-v6" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Left Wing, V6. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/eQtFmUy-3Qw/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/left-wing-v6" class="table-row-name text-bold">Left Wing</a>
            </div>
					</td>
					<td>V6</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Left of Vogi, V4. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/left-of-vogi-v4" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Left of Vogi, V4. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/XZuUFHXOOaY/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/left-of-vogi-v4" class="table-row-name text-bold">Left of Vogi </a>
            </div>
					</td>
					<td>V4</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Life is Goodlett, V6. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/life-is-goodlett-v6" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Life is Goodlett, V6. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/kOvakHw0IuM/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/life-is-goodlett-v6" class="table-row-name text-bold">Life is Goodlett</a>
            </div>
					</td>
					<td>V6</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Midway, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/midway-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Midway, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/YZ90K6mSrp4/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/midway-v7" class="table-row-name text-bold">Midway</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Now and Zen, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/now-and-zen-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Now and Zen, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/nE72ROnM5uM/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/now-and-zen-v7" class="table-row-name text-bold">Now and Zen</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Pocket Pool, V4. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/pocket-pool-v4" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Pocket Pool, V4. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/OJ65Df0BlLY/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/pocket-pool-v4" class="table-row-name text-bold">Pocket Pool,</a>
            </div>
					</td>
					<td>V4</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Red House, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/red-house-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Red House, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/58S_us6o2HU/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/red-house-v7" class="table-row-name text-bold">Red House</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Red House Extension, V8. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/red-house-extension-v8" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Red House Extension, V8. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/nKeEJbITak4/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/red-house-extension-v8" class="table-row-name text-bold">Red House Extension</a>
            </div>
					</td>
					<td>V8</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Spank the baby, V7. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/spank-the-baby-v7" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Spank the baby, V7. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/cG3xnB-QA1A/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/spank-the-baby-v7" class="table-row-name text-bold">Spank the baby</a>
            </div>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Sternum, V5. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/sternum-v5" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Sternum, V5. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/YZKTL5O6mjU/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/sternum-v5" class="table-row-name text-bold">Sternum </a>
            </div>
					</td>
					<td>V5</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Super Mario, V4. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/super-mario-v4" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Super Mario, V4. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/rCKHRIErRIc/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/super-mario-v4" class="table-row-name text-bold">Super Mario</a>
            </div>
					</td>
					<td>V4</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
            <div class="problem-thumbnail-cell">
              <a aria-hidden="false" aria-label="Tristar, V4. Stone Fort, LRC/Little Rock City" href="/problems/stone-fort-lrc-little-rock-city/tristar-v4" tabindex="0" target="">
                <div class="video-thumbnail-container">
                  <img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail de Tristar, V4. Stone Fort, LRC/Little Rock City" src="https://img.youtube.com/vi/wnUI4TZ0Te4/mqdefault.jpg">
                </div>
              </a>
              <a href="/problems/stone-fort-lrc-little-rock-city/tristar-v4" class="table-row-name text-bold">Tristar</a>
            </div>
					</td>
					<td>V4</td>
					<td>Unknown</td>
				</tr>
			
		</tbody>
	</table>
	<script>
		$(document).ready(function () {
			$('#problems-table').DataTable({
				paging: false,
				dom: 'tr',
				columnDefs: [
					{
						targets: [1],
						type: 'custom-grade',
					},
				]
			});
			
			$("#search-problem").trigger("keyup");
				
			$("#search-problem").keyup(function() {
				var search_query = $.trim($(this).val());
				var items = $(".problem-row");
				filter_items_by_query(search_query, items)
			});
		});
	</script>
</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>