<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Unknown at Carver | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Carver | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/carver/unknown">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/oregon" class="zone-header-tree-link">Oregon</a>
	
	 > 
	<a href="/carver" class="zone-header-tree-link">Carver</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Unknown 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Carver Classic, V4. Carver" href="/problems/carver/carver-classic" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Carver Classic, V4. Carver" src="https://img.youtube.com/vi/yFXggs1vmGw/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/carver-classic" class="table-row-name text-bold">Carver Classic</a>
							</div>
						</td>
						<td>V4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Cause of Death, V6. Carver" href="/problems/carver/cause-of-death" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cause of Death, V6. Carver" src="https://img.youtube.com/vi/I4uPQgzY4E0/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/cause-of-death" class="table-row-name text-bold">Cause of Death</a>
							</div>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Desperate Warmup, V2. Carver" href="/problems/carver/desperate-warmup" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Desperate Warmup, V2. Carver" src="https://img.youtube.com/vi/qeVCBlwQSLY/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/desperate-warmup" class="table-row-name text-bold">Desperate Warmup</a>
							</div>
						</td>
						<td>V2</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Flying Squirrel, V6. Carver" href="/problems/carver/flying-squirrel" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Flying Squirrel, V6. Carver" src="https://img.youtube.com/vi/idZUR0s9XAc/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/flying-squirrel" class="table-row-name text-bold">Flying Squirrel</a>
							</div>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Hoik, V6. Carver" href="/problems/carver/hoik" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hoik, V6. Carver" src="https://img.youtube.com/vi/73LosEDfJg4/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/hoik" class="table-row-name text-bold">Hoik</a>
							</div>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Leaner, V3+. Carver" href="/problems/carver/leaner" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Leaner, V3+. Carver" src="https://img.youtube.com/vi/PrCHaRLBmhA/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/leaner" class="table-row-name text-bold">Leaner</a>
							</div>
						</td>
						<td>V3+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Legal System, V3. Carver" href="/problems/carver/legal-system" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Legal System, V3. Carver" src="https://img.youtube.com/vi/jYdQc7CcHLo/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/legal-system" class="table-row-name text-bold">Legal System</a>
							</div>
						</td>
						<td>V3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Low Rider, V7. Carver" href="/problems/carver/low-rider" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Low Rider, V7. Carver" src="https://img.youtube.com/vi/nQFGDoq3DJI/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/low-rider" class="table-row-name text-bold">Low Rider</a>
							</div>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Optimus Prime, V2. Carver" href="/problems/carver/optimus-prime" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Optimus Prime, V2. Carver" src="https://img.youtube.com/vi/pJzkh5GRz3o/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/optimus-prime" class="table-row-name text-bold">Optimus Prime</a>
							</div>
						</td>
						<td>V2</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Triangle Face, V7. Carver" href="/problems/carver/triangle-face" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Triangle Face, V7. Carver" src="https://img.youtube.com/vi/W0R9y368lw0/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/triangle-face" class="table-row-name text-bold">Triangle Face</a>
							</div>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
							  <i class="fas fa-video-camera table-row-icon video-icon"></i>
							  <div id="video-thumbnail" >
								<a id="thumbnail-anchor" aria-hidden="false" aria-label="Turn Signal, V2. Carver" href="/problems/carver/turn-signal" tabindex="0" target="">
								  <div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Turn Signal, V2. Carver" src="https://img.youtube.com/vi/PHuTNL9jL7o/mqdefault.jpg">
								  </div>
								</a>
							  </div>
							  <a href="/problems/carver/turn-signal" class="table-row-name text-bold">Turn Signal</a>
							</div>
						</td>
						<td>V2</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>