<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Marihuana para tontos 6c (Right Exit) Boulder Problem in Villanueva del Rosario | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Marihuana para tontos Boulder Problem in Villanueva del Rosario climbed by Juan Gallostra | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/villanueva-del-rosario/marihuana-para-tontos-6c-right-exit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/andalusia" class="zone-header-tree-link">Andalusia</a>
	
	 > 
	<a href="/villanueva-del-rosario" class="zone-header-tree-link">Villanueva del Rosario</a>
	 > 
	<a href="/sectors/villanueva-del-rosario/unknown" class="zone-header-tree-link">Unknown</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Marihuana para tontos, 6c (Right Exit). Villanueva del Rosario 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/JmBfXzx0zuo" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Marihuana para tontos </p>
		<p> {{ _("Grade") }}: 6c (Right Exit) </p>
		
			<p> {{ _("Zone") }}: <a href="/villanueva-del-rosario">Villanueva del Rosario</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/villanueva-del-rosario/unknown">Unknown</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/juan-gallostra">Juan Gallostra</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>