<!DOCTYPE html>
<html>
  <head>
    <title>Super Coco at Villanueva del Rosario | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Super Coco at Villanueva del Rosario | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/villanueva-del-rosario/super-coco">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Super Coco, Villanueva del Rosario 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/8sbFSsYoJsg" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Super Coco </p>
			<p> {{ _("Grade") }}: 6c </p>
			<p> {{ _("Zone") }}: Villanueva del Rosario </p>
			<p> {{ _("Sector") }}: Unknown </p>
			<p> {{ _("Climber") }}: Juan Gallostra </p>
		</div>
	</div>
</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>