<!DOCTYPE html>
<html>
  <head>
    <title>Strip Show Faux Pas V1 Boulder Problem in Hueco Tanks | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Strip Show Faux Pas Boulder Problem in Hueco Tanks climbed by Julie Qiao | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/hueco-tanks/strip-show-faux-pas-v1">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/texas" class="zone-header-tree-link">Texas</a>
	
	 > 
	<a href="/hueco-tanks" class="zone-header-tree-link">Hueco Tanks</a>
	 > 
	<a href="/sectors/hueco-tanks/east-spur" class="zone-header-tree-link">East Spur</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Strip Show Faux Pas, V1. Hueco Tanks 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/kYZzaidwdDM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Strip Show Faux Pas </p>
		<p> {{ _("Grade") }}: V1 </p>
		<p> {{ _("Zone") }}: Hueco Tanks </p>
		<p> {{ _("Sector") }}: East Spur </p>
		<p> {{ _("Climber") }}: Julie Qiao </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>