<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c139127f8b9e4682bc313e313bafabbd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_c139127f8b9e4682bc313e313bafabbd" ></div>
        
</body>
<script>    
    
            var map_c139127f8b9e4682bc313e313bafabbd = L.map(
                "map_c139127f8b9e4682bc313e313bafabbd",
                {
                    center: [44.89047468001038, 6.447606931109021],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6f3ef32a1ecd4b14a6b7bc991ecc8f05 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c139127f8b9e4682bc313e313bafabbd);
        
    
            var feature_group_8e5bd7eee31b4e37b1fd986fcee5723f = L.featureGroup(
                {}
            ).addTo(map_c139127f8b9e4682bc313e313bafabbd);
        
    
            var marker_a6ec725e69e94fe6802a92a39292abe1 = L.marker(
                [44.89047468001038, 6.447606931109021],
                {}
            ).addTo(feature_group_8e5bd7eee31b4e37b1fd986fcee5723f);
        
    
            var beautify_icon_42d958b3cac1458a8e30fe9f31824ffa = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_a6ec725e69e94fe6802a92a39292abe1.setIcon(beautify_icon_42d958b3cac1458a8e30fe9f31824ffa);
        
    
            marker_a6ec725e69e94fe6802a92a39292abe1.bindTooltip(
                `<div>
                     Ailefroide
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_a19b130a110e46c48a54367c91577aad = L.featureGroup(
                {}
            ).addTo(map_c139127f8b9e4682bc313e313bafabbd);
        
    
            var marker_fe24b0e2e1b84a029166807b7ff65bab = L.marker(
                [44.891006742013474, 6.446665475744794],
                {}
            ).addTo(feature_group_a19b130a110e46c48a54367c91577aad);
        
    
            var icon_b71c90fd55db43c9946cb284b107257e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fe24b0e2e1b84a029166807b7ff65bab.setIcon(icon_b71c90fd55db43c9946cb284b107257e);
        
    
        var popup_b7592589fb804342a220d97690f0f8aa = L.popup({"maxWidth": "100%"});

        
            var html_3dab06070b5643a5bb61663ea5f5c3fb = $(`<div id="html_3dab06070b5643a5bb61663ea5f5c3fb" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>44.891, 6.4467<br></p></div>`)[0];
            popup_b7592589fb804342a220d97690f0f8aa.setContent(html_3dab06070b5643a5bb61663ea5f5c3fb);
        

        marker_fe24b0e2e1b84a029166807b7ff65bab.bindPopup(popup_b7592589fb804342a220d97690f0f8aa)
        ;

        
    
    
            marker_fe24b0e2e1b84a029166807b7ff65bab.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_c139127f8b9e4682bc313e313bafabbd.on('zoomend', function() {
                if (map_c139127f8b9e4682bc313e313bafabbd.getZoom() <= 14){
                    map_c139127f8b9e4682bc313e313bafabbd.removeLayer(feature_group_a19b130a110e46c48a54367c91577aad);
                }
                else {
                    map_c139127f8b9e4682bc313e313bafabbd.addLayer(feature_group_a19b130a110e46c48a54367c91577aad);
                }
        });

       map_c139127f8b9e4682bc313e313bafabbd.removeLayer(feature_group_8e5bd7eee31b4e37b1fd986fcee5723f);
        map_c139127f8b9e4682bc313e313bafabbd.on('zoomend', function() {
                if (map_c139127f8b9e4682bc313e313bafabbd.getZoom() > 14){
                    map_c139127f8b9e4682bc313e313bafabbd.removeLayer(feature_group_8e5bd7eee31b4e37b1fd986fcee5723f);
                }
                else {
                    map_c139127f8b9e4682bc313e313bafabbd.addLayer(feature_group_8e5bd7eee31b4e37b1fd986fcee5723f);
                }
        });

        marker_a6ec725e69e94fe6802a92a39292abe1.on('click', function(e){
            map_c139127f8b9e4682bc313e313bafabbd.setView(e.latlng, 15);
        });

</script>