<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6a052489c02548cca67ee43fcfb61433 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_6a052489c02548cca67ee43fcfb61433" ></div>
        
</body>
<script>    
    
            var map_6a052489c02548cca67ee43fcfb61433 = L.map(
                "map_6a052489c02548cca67ee43fcfb61433",
                {
                    center: [41.52824706036619, 2.343255228676071],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d81817a091e74334b491534d66290b1e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6a052489c02548cca67ee43fcfb61433);
        
    
            var feature_group_562b6ba5ddac458aa09df5344580b4e4 = L.featureGroup(
                {}
            ).addTo(map_6a052489c02548cca67ee43fcfb61433);
        
    
            var marker_3e2a58c0704e4e9589ab021ad681abfa = L.marker(
                [41.52824706036619, 2.343255228676071],
                {}
            ).addTo(feature_group_562b6ba5ddac458aa09df5344580b4e4);
        
    
            var beautify_icon_71c4d80cd7bd481f850cf6354ca41c58 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_3e2a58c0704e4e9589ab021ad681abfa.setIcon(beautify_icon_71c4d80cd7bd481f850cf6354ca41c58);
        
    
            marker_3e2a58c0704e4e9589ab021ad681abfa.bindTooltip(
                `<div>
                     Can Boquet
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_7dd2d465a02046d3ab905e1d1acf215e = L.featureGroup(
                {}
            ).addTo(map_6a052489c02548cca67ee43fcfb61433);
        
    
            var marker_d453ca6607134c5997789746b45dec27 = L.marker(
                [41.53170093294457, 2.3421329716603623],
                {}
            ).addTo(feature_group_7dd2d465a02046d3ab905e1d1acf215e);
        
    
            var icon_76b8491f7891483bb9cc51507b4e3a9e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d453ca6607134c5997789746b45dec27.setIcon(icon_76b8491f7891483bb9cc51507b4e3a9e);
        
    
        var popup_89735b2bbf2c4c48ab7c473f0fd75b73 = L.popup({"maxWidth": "100%"});

        
            var html_50a49658495f4276b7bb41a3bcbc930f = $(`<div id="html_50a49658495f4276b7bb41a3bcbc930f" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>41.5317, 2.3421<br></p></div>`)[0];
            popup_89735b2bbf2c4c48ab7c473f0fd75b73.setContent(html_50a49658495f4276b7bb41a3bcbc930f);
        

        marker_d453ca6607134c5997789746b45dec27.bindPopup(popup_89735b2bbf2c4c48ab7c473f0fd75b73)
        ;

        
    
    
            marker_d453ca6607134c5997789746b45dec27.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e58d865ca2474e91a99f3eefb63d1758 = L.marker(
                [41.52854029681373, 2.3512249753244987],
                {}
            ).addTo(feature_group_7dd2d465a02046d3ab905e1d1acf215e);
        
    
            var icon_ecfd57266fb742b1bb095c6000527338 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e58d865ca2474e91a99f3eefb63d1758.setIcon(icon_ecfd57266fb742b1bb095c6000527338);
        
    
        var popup_76f4c84d8f8d404b88864d8c5e14d71e = L.popup({"maxWidth": "100%"});

        
            var html_d235d7e4f1414ae08e77d812814a2339 = $(`<div id="html_d235d7e4f1414ae08e77d812814a2339" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>41.5285, 2.3512<br></p></div>`)[0];
            popup_76f4c84d8f8d404b88864d8c5e14d71e.setContent(html_d235d7e4f1414ae08e77d812814a2339);
        

        marker_e58d865ca2474e91a99f3eefb63d1758.bindPopup(popup_76f4c84d8f8d404b88864d8c5e14d71e)
        ;

        
    
    
            marker_e58d865ca2474e91a99f3eefb63d1758.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_6a052489c02548cca67ee43fcfb61433.on('zoomend', function() {
                if (map_6a052489c02548cca67ee43fcfb61433.getZoom() <= 14){
                    map_6a052489c02548cca67ee43fcfb61433.removeLayer(feature_group_7dd2d465a02046d3ab905e1d1acf215e);
                }
                else {
                    map_6a052489c02548cca67ee43fcfb61433.addLayer(feature_group_7dd2d465a02046d3ab905e1d1acf215e);
                }
        });

       map_6a052489c02548cca67ee43fcfb61433.removeLayer(feature_group_562b6ba5ddac458aa09df5344580b4e4);
        map_6a052489c02548cca67ee43fcfb61433.on('zoomend', function() {
                if (map_6a052489c02548cca67ee43fcfb61433.getZoom() > 14){
                    map_6a052489c02548cca67ee43fcfb61433.removeLayer(feature_group_562b6ba5ddac458aa09df5344580b4e4);
                }
                else {
                    map_6a052489c02548cca67ee43fcfb61433.addLayer(feature_group_562b6ba5ddac458aa09df5344580b4e4);
                }
        });

        marker_3e2a58c0704e4e9589ab021ad681abfa.on('click', function(e){
            map_6a052489c02548cca67ee43fcfb61433.setView(e.latlng, 15);
        });

</script>