<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_40a289357cd94c8d9815f9c7dab08679 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_40a289357cd94c8d9815f9c7dab08679" ></div>
        
</body>
<script>    
    
            var map_40a289357cd94c8d9815f9c7dab08679 = L.map(
                "map_40a289357cd94c8d9815f9c7dab08679",
                {
                    center: [41.64088636626326, 2.6035692805189683],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9eafdbe8077341b98de852fe73f395bc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_40a289357cd94c8d9815f9c7dab08679);
        
    
            var feature_group_f88d152c76e943a28fc15d754d3c7501 = L.featureGroup(
                {}
            ).addTo(map_40a289357cd94c8d9815f9c7dab08679);
        
    
            var marker_8946d33a10c741c383f0cc07a3e7a949 = L.marker(
                [41.64088636626326, 2.6035692805189683],
                {}
            ).addTo(feature_group_f88d152c76e943a28fc15d754d3c7501);
        
    
            var beautify_icon_952308880c3b469b9dffee911e4c8aea = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_8946d33a10c741c383f0cc07a3e7a949.setIcon(beautify_icon_952308880c3b469b9dffee911e4c8aea);
        
    
            marker_8946d33a10c741c383f0cc07a3e7a949.bindTooltip(
                `<div>
                     Can Barto
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_6ee42dac38a14d6bb91d0a40632cd1e2 = L.featureGroup(
                {}
            ).addTo(map_40a289357cd94c8d9815f9c7dab08679);
        
    
            var marker_537efa95fcc34033886dae78f75d7a53 = L.marker(
                [41.64095451853007, 2.6023381465811326],
                {}
            ).addTo(feature_group_6ee42dac38a14d6bb91d0a40632cd1e2);
        
    
            var icon_b24528adfaf441c5912e49e3d289a62e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_537efa95fcc34033886dae78f75d7a53.setIcon(icon_b24528adfaf441c5912e49e3d289a62e);
        
    
        var popup_4302f092aa4f4c86965df17b82d61519 = L.popup({"maxWidth": "100%"});

        
            var html_aacabd6edf3943af9dd625173211ebb6 = $(`<div id="html_aacabd6edf3943af9dd625173211ebb6" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>41.641, 2.6023<br></p></div>`)[0];
            popup_4302f092aa4f4c86965df17b82d61519.setContent(html_aacabd6edf3943af9dd625173211ebb6);
        

        marker_537efa95fcc34033886dae78f75d7a53.bindPopup(popup_4302f092aa4f4c86965df17b82d61519)
        ;

        
    
    
            marker_537efa95fcc34033886dae78f75d7a53.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e667da9e7abb47d39b4d35a90c2b9033 = L.marker(
                [41.6460803832116, 2.594461030748448],
                {}
            ).addTo(feature_group_6ee42dac38a14d6bb91d0a40632cd1e2);
        
    
            var icon_60616c8e1f3f4f33bbf5c13a9b1d720f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e667da9e7abb47d39b4d35a90c2b9033.setIcon(icon_60616c8e1f3f4f33bbf5c13a9b1d720f);
        
    
        var popup_04b23c3ca7574e468aad59ef2cdb19e3 = L.popup({"maxWidth": "100%"});

        
            var html_27c39b2c311f4759854a3077d32ca405 = $(`<div id="html_27c39b2c311f4759854a3077d32ca405" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>41.6461, 2.5945<br></p></div>`)[0];
            popup_04b23c3ca7574e468aad59ef2cdb19e3.setContent(html_27c39b2c311f4759854a3077d32ca405);
        

        marker_e667da9e7abb47d39b4d35a90c2b9033.bindPopup(popup_04b23c3ca7574e468aad59ef2cdb19e3)
        ;

        
    
    
            marker_e667da9e7abb47d39b4d35a90c2b9033.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_40a289357cd94c8d9815f9c7dab08679.on('zoomend', function() {
                if (map_40a289357cd94c8d9815f9c7dab08679.getZoom() <= 14){
                    map_40a289357cd94c8d9815f9c7dab08679.removeLayer(feature_group_6ee42dac38a14d6bb91d0a40632cd1e2);
                }
                else {
                    map_40a289357cd94c8d9815f9c7dab08679.addLayer(feature_group_6ee42dac38a14d6bb91d0a40632cd1e2);
                }
        });

       map_40a289357cd94c8d9815f9c7dab08679.removeLayer(feature_group_f88d152c76e943a28fc15d754d3c7501);
        map_40a289357cd94c8d9815f9c7dab08679.on('zoomend', function() {
                if (map_40a289357cd94c8d9815f9c7dab08679.getZoom() > 14){
                    map_40a289357cd94c8d9815f9c7dab08679.removeLayer(feature_group_f88d152c76e943a28fc15d754d3c7501);
                }
                else {
                    map_40a289357cd94c8d9815f9c7dab08679.addLayer(feature_group_f88d152c76e943a28fc15d754d3c7501);
                }
        });

        marker_8946d33a10c741c383f0cc07a3e7a949.on('click', function(e){
            map_40a289357cd94c8d9815f9c7dab08679.setView(e.latlng, 15);
        });

</script>