<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ea6f4399ec154b0b9be88096d4c04e3e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_ea6f4399ec154b0b9be88096d4c04e3e" ></div>
        
</body>
<script>    
    
            var map_ea6f4399ec154b0b9be88096d4c04e3e = L.map(
                "map_ea6f4399ec154b0b9be88096d4c04e3e",
                {
                    center: [46.56009058392939, 8.552562349220693],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c1bb122018184cf6b771d70d46ad8e1a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ea6f4399ec154b0b9be88096d4c04e3e);
        
    
            var feature_group_e630b3dad4654ba2970e3078da016c6e = L.featureGroup(
                {}
            ).addTo(map_ea6f4399ec154b0b9be88096d4c04e3e);
        
    
            var marker_0bd19303ccae481da2a2a89a3e1b6ddd = L.marker(
                [46.56009058392939, 8.552562349220693],
                {}
            ).addTo(feature_group_e630b3dad4654ba2970e3078da016c6e);
        
    
            var beautify_icon_a867c584a46a4e55930ff805926ca3a7 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_0bd19303ccae481da2a2a89a3e1b6ddd.setIcon(beautify_icon_a867c584a46a4e55930ff805926ca3a7);
        
    
            marker_0bd19303ccae481da2a2a89a3e1b6ddd.bindTooltip(
                `<div>
                     Gottardo
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_bd396bce0dc94fd79ff59775e703191b = L.featureGroup(
                {}
            ).addTo(map_ea6f4399ec154b0b9be88096d4c04e3e);
        
    
            var marker_8aaee3245d624bb1885ec8cded0b134c = L.marker(
                [46.56048762066018, 8.557825416453852],
                {}
            ).addTo(feature_group_bd396bce0dc94fd79ff59775e703191b);
        
    
            var icon_3a04fc0a8e0a4b83b46d2dc444ac5666 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8aaee3245d624bb1885ec8cded0b134c.setIcon(icon_3a04fc0a8e0a4b83b46d2dc444ac5666);
        
    
        var popup_cf5ea402e262421ba5bd1603734ffe5a = L.popup({"maxWidth": "100%"});

        
            var html_4ec993b74d904cfa9cde8f2259d45147 = $(`<div id="html_4ec993b74d904cfa9cde8f2259d45147" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>46.5605, 8.5578<br></p></div>`)[0];
            popup_cf5ea402e262421ba5bd1603734ffe5a.setContent(html_4ec993b74d904cfa9cde8f2259d45147);
        

        marker_8aaee3245d624bb1885ec8cded0b134c.bindPopup(popup_cf5ea402e262421ba5bd1603734ffe5a)
        ;

        
    
    
            marker_8aaee3245d624bb1885ec8cded0b134c.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_ea6f4399ec154b0b9be88096d4c04e3e.on('zoomend', function() {
                if (map_ea6f4399ec154b0b9be88096d4c04e3e.getZoom() <= 14){
                    map_ea6f4399ec154b0b9be88096d4c04e3e.removeLayer(feature_group_bd396bce0dc94fd79ff59775e703191b);
                }
                else {
                    map_ea6f4399ec154b0b9be88096d4c04e3e.addLayer(feature_group_bd396bce0dc94fd79ff59775e703191b);
                }
        });

       map_ea6f4399ec154b0b9be88096d4c04e3e.removeLayer(feature_group_e630b3dad4654ba2970e3078da016c6e);
        map_ea6f4399ec154b0b9be88096d4c04e3e.on('zoomend', function() {
                if (map_ea6f4399ec154b0b9be88096d4c04e3e.getZoom() > 14){
                    map_ea6f4399ec154b0b9be88096d4c04e3e.removeLayer(feature_group_e630b3dad4654ba2970e3078da016c6e);
                }
                else {
                    map_ea6f4399ec154b0b9be88096d4c04e3e.addLayer(feature_group_e630b3dad4654ba2970e3078da016c6e);
                }
        });

        marker_0bd19303ccae481da2a2a89a3e1b6ddd.on('click', function(e){
            map_ea6f4399ec154b0b9be88096d4c04e3e.setView(e.latlng, 15);
        });

</script>