<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ae7565de87904407b4bfa915530dacbb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_ae7565de87904407b4bfa915530dacbb" ></div>
        
</body>
<script>    
    
            var map_ae7565de87904407b4bfa915530dacbb = L.map(
                "map_ae7565de87904407b4bfa915530dacbb",
                {
                    center: [46.56009058392939, 8.552562349220693],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6b8a27d9be7445ee95272f77402b40e1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ae7565de87904407b4bfa915530dacbb);
        
    
            var feature_group_ef0ffc996abd44c595a9d3f3dc211418 = L.featureGroup(
                {}
            ).addTo(map_ae7565de87904407b4bfa915530dacbb);
        
    
            var marker_28515cca22e745f5909526e6627dc632 = L.marker(
                [46.56009058392939, 8.552562349220693],
                {}
            ).addTo(feature_group_ef0ffc996abd44c595a9d3f3dc211418);
        
    
            var beautify_icon_59e8068b300d412ca08063178ad82631 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_28515cca22e745f5909526e6627dc632.setIcon(beautify_icon_59e8068b300d412ca08063178ad82631);
        
    
            marker_28515cca22e745f5909526e6627dc632.bindTooltip(
                `<div>
                     Gottardo
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_14d7d9bcc79c41a2bbf329ec8a5ba4e3 = L.featureGroup(
                {}
            ).addTo(map_ae7565de87904407b4bfa915530dacbb);
        
    
            var marker_5330bc8f44664fdab460fd1de7ff35f5 = L.marker(
                [46.56048762066018, 8.557825416453852],
                {}
            ).addTo(feature_group_14d7d9bcc79c41a2bbf329ec8a5ba4e3);
        
    
            var icon_b0d3cc2cffdb4ad6a9f145ffc61421c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5330bc8f44664fdab460fd1de7ff35f5.setIcon(icon_b0d3cc2cffdb4ad6a9f145ffc61421c8);
        
    
        var popup_b1eaf8ba293641fa9cf28d8796c607bb = L.popup({"maxWidth": "100%"});

        
            var html_1d8800fd67a54a6e9dd6b3fffa3718bd = $(`<div id="html_1d8800fd67a54a6e9dd6b3fffa3718bd" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>46.5605, 8.5578<br></p></div>`)[0];
            popup_b1eaf8ba293641fa9cf28d8796c607bb.setContent(html_1d8800fd67a54a6e9dd6b3fffa3718bd);
        

        marker_5330bc8f44664fdab460fd1de7ff35f5.bindPopup(popup_b1eaf8ba293641fa9cf28d8796c607bb)
        ;

        
    
    
            marker_5330bc8f44664fdab460fd1de7ff35f5.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_ae7565de87904407b4bfa915530dacbb.on('zoomend', function() {
                if (map_ae7565de87904407b4bfa915530dacbb.getZoom() <= 14){
                    map_ae7565de87904407b4bfa915530dacbb.removeLayer(feature_group_14d7d9bcc79c41a2bbf329ec8a5ba4e3);
                }
                else {
                    map_ae7565de87904407b4bfa915530dacbb.addLayer(feature_group_14d7d9bcc79c41a2bbf329ec8a5ba4e3);
                }
        });

       map_ae7565de87904407b4bfa915530dacbb.removeLayer(feature_group_ef0ffc996abd44c595a9d3f3dc211418);
        map_ae7565de87904407b4bfa915530dacbb.on('zoomend', function() {
                if (map_ae7565de87904407b4bfa915530dacbb.getZoom() > 14){
                    map_ae7565de87904407b4bfa915530dacbb.removeLayer(feature_group_ef0ffc996abd44c595a9d3f3dc211418);
                }
                else {
                    map_ae7565de87904407b4bfa915530dacbb.addLayer(feature_group_ef0ffc996abd44c595a9d3f3dc211418);
                }
        });

        marker_28515cca22e745f5909526e6627dc632.on('click', function(e){
            map_ae7565de87904407b4bfa915530dacbb.setView(e.latlng, 15);
        });

</script>