<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1cb1b2a3810b4af68744df15e3d4fb5e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_1cb1b2a3810b4af68744df15e3d4fb5e" ></div>
        
</body>
<script>    
    
            var map_1cb1b2a3810b4af68744df15e3d4fb5e = L.map(
                "map_1cb1b2a3810b4af68744df15e3d4fb5e",
                {
                    center: [40.749967285307875, -3.8962348707185583],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_29133384b08546958ad9bffff39b3441 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1cb1b2a3810b4af68744df15e3d4fb5e);
        
    
            var feature_group_f4fec5381a9d44b38bb800f6fff20802 = L.featureGroup(
                {}
            ).addTo(map_1cb1b2a3810b4af68744df15e3d4fb5e);
        
    
            var marker_39e33ef7ca0e41ca9261f0d2ee57a757 = L.marker(
                [40.749967285307875, -3.8962348707185583],
                {}
            ).addTo(feature_group_f4fec5381a9d44b38bb800f6fff20802);
        
    
            var beautify_icon_a3aa2db417904c3598018f3e8333d866 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_39e33ef7ca0e41ca9261f0d2ee57a757.setIcon(beautify_icon_a3aa2db417904c3598018f3e8333d866);
        
    
            marker_39e33ef7ca0e41ca9261f0d2ee57a757.bindTooltip(
                `<div>
                     La Pedriza
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_921c0793920a4bc7b7f7eba79fb42c9f = L.featureGroup(
                {}
            ).addTo(map_1cb1b2a3810b4af68744df15e3d4fb5e);
        
    
            var marker_929f50c328aa405da688117831aa6ec4 = L.marker(
                [40.749285880889026, -3.896172866570282],
                {}
            ).addTo(feature_group_921c0793920a4bc7b7f7eba79fb42c9f);
        
    
            var icon_524a78bd70744447b02be8bd69ac189b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_929f50c328aa405da688117831aa6ec4.setIcon(icon_524a78bd70744447b02be8bd69ac189b);
        
    
        var popup_1d0b42862aa644b1921970235bcee99a = L.popup({"maxWidth": "100%"});

        
            var html_d6f5da88f45849ca81e8ccafd02b4379 = $(`<div id="html_d6f5da88f45849ca81e8ccafd02b4379" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>40.7493, -3.8962<br></p></div>`)[0];
            popup_1d0b42862aa644b1921970235bcee99a.setContent(html_d6f5da88f45849ca81e8ccafd02b4379);
        

        marker_929f50c328aa405da688117831aa6ec4.bindPopup(popup_1d0b42862aa644b1921970235bcee99a)
        ;

        
    
    
            marker_929f50c328aa405da688117831aa6ec4.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_1cb1b2a3810b4af68744df15e3d4fb5e.on('zoomend', function() {
                if (map_1cb1b2a3810b4af68744df15e3d4fb5e.getZoom() <= 14){
                    map_1cb1b2a3810b4af68744df15e3d4fb5e.removeLayer(feature_group_921c0793920a4bc7b7f7eba79fb42c9f);
                }
                else {
                    map_1cb1b2a3810b4af68744df15e3d4fb5e.addLayer(feature_group_921c0793920a4bc7b7f7eba79fb42c9f);
                }
        });

       map_1cb1b2a3810b4af68744df15e3d4fb5e.removeLayer(feature_group_f4fec5381a9d44b38bb800f6fff20802);
        map_1cb1b2a3810b4af68744df15e3d4fb5e.on('zoomend', function() {
                if (map_1cb1b2a3810b4af68744df15e3d4fb5e.getZoom() > 14){
                    map_1cb1b2a3810b4af68744df15e3d4fb5e.removeLayer(feature_group_f4fec5381a9d44b38bb800f6fff20802);
                }
                else {
                    map_1cb1b2a3810b4af68744df15e3d4fb5e.addLayer(feature_group_f4fec5381a9d44b38bb800f6fff20802);
                }
        });

        marker_39e33ef7ca0e41ca9261f0d2ee57a757.on('click', function(e){
            map_1cb1b2a3810b4af68744df15e3d4fb5e.setView(e.latlng, 15);
        });

</script>