<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dadfd16b0c104fe3894207224d13a05f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <link rel="stylesheet" href="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.css"/>
    <script src="https://rawcdn.githack.com/marslan390/BeautifyMarker/master/leaflet-beautify-marker-icon.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_dadfd16b0c104fe3894207224d13a05f" ></div>
        
</body>
<script>    
    
            var map_dadfd16b0c104fe3894207224d13a05f = L.map(
                "map_dadfd16b0c104fe3894207224d13a05f",
                {
                    center: [46.56599394429873, 9.437517588147443],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b0740bbdc6bc46c8a14f1c24260dd5ad = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dadfd16b0c104fe3894207224d13a05f);
        
    
            var feature_group_5a9dab4f5ef84555aea428147cb5fabf = L.featureGroup(
                {}
            ).addTo(map_dadfd16b0c104fe3894207224d13a05f);
        
    
            var marker_2878e0b60505495088996e951eb70d02 = L.marker(
                [46.56599394429873, 9.437517588147443],
                {}
            ).addTo(feature_group_5a9dab4f5ef84555aea428147cb5fabf);
        
    
            var beautify_icon_5b6ff9dfee9643e991f9c721e6de0185 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 3, "iconShape": "marker", "innerIconStyle": "", "isAlphaNumericIcon": true, "spin": false, "text": 0, "textColor": "#000"}
            )
            marker_2878e0b60505495088996e951eb70d02.setIcon(beautify_icon_5b6ff9dfee9643e991f9c721e6de0185);
        
    
            marker_2878e0b60505495088996e951eb70d02.bindTooltip(
                `<div>
                     Magic Wood
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_77ed86e0d72c4c35bc93c35cad2a6af7 = L.featureGroup(
                {}
            ).addTo(map_dadfd16b0c104fe3894207224d13a05f);
        
    
            var marker_ef6683e7320e404d947ed3f346ddb630 = L.marker(
                [46.56804736042604, 9.438299087101313],
                {}
            ).addTo(feature_group_77ed86e0d72c4c35bc93c35cad2a6af7);
        
    
            var icon_274e5e88fc8b431bbea3157b000e2d20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ef6683e7320e404d947ed3f346ddb630.setIcon(icon_274e5e88fc8b431bbea3157b000e2d20);
        
    
        var popup_5119cfa8a2a847d6813c0a1b5e96f9aa = L.popup({"maxWidth": "100%"});

        
            var html_018009c8a0294457b325b5336db2d3c7 = $(`<div id="html_018009c8a0294457b325b5336db2d3c7" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>46.568, 9.4383<br></p></div>`)[0];
            popup_5119cfa8a2a847d6813c0a1b5e96f9aa.setContent(html_018009c8a0294457b325b5336db2d3c7);
        

        marker_ef6683e7320e404d947ed3f346ddb630.bindPopup(popup_5119cfa8a2a847d6813c0a1b5e96f9aa)
        ;

        
    
    
            marker_ef6683e7320e404d947ed3f346ddb630.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7f865a8f3c8546f38e1a70cb29480349 = L.marker(
                [46.56042983727198, 9.438774018002732],
                {}
            ).addTo(feature_group_77ed86e0d72c4c35bc93c35cad2a6af7);
        
    
            var icon_9642134812d14a1f8867b1fe89fb137d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7f865a8f3c8546f38e1a70cb29480349.setIcon(icon_9642134812d14a1f8867b1fe89fb137d);
        
    
        var popup_99c45ebb0f1a4f94ba24d94311161fa8 = L.popup({"maxWidth": "100%"});

        
            var html_c932d35d06dc46578f70418f7c51fef7 = $(`<div id="html_c932d35d06dc46578f70418f7c51fef7" style="width: 100.0%; height: 100.0%;"><p>Parking<br><br>46.5604, 9.4388<br></p></div>`)[0];
            popup_99c45ebb0f1a4f94ba24d94311161fa8.setContent(html_c932d35d06dc46578f70418f7c51fef7);
        

        marker_7f865a8f3c8546f38e1a70cb29480349.bindPopup(popup_99c45ebb0f1a4f94ba24d94311161fa8)
        ;

        
    
    
            marker_7f865a8f3c8546f38e1a70cb29480349.bindTooltip(
                `<div>
                     Parking
                 </div>`,
                {"sticky": true}
            );
        
        map_dadfd16b0c104fe3894207224d13a05f.on('zoomend', function() {
                if (map_dadfd16b0c104fe3894207224d13a05f.getZoom() <= 14){
                    map_dadfd16b0c104fe3894207224d13a05f.removeLayer(feature_group_77ed86e0d72c4c35bc93c35cad2a6af7);
                }
                else {
                    map_dadfd16b0c104fe3894207224d13a05f.addLayer(feature_group_77ed86e0d72c4c35bc93c35cad2a6af7);
                }
        });

       map_dadfd16b0c104fe3894207224d13a05f.removeLayer(feature_group_5a9dab4f5ef84555aea428147cb5fabf);
        map_dadfd16b0c104fe3894207224d13a05f.on('zoomend', function() {
                if (map_dadfd16b0c104fe3894207224d13a05f.getZoom() > 14){
                    map_dadfd16b0c104fe3894207224d13a05f.removeLayer(feature_group_5a9dab4f5ef84555aea428147cb5fabf);
                }
                else {
                    map_dadfd16b0c104fe3894207224d13a05f.addLayer(feature_group_5a9dab4f5ef84555aea428147cb5fabf);
                }
        });

        marker_2878e0b60505495088996e951eb70d02.on('click', function(e){
            map_dadfd16b0c104fe3894207224d13a05f.setView(e.latlng, 15);
        });

</script>