<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Original Sin 7a Boulder Problem in Villajoyosa | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Original Sin Boulder Problem in Villajoyosa climbed by Sara Moncho | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/villajoyosa/original-sin-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/valencian-community" class="zone-header-tree-link">Valencian Community</a>
	
	 > 
	<a href="/villajoyosa" class="zone-header-tree-link">Villajoyosa</a>
	 > 
	<a href="/sectors/villajoyosa/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Original Sin, 7a. Villajoyosa 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/fJ43Wlpby-w" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Original Sin </p>
		<p> {{ _("Grade") }}: 7a </p>
		<p> {{ _("Zone") }}: <a href="/villajoyosa">Villajoyosa</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/villajoyosa/unknown">Unknown</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/sara-moncho">Sara Moncho</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>