<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at Culp Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Culp Valley | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/culp-valley/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
			   
				> 
			   <a href="/states/california" class="zone-header-tree-link">California</a>
			   
				> 
			   <a href="/culp-valley" class="zone-header-tree-link">Culp Valley</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Unknown of Culp Valley
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Cannon Ball, V7. Culp Valley" href="/problems/culp-valley/cannon-ball-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cannon Ball, V7. Culp Valley" src="https://img.youtube.com/vi/jcCbj8RfCKQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/cannon-ball-v7" class="table-row-name text-bold">Cannon Ball</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jessica Rabbit, V9. Culp Valley" href="/problems/culp-valley/jessica-rabbit-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jessica Rabbit, V9. Culp Valley" src="https://img.youtube.com/vi/hOGpyhOLJ8Y/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/jessica-rabbit-v9" class="table-row-name text-bold">Jessica Rabbit</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Just Beer, V7. Culp Valley" href="/problems/culp-valley/just-beer-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Just Beer, V7. Culp Valley" src="https://img.youtube.com/vi/AQ8iRzKuKoA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/just-beer-v7" class="table-row-name text-bold">Just Beer</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Linder in a Blender, V8. Culp Valley" href="/problems/culp-valley/linder-in-a-blender-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Linder in a Blender, V8. Culp Valley" src="https://img.youtube.com/vi/IovRgRN0tZ4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/linder-in-a-blender-v8" class="table-row-name text-bold">Linder in a Blender</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mean Loser Blues, V8. Culp Valley" href="/problems/culp-valley/mean-loser-blues-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mean Loser Blues, V8. Culp Valley" src="https://img.youtube.com/vi/ruksiI9oN38/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/mean-loser-blues-v8" class="table-row-name text-bold">Mean Loser Blues</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Spandex, V6. Culp Valley" href="/problems/culp-valley/spandex-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Spandex, V6. Culp Valley" src="https://img.youtube.com/vi/rPrJPTvfstw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/spandex-v6" class="table-row-name text-bold">Spandex</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Spirit Bomb, V9. Culp Valley" href="/problems/culp-valley/spirit-bomb-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Spirit Bomb, V9. Culp Valley" src="https://img.youtube.com/vi/f-MZUIIP4Tc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/spirit-bomb-v9" class="table-row-name text-bold">Spirit Bomb</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The First Black Robot, V6. Culp Valley" href="/problems/culp-valley/the-first-black-robot-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The First Black Robot, V6. Culp Valley" src="https://img.youtube.com/vi/6JflKIfaqC4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/the-first-black-robot-v6" class="table-row-name text-bold">The First Black Robot</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Real Thing, V8. Culp Valley" href="/problems/culp-valley/the-real-thing-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Real Thing, V8. Culp Valley" src="https://img.youtube.com/vi/IOWJcJDb5Oo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/the-real-thing-v8" class="table-row-name text-bold">The Real Thing</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Throw Up Left, V4. Culp Valley" href="/problems/culp-valley/throw-up-left-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Throw Up Left, V4. Culp Valley" src="https://img.youtube.com/vi/lHJNKQsPePM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/culp-valley/throw-up-left-v4" class="table-row-name text-bold">Throw Up Left</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>