
<meta name="application-name" content="MadBoulder | Climbing Videos | Bouldering" />
<meta name="keywords" content="bouldering, rock climbing, climbing, escalada, bloque, escalada en roca, guidebook, escalada en boulder, bouldering map, climbing videos">
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://madboulder.org/static/images/logo/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://madboulder.org/static/images/logo/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://madboulder.org/static/images/logo/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://madboulder.org/static/images/logo/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://madboulder.org/static/images/logo/mstile-310x310.png" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, text/html, shrink-to-fit=no"
/>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
<link rel="apple-touch-icon" sizes="57x57"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152"
  href="https://madboulder.org/static/images/logo/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-196x196.png"
  sizes="196x196" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-128.png" sizes="128x128" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" ></script>