<!DOCTYPE html>
<html>
  <head>
    <title>Vitruvian Man at Chironico | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Vitruvian Man at Chironico | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/chironico/vitruvian-man-7a-with-chipped-pocket">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
	
	 > 
	<a href="/states/ticino" class="zone-header-tree-link">Ticino</a>
	
	 > 
	<a href="/chironico" class="zone-header-tree-link">Chironico</a>
	 > 
	<a href="/sectors/chironico/la-soucoupe" class="zone-header-tree-link">La soucoupe</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Vitruvian Man 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/NFs6B_wVMYw" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Vitruvian Man </p>
		<p> {{ _("Grade") }}: 7a (with chipped pocket) </p>
		<p> {{ _("Zone") }}: Chironico </p>
		<p> {{ _("Sector") }}: La soucoupe </p>
		<p> {{ _("Climber") }}: Lucy Watson </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>