<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Edge Problem 7A (sit) Boulder Problem in Cromlech Boulders | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of The Edge Problem Boulder Problem in Cromlech Boulders climbed by @AnnaHazelnutt | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/cromlech-boulders/the-edge-problem-7a-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-kingdom" class="zone-header-tree-link">United Kingdom</a>
	
	 > 
	<a href="/cromlech-boulders" class="zone-header-tree-link">Cromlech Boulders</a>
	 > 
	<a href="/sectors/cromlech-boulders/roadside-face" class="zone-header-tree-link">Roadside Face</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 The Edge Problem, 7A (sit). Cromlech Boulders 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/ZGmm-6ffJtQ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: The Edge Problem </p>
		<p> {{ _("Grade") }}: 7A (sit) </p>
		<p> {{ _("Zone") }}: <a href="/cromlech-boulders">Cromlech Boulders</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/cromlech-boulders/roadside-face">Roadside Face</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/annahazelnutt">@AnnaHazelnutt</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>