<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Problem 5 (Boulder 1, Carpe Diem) 6b (sit) Boulder Problem in La Jonquera | MadBoulder</title>
	<meta name="description" content="Videos of Problem 5 (Boulder 1, Carpe Diem) Boulder Problem in La Jonquera climbed by Jordi Arabia | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/la-jonquera/problem-5-boulder-1-carpe-diem-6b-sit">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/la-jonquera" class="zone-header-tree-link">La Jonquera</a>
				> 
				<a href="/sectors/la-jonquera/carpe-diem" class="zone-header-tree-link">Carpe Diem</a>
				
				> 
				<a href="/boulders/la-jonquera/" class="zone-header-tree-link">1</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Problem 5 (Boulder 1, Carpe Diem), 6b (sit). La Jonquera
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/OepUs_DCfG8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Problem 5 (Boulder 1, Carpe Diem) </p>
					<p> {{ _("Grade") }}: 6b (sit) </p>
					
						<p> {{ _("Zone") }}: <a href="/la-jonquera">La Jonquera</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/la-jonquera/carpe-diem">Carpe Diem</a></p>
					
					
						
							<p> {{ _("Boulder") }}: 1</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/jordi-arabia">Jordi Arabia</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>