<!DOCTYPE html>
<html>
  <head>
    <title>Problem C (Boulder 43, La Plana) at Val Daone | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Problem C (Boulder 43, La Plana) at Val Daone | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/val-daone/problem-c-boulder-43-la-plana">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Problem C (Boulder 43, La Plana), Val Daone 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/d0Y4MdCbwZc" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Problem C (Boulder 43, La Plana) </p>
			<p> {{ _("Grade") }}: 5a </p>
			<p> {{ _("Zone") }}: Val Daone </p>
			<p> {{ _("Sector") }}: La Plana </p>
			<p> {{ _("Climber") }}: Mariona Coma </p>
		</div>
	</div>
</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>