<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Powerlines at Rocklands | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Powerlines at Rocklands | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/rocklands/powerlines">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/south-africa" class="zone-header-tree-link">South Africa</a>
			   
				> 
			   <a href="/rocklands" class="zone-header-tree-link">Rocklands</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Powerlines of Rocklands
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:600px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM-GWATpaCCAxWCZ5YShY-j" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Alley Oop, 7c. Rocklands" href="/problems/rocklands/alley-oop-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Alley Oop, 7c. Rocklands" src="https://img.youtube.com/vi/CMuuONR0Nn8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/alley-oop-7c" class="table-row-name text-bold">Alley Oop</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Anna’s Moonkick School, 7c+ (sit). Rocklands" href="/problems/rocklands/annas-moonkick-school-7c-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Anna’s Moonkick School, 7c+ (sit). Rocklands" src="https://img.youtube.com/vi/V7pl6hrRbmw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/annas-moonkick-school-7c-sit" class="table-row-name text-bold">Anna’s Moonkick School</a>
									</div>
								</td>
								<td>7c+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Flash for mushrooms, 7a+. Rocklands" href="/problems/rocklands/flash-for-mushrooms-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Flash for mushrooms, 7a+. Rocklands" src="https://img.youtube.com/vi/KC_2mtYLuMk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/flash-for-mushrooms-7a" class="table-row-name text-bold">Flash for mushrooms</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Foreign Invasion, 7a+. Rocklands" href="/problems/rocklands/foreign-invasion-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Foreign Invasion, 7a+. Rocklands" src="https://img.youtube.com/vi/bAHLha1lB2I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/foreign-invasion-7a" class="table-row-name text-bold">Foreign Invasion</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="L'Arête, 7a+. Rocklands" href="/problems/rocklands/l-arete-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: L'Arête, 7a+. Rocklands" src="https://img.youtube.com/vi/m0e9F30ys9g/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/l-arete-7a" class="table-row-name text-bold">L'Arête</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Overpowered, 8b. Rocklands" href="/problems/rocklands/overpowered-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Overpowered, 8b. Rocklands" src="https://img.youtube.com/vi/MHiv6HOTs8Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/overpowered-8b" class="table-row-name text-bold">Overpowered</a>
									</div>
								</td>
								<td>8b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Perfect, 6c+. Rocklands" href="/problems/rocklands/perfect-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Perfect, 6c+. Rocklands" src="https://img.youtube.com/vi/Rx5_hI0uCdM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/perfect-6c" class="table-row-name text-bold">Perfect</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ramskop, 7a+. Rocklands" href="/problems/rocklands/ramskop-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ramskop, 7a+. Rocklands" src="https://img.youtube.com/vi/oiFxBGOSr-k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/ramskop-7a" class="table-row-name text-bold">Ramskop</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Revenge of the gym rats, 7c. Rocklands" href="/problems/rocklands/revenge-of-the-gym-rats-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Revenge of the gym rats, 7c. Rocklands" src="https://img.youtube.com/vi/qITd_x4cQ1w/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/revenge-of-the-gym-rats-7c" class="table-row-name text-bold">Revenge of the gym rats</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Sublime, 6c+. Rocklands" href="/problems/rocklands/sublime-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sublime, 6c+. Rocklands" src="https://img.youtube.com/vi/LQ4b3OX3Tr0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/sublime-6c" class="table-row-name text-bold">Sublime</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Goldilocks Theory, 7c+. Rocklands" href="/problems/rocklands/the-goldilocks-theory-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Goldilocks Theory, 7c+. Rocklands" src="https://img.youtube.com/vi/No9SAXPwvis/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/the-goldilocks-theory-7c" class="table-row-name text-bold">The Goldilocks Theory</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The prow, 7a+. Rocklands" href="/problems/rocklands/the-prow-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The prow, 7a+. Rocklands" src="https://img.youtube.com/vi/e7SKvak5m38/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/the-prow-7a" class="table-row-name text-bold">The prow</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Toy Story, 7a. Rocklands" href="/problems/rocklands/toy-story-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Toy Story, 7a. Rocklands" src="https://img.youtube.com/vi/1Tn2J2T2b40/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/rocklands/toy-story-7a" class="table-row-name text-bold">Toy Story</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>