<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Presió de Kames 6a Boulder Problem in Claverol | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Presió de Kames Boulder Problem in Claverol climbed by Aniol Santacreu | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/claverol/presio-de-kames-6a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
	
	 > 
	<a href="/claverol" class="zone-header-tree-link">Claverol</a>
	 > 
	<a href="/sectors/claverol/unknown" class="zone-header-tree-link">Unknown</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Presió de Kames, 6a. Claverol 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/kJaSl6VVyOE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Presió de Kames </p>
		<p> {{ _("Grade") }}: 6a </p>
		
			<p> {{ _("Zone") }}: <a href="/claverol">Claverol</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/claverol/unknown">Unknown</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/aniol-santacreu">Aniol Santacreu</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>