<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Little Pixies 7a Boulder Problem in Back Bowden Doors | MadBoulder</title>
	<meta name="description" content="Videos of Little Pixies Boulder Problem in Back Bowden Doors climbed by @rachelkarma | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/back-bowden-doors/little-pixies-7a">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Little Pixies, 7a. Back Bowden Doors
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/taDBWuUszuU" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Little Pixies </p>
					<p> {{ _("Grade") }}: 7a </p>
					
						<p> {{ _("Zone") }}: Back Bowden Doors</p>
						<p> {{ _("Sector") }}: Unknown</p>
					
					
						
							<p> {{ _("Boulder") }}: Merlin Wall</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/rachelkarma">@rachelkarma</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>