<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Albagés - Els Camps at El Cogul | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Albagés - Els Camps at El Cogul | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/el-cogul/albages-els-camps">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Albagés - Els Camps, El Cogul 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-16-albages-els-camps" class="table-row-name text-bold">Problem 16 (Albagés - Els Camps)</a>
						</td>
						<td>5+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-18-albages-els-camps" class="table-row-name text-bold">Problem 18 (Albagés - Els Camps)</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-3-albages-els-camps" class="table-row-name text-bold">Problem 3 (Albagés - Els Camps)</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-32-albages-els-camps" class="table-row-name text-bold">Problem 32 (Albagés - Els Camps)</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-33-albages-els-camps" class="table-row-name text-bold">Problem 33 (Albagés - Els Camps)</a>
						</td>
						<td>4+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-34-albages-els-camps" class="table-row-name text-bold">Problem 34 (Albagés - Els Camps)</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/el-cogul/problem-6-albages-els-camps" class="table-row-name text-bold">Problem 6 (Albagés - Els Camps)</a>
						</td>
						<td>5+</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>