<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Sector Universitat at El Cogul | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Universitat at El Cogul | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/el-cogul/universitat">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
	
	 > 
	<a href="/el-cogul" class="zone-header-tree-link">El Cogul</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Universitat 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPfqifo7OF3GMf6wKLN9SpM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Altra més el forat, 6c+. El Cogul" href="/problems/el-cogul/altra-mes-el-forat-bong-extension-6c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Altra més el forat, 6c+. El Cogul" src="https://img.youtube.com/vi/h4pXzVneetQ/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/altra-mes-el-forat-bong-extension-6c" class="table-row-name text-bold">Altra més el forat (Bong Extension)</a>
							</div>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Bong, 6b+. El Cogul" href="/problems/el-cogul/bong-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bong, 6b+. El Cogul" src="https://img.youtube.com/vi/f3LVPLWHNCY/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/bong-6b" class="table-row-name text-bold">Bong</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Dominio del miedo, 6b. El Cogul" href="/problems/el-cogul/dominio-del-miedo-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Dominio del miedo, 6b. El Cogul" src="https://img.youtube.com/vi/G-jMZPVgfXc/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/dominio-del-miedo-6b" class="table-row-name text-bold">Dominio del miedo</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Hidrofóbica, 7b (sit). El Cogul" href="/problems/el-cogul/hidrofobica-7b-sit" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hidrofóbica, 7b (sit). El Cogul" src="https://img.youtube.com/vi/AbTDIFMk_BU/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/hidrofobica-7b-sit" class="table-row-name text-bold">Hidrofóbica</a>
							</div>
						</td>
						<td>7b (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Hidrofóbica Extensión, 7c. El Cogul" href="/problems/el-cogul/hidrofobica-extension-7c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hidrofóbica Extensión, 7c. El Cogul" src="https://img.youtube.com/vi/50JRb9UUDXk/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/hidrofobica-extension-7c" class="table-row-name text-bold">Hidrofóbica Extensión</a>
							</div>
						</td>
						<td>7c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Lo Cogul, 6c+. El Cogul" href="/problems/el-cogul/lo-cogul-6c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Lo Cogul, 6c+. El Cogul" src="https://img.youtube.com/vi/i7ZHOCTQwPE/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/lo-cogul-6c" class="table-row-name text-bold">Lo Cogul</a>
							</div>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Mrk01, 6a. El Cogul" href="/problems/el-cogul/mrk01-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mrk01, 6a. El Cogul" src="https://img.youtube.com/vi/gcGwLk9ukXA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/mrk01-6a" class="table-row-name text-bold">Mrk01</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Método Osmin, 8a+. El Cogul" href="/problems/el-cogul/metodo-osmin-8a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Método Osmin, 8a+. El Cogul" src="https://img.youtube.com/vi/nflneAjIvKE/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/metodo-osmin-8a" class="table-row-name text-bold">Método Osmin</a>
							</div>
						</td>
						<td>8a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 1 (Boulder 5, Universitat), 5+. El Cogul" href="/problems/el-cogul/problem-1-boulder-5-universitat-5" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 1 (Boulder 5, Universitat), 5+. El Cogul" src="https://img.youtube.com/vi/l-t07FEy-_Q/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-1-boulder-5-universitat-5" class="table-row-name text-bold">Problem 1 (Boulder 5, Universitat)</a>
							</div>
						</td>
						<td>5+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 12 (Universitat), 7a. El Cogul" href="/problems/el-cogul/problem-12-universitat-7a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 12 (Universitat), 7a. El Cogul" src="https://img.youtube.com/vi/iHABLzGmMD8/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-12-universitat-7a" class="table-row-name text-bold">Problem 12 (Universitat)</a>
							</div>
						</td>
						<td>7a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 13 (Universitat), 6c. El Cogul" href="/problems/el-cogul/problem-13-universitat-6c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 13 (Universitat), 6c. El Cogul" src="https://img.youtube.com/vi/o-xmEuUT4IA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-13-universitat-6c" class="table-row-name text-bold">Problem 13 (Universitat)</a>
							</div>
						</td>
						<td>6c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 15 (Universitat), 5+. El Cogul" href="/problems/el-cogul/problem-15-universitat-5" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 15 (Universitat), 5+. El Cogul" src="https://img.youtube.com/vi/Jly0ncv35-o/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-15-universitat-5" class="table-row-name text-bold">Problem 15 (Universitat)</a>
							</div>
						</td>
						<td>5+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 15 Left (Universitat), 6b. El Cogul" href="/problems/el-cogul/problem-15-left-universitat-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 15 Left (Universitat), 6b. El Cogul" src="https://img.youtube.com/vi/OrE29BfjAYw/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-15-left-universitat-6b" class="table-row-name text-bold">Problem 15 Left (Universitat)</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 18 (Universitat), 6b+. El Cogul" href="/problems/el-cogul/problem-18-universitat-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 18 (Universitat), 6b+. El Cogul" src="https://img.youtube.com/vi/j86JlUdGc-w/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-18-universitat-6b" class="table-row-name text-bold">Problem 18 (Universitat)</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 19 (Universitat), 5+. El Cogul" href="/problems/el-cogul/problem-19-universitat-5" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 19 (Universitat), 5+. El Cogul" src="https://img.youtube.com/vi/a1PNgVHJI2w/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-19-universitat-5" class="table-row-name text-bold">Problem 19 (Universitat)</a>
							</div>
						</td>
						<td>5+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 2 (Boulder 1.3, Universitat),  6a+/b. El Cogul" href="/problems/el-cogul/problem-2-boulder-1-3-universitat-6a-b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 2 (Boulder 1.3, Universitat),  6a+/b. El Cogul" src="https://img.youtube.com/vi/KMp8bX_LacM/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-2-boulder-1-3-universitat-6a-b" class="table-row-name text-bold">Problem 2 (Boulder 1.3, Universitat)</a>
							</div>
						</td>
						<td>6a+/b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 2 (Boulder 2, Universitat), 6a+. El Cogul" href="/problems/el-cogul/problem-2-boulder-2-universitat-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 2 (Boulder 2, Universitat), 6a+. El Cogul" src="https://img.youtube.com/vi/5KJNWjj6Bt8/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-2-boulder-2-universitat-6a" class="table-row-name text-bold">Problem 2 (Boulder 2, Universitat)</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 3 (Boulder 1.3, Universitat), 6b. El Cogul" href="/problems/el-cogul/problem-3-boulder-1-3-universitat-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 3 (Boulder 1.3, Universitat), 6b. El Cogul" src="https://img.youtube.com/vi/kUdjL6ZCCm4/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-3-boulder-1-3-universitat-6b" class="table-row-name text-bold">Problem 3 (Boulder 1.3, Universitat)</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 3 (Boulder 3, Universitat), 6b. El Cogul" href="/problems/el-cogul/problem-3-boulder-3-universitat-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 3 (Boulder 3, Universitat), 6b. El Cogul" src="https://img.youtube.com/vi/8WmQx9IyKgI/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-3-boulder-3-universitat-6b" class="table-row-name text-bold">Problem 3 (Boulder 3, Universitat)</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Problem 3 (Boulder 6, Universitat), 6a. El Cogul" href="/problems/el-cogul/problem-3-boulder-6-universitat-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Problem 3 (Boulder 6, Universitat), 6a. El Cogul" src="https://img.youtube.com/vi/qAxncacnwCI/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/problem-3-boulder-6-universitat-6a" class="table-row-name text-bold">Problem 3 (Boulder 6, Universitat)</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Realidad depresiva, 6a. El Cogul" href="/problems/el-cogul/realidad-depresiva-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Realidad depresiva, 6a. El Cogul" src="https://img.youtube.com/vi/4HDZGXe9Bwk/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/el-cogul/realidad-depresiva-6a" class="table-row-name text-bold">Realidad depresiva</a>
							</div>
						</td>
						<td>6a</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>