<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Universitat at El Cogul | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Universitat at El Cogul | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/el-cogul/universitat">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Universitat, El Cogul</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPfqifo7OF3GMf6wKLN9SpM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/el-cogul/altra-mes-el-forat-bong-extension">Altra més el forat (Bong Extension), 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/bong">Bong, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/dominio-del-miedo">Dominio del miedo, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/hidrofobica">Hidrofóbica, 7b (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/hidrofobica-extension">Hidrofóbica Extensión, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/lo-cogul">Lo Cogul, 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/mrk01">Mrk01, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/metodo-osmin">Método Osmin, 8a+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-1-boulder-5-universitat">Problem 1 (Boulder 5, Universitat), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-12-universitat">Problem 12 (Universitat), 7a</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-13-universitat">Problem 13 (Universitat), 6c</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-15-universitat">Problem 15 (Universitat), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-15-left-universitat">Problem 15 Left (Universitat), 6b</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-18-universitat">Problem 18 (Universitat), 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-19-universitat">Problem 19 (Universitat), 5+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-2-boulder-1-3-universitat">Problem 2 (Boulder 1.3, Universitat), 6a+/b</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-2-boulder-2-universitat">Problem 2 (Boulder 2, Universitat), 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-3-boulder-1-3-universitat">Problem 3 (Boulder 1.3, Universitat), 6b</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-3-boulder-3-universitat">Problem 3 (Boulder 3, Universitat), 6b</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/problem-3-boulder-6-universitat">Problem 3 (Boulder 6, Universitat), 6a</a>
		</li>
		
		<li>
		  <a href="/problems/el-cogul/realidad-depresiva">Realidad depresiva, 6a</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>