<!DOCTYPE html>
<html>
  <head>
    <title>La grotte des soupirs at Cresciano | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of La grotte des soupirs at Cresciano | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/cresciano/la-grotte-des-soupirs">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
	
	 > 
	<a href="/states/ticino" class="zone-header-tree-link">Ticino</a>
	
	 > 
	<a href="/cresciano" class="zone-header-tree-link">Cresciano</a>
	 > 
	<a href="/sectors/cresciano/filo-a-sbalzo" class="zone-header-tree-link">Filo a sbalzo</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 La grotte des soupirs 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/2WyACqvkLXo" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: La grotte des soupirs </p>
		<p> {{ _("Grade") }}: 7c+ </p>
		<p> {{ _("Zone") }}: Cresciano </p>
		<p> {{ _("Sector") }}: Filo a sbalzo </p>
		<p> {{ _("Climber") }}: Mikkel Normann @mikkelnor </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>