<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ _("Bouldering Areas in") }} Ticino, Switzerland | MadBoulder</title>
	<meta name="description" content="List fo Bouldering Areas in Ticino, Switzerland | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/states/ticino">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/zones.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/country.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main class="bouldering-areas-list">
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
				<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
			</div>
			<h1 class="zone-header-title text-bold">
				7 Bouldering Areas in Ticino, Switzerland
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			<h2> {{ _("List of Areas") }} </h2>
			
			{% set show_video_filter = True %}
			{% set show_country_filter = False %}
			{% set show_altitude_filter = True %}
			{% set show_rocktype_filter = True %}
			{% include 'elements/search-sort-filter-box.html' %}

			
			<div id="zones-list" style="display: flex; flex-wrap: wrap; justify-content: center;">
			  
				
  <div class="custom-card" id="avegno_switzerland">
    
    
    <a href="/avegno" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Avegno</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("avegno_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/8Z4UvN3Na3M/maxresdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 7;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 380.0;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gnei";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
				
  <div class="custom-card" id="brione_switzerland">
    
    
    <a href="/brione" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Brione</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("brione_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/wdb8cd5vxMM/maxresdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 164;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 740;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gnei";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
				
  <div class="custom-card" id="chironico_switzerland">
    
    
    <a href="/chironico" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Chironico</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("chironico_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/jKhfhwgRSgM/maxresdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 273;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 802;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gnei";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
				
  <div class="custom-card" id="cresciano_switzerland">
    
    
    <a href="/cresciano" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Cresciano</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("cresciano_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/K_N6ZsdAHDw/maxresdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 71;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 485;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gnei";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
				
  <div class="custom-card" id="gottardo_switzerland">
    
    
    <a href="/gottardo" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Gottardo</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("gottardo_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/jPx1_KmhU14/maxresdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 80;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 2149;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gran";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
				
  <div class="custom-card" id="val-bavona_switzerland">
    
    
    <a href="/val-bavona" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Val Bavona</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("val-bavona_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/jK7UmAJRJrg/hqdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 36;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 937.0;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gnei";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
				
  <div class="custom-card" id="val-calanca_switzerland">
    
    
    <a href="/val-calanca" style="text-decoration: none;">
      <div class="card-body">
        <div class="card-body-image-container">
          <div class="card-body-image-container-container">
            <p class="card-image-text"></p>
            <img loading="lazy" class="card-body-image">
          </div>
        </div>
        <div class="card-body-title-container">
          <h5 class="text-bold card-title">Val Calanca</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </a>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var card = document.getElementById("val-calanca_switzerland");
          var cardImage = card.querySelector(".card-body-image");
          cardImage.src = "https://i.ytimg.com/vi/P1y-BuMhmKk/maxresdefault.jpg";
          var cardText = card.querySelector(".card-text");
          var videoCount = 11;
          cardText.textContent = videoCount + " " + (videoCount === 1 ? "video" : "videos");
          cardText.setAttribute("data-videos", videoCount);
          
          var cardImageText = card.querySelector(".card-image-text");
          var altitude = 869.0;
          cardImageText.textContent = altitude + " m";
          cardImageText.setAttribute("data-altitude", altitude);
          var rocktype = "gnei";
          cardImageText.setAttribute("data-rocktype", rocktype);
      });		
    </script>
    
  </div>

			  
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>