<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cuchara 7b+ (sit) Boulder Problem in Pena Corneira | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Cuchara Boulder Problem in Pena Corneira climbed by @varoboulder | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/pena-corneira/cuchara-7b-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/galicia" class="zone-header-tree-link">Galicia</a>
	
	 > 
	<a href="/pena-corneira" class="zone-header-tree-link">Pena Corneira</a>
	 > 
	<a href="/sectors/pena-corneira/trebello" class="zone-header-tree-link">Trebello</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Cuchara, 7b+ (sit). Pena Corneira 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/8R0v50ZMuMM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Cuchara </p>
		<p> {{ _("Grade") }}: 7b+ (sit) </p>
		
			<p> {{ _("Zone") }}: <a href="/pena-corneira">Pena Corneira</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/pena-corneira/trebello">Trebello</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/varoboulder">@varoboulder</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>