<!DOCTYPE html>
<html>
  <head>
    <title>La del Juan at Cerro Muriano | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of La del Juan at Cerro Muriano | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/cerro-muriano/la-del-juan">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/andalusia" class="zone-header-tree-link">Andalusia</a>
	
	 > 
	<a href="/cerro-muriano" class="zone-header-tree-link">Cerro Muriano</a>
	 > 
	<a href="/sectors/cerro-muriano/co-31" class="zone-header-tree-link">CO-31</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 La del Juan 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/TcgSxrNmpHs" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: La del Juan </p>
		<p> {{ _("Grade") }}: 6b+ </p>
		<p> {{ _("Zone") }}: Cerro Muriano </p>
		<p> {{ _("Sector") }}: CO-31 </p>
		<p> {{ _("Climber") }}: Juan Gallostra </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>