<!DOCTYPE html>
<html lang="en">
  <head>
    <title>West Nile V10 (sit) Boulder Problem in Lake Tahoe - South Shore | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of West Nile Boulder Problem in Lake Tahoe - South Shore climbed by Vikas Agartha | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/lake-tahoe-south-shore/west-nile-v10-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 West Nile, V10 (sit). Lake Tahoe 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/j22UBNjriDg" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: West Nile </p>
		<p> {{ _("Grade") }}: V10 (sit) </p>
		
			<p> {{ _("Zone") }}: Lake Tahoe - South Shore</p>
			<p> {{ _("Sector") }}: Beavers</p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/vikas-agartha">Vikas Agartha</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>