<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Sector Unknown at Hampi | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Hampi | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/hampi/unknown">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/india" class="zone-header-tree-link">India</a>
	
	 > 
	<a href="/hampi" class="zone-header-tree-link">Hampi</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Unknown 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody style="vertical-align: middle;">
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Barry's Double Arête, 6b+. Hampi" href="/problems/hampi/barry-s-double-arete-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Barry's Double Arête, 6b+. Hampi" src="https://img.youtube.com/vi/hyxdaAS328E/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/barry-s-double-arete-6b" class="table-row-name text-bold">Barry's Double Arête</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Channel 1, 6b. Hampi" href="/problems/hampi/channel-1-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Channel 1, 6b. Hampi" src="https://img.youtube.com/vi/Cbz4Dqj4v7g/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/channel-1-6b" class="table-row-name text-bold">Channel 1</a>
							</div>
						</td>
						<td>6b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Cosmic Crimp, 6b+. Hampi" href="/problems/hampi/cosmic-crimp-6b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Cosmic Crimp, 6b+. Hampi" src="https://img.youtube.com/vi/DixyA-O4Yz0/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/cosmic-crimp-6b" class="table-row-name text-bold">Cosmic Crimp</a>
							</div>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Double Arête, 7b. Hampi" href="/problems/hampi/double-arete-7b" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Double Arête, 7b. Hampi" src="https://img.youtube.com/vi/0fRqJtiz7V4/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/double-arete-7b" class="table-row-name text-bold">Double Arête</a>
							</div>
						</td>
						<td>7b</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Goan Corner, 7c. Hampi" href="/problems/hampi/goan-corner-7c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Goan Corner, 7c. Hampi" src="https://img.youtube.com/vi/9lfc6vFepKY/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/goan-corner-7c" class="table-row-name text-bold">Goan Corner</a>
							</div>
						</td>
						<td>7c</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Mono, 7a. Hampi" href="/problems/hampi/mono-7a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mono, 7a. Hampi" src="https://img.youtube.com/vi/7DvsLOqXW40/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/mono-7a" class="table-row-name text-bold">Mono</a>
							</div>
						</td>
						<td>7a</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="Mushroom Boulder, 6a+. Hampi" href="/problems/hampi/mushroom-boulder-6a" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Mushroom Boulder, 6a+. Hampi" src="https://img.youtube.com/vi/-dBWw_PbBAE/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/mushroom-boulder-6a" class="table-row-name text-bold">Mushroom Boulder</a>
							</div>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<div class="problem-thumbnail-cell">
								<a aria-hidden="false" aria-label="The Shield, 6c+. Hampi" href="/problems/hampi/the-shield-6c" tabindex="0" target="">
									<div class="video-thumbnail-container">
									<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Shield, 6c+. Hampi" src="https://img.youtube.com/vi/SksXIhQJTlA/mqdefault.jpg">
									</div>
								</a>
							  	<a href="/problems/hampi/the-shield-6c" class="table-row-name text-bold">The Shield</a>
							</div>
						</td>
						<td>6c+</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>