<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Unknown at Hampi | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Hampi | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/hampi/unknown">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Unknown, Hampi 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/barry-s-double-arete" class="table-row-name text-bold">Barry's Double Arête</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/channel-1" class="table-row-name text-bold">Channel 1</a>
						</td>
						<td>6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/cosmic-crimp" class="table-row-name text-bold">Cosmic Crimp</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/double-arete" class="table-row-name text-bold">Double Arête</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/goan-corner" class="table-row-name text-bold">Goan Corner</a>
						</td>
						<td>7c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/mono" class="table-row-name text-bold">Mono</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/mushroom-boulder" class="table-row-name text-bold">Mushroom Boulder</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/hampi/the-shield" class="table-row-name text-bold">The Shield</a>
						</td>
						<td>6c+</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>