<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Il Banchettone 8a+ Boulder Problem in Val di Mello | MadBoulder</title>
	<meta name="description" content="Videos of Il Banchettone Boulder Problem in Val di Mello climbed by Gian Cortinovis | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/val-di-mello/il-banchettone-8a">
	
	
    
	</head>
	<body>
		
		{% include 'elements/main-menu.html' %}
		
		<main>
			<div class="zone-header">
				<div class="container zone-header-tree">
					<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
					
					> 
					<a href="/countries/italy" class="zone-header-tree-link">Italy</a>
					
					> 
					<a href="/val-di-mello" class="zone-header-tree-link">Val di Mello</a>
					> 
					<a href="/sectors/val-di-mello/melloblocco" class="zone-header-tree-link">Melloblocco</a>
					
					
				</div>
				<h1 class="zone-header-title text-bold">
					Il Banchettone, 8a+. Val di Mello
				</h1>
			</div>
			<div class="container" id="mainContainer">
				<div class="video-container" >
					<iframe src="https://www.youtube.com/embed/YpWPSiJ78PA" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				</div>
				
				<div class="text-and-map-container">
					<div class="text-container">
						<p> {{ _("Name") }}: Il Banchettone </p>
						<p> {{ _("Grade") }}: 8a+ </p>
						
							<p> {{ _("Zone") }}: <a href="/val-di-mello">Val di Mello</a></p>
							<p> {{ _("Sector") }}: <a href="/sectors/val-di-mello/melloblocco">Melloblocco</a></p>
						
						
							
								<p> {{ _("Boulder") }}: 1. Zero in Condotta</p>
							
						
						<p> {{ _("Climber") }}: <a href="/contributors/gian-cortinovis">Gian Cortinovis</a></p>
						{% if session['uid'] %}
							<div class="d-flex mt-3 mb-3 log">
								<div class="ml-auto btn-group mb-auto">
									<button id="addToProjectsButton" type="button" class="btn btn-sm btn-normal" 
										
										onclick='addToProjects("il-banchettone-8a", "Il Banchettone", "8a+", "val-di-mello", "Val di Mello")'>
										Add to Projects
									</button>
								</div>
							</div>
						{% endif %}
					</div>
					
				</div>
			</div>
		</main>
		
		{% include 'elements/footer.html' %}
		
	</body>
	<script>
	function addToProjects(problem_id, problem_name, problem_grade, problem_area, problem_area_name) {
		fetch('/add-problem-to-projects', {
			method: 'POST',
			body: JSON.stringify({'problem_id': problem_id, 'problem_name': problem_name, 'problem_grade': problem_grade, 'problem_area': problem_area, 'problem_area_name': problem_area_name}),
			headers: {'Content-Type': 'application/json'}
		})
		.then(response => response.json())
		.then(data => {
			if(data.status === 'success') {
				let button = document.getElementById('addToProjectsButton');
				button.innerText = 'Added';
				button.setAttribute('disabled', true);
			}
		})
		.catch(error => {
			console.error('Error adding problem to projects:', error);
		});
	}
	</script>
</html>