<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at Rioupéroux | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at Rioupéroux | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/riouperoux/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/france" class="zone-header-tree-link">France</a>
			   
				> 
			   <a href="/riouperoux" class="zone-header-tree-link">Rioupéroux</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Unknown of Rioupéroux
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Back Down, 8a+. Rioupéroux" href="/problems/riouperoux/back-down-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Back Down, 8a+. Rioupéroux" src="https://img.youtube.com/vi/EFW7yW0aDpE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/back-down-8a" class="table-row-name text-bold">Back Down</a>
									</div>
								</td>
								<td>8a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hypnose, 8a/+ (sit). Rioupéroux" href="/problems/riouperoux/hypnose-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hypnose, 8a/+ (sit). Rioupéroux" src="https://img.youtube.com/vi/-PUDXuiVGec/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/hypnose-8a" class="table-row-name text-bold">Hypnose</a>
									</div>
								</td>
								<td>8a/+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jump in the fire, 8b. Rioupéroux" href="/problems/riouperoux/jump-in-the-fire-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jump in the fire, 8b. Rioupéroux" src="https://img.youtube.com/vi/3Dx2_XgJDXg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/jump-in-the-fire-8b" class="table-row-name text-bold">Jump in the fire</a>
									</div>
								</td>
								<td>8b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La Truite, 8a+. Rioupéroux" href="/problems/riouperoux/la-truite-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Truite, 8a+. Rioupéroux" src="https://img.youtube.com/vi/w8yWoDJqcPM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/la-truite-8a" class="table-row-name text-bold">La Truite</a>
									</div>
								</td>
								<td>8a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La fille de Syrah, 7c+. Rioupéroux" href="/problems/riouperoux/la-fille-de-syrah-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La fille de Syrah, 7c+. Rioupéroux" src="https://img.youtube.com/vi/t5YSjHDbx8k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/la-fille-de-syrah-7c" class="table-row-name text-bold">La fille de Syrah</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Le CAT assis, 8a+. Rioupéroux" href="/problems/riouperoux/le-cat-assis-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Le CAT assis, 8a+. Rioupéroux" src="https://img.youtube.com/vi/cAnFqEF8_mQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/le-cat-assis-8a" class="table-row-name text-bold">Le CAT assis</a>
									</div>
								</td>
								<td>8a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Malédiction, 8b. Rioupéroux" href="/problems/riouperoux/malediction-8b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Malédiction, 8b. Rioupéroux" src="https://img.youtube.com/vi/h3yH08QAM9k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/malediction-8b" class="table-row-name text-bold">Malédiction</a>
									</div>
								</td>
								<td>8b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Malédiction assis, 8c. Rioupéroux" href="/problems/riouperoux/malediction-assis-8c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Malédiction assis, 8c. Rioupéroux" src="https://img.youtube.com/vi/4o07jjHJIVU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/malediction-assis-8c" class="table-row-name text-bold">Malédiction assis</a>
									</div>
								</td>
								<td>8c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Nose, 7a. Rioupéroux" href="/problems/riouperoux/nose-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Nose, 7a. Rioupéroux" src="https://img.youtube.com/vi/qWAmNoDKg_8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/nose-7a" class="table-row-name text-bold">Nose</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Oulmous, 8a. Rioupéroux" href="/problems/riouperoux/oulmous-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Oulmous, 8a. Rioupéroux" src="https://img.youtube.com/vi/ZK2r0h5od14/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/oulmous-8a" class="table-row-name text-bold">Oulmous</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Requiem for a dream, 7c+. Rioupéroux" href="/problems/riouperoux/requiem-for-a-dream-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Requiem for a dream, 7c+. Rioupéroux" src="https://img.youtube.com/vi/B5AgaT3aqDg/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/requiem-for-a-dream-7c" class="table-row-name text-bold">Requiem for a dream</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Requiem for a dream, 8a (sit). Rioupéroux" href="/problems/riouperoux/requiem-for-a-dream-8a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Requiem for a dream, 8a (sit). Rioupéroux" src="https://img.youtube.com/vi/Ehne5vQmHMs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/requiem-for-a-dream-8a-sit" class="table-row-name text-bold">Requiem for a dream</a>
									</div>
								</td>
								<td>8a (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Shifoumi, 8a. Rioupéroux" href="/problems/riouperoux/shifoumi-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Shifoumi, 8a. Rioupéroux" src="https://img.youtube.com/vi/fVUvscxmS-o/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/shifoumi-8a" class="table-row-name text-bold">Shifoumi</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="West Coast, 7c+. Rioupéroux" href="/problems/riouperoux/west-coast-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: West Coast, 7c+. Rioupéroux" src="https://img.youtube.com/vi/nw0UDOaRoi0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/riouperoux/west-coast-7c" class="table-row-name text-bold">West Coast</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>