<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Orlovca at Vipava Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Orlovca at Vipava Valley | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/vipava-valley/orlovca">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/slovenia" class="zone-header-tree-link">Slovenia</a>
			   
				> 
			   <a href="/vipava-valley" class="zone-header-tree-link">Vipava Valley</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Orlovca of Vipava Valley
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Do Benetk in nazaj, 6c+. Vipava Valley" href="/problems/vipava-valley/do-benetk-in-nazaj-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Do Benetk in nazaj, 6c+. Vipava Valley" src="https://img.youtube.com/vi/j818ammEwOc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/do-benetk-in-nazaj-6c" class="table-row-name text-bold">Do Benetk in nazaj</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Doberman, 7b. Vipava Valley" href="/problems/vipava-valley/doberman-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Doberman, 7b. Vipava Valley" src="https://img.youtube.com/vi/rVxS2Oi0Zas/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/doberman-7b" class="table-row-name text-bold">Doberman</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Fouch, 7a. Vipava Valley" href="/problems/vipava-valley/fouch-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Fouch, 7a. Vipava Valley" src="https://img.youtube.com/vi/vraMD-6xi8I/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/fouch-7a" class="table-row-name text-bold">Fouch</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Muci Fantastic, 6c. Vipava Valley" href="/problems/vipava-valley/muci-fantastic-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Muci Fantastic, 6c. Vipava Valley" src="https://img.youtube.com/vi/kIkuQxjT-cY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/muci-fantastic-6c" class="table-row-name text-bold">Muci Fantastic</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Sabbra Cadabra. Vipava Valley" href="/problems/vipava-valley/sabbra-cadabra-unknown" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sabbra Cadabra. Vipava Valley" src="https://img.youtube.com/vi/EH9ZRsH2ERA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/sabbra-cadabra-unknown" class="table-row-name text-bold">Sabbra Cadabra</a>
									</div>
								</td>
								<td>Unknown</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Slice of life, 8a. Vipava Valley" href="/problems/vipava-valley/slice-of-life-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Slice of life, 8a. Vipava Valley" src="https://img.youtube.com/vi/xAtF7Mn4iTU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/slice-of-life-8a" class="table-row-name text-bold">Slice of life</a>
									</div>
								</td>
								<td>8a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Soviet Arete, 7a. Vipava Valley" href="/problems/vipava-valley/soviet-arete-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Soviet Arete, 7a. Vipava Valley" src="https://img.youtube.com/vi/DU5_jNspUw8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/soviet-arete-7a" class="table-row-name text-bold">Soviet Arete</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Stražni stolp. Vipava Valley" href="/problems/vipava-valley/strazni-stolp" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Stražni stolp. Vipava Valley" src="https://img.youtube.com/vi/bw6uHyuZLiA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/strazni-stolp" class="table-row-name text-bold">Stražni stolp</a>
									</div>
								</td>
								<td></td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Tango on the yeyo, 7b. Vipava Valley" href="/problems/vipava-valley/tango-on-the-yeyo-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Tango on the yeyo, 7b. Vipava Valley" src="https://img.youtube.com/vi/Usj2fnSzzwo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/tango-on-the-yeyo-7b" class="table-row-name text-bold">Tango on the yeyo</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Črvina, 7a. Vipava Valley" href="/problems/vipava-valley/crvina-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Črvina, 7a. Vipava Valley" src="https://img.youtube.com/vi/o7CF9xoU1lM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/vipava-valley/crvina-7a" class="table-row-name text-bold">Črvina</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>