<!DOCTYPE html>
<html>
  <head>
    <title>Problem 29 (Rata Sellarda) 6a Boulder Problem in Montgai | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Problem 29 (Rata Sellarda) Boulder Problem in Montgai climbed by Aniol Santacreu | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/montgai/problem-29-rata-sellarda-6a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalonia</a>
	
	 > 
	<a href="/montgai" class="zone-header-tree-link">Montgai</a>
	 > 
	<a href="/sectors/montgai/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Problem 29 (Rata Sellarda), 6a. Montgai 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/Wk50ZkADZJM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Problem 29 (Rata Sellarda) </p>
		<p> {{ _("Grade") }}: 6a </p>
		<p> {{ _("Zone") }}: Montgai </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Aniol Santacreu </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>