<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Fly Left 7a+ Boulder Problem in Dahab | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of The Fly Left Boulder Problem in Dahab climbed by Jun Shiba | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/dahab/the-fly-left-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/egypt" class="zone-header-tree-link">Egypt</a>
	
	 > 
	<a href="/dahab" class="zone-header-tree-link">Dahab</a>
	 > 
	<a href="/sectors/dahab/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 The Fly Left, 7a+. Dahab 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/u-0uBlc-GhA" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: The Fly Left </p>
		<p> {{ _("Grade") }}: 7a+ </p>
		<p> {{ _("Zone") }}: <a href="/dahab">Dahab</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/dahab/unknown">Unknown</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/jun-shiba">Jun Shiba</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>