<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manu le Roumain 7c+ Boulder Problem in Chamonix | MadBoulder</title>
	<meta name="description" content="Videos of Manu le Roumain Boulder Problem in Chamonix climbed by Piettre Loris | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/chamonix/manu-le-roumain-7c">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Manu le Roumain, 7c+. Chamonix
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/rkis9WgODsE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Manu le Roumain </p>
					<p> {{ _("Grade") }}: 7c+ </p>
					
						<p> {{ _("Zone") }}: Chamonix</p>
						<p> {{ _("Sector") }}: Les Blocs d'Argentière (Centre)</p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/piettre-loris">Piettre Loris</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>