<!DOCTYPE html>
<html>
  <head>
    <title>Galeão at Sintra | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Galeão at Sintra | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/sintra/galeao">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/portugal" class="zone-header-tree-link">Portugal</a>
	
	 > 
	<a href="/sintra" class="zone-header-tree-link">Sintra</a>
	 > 
	<a href="/sectors/sintra/vale-das-acacias-pico" class="zone-header-tree-link">Vale das Acácias - Pico</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Galeão 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/G91xECFQdHc" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Galeão </p>
		<p> {{ _("Grade") }}: 7b </p>
		<p> {{ _("Zone") }}: Sintra </p>
		<p> {{ _("Sector") }}: Vale das Acácias - Pico </p>
		<p> {{ _("Climber") }}: Joao Magalhaes @joaorastam </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>