<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mega-Grip 6c+ Boulder Problem in Sintra | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Mega-Grip Boulder Problem in Sintra climbed by Frederico de Albuquerque | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/sintra/mega-grip-6c">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/portugal" class="zone-header-tree-link">Portugal</a>
	
	 > 
	<a href="/sintra" class="zone-header-tree-link">Sintra</a>
	 > 
	<a href="/sectors/sintra/capuchos" class="zone-header-tree-link">Capuchos</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Mega-Grip, 6c+. Sintra 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/lrKAZdMCgb0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Mega-Grip </p>
		<p> {{ _("Grade") }}: 6c+ </p>
		<p> {{ _("Zone") }}: Sintra </p>
		<p> {{ _("Sector") }}: Capuchos </p>
		<p> {{ _("Climber") }}: Frederico de Albuquerque </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>