<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menirzinho 5 Boulder Problem in Sintra | MadBoulder</title>
	<meta name="description" content="Videos of Menirzinho Boulder Problem in Sintra climbed by Carla Miret | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/sintra/menirzinho-5">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/portugal" class="zone-header-tree-link">Portugal</a>
				
				> 
				<a href="/sintra" class="zone-header-tree-link">Sintra</a>
				> 
				<a href="/sectors/sintra/albarrasintra-meca" class="zone-header-tree-link">Albarrasintra - Meca</a>
				
				> 
				<a href="/boulders/sintra/" class="zone-header-tree-link">B</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Menirzinho, 5. Sintra
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/8cjUlzgucX4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Menirzinho </p>
					<p> {{ _("Grade") }}: 5 </p>
					
						<p> {{ _("Zone") }}: <a href="/sintra">Sintra</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/sintra/albarrasintra-meca">Albarrasintra - Meca</a></p>
					
					
						
							<p> {{ _("Boulder") }}: B</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/carla-miret">Carla Miret</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>