<!DOCTYPE html>
<html>
  <head>
    <title>Mouse Traverse at Sintra | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Mouse Traverse at Sintra | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/sintra/mouse-traverse">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/A6m7964Xr0k" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Mouse Traverse </p>
			<p> {{ _("Grade") }}: 5 </p>
			<p> {{ _("Zone") }}: Sintra </p>
			<p> {{ _("Sector") }}: Peninha - Kalash </p>
			<p> {{ _("Climber") }}: Aniol Santacreu </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>