<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Willow Springs at Red Rocks | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Willow Springs at Red Rocks | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/red-rocks/willow-springs">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
			   
				> 
			   <a href="/states/nevada" class="zone-header-tree-link">Nevada</a>
			   
				> 
			   <a href="/red-rocks" class="zone-header-tree-link">Red Rocks</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Willow Springs of Red Rocks
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOxL-dPdyQWTqBezMWlVYoZ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bat Mantle, V3. Red Rocks" href="/problems/red-rocks/bat-mantle-v3" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bat Mantle, V3. Red Rocks" src="https://img.youtube.com/vi/bekIzSLHQIQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/bat-mantle-v3" class="table-row-name text-bold">Bat Mantle</a>
									</div>
								</td>
								<td>V3</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Divergent Spectrum, V8. Red Rocks" href="/problems/red-rocks/divergent-spectrum-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Divergent Spectrum, V8. Red Rocks" src="https://img.youtube.com/vi/xgGB0mBBG54/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/divergent-spectrum-v8" class="table-row-name text-bold">Divergent Spectrum</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Down the Line, V8. Red Rocks" href="/problems/red-rocks/down-the-line-v8" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Down the Line, V8. Red Rocks" src="https://img.youtube.com/vi/E496TcqCT5M/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/down-the-line-v8" class="table-row-name text-bold">Down the Line</a>
									</div>
								</td>
								<td>V8</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Face Plate, V6. Red Rocks" href="/problems/red-rocks/face-plate-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Face Plate, V6. Red Rocks" src="https://img.youtube.com/vi/jkxohVZAtIc/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/face-plate-v6" class="table-row-name text-bold">Face Plate</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Getaway, V7. Red Rocks" href="/problems/red-rocks/getaway-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Getaway, V7. Red Rocks" src="https://img.youtube.com/vi/wlj44zwW-mw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/getaway-v7" class="table-row-name text-bold">Getaway</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Little Pony, V5-6. Red Rocks" href="/problems/red-rocks/little-pony-v5-6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Little Pony, V5-6. Red Rocks" src="https://img.youtube.com/vi/szvZatn5N9A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/little-pony-v5-6" class="table-row-name text-bold">Little Pony</a>
									</div>
								</td>
								<td>V5-6</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Name Plate, V4. Red Rocks" href="/problems/red-rocks/name-plate-v4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Name Plate, V4. Red Rocks" src="https://img.youtube.com/vi/c5swQjs1rEs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/name-plate-v4" class="table-row-name text-bold">Name Plate</a>
									</div>
								</td>
								<td>V4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ode to the Modern Mayor, V9-. Red Rocks" href="/problems/red-rocks/ode-to-the-modern-mayor-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ode to the Modern Mayor, V9-. Red Rocks" src="https://img.youtube.com/vi/slRgxXKF2iI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/ode-to-the-modern-mayor-v9" class="table-row-name text-bold">Ode to the Modern Mayor</a>
									</div>
								</td>
								<td>V9-</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Peruvian Flake, V2. Red Rocks" href="/problems/red-rocks/peruvian-flake-v2" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Peruvian Flake, V2. Red Rocks" src="https://img.youtube.com/vi/dtOTT5sHG7A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/peruvian-flake-v2" class="table-row-name text-bold">Peruvian Flake</a>
									</div>
								</td>
								<td>V2</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ride the White Horse, V10. Red Rocks" href="/problems/red-rocks/ride-the-white-horse-v10" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ride the White Horse, V10. Red Rocks" src="https://img.youtube.com/vi/HuzwnQCcVgo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/ride-the-white-horse-v10" class="table-row-name text-bold">Ride the White Horse</a>
									</div>
								</td>
								<td>V10</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Sad Robot, V9. Red Rocks" href="/problems/red-rocks/sad-robot-v9" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sad Robot, V9. Red Rocks" src="https://img.youtube.com/vi/_A22BGaM5PM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/sad-robot-v9" class="table-row-name text-bold">Sad Robot</a>
									</div>
								</td>
								<td>V9</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Salt is Salty, V10. Red Rocks" href="/problems/red-rocks/salt-is-salty-v10" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Salt is Salty, V10. Red Rocks" src="https://img.youtube.com/vi/4FtrXGIGpZI/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/salt-is-salty-v10" class="table-row-name text-bold">Salt is Salty</a>
									</div>
								</td>
								<td>V10</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Burro, V7. Red Rocks" href="/problems/red-rocks/the-burro-v7" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Burro, V7. Red Rocks" src="https://img.youtube.com/vi/stgFrI9EtBU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/the-burro-v7" class="table-row-name text-bold">The Burro</a>
									</div>
								</td>
								<td>V7</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The Underminer, V11. Red Rocks" href="/problems/red-rocks/the-underminer-v11" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The Underminer, V11. Red Rocks" src="https://img.youtube.com/vi/B7z7WkE5dJs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/the-underminer-v11" class="table-row-name text-bold">The Underminer</a>
									</div>
								</td>
								<td>V11</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Under What?, V6. Red Rocks" href="/problems/red-rocks/under-what-v6" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Under What?, V6. Red Rocks" src="https://img.youtube.com/vi/RjNVLQpReV4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/red-rocks/under-what-v6" class="table-row-name text-bold">Under What?</a>
									</div>
								</td>
								<td>V6</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>