<footer>
 <br />
  <div style="text-align: center;">
	<div style="display: inline-block;">
	  <ul id="lang-selector" style="padding: 0; list-style: none;">
		<li>
		  <a
			href="https://www.instagram.com/madboulder/"
			target="_blank"
			><i style="color: #555;" class="fab fa-instagram fa-lg"></i
		  ></a>
		</li>
		<li>&nbsp;</li>
		<li>
		  <a
			href="https://www.youtube.com/channel/UCX9ok0rHnvnENLSK7jdnXxA"
			target="_blank"
			><i style="color: #555;" class="fab fa-youtube fa-lg"></i
		  ></a>
		</li>
		<li>&nbsp; &nbsp;</li>
		<li>
		  <a style="color: #555;" href="/language/en" title="English">
			{{ _("EN") }}
		  </a>
		</li>
		<li>&nbsp;</li>
		<li>
		  <a style="color: #555;" href="/language/es" title="Spanish">
			{{ _("ES") }}
		  </a>
		</li>
		<li>&nbsp;</li>
		<li>
		  <a style="color: #555;" href="/language/ca" title="Catalan">
			{{ _("CAT") }}
		  </a>
		</li>
	  </ul>
	</div>
  </div>
  <div style="text-align: center;">
	<div style="display: inline-block;">
		<p style="text-align: center; color: #555;">{{ _("All Rights Reserved.") }} 2023.</p>
	</div>
  </div>
  <div style="text-align: center;">
	<div style="display: inline-block;">
		<!--<a style="color: #555;" href="/terms_conditions" title="Terms">
			{{ _("Terms & Conditions") }} |
		</a>
		<a style="color: #555;" href="/privacy_policy" title="Privacy Policy">
			{{ _("Privacy Policy") }} |
		</a>-->
	 	<a style="color: #555;" href="/disclosure" title="Affiliate Disclosure">
			{{ _("Affiliate Disclosure") }} |
		</a> 
		<a style="color: #555;" href="/cookies" title="Cookies">
			{{ _("Cookies") }}
		</a>
	</div>
  </div>
  <br />
</footer>
<!-- Cookie Selector Prompt -->
<div id="cookie-selector"  style="display: none;">
	<p>{{ _("We use cookies to enhance your experience. Please select the types of cookies you want to allow:") }}</p>
	<label><input type="checkbox" id="essential-cookies" checked disabled>{{ _("Essential Cookies") }}</label>
	<!--<label><input type="checkbox" id="analytics-cookies" checked> Analytics Cookies</label>-->
	<label><input type="checkbox" id="functional-cookies" checked>{{ _("Functional Cookies") }}</label>
	<!--<label><input type="checkbox" id="advertising-cookies"> Advertising Cookies</label>-->
	<button onclick="saveCookiePreferences()">{{ _("Save Preferences") }}</button>
	<a href="/cookies">{{ _("Learn More") }}</a>
	<style>
		/* CSS styles for the cookie selector prompt */
		#cookie-selector {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #e0e0e0;
			padding: 10px;
			text-align: center;
		}

		#cookie-selector button {
			margin: 0 5px;
		}
	</style>
</div>