<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="Your Bouldering Beta Library" />
	{% include 'scripts/trackingToolsScripts.html' %}
	
    <!-- Navigation bar title-->
    <title>{{ _("Upload") }}</title>
	<style>
        /* Style for the loading indicator */
        .loading {
            display: none;
            font-size: 16px;
            color: #333;
        }
    </style>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0, text/html, charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Development -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://madboulder.org/static/images/logo/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-196x196.png"
        sizes="196x196" />
    <link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-96x96.png"
        sizes="96x96" />
    <link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-32x32.png"
        sizes="32x32" />
    <link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-16x16.png"
        sizes="16x16" />
    <link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-128.png"
        sizes="128x128" />
    <meta name="application-name" content="Climbing Videos | Beta Library | MadBoulder" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://madboulder.org/static/images/logo/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="https://madboulder.org/static/images/logo/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo"
        content="https://madboulder.org/static/images/logo/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="https://madboulder.org/static/images/logo/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo"
        content="https://madboulder.org/static/images/logo/mstile-310x310.png" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}" />
	{% include 'scripts/cookiesScripts.html' %}
</head>

<body>
	{% include 'mainMenu.html' %}
	<main>
		<div class="container">
			<div id="upload-container" class="form-container">
				<form id="upload-form" action="/upload-file" method="post" enctype="multipart/form-data">
					<h3>{{_("Upload Form")}}</h3>
					<div>
						<label class="form-label">{{ _("Climber") }}*:</label>
						<input type="text" name="climber" required>
					</div>
					<div>
						<label class="form-label">{{ _("Problem") }}*:</label>
						<input type="text" name="name" required>
					</div>
					<div>
						<label class="form-label">{{ _("Zone") }}*:</label>
						<input type="text" name="zone" required>
					</div>
					<div>
						<label class="form-label">{{ _("Grade") }}:</label>
						<input type="text" name="grade">
					</div>
					<div>
						<label class="form-label">{{ _("Sector") }}:</label>
						<input type="text" name="sector">
					</div>
					<div style="display: flex;">
						<label class="form-label">{{ _("Notes") }}:</label>
						<textarea id="message" name="notes" rows="3" style="width: 100%;" required> </textarea>
					</div>
					<div style="padding: 5px;">
						<input type="file" name="file" accept="video/*" required>
						<div style="display: inline;">
							<progress id="upload-progress" max="100" value="0"></progress>
							<span id="progress-label">0%</span>
							<div id="status" style="padding-left: 5px;"></div>
						</div>
					</div>
					<div>
						<input type="checkbox" id="notify-checkbox" name="permission" required>
						<label >{{ _("I grant permission to MadBoulder to use the submitted video on YouTube for public display.") }} *</label>
					</div>
					<div style="text-align: Center;">
						<input class="mad-button" type="submit" value="Upload">
					</div>
				</form>
				<br />
				<div style="width:75%; margin: 0 auto;">
				{{ _(
				  "MadBoulder reserves the right to not publish a video. Possible reasons are, but are not limited to:
				  poor video quality, poor camera angle and wrong or repeated line. Please note that there might be a
				  delay between uploading and publishing a video."
				)}}
			  </div>
				<br />
				
				<script>
					const form = document.getElementById('upload-form');
					const progressBar = document.getElementById('upload-progress');
					const progressLabel = document.getElementById('progress-label');
					const statusDiv = document.getElementById('status');
					let timeout;

					form.addEventListener('submit', function (event) {
						event.preventDefault();
						progressBar.value = 0;
						uploadFile(event);
						pollProgress(); 
					});

					function updateProgress(progress) {
						progressBar.value = progress;
						progressLabel.textContent = `${Math.floor(progress)}%`;
					}

					function updateStatus(message) {
						statusDiv.innerHTML = message;
					}

					function pollProgress() {
						fetch('/progress', { method: 'GET' })
							.then(response => response.json())
							.then(data => {
								if (data.progress !== undefined) {
									updateProgress(data.progress);
									
									if (data.progress < 100) {
										updateStatus("Uploading...");
										timeout = setTimeout(pollProgress, 1000);
									} else {
										uploadCompleted();
									}
								}
							})
							.catch(error => {
								console.error('Error fetching progress:', error);
							});
					}

					function uploadFile(event) {
						const formData = new FormData(form);

						const xhr = new XMLHttpRequest();
						xhr.open('POST', '/upload-file', true);

						xhr.onreadystatechange = function () {
							if (xhr.readyState === XMLHttpRequest.DONE) {
								uploadCompleted();
							}
						};

						xhr.send(formData);
					}
					
					function uploadCompleted() {
						updateStatus('Upload complete');
						updateProgress(100);
						clearTimeout(timeout);
						window.location.href = '/upload-completed';
					}
					
				</script>
			</div>
		</div>
	</main>
	{% include 'footer.html' %}
</body>

</html>