<!DOCTYPE html>
<html>

<head>
	{% include 'scripts/tracking-tools-scripts.html' %}
    <title>{{ _("Upload your climbing video") }} | MadBoulder</title>
	<meta name="description" content="Upload your climbing video and contribute to the climbing community | MadBoulder">
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
</head>

<body>
	{% include 'elements/main-menu.html' %}
	<main>
		<br />
		<br />
		<br />
		<div class="container">
			<p>
				{{ _("We are having technical difficulties with the upload form, please send the file via
				")}}
				<a href="https://wetransfer.com/">wetransfer</a>
				{{_ (" to aniolsantacreusalva@gmail.com")}} {{_(" indicating the name of the problem, the climber, the grade and the zone.")}}
			</p>
		</div>
		<br />
		<div class="container">
			<p>
				{{ _("We have a new uploading form in development! You can test it ")}}
				<a href="/video-uploader-test">{{ _("here") }}</a>
			</p>
		</div>
	</main>
	{% include 'elements/footer.html' %}
</body>

</html>