{% extends "templates/layout.html" %} {% block title %} {{ name }} {% endblock
%} {% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="static/css/madboulder.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- Development -->
<link rel="stylesheet" href="../static/css/all.css" />
{% endblock %} {% block zone_name %} {{ name }} {% endblock %} {% block topo %}
<div class="container">
  <h4>Guides</h4>
</div>
<br />
<div class="container">
  <ul>
    {% for guide in guide_list %}
    <li>
      <a href="{{ guide[1] }}" target="_blank">{{ guide[0] }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %} {% block body %}
<!-- Zone Map -->
<div class="container">
  <h4>Map</h4>
</div>
<br />
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div style="position:relative;padding-top:56%;">
      <iframe
        src="{{ map_url }}"
        frameborder="0"
        allowfullscreen
        style="position:absolute;top:0;left:0;width:100%;height:100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %} {% block playlists %}
<!--Latest videos-->
<div class="container">
  <br />
  <br />
  <h4>Playlists</h4>
  <br />
  <div class="row">
    <div class="col-sm-3 mb-3"></div>
    <div class="col-sm-6 mb-3">
      <p><b>Full</b></p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          src="{{ full_playlist }}"
          frameborder="0"
          allowfullscreen
          style="position:absolute;top:0;left:0%;width:100%;height:100%;"
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 mb-3"></div>
  </div>
  {% for playlist in playlists %}
  <br />
  <div class="row">
    <div class="col-sm-3 mb-3"></div>
    <div class="col-sm-6 mb-3">
        <p>
          <b>{{ playlist[0] }}</b>
        </p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          src="{{ playlist[1] }}"
          frameborder="0"
          allowfullscreen
          style="position:absolute;top:0;left:0%;width:100%;height:100%;"
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 mb-3"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}
