<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Globetrotter V9 (sit) Boulder Problem in Lake Tahoe | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Globetrotter Boulder Problem in Lake Tahoe climbed by Vikas Agartha | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/lake-tahoe/globetrotter-v9-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/lake-tahoe" class="zone-header-tree-link">Lake Tahoe</a>
	 > 
	<a href="/sectors/lake-tahoe/lake-audrain" class="zone-header-tree-link">Lake Audrain</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Globetrotter, V9 (sit). Lake Tahoe 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/npC5s9mvHEg" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Globetrotter </p>
		<p> {{ _("Grade") }}: V9 (sit) </p>
		<p> {{ _("Zone") }}: <a href="/lake-tahoe">Lake Tahoe</a></p>
		<p> {{ _("Sector") }}: <a href="/sectors/lake-tahoe/lake-audrain">Lake Audrain</a></p>
		<p> {{ _("Climber") }}: <a href="/contributors/vikas-agartha">Vikas Agartha</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>