<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Unknown at La Bastida | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Unknown at La Bastida | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/la-bastida/unknown">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
			   
				> 
			   <a href="/la-bastida" class="zone-header-tree-link">La Bastida</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Unknown of La Bastida
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:600px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="De bústia en bústia, 6b+. La Bastida" href="/problems/la-bastida/de-bustia-en-bustia-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: De bústia en bústia, 6b+. La Bastida" src="https://img.youtube.com/vi/HX42dNFEcUU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/de-bustia-en-bustia-6b" class="table-row-name text-bold">De bústia en bústia</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El carter d'Espot, 6a. La Bastida" href="/problems/la-bastida/el-carter-d-espot-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El carter d'Espot, 6a. La Bastida" src="https://img.youtube.com/vi/LNzmWDyw3T0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/el-carter-d-espot-6a" class="table-row-name text-bold">El carter d'Espot</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Ferrascent, 6b+. La Bastida" href="/problems/la-bastida/ferrascent-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Ferrascent, 6b+. La Bastida" src="https://img.youtube.com/vi/HfH0pYOSyfk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/ferrascent-6b" class="table-row-name text-bold">Ferrascent</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Full, 5+. La Bastida" href="/problems/la-bastida/full-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Full, 5+. La Bastida" src="https://img.youtube.com/vi/hcpKBBJNHXY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/full-5" class="table-row-name text-bold">Full</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Galet, 6c. La Bastida" href="/problems/la-bastida/galet-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Galet, 6c. La Bastida" src="https://img.youtube.com/vi/xncSByPpecQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/galet-6c" class="table-row-name text-bold">Galet</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Khefren, 6b. La Bastida" href="/problems/la-bastida/khefren-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Khefren, 6b. La Bastida" src="https://img.youtube.com/vi/xkCnug6Jtu4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/khefren-6b" class="table-row-name text-bold">Khefren</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Parella, 4. La Bastida" href="/problems/la-bastida/parella-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Parella, 4. La Bastida" src="https://img.youtube.com/vi/QWoGkIHz97k/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/parella-4" class="table-row-name text-bold">Parella</a>
									</div>
								</td>
								<td>4</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pumba, 5+. La Bastida" href="/problems/la-bastida/pumba-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pumba, 5+. La Bastida" src="https://img.youtube.com/vi/1UT7gGd7f-8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/pumba-5" class="table-row-name text-bold">Pumba</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Simon, 6a+. La Bastida" href="/problems/la-bastida/simon-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Simon, 6a+. La Bastida" src="https://img.youtube.com/vi/CCywINpp8gs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/simon-6a" class="table-row-name text-bold">Simon</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Toca timbres, 4+. La Bastida" href="/problems/la-bastida/toca-timbres-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Toca timbres, 4+. La Bastida" src="https://img.youtube.com/vi/O3J7sFEf6w8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/toca-timbres-4" class="table-row-name text-bold">Toca timbres</a>
									</div>
								</td>
								<td>4+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Trio, 6a+. La Bastida" href="/problems/la-bastida/trio-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Trio, 6a+. La Bastida" src="https://img.youtube.com/vi/DBLw1p0otZE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-bastida/trio-6a" class="table-row-name text-bold">Trio</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>