<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Antidote 8b Boulder Problem in Rocklands | MadBoulder</title>
	<meta name="description" content="Videos of Antidote Boulder Problem in Rocklands climbed by Marine Thevenet | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/rocklands/antidote-8b">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/south-africa" class="zone-header-tree-link">South Africa</a>
				
				> 
				<a href="/rocklands" class="zone-header-tree-link">Rocklands</a>
				> 
				<a href="/sectors/rocklands/the-coop" class="zone-header-tree-link">The Coop</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Antidote, 8b. Rocklands
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/vynQp-qICoE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Antidote </p>
					<p> {{ _("Grade") }}: 8b </p>
					
						<p> {{ _("Zone") }}: <a href="/rocklands">Rocklands</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/rocklands/the-coop">The Coop</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/marine-thevenet">Marine Thevenet</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>