<!DOCTYPE html>
<html>
  <head>
    <title>The Fin 7a Boulder Problem in Rocklands | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of The Fin Boulder Problem in Rocklands climbed by Samuel Pugin | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/rocklands/the-fin-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/south-africa" class="zone-header-tree-link">South Africa</a>
	
	 > 
	<a href="/rocklands" class="zone-header-tree-link">Rocklands</a>
	 > 
	<a href="/sectors/rocklands/kleinfonein" class="zone-header-tree-link">Kleinfonein</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 The Fin, 7a. Rocklands 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/aonKq-chZMQ" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: The Fin </p>
		<p> {{ _("Grade") }}: 7a </p>
		<p> {{ _("Zone") }}: Rocklands </p>
		<p> {{ _("Sector") }}: Kleinfonein </p>
		<p> {{ _("Climber") }}: Samuel Pugin </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>