<!DOCTYPE html>
<html>
  <head>
	{% include 'scripts/cookiesScripts.html' %}
    <title>{{ _("Terms & Conditions") }}</title>
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
  </head>
  <body>
	{% include 'mainMenu.html' %}
	<main>
	  <div class="container" id="pageContent">
		<br/>
		<h2 style="text-align: center;">{{ _("Terms & Conditions") }}</h2>
		<br/>
		<p>
			{{ _("MadBoulder is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.")}}
		</p>
		<br />
	  </div>
	</main>
	{% include 'footer.html' %}
  </body>
</html>
