<!DOCTYPE html>
<html>
  <head>
    <title>Crouching Tiger Hidden Dragon at Tramway | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Crouching Tiger Hidden Dragon at Tramway | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/tramway/crouching-tiger-hidden-dragon">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/tramway" class="zone-header-tree-link">Tramway</a>
	 > 
	<a href="/sectors/tramway/unknown" class="zone-header-tree-link">Unknown</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Crouching Tiger Hidden Dragon 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/e6VMq2Y20go" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Crouching Tiger Hidden Dragon </p>
		<p> {{ _("Grade") }}: V7 </p>
		<p> {{ _("Zone") }}: Tramway </p>
		<p> {{ _("Sector") }}: Unknown </p>
		<p> {{ _("Climber") }}: Bailey Schmidt </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>