<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Matusalem at Chironico | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Matusalem at Chironico | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/chironico/matusalem">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Matusalem, Chironico 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOFeW-dhl8YtpDwbyWFkgVE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/doctor-crimp" class="table-row-name text-bold">Doctor Crimp</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/fire-and-fox-direct" class="table-row-name text-bold">Fire and fox Direct</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/galileo-bis" class="table-row-name text-bold">Galileo bis</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/hurtigrutten" class="table-row-name text-bold">Hurtigrutten</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/matusalem" class="table-row-name text-bold">Matusalem</a>
						</td>
						<td>6c+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/problem-8a-boulder-9-matusalem" class="table-row-name text-bold">Problem 8A (Boulder 9, Matusalem)</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/vier-gleiche" class="table-row-name text-bold">Vier Gleiche</a>
						</td>
						<td>6a+</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>