<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Paese at Chironico | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Paese at Chironico | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/chironico/paese">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
			</div>
			<h1 class="zone-header-title text-bold">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
			   
				> 
			   <a href="/states/ticino" class="zone-header-tree-link">Ticino</a>
			   
				> 
			   <a href="/chironico" class="zone-header-tree-link">Chironico</a>
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO-sYjELyKMYZI1gDBEzFT8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Aktifit right, 7b. Chironico" href="/problems/chironico/aktifit-right-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Aktifit right, 7b. Chironico" src="https://img.youtube.com/vi/8b3xlJVOBw0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/aktifit-right-7b" class="table-row-name text-bold">Aktifit right</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bella Nicki, 6c+/7a. Chironico" href="/problems/chironico/bella-nicki-6c-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bella Nicki, 6c+/7a. Chironico" src="https://img.youtube.com/vi/T-eFdNFZyv0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/bella-nicki-6c-7a" class="table-row-name text-bold">Bella Nicki</a>
									</div>
								</td>
								<td>6c+/7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Volo di rondine, 5+. Chironico" href="/problems/chironico/bella-gnocca-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Volo di rondine, 5+. Chironico" src="https://img.youtube.com/vi/sV0lHmzk_E4/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/bella-gnocca-5" class="table-row-name text-bold">Bella gnocca</a>
									</div>
								</td>
								<td>5+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Bella gnocca, 7a+. Chironico" href="/problems/chironico/bella-gnocca-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Bella gnocca, 7a+. Chironico" src="https://img.youtube.com/vi/0doyzydT-AE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/bella-gnocca-7a" class="table-row-name text-bold">Bella gnocca</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Blochx addiction, 8A. Chironico" href="/problems/chironico/blochx-addiction-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Blochx addiction, 8A. Chironico" src="https://img.youtube.com/vi/159HQbmFK_8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/blochx-addiction-8a" class="table-row-name text-bold">Blochx addiction</a>
									</div>
								</td>
								<td>8A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hebelgesetz, 7a. Chironico" href="/problems/chironico/hebelgesetz-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hebelgesetz, 7a. Chironico" src="https://img.youtube.com/vi/sOwuzGx5784/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/hebelgesetz-7a" class="table-row-name text-bold">Hebelgesetz</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Jya, 8A+. Chironico" href="/problems/chironico/jya-8a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Jya, 8A+. Chironico" src="https://img.youtube.com/vi/MqhzB8FfuNo/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/jya-8a" class="table-row-name text-bold">Jya</a>
									</div>
								</td>
								<td>8A+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Komilator, 7c. Chironico" href="/problems/chironico/komilator-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Komilator, 7c. Chironico" src="https://img.youtube.com/vi/LJxpwu-Gv60/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/komilator-7c" class="table-row-name text-bold">Komilator</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Los cursos, 7a. Chironico" href="/problems/chironico/los-cursos-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Los cursos, 7a. Chironico" src="https://img.youtube.com/vi/Evmkwl31gjY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/los-cursos-7a" class="table-row-name text-bold">Los cursos</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Smemory, 7a. Chironico" href="/problems/chironico/smemory-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Smemory, 7a. Chironico" src="https://img.youtube.com/vi/fWVxD7vJkiw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/smemory-7a" class="table-row-name text-bold">Smemory</a>
									</div>
								</td>
								<td>7a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Snowdonia, 6b+. Chironico" href="/problems/chironico/snowdonia-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Snowdonia, 6b+. Chironico" src="https://img.youtube.com/vi/QCiYQcXyEog/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/snowdonia-6b" class="table-row-name text-bold">Snowdonia</a>
									</div>
								</td>
								<td>6b+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="The aviator, 6c+. Chironico" href="/problems/chironico/the-aviator-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: The aviator, 6c+. Chironico" src="https://img.youtube.com/vi/VGv9ejiLmVA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/the-aviator-6c" class="table-row-name text-bold">The aviator</a>
									</div>
								</td>
								<td>6c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Traumadienst, 6a. Chironico" href="/problems/chironico/traumadienst-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Traumadienst, 6a. Chironico" src="https://img.youtube.com/vi/RWZjqqYH6Y8/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/traumadienst-6a" class="table-row-name text-bold">Traumadienst</a>
									</div>
								</td>
								<td>6a</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Urbi et orbi, 6c. Chironico" href="/problems/chironico/urbi-et-orbi-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Urbi et orbi, 6c. Chironico" src="https://img.youtube.com/vi/fTeWscvEN6Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/chironico/urbi-et-orbi-6c" class="table-row-name text-bold">Urbi et orbi</a>
									</div>
								</td>
								<td>6c</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>