<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Rah Plats Plats at Chironico | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Rah Plats Plats at Chironico | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/chironico/rah-plats-plats">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Rah Plats Plats, Chironico 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNwaCKLMMx_GCZnZsenAOh9" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/bugs-bunny" class="table-row-name text-bold">Bugs Bunny</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/carepe" class="table-row-name text-bold">Carepe</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/due-passi" class="table-row-name text-bold">Due passi</a>
						</td>
						<td>5+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/eyorjoi" class="table-row-name text-bold">Eyorjoi</a>
						</td>
						<td>6a+/6b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/fast-food" class="table-row-name text-bold">Fast Food</a>
						</td>
						<td>6a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/number-one" class="table-row-name text-bold">Number one</a>
						</td>
						<td>6c+/7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/petit-beurre" class="table-row-name text-bold">Petit beurre</a>
						</td>
						<td>6c</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/primitive-tango" class="table-row-name text-bold">Primitive tango</a>
						</td>
						<td>5</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/rah-plats-plats" class="table-row-name text-bold">Rah, Plats, Plats</a>
						</td>
						<td>8a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/rene" class="table-row-name text-bold">Renè</a>
						</td>
						<td>6a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/see-leunch" class="table-row-name text-bold">See leunch</a>
						</td>
						<td>5+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/senza-mani" class="table-row-name text-bold">Senza mani</a>
						</td>
						<td>6b+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/chironico/the-real-shield" class="table-row-name text-bold">The real shield</a>
						</td>
						<td>7b+/7c</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>