<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sosa caustica 5 Boulder Problem in Sant Feliu de Guíxols | MadBoulder</title>
	<meta name="description" content="Videos of Sosa caustica Boulder Problem in Sant Feliu de Guíxols climbed by Emili | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/sant-feliu-de-guixols/sosa-caustica-5">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/sant-feliu-de-guixols" class="zone-header-tree-link">Sant Feliu de Guíxols</a>
				> 
				<a href="/sectors/sant-feliu-de-guixols/parc-aventura" class="zone-header-tree-link">Parc Aventura</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Sosa caustica, 5. Sant Feliu de Guíxols
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/TeAV4YN1LYI" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Sosa caustica </p>
					<p> {{ _("Grade") }}: 5 </p>
					
						<p> {{ _("Zone") }}: <a href="/sant-feliu-de-guixols">Sant Feliu de Guíxols</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/sant-feliu-de-guixols/parc-aventura">Parc Aventura</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/emili">Emili</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>