<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Problem B Boulder (15, Visido - Tetto di Filorera), .  MOV 4c Boulder Problem in Val Masino | MadBoulder</title>
	<meta name="description" content="Videos of Problem B Boulder (15, Visido - Tetto di Filorera), .  MOV Boulder Problem in Val Masino climbed by Patricia Torrent | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/val-masino/problem-b-boulder-15-visido-tetto-di-filorera-mov-4c">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/italy" class="zone-header-tree-link">Italy</a>
				
				> 
				<a href="/val-masino" class="zone-header-tree-link">Val Masino</a>
				> 
				<a href="/sectors/val-masino/visido-tetto-di-filorera" class="zone-header-tree-link">Visido - Tetto di Filorera</a>
				
				> 
				<a href="/boulders/val-masino/" class="zone-header-tree-link">15</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Problem B Boulder (15, Visido - Tetto di Filorera), 4c. Val Masino MOV
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/NDAoWHmb8X4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Problem B Boulder (15, Visido - Tetto di Filorera), .  MOV </p>
					<p> {{ _("Grade") }}: 4c </p>
					
						<p> {{ _("Zone") }}: <a href="/val-masino">Val Masino</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/val-masino/visido-tetto-di-filorera">Visido - Tetto di Filorera</a></p>
					
					
						
							<p> {{ _("Boulder") }}: 15</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/patricia-torrent">Patricia Torrent</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>