<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blurred Vision V9 Boulder Problem in Lake Tahoe - Outlying Areas | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Blurred Vision Boulder Problem in Lake Tahoe - Outlying Areas climbed by Keegan Williams | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/lake-tahoe-outlying-areas/blurred-vision-v9">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Blurred Vision, V9. Lake Tahoe 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/x8OGT443pjg" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Blurred Vision </p>
		<p> {{ _("Grade") }}: V9 </p>
		
			<p> {{ _("Zone") }}: Lake Tahoe - Outlying Areas</p>
			<p> {{ _("Sector") }}: The Platinum Boulders</p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/keegan-williams">Keegan Williams</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>