<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Left Fork at Joe's Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Left Fork at Joe's Valley | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/joes-valley/left-fork">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				  
			    </h1>
				
<div class="container">
	<h1 style="text-align: center;"> Left Fork, Joe's Valley</h1>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/joes-valley/anatomy-act">Anatomy Act, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/arma">Arma, V5</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/beyond-life">Beyond Life, V10</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/big-cheesy">Big Cheesy, V5</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/big-joe">Big Joe, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/bring-the-heatwole">Bring the Heatwole, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/dark-continent">Dark Continent, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/dunkin-donuts-variation">Dunkin’ Donuts Variation, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/eden">Eden, V10</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/external-tulips">External Tulips, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/feels-like-grit">Feels Like Grit, V8</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/g207">G207, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/gurkha-knife">Gurkha Knife, V9</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/heartless">Heartless, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/jarash">Jarash, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/jarash">Jarash, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/kobra-khan">Kobra Khan, V4</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/low-tide">Low Tide, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/lumberjack">Lumberjack, V8</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/mr-duck">Mr. Duck, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/near-beers">Near Beers, V5</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/nerve-extension">Nerve Extension, V10-</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/raiden">Raiden, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/reduced-fat-milk">Reduced Fat Milk, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/renaissance-man">Renaissance Man, V9</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/scary-monsters">Scary Monsters, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/shadow-of-death">Shadow of Death, V7 (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/smokin-joe">Smokin' Joe, V9</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/streaked">Streaked, V6+</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/superman">Superman, V4</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/the-angler">The Angler, V2</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/the-dead-sea-aka-black-sea">The Dead Sea aka Black Sea, V8</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/the-wind-below">The Wind Below, V7</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/trent-s-mom">Trent's Mom, V10</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/tubesnake-boogie">Tubesnake Boogie, V8</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/wills-afire">Wills Afire, V6</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/worst-case-scenario">Worst Case Scenario, V9</a>
		</li>
		
		<li>
		  <a href="/problems/joes-valley/wrecking-ball">Wrecking Ball, V8</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>