<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Right Fork at Joe's Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Right Fork at Joe's Valley | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/joes-valley/right-fork">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/joes-valley" class="zone-header-tree-link">Joe's Valley</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector Right Fork 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/all-you-sinners" class="table-row-name text-bold">All You Sinners</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/antaeus" class="table-row-name text-bold">Antaeus</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/apple-bottom-jeans" class="table-row-name text-bold">Apple Bottom Jeans</a>
						</td>
						<td>V10</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/baldwin-bash" class="table-row-name text-bold">Baldwin Bash</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/barely-legal" class="table-row-name text-bold">Barely Legal</a>
						</td>
						<td>V11</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/champagne-supernova" class="table-row-name text-bold">Champagne Supernova</a>
						</td>
						<td>V9</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/cook-the-patty" class="table-row-name text-bold">Cook the Patty</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/cook-the-patty" class="table-row-name text-bold">Cook the Patty</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/cosmos" class="table-row-name text-bold">Cosmos</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/counter-clockwork" class="table-row-name text-bold">Counter Clockwork</a>
						</td>
						<td>V11</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/crescent-moon" class="table-row-name text-bold">Crescent Moon</a>
						</td>
						<td>V2</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/death-scream" class="table-row-name text-bold">Death Scream</a>
						</td>
						<td>V10</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/dirty-harry" class="table-row-name text-bold">Dirty Harry</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/double-delicious" class="table-row-name text-bold">Double Delicious</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/dungeon-master" class="table-row-name text-bold">Dungeon Master</a>
						</td>
						<td>V9</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/dyno-time-low" class="table-row-name text-bold">Dyno Time Low</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/fanstasy-factory" class="table-row-name text-bold">Fanstasy Factory</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/finger-hut" class="table-row-name text-bold">Finger Hut</a>
						</td>
						<td>V10</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/fortune-cookie" class="table-row-name text-bold">Fortune Cookie</a>
						</td>
						<td>V3</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/frosted-flakes" class="table-row-name text-bold">Frosted Flakes</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/great-white" class="table-row-name text-bold">Great White</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/hand-of-doom" class="table-row-name text-bold">Hand of Doom</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/killa-bees" class="table-row-name text-bold">Killa Bees</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/kung-fu-theatre" class="table-row-name text-bold">Kung Fu Theatre</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/kung-fury" class="table-row-name text-bold">Kung Fury</a>
						</td>
						<td>V10</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/loc-nar" class="table-row-name text-bold">Loc-Nar</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/master-po" class="table-row-name text-bold">Master Po</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/mono-e-mono" class="table-row-name text-bold">Mono E Mono</a>
						</td>
						<td>V4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/mononoke" class="table-row-name text-bold">Mononoke</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/ninja-please" class="table-row-name text-bold">Ninja Please</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/no-substance" class="table-row-name text-bold">No Substance</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/o-face" class="table-row-name text-bold">O Face</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/pandemic" class="table-row-name text-bold">Pandemic</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/pilot-light" class="table-row-name text-bold">Pilot Light</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/playmate-of-the-year" class="table-row-name text-bold">Playmate of the Year</a>
						</td>
						<td>V9</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/poricini-or-portabello" class="table-row-name text-bold">Poricini or Portabello</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/poseidon" class="table-row-name text-bold">Poseidon</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/proppa-dyno" class="table-row-name text-bold">Proppa Dyno</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/rabbit-fur" class="table-row-name text-bold">Rabbit Fur</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/rawhide" class="table-row-name text-bold">Rawhide</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/rug-rat" class="table-row-name text-bold">Rug Rat</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/runt" class="table-row-name text-bold">Runt</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/scrawny-and-brawny" class="table-row-name text-bold">Scrawny and Brawny</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/shaolin-slab" class="table-row-name text-bold">Shaolin Slab</a>
						</td>
						<td>V4</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/shark-bait" class="table-row-name text-bold">Shark Bait</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/speak-of-the-devil" class="table-row-name text-bold">Speak of the Devil</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/stand-up-comedian" class="table-row-name text-bold">Stand Up Comedian</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/team-effort" class="table-row-name text-bold">Team Effort</a>
						</td>
						<td>V9</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/the-coaster" class="table-row-name text-bold">The Coaster</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/the-flu" class="table-row-name text-bold">The Flu</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/the-hulk" class="table-row-name text-bold">The Hulk</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/thor-s-hammer" class="table-row-name text-bold">Thor's Hammer</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/three-amigos" class="table-row-name text-bold">Three Amigos</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/vertical-ice" class="table-row-name text-bold">Vertical Ice</a>
						</td>
						<td>V6</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/walrus" class="table-row-name text-bold">Walrus</a>
						</td>
						<td>V5</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/water-paintings" class="table-row-name text-bold">Water Paintings</a>
						</td>
						<td>V7</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/white-buffalo" class="table-row-name text-bold">White Buffalo</a>
						</td>
						<td>V8</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/joes-valley/zatoichi" class="table-row-name text-bold">Zatoichi</a>
						</td>
						<td>V8</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>