<!DOCTYPE html>
<html lang="en">
  <head>
    <title>La punta 6c (sit) Boulder Problem in Cavallers | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of La punta Boulder Problem in Cavallers climbed by Octavi López | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/cavallers/la-punta-6c-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
	
	 > 
	<a href="/cavallers" class="zone-header-tree-link">Cavallers</a>
	 > 
	<a href="/sectors/cavallers/mct" class="zone-header-tree-link">Mct</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 La punta, 6c (sit). Cavallers 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/dUqYnVXGo4Y" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: La punta </p>
		<p> {{ _("Grade") }}: 6c (sit) </p>
		<p> {{ _("Zone") }}: Cavallers </p>
		<p> {{ _("Sector") }}: Mct </p>
		<p> {{ _("Climber") }}: Octavi López </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>