<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Malament 7a Boulder Problem in Cavallers | MadBoulder</title>
	<meta name="description" content="Videos of Malament Boulder Problem in Cavallers climbed by @sooniagm | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/cavallers/malament-7a">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/cavallers" class="zone-header-tree-link">Cavallers</a>
				> 
				<a href="/sectors/cavallers/pikenike" class="zone-header-tree-link">Pikenike</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Malament, 7a. Cavallers
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/knbcJ22kQx8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Malament </p>
					<p> {{ _("Grade") }}: 7a </p>
					
						<p> {{ _("Zone") }}: <a href="/cavallers">Cavallers</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/cavallers/pikenike">Pikenike</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/sooniagm">@sooniagm</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>