<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Your Bouldering Beta Library" />
	
	
    <link rel="stylesheet" href="static/css/layout.css" />
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	
	
    <title> Alcañiz </title>
    
<meta
  name="viewport"
  content="width=device-width; initial-scale=1.0; text/html; charset=utf-8"
/>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
<!-- Development -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />

<link rel="apple-touch-icon" sizes="57x57" href="https://madboulder.org/static/images/logo/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://madboulder.org/static/images/logo/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://madboulder.org/static/images/logo/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="https://madboulder.org/static/images/logo/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="https://madboulder.org/static/images/logo/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://madboulder.org/static/images/logo/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="https://madboulder.org/static/images/logo/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://madboulder.org/static/images/logo/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Climbing Videos | Beta Library | MadBoulder"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://madboulder.org/static/images/logo/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://madboulder.org/static/images/logo/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://madboulder.org/static/images/logo/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://madboulder.org/static/images/logo/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://madboulder.org/static/images/logo/mstile-310x310.png" />
<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>


  </head>
  <body>
	
	{% include 'mainMenu.html' %}
	
    <main>
        <div class="container" id="pageContent">
          <br />
          <h2 style="text-align: center;">
             Alcañiz 
          </h2>
          

<div class="container" style="margin-bottom: -20px;">
  <br />
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

          
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="41.067511" />
  <input type="hidden" id="lng" name="lng_val" value="-0.091174" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Alcañiz
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center;"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex col-8 flex-column justify-content-center">
        <div id="big" class="row d-flex justify-content-center weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Alcañiz
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto row d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 
          <br />
          <p>
<div class="container">
  
  <h4>{{ _("Guides") }}</h4>
  
</div>
<br />
<div class="container">
  
  <div class="row pl-5 mb-3">
    
    <div class="mr-2">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=madboulder00-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=8498294592&linkId=f08f37f4f552e9598776589a8f955734">
      </iframe>
    </div>
   
  </div>
  
  <ul>
    
    <li>
      <a
		id="guide_link"
        href="https://www.libreriadesnivel.com/libros/boulder-en-espana/9788498294590/"
        target="_blank"
        >Boulder en España (Guide)</a
      >
    </li>
    
  </ul>
</div>
</p>
          <br />
          
<!-- Zone Map -->
<div class="container">
  
  <h4>{{ _("Map") }}</h4>
  
</div>
<br />
<div class="row">
  <div class="col-sm-2 col-md-3"></div>
  <div class="col-sm-8 col-md-6">
    <div style="position: relative; padding-top: 56%;">
      <iframe
        src="maps/alcaniz"
        frameborder="0"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>
<br />
<!--Problem List-->
<div class="container">
  
  <h4 id="listTitle">
	{{ _("Problem list") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" id="toggleIcon">
  </h4>
  
  <ul id="list" class="closed">
    
    <li>
      <a href="alcaniz/problem/A_poing_fermes">A poing fermés 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/A_traves_de_los_huecos">A través de los huecos 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Abacus">Abacus 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Abreviatura">Abreviatura 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Al_aya_que_voy">Al aya que voy 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Al_norte_del_Eden">Al norte del Edén 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Al_otro_lado_Finlandia">Al otro lado Finlandia 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Aliens">Aliens 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Alto_xico">Alto xico 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Amanecer">Amanecer 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Analogique">Analogique 8A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Anuros">Anuros 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Arenal_Sound">Arenal Sound 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Aristocroto">Aristocroto 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Arrow_boys">Arrow boys 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Atardecer">Atardecer 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Atraco_a_las_tres">Atraco a las tres 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Ave">Ave 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Ano_del_conejo">Año del conejo 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Ba-Boom">Ba-Boom 8B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Batman_sin_sangre">Batman sin sangre 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Beginers_Dyno">Beginers Dyno 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Birdmatching">Birdmatching 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Bonito_paseo">Bonito paseo 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Calefactor">Calefactor 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Calentando_el_biceps">Calentando el biceps 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Canguro">Canguro 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Chucrug">Chucrug 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Delicatesen">Delicatesen 5+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Duromo">Duromo 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Anfibio">El Anfibio 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Aprendiz_de_Romos">El Aprendiz de Romos 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Barano_de">El Barano de 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Bunker">El Bunker 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Erizo">El Erizo 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Finlandes_herrante">El Finlandes herrante 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Mochuelo">El Mochuelo 4</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Oraculo_de_Delfos">El Oráculo de Delfos 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Portal_de_Belen">El Portal de Belén 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Quintet">El Quintet 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_Retorno_de_Jonatan">El Retorno de Jonatan 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_arreclau">El arreclau 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_bidedo_motiferomotifero">El bidedo motiferomotifero 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_bidedo_motiferomotifero_izquierda">El bidedo motiferomotifero izquierda 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_del_medio_de_los_primos">El del medio de los primos 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_ermitano">El ermitaño 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_hombre_de_negro">El hombre de negro 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_insecto">El insecto 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_mejor_quinto_del_mundo">El mejor quinto del mundo 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_muro_de_Berlin">El muro de Berlín 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_nino_gusano">El niño gusano 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_pajarraco">El pajarraco 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_pajarraco">El pajarraco 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/El_sorpasso">El sorpasso 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Ergomot">Ergomot 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Esclat">Esclat! 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Espinillaitor_izquierda">Espinillaitor izquierda 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Espoo">Espoo 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Espoo">Espoo 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Esquina_magnificulo">Esquina magnificulo 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Filito_de_Cordoba">Filito de Córdoba 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Finnish_press">Finnish press 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Flu-G-ecko">Flu-G-ecko 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Fullet_Tortuga">Fullet Tortuga 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Fun_People">Fun People 7B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Gethsemani">Gethsémani 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Glyphosate">Glyphosate 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Helsinki">Helsinki 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Hidden_Gem">Hidden Gem 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Hidden_Gem_left">Hidden Gem left 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Hidden_Gem_right">Hidden Gem right 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Holey_Grail">Holey Grail 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Inesperada">Inesperada 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Introversion">Introversiòn 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Jinete_palido">Jinete pálido 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Kleine_Meise_groes_Herz">Kleine Meise großes Herz 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/LEscanyolit">L'Escanyolit 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/LEsclafit">L'Esclafit 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_Esquina">La Esquina 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_Parca">La Parca 7B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_Rana_Fantasma">La Rana Fantasma 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_Salada">La Salada 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_cabra_que_no_volo">La cabra que no voló 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_cabra_voladora">La cabra voladora 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_chimenea_de_Andorra">La chimenea de Andorra 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_ensalada">La ensalada 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_escalopendra">La escalopendra 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_ley_del_Talion">La ley del Talión 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_odisea">La odisea 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_ola">La ola 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_plegatina">La plegatina 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_princesa_de_Grecia">La princesa de Grecia 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_travesia_del_buho">La travesía del buho 4</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/La_ultima_escapada">La última escapada 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Libertarias_para_los_makis">Libertarias para los makis 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Links_der_mit">Links der mit 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Lo_Que_el_Viento_se_Llevo">Lo Que el Viento se Llevó 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Lo_que_nos_trajo_el_viento">Lo que nos trajo el viento 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Los_Makis">Los Makis 8A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Los_lunes_al_sol">Los lunes al sol 7B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Los_tres_pinos">Los tres pinos 8A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Machupichu">Machupichu 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Macrodose">Macrodose 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Mangiare_il_Culo">Mangiare il Culo 8A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Mantel_easy">Mantel easy 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Mantelman">Mantelman 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Mate_te">Mate te 5+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Maximo_quinto_mas">Maximo quinto más 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Monolithe">Monolithe 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Mundo_romalia">Mundo romalia 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Nada_es_lo_que_parece">Nada es lo que parece 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Naturaleza_humana">Naturaleza humana 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Nature_ou_culture">Nature ou culture 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Nina_voladora">Niña voladora 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/No_fail_zone">No fail zone 7B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/No_fly_zone">No fly zone 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Not_so_evil_twin">Not so evil twin 5+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Neonicotinoide">Nèonicotinoide 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Ojo_de_Perrita">Ojo de Perrita 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Otro_Mason">Otro Mason 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Pan_con_aceite">Pan con aceite 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Pan_de_chocolate">Pan de chocolate 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Panaderia_de_agujeros">Panadería de agujeros 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Pasiego_desde_el_fondo">Pasiego desde el fondo 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Pasion_por_la_birra">Pasión por la birra 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Peakaboo">Peakaboo 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Placa_Final">Placa Final 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Placa_Padre">Placa Padre 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Place_Vendome">Place Vendome 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Plan_B">Plan B 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Purple_Frog">Purple Frog 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Quintessence">Quintessence 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Red">Red 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Romualdotegi">Romualdotegi 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Recession">Rècession 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Repercussion">Répercussion 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Saper">Saper 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Saper_de_Calada">Saper de Calada 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Saurios">Saurios 5</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Signo_positivo">Signo positivo 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Signo_positivo_directo">Signo positivo directo 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Sistema_Iberico">Sistema Ibérico 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Sous_acide">Sous acide 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Super_Mario">Super Mario 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Surco">Surco 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Tacto_rectal_Left">Tacto rectal Left 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Tantantan">Tantantan 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Tepui">Tepui 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Test_av_teknik">Test av teknik 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/The_big_egg">The big egg 8A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/The_look_out">The look out 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/The_night_wanderer">The night wanderer 7C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Transpondeur">Transpondeur 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Triton">Tritón 6A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Una_escapada_perfecta">Una escapada perfecta 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Uplifting">Uplifting 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Vectrex">Vectrex 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Vertebrados">Vertebrados 6B+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Via_Finlandes">Via Finlandes 6C+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Volando_voy">Volando voy 7A+</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Vuelo_de_Fantasia">Vuelo de Fantasia 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/WTF">WTF 6C</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Warmup">Warmup 6A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Zelda">Zelda 7A</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Zeta_Negra">Zeta Negra 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Zimous">Zimous 6B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Anglahund">Änglahund 7B</a>
    </li>
    
    <li>
      <a href="alcaniz/problem/Ejection_directe">Èjection directe 7B</a>
    </li>
    
  </ul>
  <script >
	const listTitle = document.getElementById('listTitle');
	const list = document.getElementById('list');
	const toggleIcon = document.getElementById('toggleIcon');

	listTitle.addEventListener('click', function() {
	  list.classList.toggle('opened');
	  toggleIcon.style.transform = list.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
	});
  </script>
</div>
 
<!--Playlists-->
<div class="container">
  <br />
  
  <h4>{{ _("Playlists") }}</h4>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMUvpcclda1FQwCe2Fdcanf"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector El Anfibio</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPbYvXtpKcRXimqFxnfB9y-"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Vía</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOqU9CHp5A3d0HioVzG8GnQ"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector San Miguel</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMxemLKHqQhFynPyTY7WKwn"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Badina</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPuxQ9vV0QT4YSTzvu5Or3N"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Val de Sincesta</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNMDsDlhcw84aw0UF93exNr"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector El Arenal</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN3HzEWGS16rdcN24c84uaX"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Peche melba</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMADnL_DAI1paukV37W3G_w"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector El Barranco del Ciego</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMnWv5fUqrnuvQU-8gTk17M"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Studio 54</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPuOf-fCnQgxrTXJNnnoMlL"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Santa Bárbara</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNpPLMYoiwi4QonUOF73gBt"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Paridera</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNCx4yIUQLQuZP8P1OPybqH"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La bandereta</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnObJU_LO0y5w9zvxALkruoX"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Camineros</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPO_WYe7tgtaY9jeeIuxXIC"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Dehesa</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPgJcO_cQ5Fjnq5ETIuqhP7"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Manjus Place</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM9cSc8nkaBoBBPecNq2IlG"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

        </div>
        <br />
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>