<!DOCTYPE html>
<html>
  <head>
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    <title>Bouldering in  Can Boquet  | MadBoulder</title>
	<meta name="description" content="Bouldering information and climbing videos in Can Boquet | MadBoulder">
    

<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>


  </head>
  <body>
	
	{% include 'mainMenu.html' %}
	
    <main>
        <div class="container" id="pageContent">
          <br />
          <h2 style="text-align: center;">
             Can Boquet 
          </h2>
          

<div class="container" style="margin-bottom: -20px;">
  <br />
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

          
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="41.5205" />
  <input type="hidden" id="lng" name="lng_val" value="2.3364" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Can Boquet
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center;"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex col-8 flex-column justify-content-center">
        <div id="big" class="row d-flex justify-content-center weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Can Boquet
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto row d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ current_lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 
          <br />
          <p>
<div class="container">
  
  <h4>{{ _("Guides") }}</h4>
  
</div>
<br />
<div class="container">
  
  <ul>
    
    <li>
      <a
		id="guide_link"
        href="https://27crags.com/areas/can-boquet-18554"
        target="_blank"
        >27 Crags (Guide)</a
      >
    </li>
    
    <li>
      <a
		id="guide_link"
        href="http://lamaisondelamontagne.org/topo_imp/3020.pdf"
        target="_blank"
        >Boulder Can Boquet (pdf)</a
      >
    </li>
    
    <li>
      <a
		id="guide_link"
        href="http://blogdgranit.blogspot.com/"
        target="_blank"
        >blogdgranit (Blog)</a
      >
    </li>
    
  </ul>
</div>
</p>
          <br />
          
<!-- Zone Map -->
<div class="container">
  
  <h4>{{ _("Map") }}</h4>
  
</div>
<br />
<div class="row">
  <div class="col-sm-2 col-md-3"></div>
  <div class="col-sm-8 col-md-6">
    <div style="position: relative; padding-top: 56%;">
      <iframe
        src="maps/can_boquet"
        frameborder="0"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>
<br />
<!--Problem List-->
<div class="container">
  
  <h4 class="listTitle" id="listProblemsTitle">
	{{ _("List of Problems") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
  </h4>
  
  <ul id="listProblems" class="list closed">
    
    <li>
      <a href="can_boquet/problem/A_palo_seko">A palo seko, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Abierto_hasta_el_amanecer">Abierto hasta el amanecer, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Abracada_del_teletuby">Abraçada del teletuby, 6c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Acelera_un_poco_mas">Acelera un poco más, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Aerodinamite">Aerodinamite, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Agua_bendita">Agua bendita, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Albatroskot">Albatroskot, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Alebop">Alebop, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Algo_que_se_siente">Algo que se siente, 7b+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Angel">Angel, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Apocalipsis">Apocalipsis, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Aprieta_los_dientes">Aprieta los dientes, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ardilla_oscura">Ardilla oscura, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ardilla_veloz">Ardilla veloz, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Astral">Astral, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Atila">Atila, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Bala_perdida">Bala perdida, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Benet_I">Benet I, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Benet_II">Benet II, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Biceps_power">Biceps power, 8a/a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Bloody_Moves">Bloody Moves, 7c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Bomberman">Bomberman, 7b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Brainless">Brainless, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Buda">Buda, 6b+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Bulder_in_the_dark">Bulder in the dark, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cabreta">Cabreta, 4+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cabrit">Cabrit, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cabrit_Left">Cabrit Left, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cabro">Cabró, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cagao_de_miedo">Cagao de miedo, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Calvo">Calvo, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Calvo_Dreta">Calvo Dreta, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Camino_al_altar">Camino al altar, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Caricias_profundas">Caricias profundas, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Casi_pero_no">Casi pero no, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Casi_pero_no_Right">Casi pero no Right, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cerebro_atrofia">Cerebro atrofia, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cerrojoman">Cerrojoman, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cerrojowoman">Cerrojowoman, 6c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Closca_de_tortuga">Closca de tortuga, 3</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Competencia">Competencia, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Competencia">Competencia, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cop_de_cul">Cop de cul, 4+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Corruptor_de_menores">Corruptor de menores, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Crack_my_fingers">Crack my fingers, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Creatina">Creatina, 7a (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Creatina">Creatina, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Croquetman">Croquetman, 7c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Croquetman_Extension">Croquetman Extension, 7c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cuando_revientes_descansaras">Cuando revientes descansarás, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Cuidesemele">Cuidesemele, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dancer_in_the_dark">Dancer in the dark, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dejame_que_te_acaricie">Dejame que te acaricie, 4+ (only arete)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Del_Antonio">Del Antonio, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Del_Jordi">Del Jordi, 4</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Del_Pep">Del Pep, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Del_wey">Del wey, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Demenciales">Demenciales, 7c?</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dermis">Dermis, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Desertors_de_la_corda">Desertors de la corda, 6b (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Devil_route">Devil route, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dinamic">Dinàmic, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dit_del_cofre">Dit del cofre, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dj_Saborit">Dj Saborit, 4+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dos_bidits">Dos bidits, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dos_regletas_y_un_destino">Dos regletas y un destino, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Dusminguet">Dusminguet, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_arte_del_equilibro">El arte del equilibro, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_bola">El bola, 4+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_camino_del_vampiro">El camino del vampiro, 6c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_conversador_rosa">El conversador rosa, 6c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_maestro">El maestro, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_mercenario">El mercenario, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_mirall">El mirall, 6c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_morro">El morro, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_nino_con_el_pijama_de_rayas">El niño con el pijama de rayas, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_paseo">El paseo, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_poder_de_la_mente">El poder de la mente, 7c+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_poder_de_spiderjoan">El poder de spiderjoan, 8a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_que_rompe_paga">El que rompe paga, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_senor_de_las_regletas">El señor de las regletas, 8a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_sonador">El soñador, 3</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_trol">El trol, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_wa">El wa, 4+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/El_wa">El wa, 4</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/En_busca_de_la_bala_perdida">En busca de la bala perdida, 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Espolo_Manu">Espoló Manu, 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Estilo">Estilo, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Evident">Evident, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Evident">Evident, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Explode_pig">Explode pig, 6b (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Falacias_mordaces">Falacias mordaces, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Fall_fat">Fall fat, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Familia_pollo">Familia pollo, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ferran">Ferran, 6c+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Fiction">Fiction, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Filantop">Filàntop, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Fisura_jachis">Fisura jachis, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Fisura-hop">Fisura-hop, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Flanders">Flanders, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Forceps">Forceps, 7a (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Franco_ha_muerto_je_je_je">Franco ha muerto, je, je, je, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Frankispain">Frankispain, 7a+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Full_Equip">Full Equip, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Gandalf">Gandalf, 7c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Generacions_passades">Generacions passades, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Generacion_del_77">Generación del 77, 7c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Gervi">Gervi, 6c+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Gollum">Gollum, 7c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Gora_teta">Gora teta, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/HAL.LUFO">HAL.LUFO, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Harry_Potter">Harry Potter, 7b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Hasta_las_flores_me_tienen">Hasta las flores me tienen.., 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Haustwich">Haustwich, ?</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Hiperexpo">Hiperexpo, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Inadaptats">Inadaptats, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Jaumes_forever">Jaume's forever, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Johnny_Dawes">Johnny Dawes, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Jotake_Irabatzi_arte">Jotake Irabatzi arte, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Justicia_salvaje">Justícia salvaje, 7c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Justicia_salvaje">Justícia salvaje, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Karman">Karman, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Karmita">Karmita, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lempotrapeu">L'empotrapeu, 7b (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lequilibrista">L'equilibrista, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lescut">L'escut, 5 (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_Masa">La Masa, 6a  (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_Masa">La Masa, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_casa_del_terror">La casa del terror, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_escalera_del_genio">La escalera del genio, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_humedad">La humedad, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_paladilla">La paladilla, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_parrillada">La parrillada, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_pasion_turca">La pasion turca, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_plaga">La plaga, 7b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/La_romeria">La romeria, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Las_cuchillas_de_Cristo">Las cuchillas de Cristo, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Las_estrellas">Las estrellas, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Libertad">Libertad, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lin_ton_taun">Lin ton taun, 6a+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lluvia">Lluvia, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lo_turbo">Lo turbo, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lolomaster">Lolomaster, 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Los_Rancios">Los Rancios, 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Los_Suaves_sit">Los Suaves sit, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Los_mariachis">Los mariachis, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Los_visitantes">Los visitantes, 6a+ </a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Lucha_en_el_fango">Lucha en el fango, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Magneto">Magneto, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Malkarma">Malkarma, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Maniatika">Maniatika, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Marfega">Marfega, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Mastergrip">Mastergrip, 7c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Matriz">Matriz, 6b+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Maxiexpo">Maxiexpo, 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Megacoprolit">Megacoprolit, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Monster-bou">Monster-bou, 7b+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Mr._Potato">Mr. Potato, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Nando">Nando, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Neofit">Neofit, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Neofit_Right">Neofit Right, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Nietche">Nietche, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Nina_pija">Niña pija, 4+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/No_somos_nada">No somos nada, 6c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Obridor_desconegut">Obridor desconegut, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Obrint_pas">Obrint pas, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ojos_de_brujo">Ojos de brujo, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Operacio_ostra">Operació ostra, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Orgasme_salvatge_Dreta">Orgasme salvatge Dreta, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Oso_yogui">Oso yogui, 7b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Oso_yonki">Oso yonki, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Pa_disfrutar">Pa disfrutar, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Pako_a_secas">Pako a secas, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Pakorr">Pakorr, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Peleschild_against_the_world">Peleschild against the world, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Percusion">Percusion, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Pole_position">Pole position, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ponte_Nivea">Ponte Nivea, 7b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Por_i_son">Por i son, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Problem_3_Toxto_de_la_caca">Problem 3 (Toxto de la caca), 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Problem_7_Totxo_de_la_caca">Problem 7 (Totxo de la caca), Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Projecte_de_la_caca">Projecte de la caca, 5 (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Psssss">Psssss, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Que_dinvertido">Que d'invertido, 6c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Questio_de_fe">Qüestió de fe, 7c+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Questio_de_fe">Qüestió de fe, 7c+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Rabia_contenida">Rabia contenida, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Racatacata">Racatacata, 7b (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Rampage">Rampage, 6a (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Rampas_invertidas">Rampas invertidas, 6c+ (without hands)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Rampas_invertidas">Rampas invertidas, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Rapanui">Rapanui, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Rasca_i_Pica">Rasca i Pica, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Raspa_mama">Raspa mama, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Red_Bull">Red Bull, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Res_mes">Res mes, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ride_my_rocket">Ride my rocket, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Robobita">Robobita, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Romocop">Romocop, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Salvapower">Salvapower, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Serralada_litoral_sit">Serralada litoral sit, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Sex_appeal">Sex appeal, 7c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Sex_appeal_Sex_apple_in_the_guide">Sex appeal (Sex apple in the guide), 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Sir_nyapas">Sir nyapas, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Sitofobia">Sitofobia, 7a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ska-p">Ska-p, 3+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Skaparapid">Skaparapid, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Soldador_universal">Soldador universal, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Spiderjoan">Spiderjoan, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Spok">Spok, 7b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Stop_racism">Stop racism, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Stopa">Stopa, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Suc_de_taronja">Suc de taronja, 7a (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Suc_de_taronja_direct">Suc de taronja direct, 7c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Sweet_dreams">Sweet dreams, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tanga_deep_eyes">Tanga deep eyes, 6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tas">Tas, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tazmania">Tazmania, 3</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Te_lo_dije">Te lo dije,  6a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tenacita">Tenacita, 8a+ (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Terra_de_boira">Terra de boira, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Terra_de_tenebres">Terra de tenebres, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Thai">Thaï, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/The_machina">The machina, 6c (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/The_roof_Extended">The roof Extended, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Todos_contra_todos">Todos contra todos, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tom_Bombadil">Tom Bombadil, 6b</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tranki">Tranki, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Trave_Normal">Trave Normal, 6a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Traveltotortu">Traveltotortu, 7a+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Trencapica">Trencapica, Unknown</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tricitos_power">Tricitos power, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Tripi_clima">Tripi clima, 3</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Trompa">Trompa, 6b (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Trotamundos">Trotamundos, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Un_dos_tres_flexion">Un, dos, tres, flexión!!, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Uno_contra_uno">Uno contra uno, 4</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Variant_Salvapower">Variant Salvapower, 6b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Variante_escakeante">Variante escakeante, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Venganza_y_triunfo">Venganza y triunfo, 6b (sit)</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Via_del_tro">Via del tro, 6c</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Visitants">Visitants, 5+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Voy_de_lao">Voy de lao, 8a</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Whats_up">What's up!!!, 3</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Wuan_samer_in_de_boket">Wuan samer in de boket, 7b+</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/X_Men">X Men, 5</a>
    </li>
    
    <li>
      <a href="can_boquet/problem/Ya_somos_algo">Ya somos algo, 7a</a>
    </li>
    
  </ul>
  <script >
	const listProblemsTitle = document.getElementById('listProblemsTitle');
	const listProblemsId = "can_boquet_problemsList";
	
	document.addEventListener('DOMContentLoaded', function() {
		const problemsListOpen = localStorage.getItem(listProblemsId) === 'true';
		if (problemsListOpen) {
		  listProblemsTitle.click();
		}
	});
	
	const listProblems = document.getElementById('listProblems');
	const toggleIconProblems = document.getElementById('toggleIconProblems');

	listProblemsTitle.addEventListener('click', function() {
	  listProblems.classList.toggle('opened');
	  const isListOpen = listProblems.classList.contains('opened');
	  toggleIconProblems.style.transform = isListOpen ? 'rotate(90deg)' : 'rotate(0deg)';
	  localStorage.setItem(listProblemsId, isListOpen);
	});
  </script>
</div>
<!--Sector List-->
<div class="container">
  
  <h4 class="listTitle" id="listSectorsTitle">
	{{ _("List of Sectors") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconSectors">
  </h4>
  
  <ul id="listSectors" class="list closed">
    
    <li>
      <a href="can_boquet/sector/Carretera">Carretera</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Classic">Classic</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Classic">Clàssic</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Dreamtime">Dreamtime</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Halley">Halley</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Jonny_Dawes">Jonny Dawes</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/La_Font">La Font</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/La_Font_41.5102118_2.3238263">La Font (41.5102118, 2.3238263)</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/La_Perla">La Perla</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Masia">Masia</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Miracle">Miracle</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Nou">Nou</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Petit_Paradis">Petit Paradís</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Roca_de_la_Granota">Roca de la Granota</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/Transilvania">Transilvania</a>
    </li>
    
    <li>
      <a href="can_boquet/sector/X">X</a>
    </li>
    
  </ul>
  <script >
	const listSectorsTitle = document.getElementById('listSectorsTitle');
	const listSectorsId = "can_boquet_sectorsList";
	
	document.addEventListener('DOMContentLoaded', function() {
		const sectorListOpen = localStorage.getItem(listSectorsId) === 'true';
		if (sectorListOpen) {
		  listSectorsTitle.click();
		}
	});
	
	const listSectors = document.getElementById('listSectors');
	const toggleIconSectors = document.getElementById('toggleIconSectors');

	listSectorsTitle.addEventListener('click', function() {
		listSectors.classList.toggle('opened');
		const isListOpen = listSectors.classList.contains('opened');
		toggleIconSectors.style.transform = isListOpen ? 'rotate(90deg)' : 'rotate(0deg)';
		localStorage.setItem(listSectorsId, isListOpen);
	});
  </script>
</div>
 
<!--Playlists-->
<div class="container">
  <br />
  
  <h4>{{ _("Playlists") }}</h4>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMVWYgJGEHipShBV-MBLd4T"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Transilvania</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO1tIBXwysedZQfmEIAkfmN"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Dreamtime</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOIXDYUput6VBX9LxfILe_z"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Carretera</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMtK-M-Ulr2tBEjwuyMSx6A"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>X</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOkAAyNdww2wykWC9V8RE2V"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Petit Paradís</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOXrX0VlwgjV3DJ5U_Zu0bh"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Jonny Dawes</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOQCfNKJ7yMwozQxfedKHMW"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>La Perla</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOJ1mRVpP-nGBA734tY30GA"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Roca de la Granota</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMXLRbgPY6_wXoBZQrW6QMi"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Miracle</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNqZo4gnJ-wRNAcMI8oBImW"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>La Font</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNIIzx7KTguakwv1RIwiD4i"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Halley</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNv38fRIiqJp4kQLytJTOUr"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Nou</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOwLiGSbGbhWGIZaoWn_6G5"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Masia</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPI1wnFFZTYhMgtaRkoBsOG"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Clàssic</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNld6Kl3x1uegNOQGVT_0B_"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

        </div>
        <br />
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>