<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Your Bouldering Beta Library" />
	
	
    <link rel="stylesheet" href="static/css/layout.css" />
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	
	
    <title> Cavallers </title>
    
<meta
  name="viewport"
  content="width=device-width; initial-scale=1.0; text/html; charset=utf-8"
/>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
<!-- Development -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />

<link rel="apple-touch-icon" sizes="57x57" href="https://madboulder.org/static/images/logo/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://madboulder.org/static/images/logo/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://madboulder.org/static/images/logo/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="https://madboulder.org/static/images/logo/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="https://madboulder.org/static/images/logo/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://madboulder.org/static/images/logo/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="https://madboulder.org/static/images/logo/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://madboulder.org/static/images/logo/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Climbing Videos | Beta Library | MadBoulder"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://madboulder.org/static/images/logo/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://madboulder.org/static/images/logo/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://madboulder.org/static/images/logo/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://madboulder.org/static/images/logo/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://madboulder.org/static/images/logo/mstile-310x310.png" />
<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>


  </head>
  <body>
	
	{% include 'mainMenu.html' %}
	
    <main>
        <div class="container" id="pageContent">
          <br />
          <h2 style="text-align: center;">
             Cavallers 
          </h2>
          

<div class="container" style="margin-bottom: -20px;">
  <br />
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

          
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="42.571857" />
  <input type="hidden" id="lng" name="lng_val" value="0.846636" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Cavallers
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center;"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex col-8 flex-column justify-content-center">
        <div id="big" class="row d-flex justify-content-center weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Cavallers
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto row d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 
          <br />
          <p>
<div class="container">
  
  <h4>{{ _("Guides") }}</h4>
  
</div>
<br />
<div class="container">
  
  <ul>
    
    <li>
      <a
		id="guide_link"
        href="https://www.cavallersbloc.com/"
        target="_blank"
        >Guide</a
      >
    </li>
    
    <li>
      <a
		id="guide_link"
        href="https://27crags.com/crags/cavallers"
        target="_blank"
        >27 Crags (Guide)</a
      >
    </li>
    
  </ul>
</div>
</p>
          <br />
          
<!-- Zone Map -->
<div class="container">
  
  <h4>{{ _("Map") }}</h4>
  
</div>
<br />
<div class="row">
  <div class="col-sm-2 col-md-3"></div>
  <div class="col-sm-8 col-md-6">
    <div style="position: relative; padding-top: 56%;">
      <iframe
        src="maps/cavallers"
        frameborder="0"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>
<br />
<!--Problem List-->
<div class="container">
  
  <h4 id="listTitle">
	{{ _("Problem list") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" id="toggleIcon">
  </h4>
  
  <ul id="list" class="closed">
    
    <li>
      <a href="cavallers/problem/3-Estudio">3-Estudio 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/3D">3D 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Abracada">Abraçada 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Acte_directe">Acte directe 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Ades">Adés 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Alabama">Alabama 7C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Albania">Albània 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Alicates">Alicates 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Aloevera">Aloevera 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Amagatall">Amagatall 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Amanita">Amanita 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Amodal">Amodal 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Anatomia">Anatomia 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Andromeda">Andròmeda 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Anticrits">Anticrits 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Antosta">Antosta 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Api">Api 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Arcanons">Arcanons 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Aresta">Aresta 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Aristocrata">Aristòcrata 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Arrencament">Arrencament 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Atlas">Atlas 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Au">Au 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Avellabaleine">Avellabaleine 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Avellana">Avellana 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Aversions">Aversions 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Baba">Baba 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Balu">Balu 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Banyera">Banyera 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Baranes">Baranes 3A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Boca_negra">Boca negra 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Boca_seca_man">Boca seca man 7B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Bona-baba">Bona-baba 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Bosc">Bosc 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Bot">Bot 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Botxeador">Botxeador 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Brasa">Brasa 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Broma">Broma 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Buscallada">Buscallada 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Camp_de_trumfos">Camp de trumfos 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Campament">Campament 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Canalla">Canalla 4A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Cap_praball">Cap praball 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Capell">Capell 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Carlos_Fantova">Carlos Fantova 7C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Carmanyola">Carmanyola 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Carretera_i_manta">Carretera i manta 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Carretera_y_monta">Carretera y monta 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Cassigall">Cassigall 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Canamera">Cañamera 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Chatarra">Chatarra 3C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Chi_chi_lou">Chi chi lou 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Clavament">Clavament 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Cleopatra">Cleòpatra 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Classic">Clàssic 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Clasicos_ocultos">Clásicos ocultos 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Cohesiona">Cohesiona 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Conectic">Conectic 7B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Conillet">Conillet 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Connectat">Connectat 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Contrapeus">Contrapeus 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Corbar">Corbar 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Corrupcio">Corrupció 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Crac">Crac 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Cracker">Cracker 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Culet">Culet 4A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Culot">Culot 3A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Curvar">Curvar 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Decadencia">Decadència 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Delicatessen">Delicatessen 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Dia">Dia 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Diaboliques">Diabòliques 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Dilluns">Dilluns 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Diplomacia">Diplomàcia 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Directa_italiana">Directa italiana 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Discriminatori">Discriminatori 4A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Disloco">Disloco 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Dissabte">Dissabte 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Distribucio">Distribució 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Ditxous">Ditxous 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Divendres">Divendres 3A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Do">Do 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Dolor_mental">Dolor mental 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Dr_Fite">Dr Fite 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Efecte_pigmalio">Efecte pigmalió 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/El_Litri">El Litri 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/El_canvi">El canvi 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/El_forat">El forat 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/El_facil">El fàcil 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/El_piano_directe">El piano directe 7C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/El_quadrat">El quadrat 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Els_baixos">Els baixos 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Enciam">Enciam 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Entrerocks">Entrerocks 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Equilibri">Equilibri 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Escacs">Escacs 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Escarpe">Escarpe 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Escorxador">Escorxador 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Espero_del_prat">Esperó del prat 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Espina_de_rata">Espina de rata 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Estenalles">Estenalles 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Faceman">Faceman 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fills_dels_mitjons">Fills dels mitjons 7C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fissurata">Fissurata 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fonda">Fonda 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fora_de_lloc">Fora de lloc 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fora_de_temps">Fora de temps 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Formacions">Formacions 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Formatge">Formatge 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Formatge">Formatge 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Foro">Foro 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fosforescencia">Fosforescència 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fotografica">Fotogràfica 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fotografica">Fotogràfica 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Frontal">Frontal 4A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Fruita">Fruita 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Furax">Furax 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Gaudi">Gaudí 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Genio_y_figura">Genio y figura 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Genoll_falcat">Genoll falcat 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Genollera">Genollera 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Golden_gay">Golden gay 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Goma_natural">Goma natural 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Gorge_aus_rats">Gorge aus rats 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Gormanda">Gormanda 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Gratuit">Gratuït 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Gronxador">Gronxador 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/H.h">H.h 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/H.h.h">H.h.h 7B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Harri-jasotze">Harri-jasotze 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Holy_motors">Holy motors 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Hospet">Hospet 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Hostaler">Hostaler 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Housen">Housen 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Incomoda">Incòmoda 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Inquisicio">Inquisició 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Inversio">Inversió 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Iron_Andrer">Iron Andrer 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Irrita">Irrita 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Johnny_Rotten">Johnny Rotten 7B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Julianes">Julianes 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Karakorum">Karakorum 3A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Kiwi">Kiwi 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Kus_kus">Kus kus 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Larc">L'arc 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_Forca">La Força 7C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_Trave_del_Prat">La Trave del Prat 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_cansalada">La cansalada 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_carnisseria">La carnisseria 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_ceba">La ceba 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_collocacio">La col·locació 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_contra">La contra 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_cuca_fera">La cuca fera 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_fissura">La fissura 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_formiga_atomica">La formiga atòmica 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_jeta">La jeta 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_maduixa">La maduixa 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_mestra">La mestra 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_placa">La placa 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_plaza">La plaza 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_pluja">La pluja 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_punta">La punta 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_vaca">La vaca 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/La_vascargentina">La vascargentina 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Langosta_al_sol">Langosta al sol 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Lapedrasival">Lapedrasival 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Lilliput">Lil·liput 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Lo_barret">Lo barret 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Lo_cau">Lo cau 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Lo_ruc">Lo ruc 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Macarro">Macarró 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mala_conducta">Mala conducta 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mala-baba">Mala-baba 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Malaltia">Malaltia 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Malament">Malament 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Maldedits">Maldedits 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Malo">Malo 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mandarina">Mandarina 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Masala">Masala 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mdt">Mdt 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mecanica_quantica">Mecànica quàntica 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mister_and_comander">Mister and comander 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mojito">Mojito 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mojito">Mojito 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Moltagana">Moltagana 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mono">Mono 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mono_Left">Mono Left Unknown</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Moviment_Actiu">Moviment Actiu 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Mr._Pink">Mr. Pink 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Muntada">Muntada 3C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Muricec">Muricec 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Nenuco">Nenuco 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/No_feelings_Variant">No feelings Variant 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Noche_y_alcohol">Noche y alcohol 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Nosferatu">Nosferatu 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/OCB">OCB 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Oa">Oa 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Omega">Omega 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Orinal">Orinal 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Osmosis_inversa">Osmosis inversa 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Outlet">Outlet 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Ovella">Ovella 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Pala">Pala 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Pallasso">Pallasso 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Panellet">Panellet 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Passadis">Passadís 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Pastanaga">Pastanaga 4A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Patinar">Patinar 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Peatge">Peatge 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Perurena">Perurena 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Pink">Pink 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Piramideta">Piramideta 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Piramidreta">Piramidreta 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Placa_del_Prat">Placa del Prat 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Planificacio_linguistica">Planificació lingüística 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Plaqueta">Plaqueta 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Plaqueta">Plaqueta 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Plastic">Plàstic 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Poli">Poli 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Presoner">Presoner 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Primera">Primera 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Primera_hora">Primera hora 4C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Puntera">Puntera 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Romossoma">Romossoma 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Romantica">Romàntica 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Roquera">Roquera 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Rovalla">Rovalla 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Requiem_per_un_somni">Rèquiem per un somni 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Sabates_dhome_mort">Sabates d'home mort 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Saltet">Saltet 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Seixantes">Seixantes 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Shanti_shanti">Shanti, shanti 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Singlot">Singlot 3A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Socios">Socios 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Solfa">Solfa 6B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Super_sonic">Super sonic 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Superficie">Superfície 6A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Surfista">Surfista 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Talonet">Talone't 6C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Taronja">Taronja 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tau_tau">Tau tau 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Taula_plegable">Taula plegable 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tauro">Tauró 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Test">Test 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tonadeta">Tonadeta 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tor">Tor 7A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tornavis">Tornavís 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Toro_sentado">Toro sentado 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tossut">Tossut 6B+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tota">Tota 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tovallola">Tovallola 6C+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tractament">Tractament 5A</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tradicional">Tradicional 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Tremolor">Tremolor 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Trola_de_trol">Trola de trol 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Trola_de_trol">Trola de trol 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Ulls">Ulls 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Unisex">Unisex 7B</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Universal_sit">Universal sit Unknown</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Vande">Vande 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Victoria">Victòria 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Videoconferencia">Videoconferència 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Voraelriu">Voraelriu 6A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/X-Men">X-Men 7A+</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Zaldia">Zaldia 5C</a>
    </li>
    
    <li>
      <a href="cavallers/problem/Ultima_hora">Última hora 6B</a>
    </li>
    
  </ul>
  <script >
	const listTitle = document.getElementById('listTitle');
	const list = document.getElementById('list');
	const toggleIcon = document.getElementById('toggleIcon');

	listTitle.addEventListener('click', function() {
	  list.classList.toggle('opened');
	  toggleIcon.style.transform = list.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
	});
  </script>
</div>
 
<!--Playlists-->
<div class="container">
  <br />
  
  <h4>{{ _("Playlists") }}</h4>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOzHmYDVmU-hBaXI9bLiuN3"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Del Bosc</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPIqK8R1dcnmZR9i84Gdog6"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Bosc Màgic</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNoOhNXAkjpY-FzY46TlJI3"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Pedrera</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN8MXuxuA2TBNN7i9gDMkUu"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Del Prat</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNReTFgd_Z9GJqRIra_WLoT"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Sec Xop</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNQ8iEMu8nDXtVsiKs7pSpN"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Voraelriu</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMoj8_YBz643An3s-CO2wA4"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Pikenike</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM5jt5JBpZy7dXkvA4iyokS"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Mct</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMe0sZiZtS_qA4xTnksBwam"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Toirigo</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN7OwHs0oVcuYpLmrIJYBhu"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Noves Tecnologies</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOEuy9w9SXfOH2dLia0fme_"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Hampi</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMu_UYO7rCkNJokFB6QgLeH"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Fissura</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPd2lYX7ylqrzMWzPHZLHwi"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Llosa</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMfZ9kSDWRNm7JvEKnHvZRQ"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Les Murgues</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnP9IwcBuFw_m1qD63eAW0S0"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Ferradura</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPww2rq3KE9MNKj6cUZnQ2J"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Corbar</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNn10K379IZiroxaLEd1gRX"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Residència</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM9gidVyNH7PZ1-Bkru16dy"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector La Reserva</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOt8GBRWwh6CzjSvwuD5gUd"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

        </div>
        <br />
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>