<!DOCTYPE html>
<html>
  <head>
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    <title>Bouldering in  El Cogul  | MadBoulder</title>
	<meta name="description" content="Bouldering information and climbing videos in El Cogul | MadBoulder">
    

<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>


  </head>
  <body>
	
	{% include 'mainMenu.html' %}
	
    <main>
        <div class="container" id="pageContent">
          <br />
          <h2 style="text-align: center;">
             El Cogul 
          </h2>
          

<div class="container" style="margin-bottom: -20px;">
  <br />
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

          
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="41.462258261892" />
  <input type="hidden" id="lng" name="lng_val" value="0.7426576769272515" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      El Cogul
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center;"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex col-8 flex-column justify-content-center">
        <div id="big" class="row d-flex justify-content-center weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      El Cogul
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto row d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ current_lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 
          <br />
          <p>
<div class="container">
  
  <h4>{{ _("Guides") }}</h4>
  
</div>
<br />
<div class="container">
  
  <div class="row pl-5 mb-3">
    
    <div class="mr-2">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=madboulder00-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=8498294592&linkId=f08f37f4f552e9598776589a8f955734">
      </iframe>
    </div>
   
  </div>
  
  <ul>
    
    <li>
      <a
		id="guide_link"
        href="https://27crags.com/crags/el-cogul"
        target="_blank"
        >27 Crags (Guide)</a
      >
    </li>
    
    <li>
      <a
		id="guide_link"
        href="https://madboulder.org/download/el_cogul/el_cogul_ressenyes.pdf"
        target="_blank"
        >Guide (pdf)</a
      >
    </li>
    
  </ul>
</div>
</p>
          <br />
          
<!-- Zone Map -->
<div class="container">
  
  <h4>{{ _("Map") }}</h4>
  
</div>
<br />
<div class="row">
  <div class="col-sm-2 col-md-3"></div>
  <div class="col-sm-8 col-md-6">
    <div style="position: relative; padding-top: 56%;">
      <iframe
        src="maps/el_cogul"
        frameborder="0"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>
<br />
<!--Problem List-->
<div class="container">
  
  <h4 class="listTitle" id="listProblemsTitle">
	{{ _("List of Problems") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
  </h4>
  
  <ul id="listProblems" class="list closed">
    
    <li>
      <a href="el_cogul/problem/1890">1890, 6a+ (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/A_llorar_a_la_Lloreria">A llorar a la Lloreria, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/A_plorar_al_riu">A plorar al riu, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Alfons_a_lesquerre">Alfons a l'esquerre, 7a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Alfons_a_la_dreta">Alfons a la dreta, 7b (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Alfons_a_la_dreta">Alfons a la dreta, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Altra_mes_el_forat_Bong_Extension">Altra més el forat (Bong Extension), 6c+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Bad_dream">Bad dream, 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Bandulet">Bandulet, 7a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Benvingut_a_linfern">Benvingut a l'infern, 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Bong">Bong, 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Charlize_Theron">Charlize Theron, 6c+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Cluc">Cluc, 5</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Con_bombas">Con bombas, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Cor_Petit">Cor Petit, 6c+/7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Cua_de_drac">Cua de drac, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Cuantas_veces_habre_oido_eso">Cuantas veces habre oido eso, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Dominio_del_miedo">Dominio del miedo, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/El_filo_del_comalla">El filo del comallà, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/El_gran_sostre_de_lAlbages">El gran sostre de l'Albagés, 7b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/El_mundo_al_reves">El mundo al revés, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/El_perolillo">El perolillo, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Elvis_co">Elvis co, 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Elvis_conde">Elvis conde, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Filosofia_barata">Filosofia barata, 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Graham_Boulder">Graham Boulder, 8a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Hidrofobica">Hidrofóbica, 7b (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Hidrofobica_Extension">Hidrofóbica Extensión, 7c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Jamon_jamon">Jamón, jamón, 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/LIglu">L'Iglú, 7b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Lentranyable_vidua">L'entranyable vídua, 6b (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/La_Comella">La Comella, 7a (version b)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/La_Comella">La Comella, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/La_ballena">La ballena, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/La_lluna">La lluna, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/La_raja">La raja, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/La_trave_dels_desmanegats">La trave dels desmanegats, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Lasingradov">Lasingradov, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Lloraras">Llorarás, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Lo_Cogul">Lo Cogul, 6c+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Mrk01">Mrk01, 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Metodo_Osmin">Método Osmin, 8a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Nos_pegan">Nos pegan, 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Pal_Pan">Pal Pan, 8a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Pancake">Pancake, 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Pas_de_Lloba">Pas de Lloba, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Per_la_boca_mor_el_peix">Per la boca mor el peix, 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Poder_monguer">Poder monguer, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Por_el_dia_7B_por_la_noche_JB">Por el dia 7B, por la noche JB, 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_Mestre_Mutent">Problem  (Mestre Mutent), 5</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_1_Albages_-_Els_Camps">Problem 1 (Albagés - Els Camps), 3</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_1_Boulder_5_Universitat">Problem 1 (Boulder 5, Universitat), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_1_Boulder_6_Mestre_Muten">Problem 1 (Boulder 6, Mestre Muten), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_10_El_Comalla">Problem 10 (El Comallà), 7c+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_12_Universitat">Problem 12 (Universitat), 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_13_Universitat">Problem 13 (Universitat), 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_14_El_Turonet">Problem 14 (El Turonet), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_15_Universitat">Problem 15 (Universitat), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_15_Left_Universitat">Problem 15 Left (Universitat), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_16_Albages_-_Els_Camps">Problem 16 (Albagés - Els Camps), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_18_Albages_-_Els_Camps">Problem 18 (Albagés - Els Camps), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_18_Doctorat">Problem 18 (Doctorat), 7a (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_18_Universitat">Problem 18 (Universitat), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_19_El_Turonet">Problem 19 (El Turonet), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_19_Universitat">Problem 19 (Universitat), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_19_Left_El_Turonet">Problem 19 Left (El Turonet), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_2_Albages_-_El_Turonet">Problem 2 (Albagés - El Turonet), 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_2_Albages_-_Els_Camps">Problem 2 (Albagés - Els Camps), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_2_Boulder_1.3_Universitat">Problem 2 (Boulder 1.3, Universitat), 6a+/b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_2_Boulder_2_Universitat">Problem 2 (Boulder 2, Universitat), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_20_Beer_Action">Problem 20 (Beer Action), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_20_El_Turonet">Problem 20 (El Turonet), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_21a_El_Turonet">Problem 21a (El Turonet), 7a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_22_Beer_Action">Problem 22 (Beer Action), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_23_Beer_Action">Problem 23 (Beer Action), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_23_LAlbages_-_El_Turonet">Problem 23 (L'Albagés - El Turonet), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_24_Beer_Action">Problem 24 (Beer Action), 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_24_LAlbages_-_El_turonet">Problem 24 (L'Albagés - El turonet), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_26_Beer_Action">Problem 26 (Beer Action), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_27_Beer_Action">Problem 27 (Beer Action), 3+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_28_El_Turonet">Problem 28 (El Turonet), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_29_Mestre_Mutent">Problem 29 (Mestre Mutent), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_3_Albages_-_Els_Camps">Problem 3 (Albagés - Els Camps), 5</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_3_Boulder_1.3_Universitat">Problem 3 (Boulder 1.3, Universitat), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_3_Boulder_3_Universitat">Problem 3 (Boulder 3, Universitat), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_3_Boulder_3.1_Mestre_Mutent">Problem 3 (Boulder 3.1, Mestre Mutent), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_3_Boulder_3.3.2_Mestre_Mutent">Problem 3 (Boulder 3.3.2, Mestre Mutent), 5</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_3_Boulder_6_Universitat">Problem 3 (Boulder 6, Universitat), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_32_Albages_-_Els_Camps">Problem 32 (Albagés - Els Camps), 4+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_33_Albages_-_Els_Camps">Problem 33 (Albagés - Els Camps), 4+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_34_Albages_-_Els_Camps">Problem 34 (Albagés - Els Camps), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_39_Beer_Action">Problem 39 (Beer Action), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_4_Boulder_3.3.1_Mestre_Mutent">Problem 4 (Boulder 3.3.1, Mestre Mutent), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_4_Mestre_Mutent">Problem 4 (Mestre Mutent), 4+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_41_LAlbages_-_El_Turonet">Problem 41 (L'Albagés - El Turonet), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_42_LAlbages_-_El_Turonet">Problem 42 (L'Albagés - El Turonet), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_5_Abellot_Negre">Problem 5 (Abellot Negre), 6b (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_5_Abellot_Negre">Problem 5 (Abellot Negre), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_5_Abocador">Problem 5 (Abocador), 6b (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_5_El_Turonet">Problem 5 (El Turonet), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_58_El_Turonet">Problem 58 (El Turonet), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_6_Albages_-_Els_Camps">Problem 6 (Albagés - Els Camps), 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_6_LAlbages_-_El_Turonet">Problem 6 (L'Albagés - El Turonet), 6b+ (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_6_LAlbages_-_El_Turonet">Problem 6 (L'Albagés - El Turonet), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_60_LAlbages_-_El_Turonet">Problem 60 (L'Albagés - El Turonet), 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_7_Albages_-_Els_Sostres">Problem 7 (Albagés - Els Sostres), 7b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_7_Boulder_3.2_Mestre_Mutent">Problem 7 (Boulder 3.2, Mestre Mutent), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_7_Totxo_Mali">Problem 7 (Totxo Mali), 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_8_Toxto_de_la_Vinya">Problem 8 (Toxto de la Vinya), 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_9_Albages_-_1890">Problem 9 (Albagés - 1890), 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_9_Lo_Pallars">Problem 9 (Lo Pallars), Unknown</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Problem_unknown_Beer_Action">Problem unknown (Beer Action), 6a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Realidad_depresiva">Realidad depresiva, 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Roca_mare">Roca mare, 7c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Romocop">Romocop, 6c</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Salvatge_oest">Salvatge oest, 7a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Slab_final">Slab final, 7a+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Som_de_loest">Som de l'oest, 6a</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Spargus">Spargus, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Tambe_nhi_ha_dhaver_de_facils">També n'hi ha d'haver de fàcils, 5+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Test_destres">Test d'estrès, 6b</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Tots_els_homes_tenen_ous">Tots els homes tenen ous, 6b+</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Totxo_de_la_Vinya">Totxo de la Vinya, 7c (sit)</a>
    </li>
    
    <li>
      <a href="el_cogul/problem/Two_brothers">Two brothers, 6a+</a>
    </li>
    
  </ul>
  <script >
	const listProblemsTitle = document.getElementById('listProblemsTitle');
	const listProblemsId = "el_cogul_problemsList";
	
	document.addEventListener('DOMContentLoaded', function() {
		const problemsListOpen = localStorage.getItem(listProblemsId) === 'true';
		if (problemsListOpen) {
		  listProblemsTitle.click();
		}
	});
	
	const listProblems = document.getElementById('listProblems');
	const toggleIconProblems = document.getElementById('toggleIconProblems');

	listProblemsTitle.addEventListener('click', function() {
	  listProblems.classList.toggle('opened');
	  const isListOpen = listProblems.classList.contains('opened');
	  toggleIconProblems.style.transform = isListOpen ? 'rotate(90deg)' : 'rotate(0deg)';
	  localStorage.setItem(listProblemsId, isListOpen);
	});
  </script>
</div>
<!--Sector List-->
<div class="container">
  
  <h4 class="listTitle" id="listSectorsTitle">
	{{ _("List of Sectors") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconSectors">
  </h4>
  
  <ul id="listSectors" class="list closed">
    
    <li>
      <a href="el_cogul/sector/1890">1890</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Abellot_Negre">Abellot Negre</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Abocador">Abocador</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Albages_-_Abellot_Negre">Albagés - Abellot Negre</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Albages_-_El_Turonet">Albagés - El Turonet</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Albages_-_Els_Camps">Albagés - Els Camps</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Albages_-_Els_Sostres">Albagés - Els Sostres</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Albages_-_Els_ulls">Albagés - Els ulls</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Aspa_-_Peixera">Aspa - Peixera</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Beer_Action">Beer Action</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Collat">Collat</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Doctorat">Doctorat</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/El_Turonet">El Turonet</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Els_Camps">Els Camps</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/LAlbages_-_El_Turonet">L'Albagés - El Turonet</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Lloreria">Lloreria</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Lo_Pallars">Lo Pallars</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Lo_Pallars">Lo Pallars </a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Mestre_Muten">Mestre Muten</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Mestre_Mutent">Mestre Mutent</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Roca_del_Diable">Roca del Diable</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Totxo_Mali">Totxo Mali</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Totxo_de_la_Vinya">Totxo de la Vinya</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Totxo_de_la_vinya">Totxo de la vinya</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/Universitat">Universitat</a>
    </li>
    
    <li>
      <a href="el_cogul/sector/X-Tone">X-Tone</a>
    </li>
    
  </ul>
  <script >
	const listSectorsTitle = document.getElementById('listSectorsTitle');
	const listSectorsId = "el_cogul_sectorsList";
	
	document.addEventListener('DOMContentLoaded', function() {
		const sectorListOpen = localStorage.getItem(listSectorsId) === 'true';
		if (sectorListOpen) {
		  listSectorsTitle.click();
		}
	});
	
	const listSectors = document.getElementById('listSectors');
	const toggleIconSectors = document.getElementById('toggleIconSectors');

	listSectorsTitle.addEventListener('click', function() {
		listSectors.classList.toggle('opened');
		const isListOpen = listSectors.classList.contains('opened');
		toggleIconSectors.style.transform = isListOpen ? 'rotate(90deg)' : 'rotate(0deg)';
		localStorage.setItem(listSectorsId, isListOpen);
	});
  </script>
</div>
 
<!--Playlists-->
<div class="container">
  <br />
  
  <h4>{{ _("Playlists") }}</h4>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNBQMfuXLGMbC8PkHrU0NOH"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Doctorat</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMFoHA588IcgxP0shqAfP25"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Totxo de la Vinya</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnObxNFMupQlC0RjNeMP9dkW"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Lloreria</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN2bIdXJKIHvARSzCIb_jGU"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Aspa - Peixera</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOCZvZz6YME6Iza3Ul0I2qR"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Collat</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN4rBkC8rfqyCildhVYstSz"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Totxo de la Vinya</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN_Hwo-nMjEt9u74R2_C7i7"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>l'Abocador</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOWzxcDAUUbDL9b3a41jsPk"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Els ulls</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPOQMrkSdEcT6RMwsJyxjxH"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>X-Tone</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNoBiiG79QrawrpjuXslaH4"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Totxo Mali</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPGPByFnmhvTe6JHBoCjYzn"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Albagés - 1890</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO8IdIckADLkcsNnWy_mhCA"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Albagés - Els Sostres</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM2PFoaTP8l-JoMSjEbUSb1"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Abellot Negre</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNx5Jpzkw5q-qr_vuCt7UvI"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Mestre Mutent</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNEjAy-6BrYmWQvfzT1GPi3"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Beer Action</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM3icwVRWhGIgmNNwbdJP8S"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Els Camps</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN3yiBCX-YIUxP_Hp2EBmfM"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>El Turonet</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNddmqNyimagVYbsU1Wwdmy"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Universitat</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPfqifo7OF3GMf6wKLN9SpM"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Lo Pallars</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPm712Zqup_h6I4gi9goNrx"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

        </div>
        <br />
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>