<!DOCTYPE html>
<html lang="en">
  <head>
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    <title>Boulder in La Dehesa de Candelario | MadBoulder</title>
	<meta name="description" content="Page about bouldering in La Dehesa de Candelario with a list of video betas of the boulder problems, information about bouldering guidebooks and weather forecast">
    
	<!-- Weather Widget dependencies-->
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	
	<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/weather-widget.css') }}" />

	<!-- Table Widget dependencies-->
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	<link rel="canonical" href="https://www.madboulder.org/la-dehesa-de-candelario">
	<link rel="alternate" hreflang="en" href="https://www.madboulder.org/la-dehesa-de-candelario">
	<link rel="alternate" hreflang="es" href="https://www.madboulder.org/es/la-dehesa-de-candelario">
	<link href="/static/tabdrop/css/tabdrop.css" rel="stylesheet" >
	<script src="/static/tabdrop/js/bootstrap-tabdrop.js" ></script>
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
    <main>
		<div class="zone-header">
		  <div class="container zone-header-tree">
			<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
			> 
			<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			
				> 
				<a href="/states/castilla-leon" class="zone-header-tree-link">Castilla Leon</a>
			
		  </div>
          <h1 class="zone-header-title text-bold">
            La Dehesa de Candelario
          </h1>
		  <nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link text-bold" data-default-tab id="nav-info-tab" href="#info" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">
						<i class="fas fa-info"></i>
						Info
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold"  id="nav-problems-tab" href="#problems" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false">
						<i class="fas fa-list"></i>
						Problems
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-sectors-tab" href="#sectors" data-bs-toggle="tab" data-bs-target="#sectors" type="button" role="tab" aria-controls="sectors" aria-selected="false">
						<i class="fas fa-list"></i>
						Sectors
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-playlists-tab" href="#playlists" data-bs-toggle="tab" data-bs-target="#playlists" type="button" role="tab" aria-controls="playlists" aria-selected="false">
						<i class="fas fa-video-camera"></i>
						Playlists
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-weather-tab" href="#weather" data-bs-toggle="tab" data-bs-target="#weather" type="button" role="tab" aria-controls="weather" aria-selected="true">
						<i class="fas fa-sun"></i>
						Weather
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-map-tab" href="#map" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">
						<i class="fas fa-map"></i>
						Map
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-stats-tab" href="#stats" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true">
						<i class="fa fa-chart-column"></i>
						Stats
					</a>
				</li>
			  </div>
			  <script>
				$(document).ready(function () {
					checkHash();
					$('.nav-tabs').tabdrop();
					
					window.addEventListener('hashchange', function() {
						console.log("hashchange");
						checkHash();
					});
					
					function checkHash() {
						console.log("checkHash");
						var hash = window.location.hash;
						if (hash) {
							$('a[data-bs-toggle="tab"][href="' + hash + '"]').tab('show');
							console.log("show tab: ", hash);
						} 
						else {
							$('a[data-bs-toggle="tab"][data-default-tab]').tab('show');
							console.log("show default tab");
						}
					}
				});
				
				$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
					console.log("Tab shown:", e.target);

					e.preventDefault();
					
					var hash = $(e.target).attr('href');
					history.pushState(null, null, hash);
				});
			</script>
		  </nav>
        </div>
        
        <div class="container" id="pageContent">
			<div class="tab-content" id="myTabContent">
				<div class="tab tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats">
					<h2>Stats of La Dehesa de Candelario Boulder</h2>
					<div class="container" style="padding-top: 1rem;">
						<!-- Zone summary -->
						<div id="zone-summary" class="row justify-content-center">
							
							<div class="col-md-2 col-sm-2 stats-col">
								<div class="card mx-sm-1 p-2">
									<div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
										<span class="fas fa-video-camera" aria-hidden="true"></span>
									</div>
									<div class="text-center mt-2">
										<h5 class="stats-title">Videos</h5>
									</div>
									<div class="text-center mt-1 mb-0">
										<h3 class="stats-content">8</h3>
									</div>
								</div>
							</div>
							
							<div class="col-md-2 col-sm-2 stats-col">
								<div class="card mx-sm-1 p-2">
									<div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
										<span class="fas fa-eye" aria-hidden="true"></span>
									</div>
									<div class="text-center mt-2">
										<h5 class="stats-title">Views</h5>
									</div>
									<div class="text-center mt-1 mb-0">
										<h3 class="stats-content">2952</h3>
									</div>
								</div>
							</div>
							
							<div class="col-md-2 col-sm-2 stats-col">
								<div class="card mx-sm-1 p-2">
									<div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
										<span class="fas fa-user" aria-hidden="true"></span>
									</div>
									<div class="text-center mt-2">
										<h5 class="stats-title">Contributors</h5>
									</div>
									<div class="text-center mt-1 mb-0">
										<h3 class="stats-content">4</h3>
									</div>
								</div>
							</div>
							
							<div class="col-md-2 col-sm-2 stats-col">
								<div class="card mx-sm-1 p-2">
									<div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
										<span class="fa fa-map-marked" aria-hidden="true"></span>
									</div>
									<div class="text-center mt-2">
										<h5 class="stats-title">Sectors</h5>
									</div>
									<div class="text-center mt-1 mb-0">
										<h3 class="stats-content">3</h3>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<!-- Ad Test --> 
					<ins class="adsbygoogle" 
						style="display:block" 
						data-ad-client="ca-pub-2946344276077058" 
						data-ad-slot="3071479641" 
						data-ad-format="auto" 
						data-full-width-responsive="true"> 
					</ins> 
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="tab tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather">
					<h2>Weather Forecast in La Dehesa de Candelario Boulder</h2>
					
						<div class="weather-widget weatherElement" data-zone-code="">
	<div id="weather-widget-la-dehesa-de-candelario" class="weather-container dark">
		<div class="weather-title-container" title="La Dehesa de Candelario">
			<i class="fas fa-location-dot">location</i>
			<div class="weather-title">
				La Dehesa de Candelario
			</div>
		</div>
		<div class="weather-info">
			<div class="current-weather">
				<div class="current-weather-icon">
					<img loading="lazy" class="weather-icon"></img>
				</div>
				<div class="current-weather-desc">
					<div class="current-weather-temperature weather-temperature"></div>
					<div class="current-weather-description weather-description text-capitalize"></div>
				</div>
				<div class="current_weather-stats">
					<div class="current_weather-stats-temp">
						<div class="weather-max-temperature"></div>
						<div class="weather-min-temperature"></div>
					</div>
					<div class="current_weather-stats-item">
						<i class="fas fa-droplet mr-2">humidity</i>
						<div class="weather-humidity"></div>
					</div>
					<div class="current_weather-stats-item">
						<i class="fas fa-wind">air</i>
						<div class="wind-speed"></div>
					</div>
				</div>
			</div>
			<div class="weather-forecast"></div>
		</div>
	</div>
	<script>
		$('#weather-widget-la-dehesa-de-candelario .weather-temperature').openWeather({
			widgetId: 'weather-widget-la-dehesa-de-candelario',
			lat: '40.325365',
			lng: '-5.765945',
			iconTarget: '#weather-widget-la-dehesa-de-candelario .weather-icon',
			key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
			customIcons: 'images/weather_icons/',
			minTemperatureTarget: '#weather-widget-la-dehesa-de-candelario .weather-min-temperature',
			maxTemperatureTarget: '#weather-widget-la-dehesa-de-candelario .weather-max-temperature',
			humidityTarget: '#weather-widget-la-dehesa-de-candelario .weather-humidity',
			windSpeedTarget: '#weather-widget-la-dehesa-de-candelario .wind-speed',
			windSpeedUnit: 'km/h',
			descriptionTarget: '#weather-widget-la-dehesa-de-candelario .weather-description',
			forecastTarget: 'weather-forecast',
			lang: '',
			query: 'onecall'
		});
	</script>
</div>
					
					<div class="weatherElement" id="days-since-last-rain">Loading days since last rain...</div>
					<div class="weatherElement compareWeatherButtonContainer">
						<a class="mad-button" href="/weather-forecast-comparator?default=la-dehesa-de-candelario">
							Compare with another Area
						</a>
					</div>
					<script>
						$(document).ready(function() {
							$('.weather-temperature').each(function() {
								const openWeatherData = $(this).data('openWeather');
								if (openWeatherData && typeof openWeatherData.checkDaysSinceRain === 'function') {
									openWeatherData.checkDaysSinceRain(function(days) {
										let message;
										if (days > 3) {
											message = "It's been more than 3 days since it last rained.";
										} else {
											message = `It has been ${days} day(s) since it last rained.`;
										}
										$('#days-since-last-rain').text(message);
									});
								}
							});
						});
					</script>
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<!-- Area Weather Ad --> 
					<ins class="adsbygoogle" 
						style="display:inline-block;width:728px;height:90px"
						data-ad-client="ca-pub-2946344276077058" 
						data-ad-slot="2668154967"> 
					</ins> 
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="tab tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
					<div id="main" class="row" style="margin-bottom: 1rem;">
						<div class="col-md-12">
							<div class="tab-content ">
								<div class="row">
									<div class="col-md-6" style="align-self: center; margin-bottom: 1rem;">
										<div id="area-thumbnail" title="Photo of La Dehesa de Candelario Boulder" style="opacity: 1; filter: saturate(100%);">
											<picture>
												<source media="(min-width: 1200px)" sizes="605px" srcset="https://i.ytimg.com/vi/Hn5hhRJ8MOM/sddefault.jpg">
												<source media="(min-width: 997px)" sizes="450px" srcset="https://i.ytimg.com/vi/Hn5hhRJ8MOM/sddefault.jpg">
												<source media="(min-width: 768px)" sizes="330px" srcset="https://i.ytimg.com/vi/Hn5hhRJ8MOM/hqdefault.jpg">
												<img class="img-fluid d-block" src="https://i.ytimg.com/vi/Hn5hhRJ8MOM/mqdefault.jpg" alt="Photo of La Dehesa de Candelario Boulder">
											</picture>
										</div>
									</div>
									<div class="col-md-6">
										<div id="general-info" class="overflow-auto d-flex flex-column">
											
												<div id="features_info" class="position-relative">
													<h2>Bouldering in La Dehesa de Candelario</h2>
													<p style="text-align: justify;">Nestled in the Candelario mountains, La Dehesa is a granite paradise with spectacular boulders. Its reputation lies in its unique and challenging formations. The best season for climbing is spring, and its popularity is attributed to its natural beauty.</p>
												</div>
											
											<div id="general_stats">
												<p style="background: rgba(0,0,0,.075);color: #555555;padding: 5px; margin-bottom: 0;">
													<b>Videos</b> 8
													
														<br>
														<b>Rock type</b> Granite
													
													
														<br>
														<b>Altitude</b> 1419m
													
												</p>
											</div>
											{% if session['is_admin'] %}
												<a href="/edit-area/la-dehesa-de-candelario">
													Editar Zona
												</a>
											{% endif %}
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					  <div style="margin-bottom: 1rem;">
						<h2>Guidebooks of La Dehesa de Candelario Boulder</h2>
						
						  <div class="pl-5 mb-3" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
							
							  <div class="mr-2">
								<a id="guide_link" class="text-bold" style="text-decoration: none; color: black;" href="https://amzn.to/47UHwad" target="_blank">
								  <div class="card-body" style="background:none;box-shadow: none;">
									<div class="card-body-image-container">
									  <div class="card-body-image-container-container">
										<img loading="lazy" class="card-body-image" style="object-fit: contain" src="https://m.media-amazon.com/images/I/81k6BJwFW5L._SL1400_.jpg" alt="Boulder La Dehesa de Candelario">
									  </div>
									</div>
									<div class="card-body-title-container">
									  <h6 class="text-bold card-title" style="text-align: center;">Boulder La Dehesa de Candelario</h6>
									</div>
								  </div>
								</a>
							  </div>
							
							  <div class="mr-2">
								<a id="guide_link" class="text-bold" style="text-decoration: none; color: black;" href="https://amzn.to/42k90Vl" target="_blank">
								  <div class="card-body" style="background:none;box-shadow: none;">
									<div class="card-body-image-container">
									  <div class="card-body-image-container-container">
										<img loading="lazy" class="card-body-image" style="object-fit: contain" src="https://m.media-amazon.com/images/I/810tR3jZsKL._SL1419_.jpg" alt="IberianBoulder. Guía de bloque en el centro oeste peninsular">
									  </div>
									</div>
									<div class="card-body-title-container">
									  <h6 class="text-bold card-title" style="text-align: center;">IberianBoulder. Guía de bloque en el centro oeste peninsular</h6>
									</div>
								  </div>
								</a>
							  </div>
							
							  <div class="mr-2">
								<a id="guide_link" class="text-bold" style="text-decoration: none; color: black;" href="https://amzn.to/3UizeG0" target="_blank">
								  <div class="card-body" style="background:none;box-shadow: none;">
									<div class="card-body-image-container">
									  <div class="card-body-image-container-container">
										<img loading="lazy" class="card-body-image" style="object-fit: contain" src="https://m.media-amazon.com/images/I/81UJX3rkGML._AC_UY218_.jpg" alt="Boulder en España">
									  </div>
									</div>
									<div class="card-body-title-container">
									  <h6 class="text-bold card-title" style="text-align: center;">Boulder en España</h6>
									</div>
								  </div>
								</a>
							  </div>
							
						  </div>
						
						
					  </div>
					
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<!-- Ad Test --> 
					<ins class="adsbygoogle" 
						style="display:block" 
						data-ad-client="ca-pub-2946344276077058" 
						data-ad-slot="8704691104" 
						data-ad-format="auto" 
						data-full-width-responsive="true"> 
					</ins> 
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="tab tab-pane fade" id="map" role="tabpanel" aria-labelledby="map">
					<h2>Map of La Dehesa de Candelario Boulder</h2>
					<div class="container">
						<div style="position: relative; padding-top: 56%;">
							<iframe
								src="maps/la-dehesa-de-candelario"
								frameborder="0"
							loading="lazy"
								allowfullscreen
								style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
							</iframe>
						</div>
					</div>
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058"
						crossorigin="anonymous"></script>
					<!-- Area Map Ad -->
					<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-2946344276077058"
						data-ad-slot="6627581270"
						data-ad-format="auto"
						data-full-width-responsive="true"></ins>
					<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<div class="tab tab-pane fade" id="problems" role="tabpanel" aria-labelledby="problems">
				</div>
				<div class="tab tab-pane fade" id="sectors" role="tabpanel" aria-labelledby="sectors">
					<h2>List of 3 Sectors of La Dehesa de Candelario Boulder</h2>
					<div class="container">
						<input id="search-sector" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
						<table id="sectors-table" class="table table-hover">
							<thead>
								<tr>
									
									<th scope="col" class="sorting">{{ _("Name") }}</th>
									<th scope="col" class="sorting">{{ _("Problems") }}</th>
									
								</tr>
							</thead>
							<tbody>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/la-dehesa-de-candelario/acebo" class="table-row-name text-bold">Acebo</a>
										</td>
										<td class="text-center">2</td>
									</tr>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/la-dehesa-de-candelario/mantra" class="table-row-name text-bold">Mantra</a>
										</td>
										<td class="text-center">2</td>
									</tr>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/la-dehesa-de-candelario/pena-gorda" class="table-row-name text-bold">Peña Gorda</a>
										</td>
										<td class="text-center">4</td>
									</tr>
								
							</tbody>
						</table>
						<script>
							$(document).ready(function () {
								$('#sectors-table').DataTable({
									paging: false,
									dom: 'tr'
								});
								$("#search-sector").trigger("keyup");
									
								$("#search-sector").keyup(function() {
									var search_query = $.trim($(this).val());
									var items = $(".sector-row");
									filter_items_by_query(search_query, items)
								});
							});
						</script>
					</div>
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058"
						crossorigin="anonymous">
					</script>
					<ins class="adsbygoogle"
						style="display:inline-block;width:720px;height:90px"
						data-ad-client="ca-pub-2946344276077058"
						data-ad-slot="3623317447"></ins>
					<script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="tab tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists">
					<h2>List of Playlists from La Dehesa de Candelario Boulder</h2>
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							
							<b>{{ _("Full") }}</b>
							
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOGiji5e1ZnCfUVq6ZtSZed"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
						
						<br />
						<div class="row">
							<div class="col-sm-3 col-md-3"></div>
							<div class="col-sm-6 col-md-6">
							<p class="text-center">
								<b>Acebo</b>
							</p>
							<div style="position: relative; padding-top: 56.25%;">
								<iframe
								src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN2mfPny_S72LMO6YKUrH_s"
								frameborder="0"
								loading="lazy"
								allowfullscreen
								style="
									position: absolute;
									top: 0;
									left: 0%;
									width: 100%;
									height: 100%;
								"
								>
								</iframe>
							</div>
							</div>
							<div class="col-sm-3 col-md-3"></div>
						</div>
						
						<br />
						<div class="row">
							<div class="col-sm-3 col-md-3"></div>
							<div class="col-sm-6 col-md-6">
							<p class="text-center">
								<b>Mantra</b>
							</p>
							<div style="position: relative; padding-top: 56.25%;">
								<iframe
								src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPV8PWqyJGHGE6Q6sPACJ99"
								frameborder="0"
								loading="lazy"
								allowfullscreen
								style="
									position: absolute;
									top: 0;
									left: 0%;
									width: 100%;
									height: 100%;
								"
								>
								</iframe>
							</div>
							</div>
							<div class="col-sm-3 col-md-3"></div>
						</div>
						
						<br />
						<div class="row">
							<div class="col-sm-3 col-md-3"></div>
							<div class="col-sm-6 col-md-6">
							<p class="text-center">
								<b>Peña Gorda</b>
							</p>
							<div style="position: relative; padding-top: 56.25%;">
								<iframe
								src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM8w3YHJ2ItoWTrBF7vIUug"
								frameborder="0"
								loading="lazy"
								allowfullscreen
								style="
									position: absolute;
									top: 0;
									left: 0%;
									width: 100%;
									height: 100%;
								"
								>
								</iframe>
							</div>
							</div>
							<div class="col-sm-3 col-md-3"></div>
						</div>
						
					
				</div>
			</div>
			<h2>List of 8 Problems in Video of La Dehesa de Candelario Boulder</h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Sector") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Acebeitor, 7A. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/acebeitor-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Acebeitor, 7A. La Dehesa de Candelario" src="https://img.youtube.com/vi/8SENdbL4tHs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/acebeitor-7a" class="table-row-name text-bold">Acebeitor</a>
									</div>
								</td>
								<td>7A</td>
								<td>Mantra</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Compy, 4+. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/compy-4" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Compy, 4+. La Dehesa de Candelario" src="https://img.youtube.com/vi/pwO9DGpAIOA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/compy-4" class="table-row-name text-bold">Compy</a>
									</div>
								</td>
								<td>4+</td>
								<td>Peña Gorda</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Delicatessen, 7A. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/delicatessen-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Delicatessen, 7A. La Dehesa de Candelario" src="https://img.youtube.com/vi/OyNa65pdXfU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/delicatessen-7a" class="table-row-name text-bold">Delicatessen</a>
									</div>
								</td>
								<td>7A</td>
								<td>Peña Gorda</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Imagina, 5+. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/imagina-5" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Imagina, 5+. La Dehesa de Candelario" src="https://img.youtube.com/vi/wwqkGKTLMck/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/imagina-5" class="table-row-name text-bold">Imagina</a>
									</div>
								</td>
								<td>5+</td>
								<td>Peña Gorda</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La plaqueta, 6C. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/la-plaqueta-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La plaqueta, 6C. La Dehesa de Candelario" src="https://img.youtube.com/vi/-GmV3rpGe6Q/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/la-plaqueta-6c" class="table-row-name text-bold">La plaqueta</a>
									</div>
								</td>
								<td>6C</td>
								<td>Mantra</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Mente súbita, 6A. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/mente-subita-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mente súbita, 6A. La Dehesa de Candelario" src="https://img.youtube.com/vi/ZdvtuYtt6Ag/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/mente-subita-6a" class="table-row-name text-bold">Mente súbita</a>
									</div>
								</td>
								<td>6A</td>
								<td>Peña Gorda</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Un lugar para soñar, 6C+/7A. La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/un-lugar-para-sonar-6c-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Un lugar para soñar, 6C+/7A. La Dehesa de Candelario" src="https://img.youtube.com/vi/RG9u-oRz8rY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/un-lugar-para-sonar-6c-7a" class="table-row-name text-bold">Un lugar para soñar</a>
									</div>
								</td>
								<td>6C+/7A</td>
								<td>Acebo</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Un lugar para soñar, 7C+/8A (sit). La Dehesa de Candelario" href="/problems/la-dehesa-de-candelario/un-lugar-para-sonar-7c-8a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
												<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Un lugar para soñar, 7C+/8A (sit). La Dehesa de Candelario" src="https://img.youtube.com/vi/Hn5hhRJ8MOM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-dehesa-de-candelario/un-lugar-para-sonar-7c-8a-sit" class="table-row-name text-bold">Un lugar para soñar</a>
									</div>
								</td>
								<td>7C+/8A (sit)</td>
								<td>Acebo</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>