<!DOCTYPE html>
<html lang="en">
  <head>
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    <title>Boulder in Navalosa | MadBoulder</title>
	<meta name="description" content="Page about bouldering in Navalosa with a list of video betas of the boulder problems, information about bouldering guidebooks and weather forecast">
    
	<!-- Weather Widget dependencies-->
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	
	<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/weather-widget.css') }}" />

	<!-- Table Widget dependencies-->
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
	<link rel="canonical" href="https://www.madboulder.org/navalosa">
	<link rel="alternate" hreflang="en" href="https://www.madboulder.org/navalosa">
	<link rel="alternate" hreflang="es" href="https://www.madboulder.org/es/navalosa">
	<link href="/static/tabdrop/css/tabdrop.css" rel="stylesheet" >
	<script src="/static/tabdrop/js/bootstrap-tabdrop.js" ></script>
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
    <main>
		<div class="zone-header">
		  <div class="container zone-header-tree">
			<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
			> 
			<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			
				> 
				<a href="/states/castilla-leon" class="zone-header-tree-link">Castilla Leon</a>
			
		  </div>
          <h1 class="zone-header-title text-bold">
            Navalosa
          </h1>
		  <nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link text-bold" data-default-tab id="nav-info-tab" href="#info" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">
						<i class="fas fa-info"></i>
						Info
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold"  id="nav-problems-tab" href="#problems" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false">
						<i class="fas fa-list"></i>
						Problems
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-sectors-tab" href="#sectors" data-bs-toggle="tab" data-bs-target="#sectors" type="button" role="tab" aria-controls="sectors" aria-selected="false">
						<i class="fas fa-list"></i>
						Sectors
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-playlists-tab" href="#playlists" data-bs-toggle="tab" data-bs-target="#playlists" type="button" role="tab" aria-controls="playlists" aria-selected="false">
						<i class="fas fa-video-camera"></i>
						Playlists
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-weather-tab" href="#weather" data-bs-toggle="tab" data-bs-target="#weather" type="button" role="tab" aria-controls="weather" aria-selected="true">
						<i class="fas fa-sun"></i>
						Weather
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-map-tab" href="#map" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">
						<i class="fas fa-map"></i>
						Map
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-stats-tab" href="#stats" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true">
						<i class="fa fa-chart-column"></i>
						Stats
					</a>
				</li>
			  </div>
			  <script>
				$(document).ready(function () {
					checkHash();
					$('.nav-tabs').tabdrop();
					
					window.addEventListener('hashchange', function() {
						console.log("hashchange");
						checkHash();
					});
					
					function checkHash() {
						console.log("checkHash");
						var hash = window.location.hash;
						if (hash) {
							$('a[data-bs-toggle="tab"][href="' + hash + '"]').tab('show');
							console.log("show tab: ", hash);
						} 
						else {
							$('a[data-bs-toggle="tab"][data-default-tab]').tab('show');
							console.log("show default tab");
						}
					}
				});
				
				$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
					console.log("Tab shown:", e.target);

					e.preventDefault();
					
					var hash = $(e.target).attr('href');
					history.pushState(null, null, hash);
				});
			</script>
		  </nav>
        </div>
        
        <div class="container" id="pageContent">
			<div class="tab-content" id="myTabContent">
				<div class="tab tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats">
					<h2>Stats of Navalosa Boulder</h2>
					<div class="container" style="padding-top: 1rem;">
					<!-- Zone summary -->
					<div id="zone-summary" class="row justify-content-center">
						 {% for stat in stats_list %}
						<div class="col-md-2 col-sm-2 stats-col">
							<div class="card mx-sm-1 p-2">
								<div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
								<span class="{{stat['logo']}}" aria-hidden="true"></span>
								</div>
								<div class="text-center mt-2">
								<h5 class="stats-title">{{stat['text']}}</h5>
								</div>
								<div class="text-center mt-1 mb-0">
								<h3 class="stats-content">{{stat['data']}}</h3>
								</div>
							</div>
						</div>
						{% endfor %} 
					</div>
					</div>
				</div>
				<div class="tab tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather">
					<h2>Weather Forecast in Navalosa Boulder</h2>
					
						<div class="weather-widget" data-zone-code="">
	<div id="weather-widget-navalosa" class="weather-container dark">
		<div class="weather-title-container" title="Navalosa">
			<i class="fas fa-location-dot">location</i>
			<div class="weather-title">
				Navalosa
			</div>
		</div>
		<div class="weather-info">
			<div class="current-weather">
				<div class="current-weather-icon">
					<img loading="lazy" class="weather-icon"></img>
				</div>
				<div class="current-weather-desc">
					<div class="current-weather-temperature weather-temperature"></div>
					<div class="current-weather-description weather-description text-capitalize"></div>
				</div>
				<div class="current_weather-stats">
					<div class="current_weather-stats-temp">
						<div class="weather-max-temperature"></div>
						<div class="weather-min-temperature"></div>
					</div>
					<div class="current_weather-stats-item">
						<i class="fas fa-droplet mr-2">humidity</i>
						<div class="weather-humidity"></div>
					</div>
					<div class="current_weather-stats-item">
						<i class="fas fa-wind">air</i>
						<div class="wind-speed"></div>
					</div>
				</div>
			</div>
			<div class="weather-forecast"></div>
		</div>
	</div>
	<script>
		$('#weather-widget-navalosa .weather-temperature').openWeather({
			widgetId: 'weather-widget-navalosa',
			lat: '40.403321',
			lng: '-4.934718',
			iconTarget: '#weather-widget-navalosa .weather-icon',
			key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
			customIcons: 'images/weather_icons/',
			minTemperatureTarget: '#weather-widget-navalosa .weather-min-temperature',
			maxTemperatureTarget: '#weather-widget-navalosa .weather-max-temperature',
			humidityTarget: '#weather-widget-navalosa .weather-humidity',
			windSpeedTarget: '#weather-widget-navalosa .wind-speed',
			windSpeedUnit: 'km/h',
			descriptionTarget: '#weather-widget-navalosa .weather-description',
			forecastTarget: 'weather-forecast',
			lang: '',
			query: 'onecall'
		});
	</script>
</div>
					
					<div id="days-since-last-rain">Loading days since last rain...</div>
					<script>
						$(document).ready(function() {
							$('.weather-temperature').each(function() {
								const openWeatherData = $(this).data('openWeather');
								if (openWeatherData && typeof openWeatherData.checkDaysSinceRain === 'function') {
									openWeatherData.checkDaysSinceRain(function(days) {
										let message;
										if (days > 3) {
											message = "It's been more than 3 days since it last rained.";
										} else {
											message = `It has been ${days} day(s) since it last rained.`;
										}
										$('#days-since-last-rain').text(message);
									});
								}
							});
						});
					</script>
				</div>
				<div class="tab tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
					<div id="main" class="row" style="margin-bottom: 1rem;">
						<div class="col-md-12">
							<div class="tab-content ">
								<div class="row">
									<div class="col-md-6" style="align-self: center; margin-bottom: 1rem;">
										<div id="area-thumbnail" title="Photo of Navalosa Boulder" style="opacity: 1; filter: saturate(100%);">
											<picture>
												<source media="(min-width: 1200px)" sizes="605px" srcset="https://i.ytimg.com/vi/HU4xj3G9IOo/maxresdefault.jpg">
												<source media="(min-width: 997px)" sizes="450px" srcset="https://i.ytimg.com/vi/HU4xj3G9IOo/maxresdefault.jpg">
												<source media="(min-width: 768px)" sizes="330px" srcset="https://i.ytimg.com/vi/HU4xj3G9IOo/maxresdefault.jpg">
												<img loading="lazy" class="img-fluid d-block" src="https://i.ytimg.com/vi/HU4xj3G9IOo/maxresdefault.jpg" alt="Photo of Navalosa Boulder">
											</picture>
										</div>
									</div>
									<div class="col-md-6">
										<div id="general-info" class="overflow-auto d-flex flex-column">
											
												<div id="features_info" class="position-relative">
													<h2>Bouldering in Navalosa</h2>
													<p style="text-align: justify;">Navalosa in Ávila is a hidden gem with granite boulders and stunning natural settings. The optimal season is in fall and winter, and its reputation is steadily growing among local and international climbers.</p>
												</div>
											
											<div id="general_stats">
												<p style="background: rgba(0,0,0,.075);color: #555555;padding: 5px; margin-bottom: 0;">
													<b>Videos</b> 51
													
														<br>
														<b>Rock type</b> Granite
													
													
														<br>
														<b>Altitude</b> 1366m
													
												</p>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					
					  <div>
						<h2>Guidebooks of Navalosa Boulder</h2>
						
						  <div class="pl-5 mb-3" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
							
							  <div class="mr-2">
								<a id="guide_link" class="text-bold" style="text-decoration: none; color: black;" href="https://amzn.to/4bcc1uZ" target="_blank">
								  <div class="card-body" style="background:none;box-shadow: none;">
									<div class="card-body-image-container">
									  <div class="card-body-image-container-container">
										<img loading="lazy" class="card-body-image" style="object-fit: contain" src="https://m.media-amazon.com/images/I/81NfROFfyQL._SL1400_.jpg" alt="Boulder Navalosa y Navarrevisca">
									  </div>
									</div>
									<div class="card-body-title-container">
									  <h6 class="text-bold card-title" style="text-align: center;">Boulder Navalosa y Navarrevisca</h6>
									</div>
								  </div>
								</a>
							  </div>
							
						  </div>
						
						
						  <div class="list-group">
							
							  <a id="generic_link" href="/download/navalosa/navalosa-bouldering-guide.pdf" target="_blank" style="display: flex; align-items: center;" class="list-group-item list-group-item-action list-group-item-light text-bold">
								<i class="fas fa-book" style="margin-right: 0.2rem;"></i>
								Navalosa Boulder pdf
								
								  <button class="btn-free-madboulder text-bold">
									Free
								  </button>
								
							  </a>
							
						  </div>
						
					  </div>
					
				</div>
				<div class="tab tab-pane fade" id="map" role="tabpanel" aria-labelledby="map">
					<h2>Map of Navalosa Boulder</h2>
					<div class="container">
						<div style="position: relative; padding-top: 56%;">
							<iframe
								src="maps/navalosa"
								frameborder="0"
							loading="lazy"
								allowfullscreen
								style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
							</iframe>
						</div>
					</div>
				</div>
				<div class="tab tab-pane fade" id="problems" role="tabpanel" aria-labelledby="problems">
				</div>
				<div class="tab tab-pane fade" id="sectors" role="tabpanel" aria-labelledby="sectors">
					<h2>List of 5 Sectors of Navalosa Boulder</h2>
					<div class="container">
						<input id="search-sector" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
						<table id="sectors-table" class="table table-hover">
							<thead>
								<tr>
									
									<th scope="col" class="sorting">{{ _("Name") }}</th>
									<th scope="col" class="sorting">{{ _("Problems") }}</th>
									
								</tr>
							</thead>
							<tbody>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/navalosa/callejon" class="table-row-name text-bold">Callejón</a>
										</td>
										<td class="text-center">8</td>
									</tr>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/navalosa/campanitas" class="table-row-name text-bold">Campanitas</a>
										</td>
										<td class="text-center">35</td>
									</tr>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/navalosa/las-pasaillas" class="table-row-name text-bold">Las Pasaíllas</a>
										</td>
										<td class="text-center">2</td>
									</tr>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/navalosa/navaleblue" class="table-row-name text-bold">Navaleblue</a>
										</td>
										<td class="text-center">3</td>
									</tr>
								
									<tr class="sector-row">
										<td>
											<a href="/sectors/navalosa/umbrias" class="table-row-name text-bold">Umbrías</a>
										</td>
										<td class="text-center">2</td>
									</tr>
								
							</tbody>
						</table>
						<script>
							$(document).ready(function () {
								$('#sectors-table').DataTable({
									paging: false,
									dom: 'tr'
								});
								$("#search-sector").trigger("keyup");
									
								$("#search-sector").keyup(function() {
									var search_query = $.trim($(this).val());
									var items = $(".sector-row");
									filter_items_by_query(search_query, items)
								});
							});
						</script>
					</div>
				</div>
				<div class="tab tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists">
					<h2>List of 6 Playlists of Navalosa Boulder</h2>
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							
							<b>{{ _("Full") }}</b>
							
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPFtIHJOhnD4P-83YXihlMH"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
					<br />
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							<b>Callejón</b>
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNNo-epnGCjEWGSY6D1fKvE"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
					<br />
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							<b>Navaleblue</b>
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNcHGfOjUgosIaN-w_DbBtk"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
					<br />
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							<b>Umbrías</b>
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPh2RHnztlCx7Oql1AkWaF6"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
					<br />
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							<b>Las Pasaíllas</b>
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNh_ZJTUru7tfmH6nGSvMxH"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
					<br />
					<div class="row">
						<div class="col-sm-3 col-md-3"></div>
						<div class="col-sm-6 col-md-6">
						<p class="text-center">
							<b>Campanitas</b>
						</p>
						<div style="position: relative; padding-top: 56.25%;">
							<iframe
							src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMF9oivsY6-yVOq1HaeLJiw"
							frameborder="0"
							loading="lazy"
							allowfullscreen
							style="
								position: absolute;
								top: 0;
								left: 0%;
								width: 100%;
								height: 100%;
							"
							>
							</iframe>
						</div>
						</div>
						<div class="col-sm-3 col-md-3"></div>
					</div>
					
				</div>
			</div>
			<h2>List of 50 Problems in Video of Navalosa Boulder</h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							<th scope="col" class="sorting">{{ _("Sector") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="A la de tres, 6B+. Navalosa" href="/problems/navalosa/apache-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of A la de tres, 6B+. Navalosa" src="https://img.youtube.com/vi/r9Yrrwf2wzI/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/apache-6b" class="table-row-name text-bold">Apache</a>
						</div>
								</td>
								<td>6B+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Apache, 6B+. Navalosa" href="/problems/navalosa/apache-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Apache, 6B+. Navalosa" src="https://img.youtube.com/vi/hUliBYOmZ6U/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/apache-6b" class="table-row-name text-bold">Apache</a>
						</div>
								</td>
								<td>6B+</td>
								<td>Las Pasaíllas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Aprendices de Al Capone, 6B (without hands). Navalosa" href="/problems/navalosa/aprendices-de-al-capone-6b-without-hands" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Aprendices de Al Capone, 6B (without hands). Navalosa" src="https://img.youtube.com/vi/VWPvasBtIeM/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/aprendices-de-al-capone-6b-without-hands" class="table-row-name text-bold">Aprendices de Al Capone</a>
						</div>
								</td>
								<td>6B (without hands)</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Asesino de Perros, 5. Navalosa" href="/problems/navalosa/asesino-de-perros-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Asesino de Perros, 5. Navalosa" src="https://img.youtube.com/vi/dGv__80FGxA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/asesino-de-perros-5" class="table-row-name text-bold">Asesino de Perros</a>
						</div>
								</td>
								<td>5</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Aupategui Oxtias, 6A. Navalosa" href="/problems/navalosa/aupategui-oxtias-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Aupategui Oxtias, 6A. Navalosa" src="https://img.youtube.com/vi/-NMdyrYb2fk/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/aupategui-oxtias-6a" class="table-row-name text-bold">Aupategui Oxtias</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Besos al Espejo, 6B+/C. Navalosa" href="/problems/navalosa/besos-al-espejo-6b-c" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Besos al Espejo, 6B+/C. Navalosa" src="https://img.youtube.com/vi/3pzECqLNSqA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/besos-al-espejo-6b-c" class="table-row-name text-bold">Besos al Espejo</a>
						</div>
								</td>
								<td>6B+/C</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Big Wall, 6B (dyno). Navalosa" href="/problems/navalosa/big-wall-6b-dyno" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Big Wall, 6B (dyno). Navalosa" src="https://img.youtube.com/vi/6T-VGykVBFw/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/big-wall-6b-dyno" class="table-row-name text-bold">Big Wall</a>
						</div>
								</td>
								<td>6B (dyno)</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Bilma, 6A. Navalosa" href="/problems/navalosa/bilma-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Bilma, 6A. Navalosa" src="https://img.youtube.com/vi/HU4xj3G9IOo/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/bilma-6a" class="table-row-name text-bold">Bilma</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Buena Mierda, 6B. Navalosa" href="/problems/navalosa/buena-mierda-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Buena Mierda, 6B. Navalosa" src="https://img.youtube.com/vi/LHeGFU8EyFE/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/buena-mierda-6b" class="table-row-name text-bold">Buena Mierda</a>
						</div>
								</td>
								<td>6B</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Cantaditas, 6A. Navalosa" href="/problems/navalosa/cantaditas-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cantaditas, 6A. Navalosa" src="https://img.youtube.com/vi/W204eR6SLkM/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/cantaditas-6a" class="table-row-name text-bold">Cantaditas</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Coconutecolo, 6B. Navalosa" href="/problems/navalosa/coconutecolo-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Coconutecolo, 6B. Navalosa" src="https://img.youtube.com/vi/SOA-oeZE4bs/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/coconutecolo-6b" class="table-row-name text-bold">Coconutecolo</a>
						</div>
								</td>
								<td>6B</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Con la minga, 6C. Navalosa" href="/problems/navalosa/con-la-minga-6c" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Con la minga, 6C. Navalosa" src="https://img.youtube.com/vi/dO45Kyxq7I0/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/con-la-minga-6c" class="table-row-name text-bold">Con la minga</a>
						</div>
								</td>
								<td>6C</td>
								<td>Las Pasaíllas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Conducción deportiva, 6A. Navalosa" href="/problems/navalosa/conduccion-deportiva-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Conducción deportiva, 6A. Navalosa" src="https://img.youtube.com/vi/Zi9jluf39do/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/conduccion-deportiva-6a" class="table-row-name text-bold">Conducción deportiva</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Cruce de coches, 6A. Navalosa" href="/problems/navalosa/cruce-de-coches-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Cruce de coches, 6A. Navalosa" src="https://img.youtube.com/vi/1pAKfuHKtfw/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/cruce-de-coches-6a" class="table-row-name text-bold">Cruce de coches</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="De Zumi para Quito, 6B+. Navalosa" href="/problems/navalosa/de-zumi-para-quito-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of De Zumi para Quito, 6B+. Navalosa" src="https://img.youtube.com/vi/l8K801e459I/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/de-zumi-para-quito-6b" class="table-row-name text-bold">De Zumi para Quito</a>
						</div>
								</td>
								<td>6B+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Diedrinos, 5. Navalosa" href="/problems/navalosa/diedrinos-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Diedrinos, 5. Navalosa" src="https://img.youtube.com/vi/WGKuSEgnNoU/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/diedrinos-5" class="table-row-name text-bold">Diedrinos</a>
						</div>
								</td>
								<td>5</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Diego el Amarillo, 6A+. Navalosa" href="/problems/navalosa/diego-el-amarillo-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Diego el Amarillo, 6A+. Navalosa" src="https://img.youtube.com/vi/CnoQRr_jJ_E/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/diego-el-amarillo-6a" class="table-row-name text-bold">Diego el Amarillo</a>
						</div>
								</td>
								<td>6A+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Dolce Vita, 6B. Navalosa" href="/problems/navalosa/dolce-vita-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Dolce Vita, 6B. Navalosa" src="https://img.youtube.com/vi/bAYQel4iD1s/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/dolce-vita-6b" class="table-row-name text-bold">Dolce Vita</a>
						</div>
								</td>
								<td>6B</td>
								<td>Navaleblue</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="El Clásico, 5+. Navalosa" href="/problems/navalosa/el-clasico-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El Clásico, 5+. Navalosa" src="https://img.youtube.com/vi/R5gEfFrSx04/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/el-clasico-5" class="table-row-name text-bold">El Clásico</a>
						</div>
								</td>
								<td>5+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="El niño cantor, 6A. Navalosa" href="/problems/navalosa/el-nino-cantor-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of El niño cantor, 6A. Navalosa" src="https://img.youtube.com/vi/zY4Cl9-aQjg/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/el-nino-cantor-6a" class="table-row-name text-bold">El niño cantor</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Encima la Piedra, 6A. Navalosa" href="/problems/navalosa/encima-la-piedra-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Encima la Piedra, 6A. Navalosa" src="https://img.youtube.com/vi/Bu9WyivRZCU/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/encima-la-piedra-6a" class="table-row-name text-bold">Encima la Piedra</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Esclavos, 6B. Navalosa" href="/problems/navalosa/esclavos-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Esclavos, 6B. Navalosa" src="https://img.youtube.com/vi/505QV1UpjEA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/esclavos-6b" class="table-row-name text-bold">Esclavos</a>
						</div>
								</td>
								<td>6B</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Esperando mi tren, 5. Navalosa" href="/problems/navalosa/esperando-mi-tren-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Esperando mi tren, 5. Navalosa" src="https://img.youtube.com/vi/Ww6uihSHy3c/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/esperando-mi-tren-5" class="table-row-name text-bold">Esperando mi tren</a>
						</div>
								</td>
								<td>5</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Filosofia de Barra, 5. Navalosa" href="/problems/navalosa/filosofia-de-barra-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Filosofia de Barra, 5. Navalosa" src="https://img.youtube.com/vi/d7w4aufH_6U/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/filosofia-de-barra-5" class="table-row-name text-bold">Filosofia de Barra</a>
						</div>
								</td>
								<td>5</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Frankenstein, 6B. Navalosa" href="/problems/navalosa/frankenstein-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Frankenstein, 6B. Navalosa" src="https://img.youtube.com/vi/NIzrCpz0Pdg/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/frankenstein-6b" class="table-row-name text-bold">Frankenstein</a>
						</div>
								</td>
								<td>6B</td>
								<td>Umbrías</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Ironía Mudial, 4. Navalosa" href="/problems/navalosa/ironia-mudial-4" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Ironía Mudial, 4. Navalosa" src="https://img.youtube.com/vi/mmDzBEjboio/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/ironia-mudial-4" class="table-row-name text-bold">Ironía Mudial</a>
						</div>
								</td>
								<td>4</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Jalvarismo, 6A+. Navalosa" href="/problems/navalosa/jalvarismo-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Jalvarismo, 6A+. Navalosa" src="https://img.youtube.com/vi/7IInfmub7W8/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/jalvarismo-6a" class="table-row-name text-bold">Jalvarismo</a>
						</div>
								</td>
								<td>6A+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="La Decadencia de Occidente, 6A. Navalosa" href="/problems/navalosa/la-decadencia-de-occidente-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Decadencia de Occidente, 6A. Navalosa" src="https://img.youtube.com/vi/56FkbcYDy-4/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/la-decadencia-de-occidente-6a" class="table-row-name text-bold">La Decadencia de Occidente</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="La Visión del Chino, 6A+. Navalosa" href="/problems/navalosa/la-vision-del-chino-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La Visión del Chino, 6A+. Navalosa" src="https://img.youtube.com/vi/NGRaRuluy4E/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/la-vision-del-chino-6a" class="table-row-name text-bold">La Visión del Chino</a>
						</div>
								</td>
								<td>6A+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="La zigarra, 6A. Navalosa" href="/problems/navalosa/la-zigarra-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of La zigarra, 6A. Navalosa" src="https://img.youtube.com/vi/0tF6HX6kU4Y/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/la-zigarra-6a" class="table-row-name text-bold">La zigarra</a>
						</div>
								</td>
								<td>6A</td>
								<td>Navaleblue</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Levitracción, 7A+. Navalosa" href="/problems/navalosa/levitraccion-7a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Levitracción, 7A+. Navalosa" src="https://img.youtube.com/vi/fDK2p6NiyQ8/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/levitraccion-7a" class="table-row-name text-bold">Levitracción</a>
						</div>
								</td>
								<td>7A+</td>
								<td>Navaleblue</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Lomo Vivo, 4. Navalosa" href="/problems/navalosa/lomo-vivo-4" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Lomo Vivo, 4. Navalosa" src="https://img.youtube.com/vi/FZMuRoVEcBE/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/lomo-vivo-4" class="table-row-name text-bold">Lomo Vivo</a>
						</div>
								</td>
								<td>4</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Los Hermanitos, 6A+. Navalosa" href="/problems/navalosa/los-hermanitos-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Los Hermanitos, 6A+. Navalosa" src="https://img.youtube.com/vi/MOgJO-9ZxWo/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/los-hermanitos-6a" class="table-row-name text-bold">Los Hermanitos</a>
						</div>
								</td>
								<td>6A+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Mamporreros, 5. Navalosa" href="/problems/navalosa/mamporreros-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Mamporreros, 5. Navalosa" src="https://img.youtube.com/vi/n4ZcSYoA6PY/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/mamporreros-5" class="table-row-name text-bold">Mamporreros</a>
						</div>
								</td>
								<td>5</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Obsesión gradual, 6A. Navalosa" href="/problems/navalosa/obsesion-gradual-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Obsesión gradual, 6A. Navalosa" src="https://img.youtube.com/vi/f30_DrzR_oI/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/obsesion-gradual-6a" class="table-row-name text-bold">Obsesión gradual</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Operación rebaño, 7B. Navalosa" href="/problems/navalosa/operacion-rebano-7b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Operación rebaño, 7B. Navalosa" src="https://img.youtube.com/vi/MEZLew2y78o/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/operacion-rebano-7b" class="table-row-name text-bold">Operación rebaño</a>
						</div>
								</td>
								<td>7B</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Pachamama, 7A+ (sit). Navalosa" href="/problems/navalosa/pachamama-7a-sit" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pachamama, 7A+ (sit). Navalosa" src="https://img.youtube.com/vi/jsZjK1HiO0o/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/pachamama-7a-sit" class="table-row-name text-bold">Pachamama</a>
						</div>
								</td>
								<td>7A+ (sit)</td>
								<td>Umbrías</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Pampita, 6B. Navalosa" href="/problems/navalosa/pampita-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pampita, 6B. Navalosa" src="https://img.youtube.com/vi/VDZQmkOpW0g/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/pampita-6b" class="table-row-name text-bold">Pampita</a>
						</div>
								</td>
								<td>6B</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Peripecias, 5+. Navalosa" href="/problems/navalosa/peripecias-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Peripecias, 5+. Navalosa" src="https://img.youtube.com/vi/UkLdw8T0u0s/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/peripecias-5" class="table-row-name text-bold">Peripecias</a>
						</div>
								</td>
								<td>5+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Pescaílla, 6A+. Navalosa" href="/problems/navalosa/pescailla-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pescaílla, 6A+. Navalosa" src="https://img.youtube.com/vi/-PkEOQlZGCA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/pescailla-6a" class="table-row-name text-bold">Pescaílla</a>
						</div>
								</td>
								<td>6A+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Pingrul, 5. Navalosa" href="/problems/navalosa/pingrul-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Pingrul, 5. Navalosa" src="https://img.youtube.com/vi/VNekIWIekYY/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/pingrul-5" class="table-row-name text-bold">Pingrul</a>
						</div>
								</td>
								<td>5</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Plakiviri, 6A (sit). Navalosa" href="/problems/navalosa/plakiviri-6a-sit" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Plakiviri, 6A (sit). Navalosa" src="https://img.youtube.com/vi/CTToHUONFjk/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/plakiviri-6a-sit" class="table-row-name text-bold">Plakiviri</a>
						</div>
								</td>
								<td>6A (sit)</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Por la Izqui, 6A. Navalosa" href="/problems/navalosa/por-la-izqui-6a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Por la Izqui, 6A. Navalosa" src="https://img.youtube.com/vi/eiy_uNzCNFA/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/por-la-izqui-6a" class="table-row-name text-bold">Por la Izqui</a>
						</div>
								</td>
								<td>6A</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Sinpa, 5. Navalosa" href="/problems/navalosa/sinpa-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Sinpa, 5. Navalosa" src="https://img.youtube.com/vi/mB_2JnbwmKQ/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/sinpa-5" class="table-row-name text-bold">Sinpa</a>
						</div>
								</td>
								<td>5</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Tabu, 4. Navalosa" href="/problems/navalosa/tabu-4" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tabu, 4. Navalosa" src="https://img.youtube.com/vi/x99kdW04Hxs/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/tabu-4" class="table-row-name text-bold">Tabu</a>
						</div>
								</td>
								<td>4</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Takels, 4. Navalosa" href="/problems/navalosa/takels-4" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Takels, 4. Navalosa" src="https://img.youtube.com/vi/KZf4dLrQx-k/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/takels-4" class="table-row-name text-bold">Takels</a>
						</div>
								</td>
								<td>4</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Tetas como Flanes, 5+. Navalosa" href="/problems/navalosa/tetas-como-flanes-5" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tetas como Flanes, 5+. Navalosa" src="https://img.youtube.com/vi/7K3ohez9UIg/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/tetas-como-flanes-5" class="table-row-name text-bold">Tetas como Flanes</a>
						</div>
								</td>
								<td>5+</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Trave de Kenny, 7A. Navalosa" href="/problems/navalosa/trave-de-kenny-7a" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Trave de Kenny, 7A. Navalosa" src="https://img.youtube.com/vi/4EhtU2xJpvI/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/trave-de-kenny-7a" class="table-row-name text-bold">Trave de Kenny</a>
						</div>
								</td>
								<td>7A</td>
								<td>Callejón</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Tullido, 6C. Navalosa" href="/problems/navalosa/tullido-6c" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Tullido, 6C. Navalosa" src="https://img.youtube.com/vi/xIX0zzEvUZ8/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/tullido-6c" class="table-row-name text-bold">Tullido</a>
						</div>
								</td>
								<td>6C</td>
								<td>Campanitas</td>
							</tr>
						
							<tr class="problem-row">
								<td>
						<div class="problem-thumbnail-cell">
						<a aria-hidden="false" aria-label="Yoli la Tacones, 6B+. Navalosa" href="/problems/navalosa/yoli-la-tacones-6b" tabindex="0" target="">
							<div class="video-thumbnail-container">
							<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail of Yoli la Tacones, 6B+. Navalosa" src="https://img.youtube.com/vi/kkzT-Lsu4qw/mqdefault.jpg">
							</div>
						</a>
						<a href="/problems/navalosa/yoli-la-tacones-6b" class="table-row-name text-bold">Yoli la Tacones</a>
						</div>
								</td>
								<td>6B+</td>
								<td>Campanitas</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							]
						});
						
						$("#search-problem").trigger("keyup");
							
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>