<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Your Bouldering Beta Library" />
    <!-- Hotjar Tracking Code for www.madboulder.org -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2249945,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-35431742-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-35431742-2");
    </script>
    <link rel="stylesheet" href="static/css/layout.css" />
    <title> Salvanebleau </title>
    
<meta
  name="viewport"
  content="width=device-width; initial-scale=1.0; text/html; charset=utf-8"
/>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
<!-- Development -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />

<link rel="apple-touch-icon" sizes="57x57" href="https://madboulder.org/static/images/logo/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://madboulder.org/static/images/logo/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://madboulder.org/static/images/logo/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="https://madboulder.org/static/images/logo/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="https://madboulder.org/static/images/logo/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://madboulder.org/static/images/logo/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="https://madboulder.org/static/images/logo/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://madboulder.org/static/images/logo/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Climbing Videos | Beta Library | MadBoulder"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://madboulder.org/static/images/logo/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://madboulder.org/static/images/logo/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://madboulder.org/static/images/logo/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://madboulder.org/static/images/logo/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://madboulder.org/static/images/logo/mstile-310x310.png" />
<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>


  </head>
  <body>
    <div id="holder">
      <div id="body">
        <!-- main menu with links to HOME, ZONES and MAP-->
        <div class="homeTopnav sticky" id="myTopnav">
          
          <a id="logo" href="/" style="padding: 7px 16px;">
            <img
              title="Climbing Videos | Beta Library | MadBoulder"
              src="static/images/logo-menu.png"
              alt="Climbing Videos | Beta Library | MadBoulder"
              style="width: 40px; height: 40px; padding: 0px 0px;"
            />
          </a>
          <!-- <a href="/">{{ _("HOME") }}</a> -->
          <a href="/all">{{ _("MAP") }}</a>
          <a href="/zones">{{ _("ZONES") }}</a>
          <a href="/latest_videos">{{ _("LATEST VIDEOS") }}</a>
          <a href="/upload">{{ _("UPLOAD") }}</a>
          <a href="/about_us">{{ _("ABOUT US") }}</a>
          <a href="https://madboulder.creator-spring.com/" target="_blank"
            >{{ _("STORE") }}</a
          >
          
          <a
            href="javascript:void(0);"
            style="font-size: 17px;"
            class="icon"
            onclick="loadMenu()"
            >&#9776;</a
          >
        </div>
        <script>
          function loadMenu() {
            var x = document.getElementById("myTopnav");
            if (!x.classList.contains("responsive")) {
              x.className += " responsive";
            } else {
              if (x.classList.contains("sticky")) {
                x.className = "homeTopnav sticky";
              } else {
                x.className = "homeTopnav";
              }
            }
          }
        </script>
        <br />
        <br />
        <br />
        <!-- <div class="container" id="mainContainer"></div> -->
        <div class="container" id="pageContent">
          <br />
          <h2 style="text-align: center;">
             Salvanebleau 
          </h2>
          <br />
          

<div class="container" style="margin-bottom: -20px;">
  <br />
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

          
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="41.741666649611474" />
  <input type="hidden" id="lng" name="lng_val" value="1.743307113647461" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Salvanebleau
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center;"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex col-8 flex-column justify-content-center">
        <div id="big" class="row d-flex justify-content-center weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Salvanebleau
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto row d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 
          <br />
          <p>
<div class="container">
  
  <h4>{{ _("Guides") }}</h4>
  
</div>
<br />
<div class="container">
  
  <ul>
    
    <li>
      <a
        href="https://27crags.com/crags/sant-joan"
        target="_blank"
        onclick="gtag('event', 'guide_click', {
        'event_category': 'Salvanebleau',
        'event_label': 'https://27crags.com/crags/sant-joan'
      });
      "
        >27 Crags (Guide)</a
      >
    </li>
    
    <li>
      <a
        href="https://www.instagram.com/salvanebleau/"
        target="_blank"
        onclick="gtag('event', 'guide_click', {
        'event_category': 'Salvanebleau',
        'event_label': 'https://www.instagram.com/salvanebleau/'
      });
      "
        >Official Instagram</a
      >
    </li>
    
    <li>
      <a
        href="http://boulderinbcn.blogspot.com/2013/10/blocs-sant-joan-de-vilatorrada-sectors.html"
        target="_blank"
        onclick="gtag('event', 'guide_click', {
        'event_category': 'Salvanebleau',
        'event_label': 'http://boulderinbcn.blogspot.com/2013/10/blocs-sant-joan-de-vilatorrada-sectors.html'
      });
      "
        >boulderinbcn (Blog-Guide)</a
      >
    </li>
    
    <li>
      <a
        href="http://salvanebleau.blogspot.com/"
        target="_blank"
        onclick="gtag('event', 'guide_click', {
        'event_category': 'Salvanebleau',
        'event_label': 'http://salvanebleau.blogspot.com/'
      });
      "
        >salvanebleau (Blog)</a
      >
    </li>
    
  </ul>
</div>
</p>
          <br />
          
<!-- Zone Map -->
<div class="container">
  
  <h4>{{ _("Map") }}</h4>
  
</div>
<br />
<div class="row">
  <div class="col-sm-2 col-md-3"></div>
  <div class="col-sm-8 col-md-6">
    <div style="position: relative; padding-top: 56%;">
      <iframe
        src="maps/salvanebleau"
        frameborder="0"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>
 
<!--Latest videos-->
<div class="container">
  <br />
  <br />
  
  <h4>{{ _("Playlists") }}</h4>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOIxbsMUrKYDfF9X1WkcVqk"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Clàssic - Submarí</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMLlKi-e6y844XFjwCQL3To"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Clàssic - Dipòsit</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNIGpHLOM3tBEWyIWBL7ByU"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Clàssic - Camí</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMHtjo3d-Lu5I_aDpc3bTgw"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Clàssic - Tallafocs</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOJxTirgGFXQF809ysl39iZ"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Clàssic - Dalt</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMHNnSnIre3Ifr8Y-N86gK4"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector de la Font</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPXy2qgKjVBpS6PqM1fIC0c"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Mallencosa</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMnOApclrRGxj1mk0MBnQel"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Cooperativa</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNFnGN37Ogf84Yh9ijC-xyK"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Mafrica</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPgYWrtuK92m9Z6g-CbinXl"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Mirador</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnP5TpbqcfS2fFqcimtt8DIg"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Les casetes</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMNMVLt1KburstEnLXsmC15"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sector Torres de Fals</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMUuoLsUWsQyuYmElfPCNKW"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

<!--Problem List-->
<div class="container">
  <br />
  <br />
  
  <h4>{{ _("Problem list") }}</h4>
  
  <br />
  <ul>
    
    <li>
      <a href="salvanebleau/problem/Accio_de_compressio">Acció de compressió</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Akelarre">Akelarre</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Albaricoque">Albaricoque</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Alpinista_empotrador">Alpinista empotrador</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Aresta_Sinistre">Aresta Sinistre</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Arista_aristoteles">Arista aristóteles</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Ave_Felix">Ave Félix</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Baldrich">Baldrich</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Barraca_de_Dalt_Extension">Barraca de Dalt Extension</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Buke_Bus">Buke Bus</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Cantonera">Cantonera</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Cap_del_Drac">Cap del Drac</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Colacao">Colacao</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/De_les_bicis">De les bicis</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Del_Dani">Del Dani</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Dels_Bidits">Dels Bidits</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_dels_Ulls">El  dels Ulls</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_Cocodril">El Cocodril</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_Dorado">El Dorado</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_Fugitiu">El Fugitiu</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_Fugitiu_sit">El Fugitiu sit</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_Projectil">El Projectil</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_Rallador">El Rallador</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_bautizado">El bautizado</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_dofi">El dofí</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_gat_vell">El gat vell</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_ojo_de_Panoramix">El ojo de Panoramix</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_submari_los_mundos_de_Iker">El submarí (los mundos de Iker)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/El_susurro">El susurro</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Els_Ulls_directe">Els Ulls directe</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Els_petits_canvis_son_poderosos">Els petits canvis son poderosos</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Els_tres_merlets">Els tres merlets</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Escurco_Negre">Escurçó Negre</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Esperit_de_Vi">Esperit de Vi</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Espero_Alsina">Esperó Alsina</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Espero_Willow">Esperó Willow</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Fakir">Fakir</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Fisurilla_curiosilla">Fisurilla curiosilla</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Guantanamera">Guantanamera</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Hashtag">Hashtag</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Incredul">Incredul</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Jumper">Jumper</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/LOpositor">L'Opositor</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/LOuresta">L'Ouresta</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/LUllal">L'Ullal</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Lensigalada">L'ensigalada</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Incognita">La Incógnita</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Llengua">La Llengua</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Llengua">La Llengua</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Lluna">La Lluna</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Ona_i_la_Bora">La Ona i la Bora</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Perla_Negra">La Perla Negra</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Sardana">La Sardana</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Sipia_sense_mans._6a">La Sipia (sense mans). 6a+</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Sipieta_sense_mans">La Sipieta (sense mans)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_Teulada">La Teulada</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/La_penya_de_lespardenya">La penya de l'espardenya</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Lance_de_la_Barraca">Lance de la Barraca</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Llamantol_dor">Llamàntol d'or</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Mantel_del_Rallador">Mantel del Rallador</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Miami_Pich">Miami Pich</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Mortadelo_y_Guillemon">Mortadelo y Guillemón</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Nebula">Nebula</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Ninja">Ninja</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Noa">Noa</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Ocarina_expres">Ocarina exprés</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Oraculo">Oraculo</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Pinzona">Pinzona</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Pit-Roig">Pit-Roig</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Politicament_Correctes">Políticament Correctes</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Politicament_corruptes">Políticament corruptes</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_Les_Bessones">Problem  (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_Totxo_Artes">Problem  (Totxo Artés)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Bicis">Problem 1 (Bicis)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Bloc_del_Rovello">Problem 1 (Bloc del Rovelló)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Bloc_sota_Bloc_del_Mestre">Problem 1 (Bloc sota Bloc del Mestre)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Boulder_3_Tallafocs">Problem 1 (Boulder 3, Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Casetes">Problem 1 (Casetes)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_El_Piano">Problem 1 (El Piano)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_El_terrar">Problem 1 (El terrar)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Equilibrista">Problem 1 (Equilibrista)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_La_boina">Problem 1 (La boina)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Paper_de_Fumar">Problem 1 (Paper de Fumar)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Portaavions">Problem 1 (Portaavions)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Silvestre">Problem 1 (Silvestre)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_1_Extension_El_Piano">Problem 1 Extension (El Piano)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_10_La_Trinquela">Problem 10 (La Trinquela)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_11_Les_Bessones">Problem 11 (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_15_Les_Bessones">Problem 15 (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_18_Les_Bessones">Problem 18 (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Barraca_de_baix">Problem 2 (Barraca de baix)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Bicis">Problem 2 (Bicis)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Boulder_2_Classic_-_Tallafocs">Problem 2 (Boulder 2, Clàssic - Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Casetes">Problem 2 (Casetes)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_El_Missil">Problem 2 (El Missil)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_El_Piano">Problem 2 (El Piano)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_La_Baldufa">Problem 2 (La Baldufa)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_La_Pasterada">Problem 2 (La Pasterada)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Portaavions">Problem 2 (Portaavions)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Silvestre">Problem 2 (Silvestre)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Tunel_de_la_por">Problem 2 (Túnel de la por)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_2_Ullal">Problem 2 (Ullal)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_Boulder_2_Classic_-_Tallafocs">Problem 3 (Boulder 2, Clàssic - Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_Casetes">Problem 3 (Casetes)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_El_Piano">Problem 3 (El Piano)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_El_Rallador">Problem 3 (El Rallador)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_La_Baldufa">Problem 3 (La Baldufa)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_Portaavions">Problem 3 (Portaavions)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_3_Silvestre">Problem 3 (Silvestre)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_4_El_Piano">Problem 4 (El Piano)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_4_Equilibrista">Problem 4 (Equilibrista)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_4_Paper_de_Fumar">Problem 4 (Paper de Fumar)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_4_Paper_de_Fumar">Problem 4 (Paper de Fumar)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_4_Portaavions">Problem 4 (Portaavions)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_5_Boulder_3_Tallafocs">Problem 5 (Boulder 3, Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_5_Cementiri">Problem 5 (Cementiri)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_5_Equilibrista">Problem 5 (Equilibrista)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_5_La_Ruleta">Problem 5 (La Ruleta)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_6_Les_Bessones">Problem 6 (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_6_Totxo_Artes">Problem 6 (Totxo Artés)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_7_Boulder_2_Classic_-_Tallafocs">Problem 7 (Boulder 2, Clàssic - Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_7_Boulder_3_Tallafocs">Problem 7 (Boulder 3, Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_7_Les_Bessones">Problem 7 (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_7_Directe_Boulder_2_Classic_-_Tallafocs">Problem 7 Directe (Boulder 2, Clàssic - Tallafocs)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_8_Les_Bessones">Problem 8 (Les Bessones)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_8_Totxo_Rossinyol">Problem 8 (Totxo Rossinyol)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problem_9_La_Trinquela">Problem 9 (La Trinquela)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Problema_4_LInestable">Problema 4 (L'Inestable)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Sacabao_el_pan">Sacabao el pan</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Semilla_de_la_Duda">Semilla de la Duda</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Sensei">Sensei</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Somiatruites">Somiatruites</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Suprunaman">Suprunaman</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Swing_Start">Swing Start</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Talonman">Talonman</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Talon_de_Aquiles">Talón de Aquiles</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Techo_Visa">Techo Visa</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Termometre">Termòmetre</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Test">Test</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Trave_de_lequilibrista">Trave de l'equilibrista</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Trave_de_la_Barraca">Trave de la Barraca</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Travesia_classica">Travesia clàssica</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Travessia_invertida">Travessia invertida</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Unknown_Cooperativa_de_dalt">Unknown (Cooperativa de dalt)</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Va_de_Lado">Va de Lado</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Volta_a_la_Visera">Volta a la Visera</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Yang_extension">Yang extension</a>
    </li>
    
    <li>
      <a href="salvanebleau/problem/Zipi_Zape">Zipi Zape</a>
    </li>
    
  </ul>

</div>

        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <!-- Footer contains links to social networks and language selector-->
        <footer>
          <br />
          <div style="text-align: center;">
            <div style="display: inline-block;">
              <ul id="lang-selector" style="padding: 0; list-style: none;">
                
                <li>
                  <a
                    href="https://www.instagram.com/madboulder/"
                    target="_blank"
                    ><i style="color: #555;" class="fab fa-instagram fa-lg"></i
                  ></a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCX9ok0rHnvnENLSK7jdnXxA"
                    target="_blank"
                    ><i style="color: #555;" class="fab fa-youtube fa-lg"></i
                  ></a>
                </li>
                <li>&nbsp; &nbsp;</li>
                <li>
                  <a
                    style="color: #555;"
                    href="/language/en?origin={{current_url}}"
                    title="English"
                  >
                    {{ _("EN") }}
                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a
                    style="color: #555;"
                    href="/language/es?origin={{current_url}}"
                    title="Spanish"
                  >
                    {{ _("ES") }}
                  </a>
                </li>
                <li>&nbsp;</li>
                <li>
                  <a
                    style="color: #555;"
                    href="/language/ca?origin={{current_url}}"
                    title="Catalan"
                  >
                    {{ _("CAT") }}
                  </a>
                </li>
                
              </ul>
            </div>
          </div>
          <div style="text-align: center;">
            <div style="display: inline-block;">
              
                <a 
                    style="color: #555;"
                    href="/disclosure"
                    title="Afiliate Disclosure"
                >
                    {{ _("Affiliate Disclosure") }}
                </a>
              
            </div>
          </div>
          <br />
        </footer>
      </div>
    </div>
  </body>
</html>