<!DOCTYPE html>
<html>
  <head>
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    <title> Sintra  boulder | MadBoulder</title>
	<meta name="description" content="Sintra bouldering information, boulder problems, sectors, weather forecast, boulder guidebooks, boulder pdf, youtube playlist, boulder beta videos | MadBoulder">
    

<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script defer src="{{url_for('static', filename='js/openWeather.js')}}"></script>
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>

<link rel="canonical" href="https://www.madboulder.org/sintra">

	<link href="/static/tabdrop/css/tabdrop.css" rel="stylesheet" >
	<script src="/static/tabdrop/js/bootstrap-tabdrop.js" ></script>
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
    <main>
		<div class="zone-header">
          <h1 class="zone-header-title text-bold">
             Sintra 
          </h1>
		  <nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link text-bold data-bs-default-tab" id="nav-problems-tab" href="#problems" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false">
						<i class="fas fa-list"></i>
						 {{ _("Problems") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-guides-tab" href="#guides" data-bs-toggle="tab" data-bs-target="#guides" type="button" role="tab" aria-controls="guides" aria-selected="true">
						<i class="fas fa-book"></i>
						 {{ _("Guides") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-sectors-tab" href="#sectors" data-bs-toggle="tab" data-bs-target="#sectors" type="button" role="tab" aria-controls="sectors" aria-selected="false">
						<i class="fas fa-list"></i>
						 {{ _("Sectors") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-playlists-tab" href="#playlists" data-bs-toggle="tab" data-bs-target="#playlists" type="button" role="tab" aria-controls="playlists" aria-selected="false">
						<i class="fas fa-video-camera"></i>
						 {{ _("Playlists") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-weather-tab" href="#weather" data-bs-toggle="tab" data-bs-target="#weather" type="button" role="tab" aria-controls="weather" aria-selected="true">
						<i class="fas fa-sun"></i>
						 {{ _("Weather") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-map-tab" href="#map" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">
						<i class="fas fa-map"></i>
						 {{ _("Map") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-stats-tab" href="#stats" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true">
						<i class="fa fa-chart-column"></i>
						 {{ _("Stats") }} 
					</a>
				</li>
			  </div>
			  <script>
				$(document).ready(function () {
					checkHash();
					$('.nav-tabs').tabdrop();
					
					window.addEventListener('hashchange', function() {
						checkHash();
					});
					
					function checkHash() {
						var hash = window.location.hash;
						if (hash) {
							$('a[data-bs-toggle="tab"][href="' + hash + '"]').tab('show');
						} else {
							$('a[data-bs-toggle="tab"][data-bs-default-tab]').tab('show');
						}
					}
				});

				// Update the URL hash fragment when a tab is shown
				$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
					$('html, body').animate({ scrollTop: 0 }, 'fast');
					var hash = $(e.target).attr('href');
					window.location.hash = hash;
				});
			</script>
		  </nav>
        </div>
        
        <div class="container" id="pageContent">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats">
					
<div class="container" style="padding-top: 1rem;">
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather">
					
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="38.777072" />
  <input type="hidden" id="lng" name="lng_val" value="-9.427819" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Sintra
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
            <div class="mx-auto text-capitalize weather-description text-center"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex align-items-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="d-flex align-items-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="d-flex align-items-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="d-flex align-items-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 d-flex align-content-center flex-wrap">
        <div id="big" class="row weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Sintra
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ current_lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="guides" role="tabpanel" aria-labelledby="-guides">
					

	<div class="pl-5 mb-3" style="display: flex; flex-wrap: wrap; justify-content: center;">
		
			<div class="mr-2" style="margin-right: 1rem;">
				<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=madboulder00-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=9893317762&linkId=e2f8dee12dbaffb70e35d08645722838">
				</iframe>
			</div>
		
	</div>

<div class="list-group">
	
		<a id="guide_link"  href="https://www.instagram.com/bouldersintra/" class="list-group-item list-group-item-action list-group-item-light text-bold">
			<i class="fas fa-book"></i>
			Boulder Sintra Official Instagram (@bouldersintra)
		</a>
	
		<a id="guide_link"  href="https://27crags.com/crags/sintra" class="list-group-item list-group-item-action list-group-item-light text-bold">
			<i class="fas fa-book"></i>
			27 Crags (online)
		</a>
	
		<a id="guide_link"  href="https://www.libreriadesnivel.com/libros/sintra-bouldering/9789893317761/" class="list-group-item list-group-item-action list-group-item-light text-bold">
			<i class="fas fa-book"></i>
			Sintra Bouldering (Guidebook)
		</a>
	
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map">
					
<!-- Zone Map -->
<div class="container">
	<div class="row">
	  <div class="col-sm-2 col-md-3"></div>
	  <div class="col-sm-8 col-md-6">
		<div style="position: relative; padding-top: 56%;">
		  <iframe
			src="maps/sintra"
			frameborder="0"
			allowfullscreen
			style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
		  >
		  </iframe>
		</div>
	  </div>
	  <div class="col-sm-2 col-md-3"></div>
	</div>
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade show active" id="problems" role="tabpanel" aria-labelledby="problems">
				</div>
				<div class="tab-pane fade" id="sectors" role="tabpanel" aria-labelledby="sectors">
					
<!--Sector List-->
<div class="container">
	<input id="search-sector" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
	<table id="sectors-table" class="table table-hover">
		<thead>
			<tr>
				
				<th scope="col" class="sorting">{{ _("Name") }}</th>
				<th scope="col" class="sorting">{{ _("Problems") }}</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/albarrasintra-meca" class="table-row-name text-bold">Albarrasintra - Meca</a>
					</td>
					<td class="text-center">10</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/albarrasintra-meca-surrounds" class="table-row-name text-bold">Albarrasintra - Meca Surrounds</a>
					</td>
					<td class="text-center">5</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/albarrasintra-mito" class="table-row-name text-bold">Albarrasintra - Mito</a>
					</td>
					<td class="text-center">3</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/albarrasintra-pedra-branca" class="table-row-name text-bold">Albarrasintra - Pedra Branca</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/capuchos" class="table-row-name text-bold">Capuchos</a>
					</td>
					<td class="text-center">13</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/malveira-sata-sata" class="table-row-name text-bold">Malveira -  Satã Satã</a>
					</td>
					<td class="text-center">3</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/malveira-campo-base" class="table-row-name text-bold">Malveira - Campo Base</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/malveira-dinossauros" class="table-row-name text-bold">Malveira - Dinossauros</a>
					</td>
					<td class="text-center">6</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/malveira-monte-da-cruz" class="table-row-name text-bold">Malveira - Monte da Cruz</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/malveira-obelix" class="table-row-name text-bold">Malveira - Obélix</a>
					</td>
					<td class="text-center">5</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/malveira-vivendas" class="table-row-name text-bold">Malveira - Vivendas</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/pedra-branca" class="table-row-name text-bold">Pedra Branca</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/peninha-kalash" class="table-row-name text-bold">Peninha - Kalash</a>
					</td>
					<td class="text-center">7</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/peninha-nova" class="table-row-name text-bold">Peninha - Nova</a>
					</td>
					<td class="text-center">6</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/praia-do-cavalo" class="table-row-name text-bold">Praia do Cavalo</a>
					</td>
					<td class="text-center">3</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/sao-pedro-s-pedro" class="table-row-name text-bold">São Pedro - S. Pedro</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/tapada" class="table-row-name text-bold">Tapada</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/tapada-prison-fortaleza-terraco" class="table-row-name text-bold">Tapada - Prison, Fortaleza & Terraço</a>
					</td>
					<td class="text-center">4</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/tapada-eden-canal-arca" class="table-row-name text-bold">Tapada - Éden, Canal & Arca</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/unknown" class="table-row-name text-bold">Unknown</a>
					</td>
					<td class="text-center">7</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/sintra/vale-das-acacias-pico" class="table-row-name text-bold">Vale das Acácias - Pico</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
		</tbody>
	</table>
	<script>
		$(document).ready(function () {
			function filter_sectors_by_query(search_query) {
				var $sectors = $(".sector-row");
				if (search_query === "")
					$sectors.show();
				else {
					$sectors.hide();
					$sectors.each(function() {
						var rowName = $(this).find(".table-row-name").text().toLowerCase();
						if (rowName.indexOf(search_query) !== -1) {
							$(this).show();
						}
					});
				}
			};
			
			$('#sectors-table').DataTable({
				paging: false,
				dom: 'tr'
			});
			$("#search-sector").trigger("keyup");
				
			$("#search-sector").keyup(function() {
				var search_query = $.trim($(this).val());
				filter_sectors_by_query(search_query)
			});
		});
	</script>
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists">
					
<!--Playlists-->
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOan2W4OE-QoiGLQVFBAsH2"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Malveira - Vivendas</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMr6J4yd_zJfpHJGTkvUTbQ"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>São Pedro - S. Pedro</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNSRFvKbHMALgVvY1_uPcri"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Albarrasintra - Mito</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMOaIOf3ussiSZIur4NEZDv"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Albarrasintra - Pedra Branca</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNcPSj-RY2yvHYMHexDK9GA"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Albarrasintra - Meca Surrounds</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOsVgTz_EHrzpLOQk30p7tS"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Monte da Cruz</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMxNYEyMYpe5X6wkjemQvow"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Satã Satã</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM4AuIJOQUanOiVdf6k5wC3"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Vale das Acácias - Pico</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNMfT9StfmT8AuvClw7k3L4"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Praia do Cavalo</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPJw1I5tuUraYP6BaTqaDi0"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Tapada - Éden, Canal & Arca</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMlRHJ0P-u_S-yJzan1e0vy"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Albarrasintra - Meca</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO6JywSk-q1q_A_-KZd3lA8"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Malveira - Campo Base</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOUpKUSNml5gCztYvZvZnT4"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Malveira - Obélix</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNvFNP1tc8jL0cPhSBg91Y3"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Malveira - Dinossauros</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPoqZBpWAf9cCqm05LJap0W"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Capuchos</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNSFpsMbYoPRwZDVBMQu24T"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Peninha - Nova</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOzV2gjmI0guwEQ6WV5P63F"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Peninha - Kalash</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN88IRpJEdMbSitykFJK-cK"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Pedra Branca</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO8hC0pHxI4J3hPVa_A0abc"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Capuchos</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMx5UMDz72iHZVflYf0iySm"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Tapada - Prison, Fortaleza & Terraço</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNZR3bwR5KQthkyq1ezdV7G"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
			</div>
			
<!--Problem List-->
<div class="container">
	<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
	<table id="problems-table" class="table table-hover">
		<thead>
			<tr>
				
				<th scope="col" class="sorting">{{ _("Name") }}</th>
				<th scope="col" class="sorting">{{ _("Grade") }}</th>
				<th scope="col" class="sorting">{{ _("Sector") }}</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/666-o-diabo-vive" class="table-row-name text-bold">666 o Diabo Vive</a>
					</td>
					<td>6c+</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/aquecimento-forcado" class="table-row-name text-bold">Aquecimento Forçado</a>
					</td>
					<td>6a</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/areia-preta" class="table-row-name text-bold">Areia Preta</a>
					</td>
					<td>6b</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/arredondado" class="table-row-name text-bold">Arredondado</a>
					</td>
					<td>6a</td>
					<td>Albarrasintra - Meca Surrounds</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/baby-boom" class="table-row-name text-bold">Baby Boom</a>
					</td>
					<td>6a+</td>
					<td>Malveira - Obélix</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/bafo-do-dragao" class="table-row-name text-bold">Bafo do Dragão</a>
					</td>
					<td>7B</td>
					<td>Tapada - Éden, Canal & Arca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/banana-milkshake" class="table-row-name text-bold">Banana Milkshake</a>
					</td>
					<td>6c</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/beta-filosofal" class="table-row-name text-bold">Beta Filosofal</a>
					</td>
					<td>8b</td>
					<td>Tapada - Prison, Fortaleza & Terraço</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/bife-na-pedra" class="table-row-name text-bold">Bife na Pedra</a>
					</td>
					<td>7b</td>
					<td>Malveira - Dinossauros</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/bom-dia-alegria" class="table-row-name text-bold">Bom dia Alegria</a>
					</td>
					<td>6a+</td>
					<td>Albarrasintra - Meca Surrounds</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/boomerang" class="table-row-name text-bold">Boomerang</a>
					</td>
					<td>7b</td>
					<td>Peninha - Nova</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/bope" class="table-row-name text-bold">Bope</a>
					</td>
					<td>7c</td>
					<td>Tapada - Prison, Fortaleza & Terraço</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/bucha-e-estica" class="table-row-name text-bold">Bucha e Estica</a>
					</td>
					<td>6a+</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/buenos-aires" class="table-row-name text-bold">Buenos Aires</a>
					</td>
					<td>8a</td>
					<td>Praia do Cavalo</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/cavalo-consome" class="table-row-name text-bold">Cavalo Consome</a>
					</td>
					<td>7c+</td>
					<td>Praia do Cavalo</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/chronostasis" class="table-row-name text-bold">Chronostasis </a>
					</td>
					<td>8b</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/contra-peso" class="table-row-name text-bold">Contra Peso</a>
					</td>
					<td>6b</td>
					<td>Malveira - Dinossauros</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/contrafeito" class="table-row-name text-bold">Contrafeito</a>
					</td>
					<td>5</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/corta-unhas" class="table-row-name text-bold">Corta Unhas</a>
					</td>
					<td>6a+</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/cratera" class="table-row-name text-bold">Cratera</a>
					</td>
					<td>6c+</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/crimptonite" class="table-row-name text-bold">Crimptonite</a>
					</td>
					<td>7c</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/cu-pesado" class="table-row-name text-bold">Cu Pesado</a>
					</td>
					<td>6a</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/dinossauros" class="table-row-name text-bold">Dinossauros</a>
					</td>
					<td>7c+</td>
					<td>Malveira - Dinossauros</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/esforco-transverso" class="table-row-name text-bold">Esforço Transverso</a>
					</td>
					<td>6c+</td>
					<td>Malveira - Obélix</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/espanholada" class="table-row-name text-bold">Espanholada</a>
					</td>
					<td>7a+</td>
					<td>Peninha - Nova</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/esperanto" class="table-row-name text-bold">Esperanto</a>
					</td>
					<td>7a+</td>
					<td>Malveira - Vivendas</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/fauto" class="table-row-name text-bold">Fauto</a>
					</td>
					<td>5+</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/forca-de-artrite" class="table-row-name text-bold">Forca de Artrite</a>
					</td>
					<td>7a+</td>
					<td>Malveira - Campo Base</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/galeao" class="table-row-name text-bold">Galeão</a>
					</td>
					<td>7b</td>
					<td>Vale das Acácias - Pico</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/graciosa" class="table-row-name text-bold">Graciosa</a>
					</td>
					<td>6B</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/gripless" class="table-row-name text-bold">Gripless</a>
					</td>
					<td>7c (low)</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/high-tone" class="table-row-name text-bold">High Tone</a>
					</td>
					<td>6c</td>
					<td>São Pedro - S. Pedro</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/ideafix" class="table-row-name text-bold">Ideafix</a>
					</td>
					<td>7b</td>
					<td>Malveira - Obélix</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/indomavel" class="table-row-name text-bold">Indomavel</a>
					</td>
					<td>7C+</td>
					<td>Malveira - Campo Base</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/joia" class="table-row-name text-bold">Jóia</a>
					</td>
					<td>8a</td>
					<td>Pedra Branca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/k-o-h-d" class="table-row-name text-bold">K.O.H.D</a>
					</td>
					<td>8a+</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/kalashnikov" class="table-row-name text-bold">Kalashnikov</a>
					</td>
					<td>7c</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/karma-da-serra" class="table-row-name text-bold">Karma da Serra</a>
					</td>
					<td>7c</td>
					<td>Peninha - Nova</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/labius-cambius" class="table-row-name text-bold">Labius Cambius</a>
					</td>
					<td>6b+</td>
					<td>Albarrasintra - Meca Surrounds</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/lapide" class="table-row-name text-bold">Lapide</a>
					</td>
					<td>7b+/7c</td>
					<td>Albarrasintra - Pedra Branca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/linha-de-corte" class="table-row-name text-bold">Linha de Corte</a>
					</td>
					<td>6a</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/lingua" class="table-row-name text-bold">Língua</a>
					</td>
					<td>6a</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/maga" class="table-row-name text-bold">Maga</a>
					</td>
					<td>6b</td>
					<td>Malveira -  Satã Satã</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/mano-direita" class="table-row-name text-bold">Mano Direita</a>
					</td>
					<td>6b+ (sit)</td>
					<td>Malveira -  Satã Satã</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/massa-extensiva" class="table-row-name text-bold">Massa Extensiva</a>
					</td>
					<td>7c+</td>
					<td>Peninha - Nova</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/mega-grip" class="table-row-name text-bold">Mega-Grip</a>
					</td>
					<td>6c+</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/menirzinho" class="table-row-name text-bold">Menirzinho</a>
					</td>
					<td>5</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/mito" class="table-row-name text-bold">Mito</a>
					</td>
					<td>7a+</td>
					<td>Albarrasintra - Mito</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/mito-full-sit" class="table-row-name text-bold">Mito full sit</a>
					</td>
					<td>8b+</td>
					<td>Albarrasintra - Mito</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/mouse-traverse" class="table-row-name text-bold">Mouse Traverse</a>
					</td>
					<td>5</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/nada-se-parte-tudo-se-transforma" class="table-row-name text-bold">Nada se parte, tudo se transforma</a>
					</td>
					<td>6a+</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/ninho-de-cucos" class="table-row-name text-bold">Ninho de Cucos</a>
					</td>
					<td>6b+</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/orca" class="table-row-name text-bold">Orca</a>
					</td>
					<td>6c</td>
					<td>Albarrasintra - Meca Surrounds</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/ovo" class="table-row-name text-bold">Ovo</a>
					</td>
					<td>6a</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/ovo-rachado" class="table-row-name text-bold">Ovo Rachado</a>
					</td>
					<td>5+</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/passeio-na-crista" class="table-row-name text-bold">Passeio na Crista</a>
					</td>
					<td>5</td>
					<td>Malveira -  Satã Satã</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/pena-perpetua" class="table-row-name text-bold">Pena perpetua</a>
					</td>
					<td>8B (sit)</td>
					<td>Tapada - Prison, Fortaleza & Terraço</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/pequenino-voador" class="table-row-name text-bold">Pequenino Voador</a>
					</td>
					<td>7b+</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/pica-pau" class="table-row-name text-bold">Pica Pau</a>
					</td>
					<td>7b+/7c</td>
					<td>Peninha - Nova</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/prison-break" class="table-row-name text-bold">Prison Break</a>
					</td>
					<td>7C+</td>
					<td>Tapada - Prison, Fortaleza & Terraço</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/problem-1-boulder-o-malveira-obelix" class="table-row-name text-bold">Problem 1 (Boulder O, Malveira - Obélix)</a>
					</td>
					<td>5</td>
					<td>Malveira - Obélix</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/problem-4-mega-grip" class="table-row-name text-bold">Problem 4 (Mega-Grip)</a>
					</td>
					<td>5</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/problem-5-boulder-c-albarrasintra-meca" class="table-row-name text-bold">Problem 5 (Boulder C, Albarrasintra - Meca)</a>
					</td>
					<td>6a</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/quinto-mais-facil" class="table-row-name text-bold">Quinto mais fácil</a>
					</td>
					<td>5+</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/salsa-latina" class="table-row-name text-bold">Salsa Latina</a>
					</td>
					<td>6b (Right Start)</td>
					<td>Malveira - Dinossauros</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/salsa-latina" class="table-row-name text-bold">Salsa Latina</a>
					</td>
					<td>6a</td>
					<td>Malveira - Dinossauros</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/solaris" class="table-row-name text-bold">Solaris</a>
					</td>
					<td>7c+</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/songamonga" class="table-row-name text-bold">Songamonga</a>
					</td>
					<td>6c</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/strawberry-juice" class="table-row-name text-bold">Strawberry Juice</a>
					</td>
					<td>5</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/supahiro" class="table-row-name text-bold">Supahiro</a>
					</td>
					<td>8a</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/so-curtir" class="table-row-name text-bold">Só Curtir</a>
					</td>
					<td>6a+</td>
					<td>Malveira - Obélix</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/tnt" class="table-row-name text-bold">TNT</a>
					</td>
					<td>6a</td>
					<td>Peninha - Kalash</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/talisma" class="table-row-name text-bold">Talismã</a>
					</td>
					<td>8a+</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/talochas" class="table-row-name text-bold">Talochas</a>
					</td>
					<td>7b</td>
					<td>Malveira - Monte da Cruz</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/tombado" class="table-row-name text-bold">Tombado</a>
					</td>
					<td>5</td>
					<td>Albarrasintra - Meca Surrounds</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/transferidor" class="table-row-name text-bold">Transferidor</a>
					</td>
					<td>7b+</td>
					<td>Capuchos</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/travesseiro" class="table-row-name text-bold">Travesseiro</a>
					</td>
					<td>7a</td>
					<td>Peninha - Nova</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/tudo-se-parte-nada-se-transforma" class="table-row-name text-bold">Tudo se parte nada se transforma</a>
					</td>
					<td>6b</td>
					<td>Albarrasintra - Meca</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/twilight" class="table-row-name text-bold">Twilight</a>
					</td>
					<td>7C+</td>
					<td>Albarrasintra - Mito</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/viagem-astral" class="table-row-name text-bold">Viagem Astral</a>
					</td>
					<td>6c+</td>
					<td>São Pedro - S. Pedro</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/visao-distorcida" class="table-row-name text-bold">Visão Distorcida</a>
					</td>
					<td>7a+</td>
					<td>Malveira - Vivendas</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/xs" class="table-row-name text-bold">XS</a>
					</td>
					<td>4</td>
					<td>Malveira - Dinossauros</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/xuta-cavalo" class="table-row-name text-bold">Xuta Cavalo</a>
					</td>
					<td>8a+</td>
					<td>Praia do Cavalo</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/zeitgeist" class="table-row-name text-bold">Zeitgeist</a>
					</td>
					<td>7c</td>
					<td>Tapada</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/sintra/eden-traverse" class="table-row-name text-bold">Éden Traverse</a>
					</td>
					<td>6c+</td>
					<td>Tapada - Éden, Canal & Arca</td>
				</tr>
			
		</tbody>
	</table>
	<script>
		$.fn.dataTable.ext.type.order['vgrade-pre'] = function(data) {
			var regex = /^V(\d+)/;// Regular expression to match V-grades like 'V0', 'V1', etc.

			var match = regex.exec(data);
			if (match) {
				var numericValue = parseInt(match[1], 10);
				return numericValue;
			} else {
				return data;
			}
		};
		
		$(document).ready(function () {
			function filter_problems_by_query(search_query) {
				var $problems = $(".problem-row");
				if (search_query === "")
					$problems.show();
				else {
					$problems.hide();
					$problems.each(function() {
						var rowName = $(this).find(".table-row-name").text().toLowerCase();
						if (rowName.indexOf(search_query) !== -1) {
							$(this).show();
						}
					});
				}
			};
			
			$('#problems-table').DataTable({
				paging: false,
				dom: 'tr',
				columnDefs: [
					{
						targets: [1],
						type: 'vgrade',
					},
				]
			});
			
			$("#search-problem").trigger("keyup");
				
			$("#search-problem").keyup(function() {
				var search_query = $.trim($(this).val());
				filter_problems_by_query(search_query)
			});
		});
	</script>
</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>