<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Your Bouldering Beta Library" />
	
	
    <link rel="stylesheet" href="static/css/layout.css" />
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	
	
    <title> Val Masino </title>
    
<meta
  name="viewport"
  content="width=device-width; initial-scale=1.0; text/html; charset=utf-8"
/>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/madboulder.css') }}" />
<!-- Development -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" />

<link rel="apple-touch-icon" sizes="57x57" href="https://madboulder.org/static/images/logo/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://madboulder.org/static/images/logo/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://madboulder.org/static/images/logo/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="144x144" href="https://madboulder.org/static/images/logo/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="60x60" href="https://madboulder.org/static/images/logo/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://madboulder.org/static/images/logo/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="76x76" href="https://madboulder.org/static/images/logo/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://madboulder.org/static/images/logo/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://madboulder.org/static/images/logo/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Climbing Videos | Beta Library | MadBoulder"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://madboulder.org/static/images/logo/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://madboulder.org/static/images/logo/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://madboulder.org/static/images/logo/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://madboulder.org/static/images/logo/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://madboulder.org/static/images/logo/mstile-310x310.png" />
<!-- Widget dependencies-->
<!-- TODO: Remove the unnecessary ones -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>


  </head>
  <body>
	
	{% include 'mainMenu.html' %}
	
    <main>
        <div class="container" id="pageContent">
          <br />
          <h2 style="text-align: center;">
             Val Masino 
          </h2>
          

<div class="container" style="margin-bottom: -20px;">
  <br />
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

          
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="46.21884" />
  <input type="hidden" id="lng" name="lng_val" value="9.637826" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Val Masino
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center;"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="row d-flex justify-content-center">
              <i class="material-icons mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex col-8 flex-column justify-content-center">
        <div id="big" class="row d-flex justify-content-center weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Val Masino
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto row d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <i class="material-icons mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 
          <br />
          <p>
<div class="container">
  
  <h4>{{ _("Guides") }}</h4>
  
</div>
<br />
<div class="container">
  
  <div class="row pl-5 mb-3">
    
    <div class="mr-2">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="http://rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=madboulder00-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=8885475310&linkId=d23a402a6a153ab938bcff88ecdf3086">
      </iframe>
    </div>
   
    <div class="mr-2">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?ref=tf_til&t=madboulder00-21&m=amazon&o=30&p=8&l=as1&IS1=1&asins=8898609434&linkId=6dddda0afe6d613cb309a101f52062d9&bc1=FFFFFF&lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
      </iframe>
    </div>
   
  </div>
  
  <ul>
    
    <li>
      <a
		id="guide_link"
        href="https://www.versantesud.it/en/shop/mello-boulder/"
        target="_blank"
        >Mello Boulder (Guide)</a
      >
    </li>
    
    <li>
      <a
		id="guide_link"
        href="https://27crags.com/crags/val-masino"
        target="_blank"
        >27Crags</a
      >
    </li>
    
  </ul>
</div>
</p>
          <br />
          
<!-- Zone Map -->
<div class="container">
  
  <h4>{{ _("Map") }}</h4>
  
</div>
<br />
<div class="row">
  <div class="col-sm-2 col-md-3"></div>
  <div class="col-sm-8 col-md-6">
    <div style="position: relative; padding-top: 56%;">
      <iframe
        src="maps/val_masino"
        frameborder="0"
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      >
      </iframe>
    </div>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>
<br />
<!--Problem List-->
<div class="container">
  
  <h4 class="listTitle" id="listProblemsTitle">
	{{ _("List of Problems") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
  </h4>
  
  <ul id="listProblems" class="list closed">
    
    <li>
      <a href="val_masino/problem/Africa">Africa, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Alta_Tensione">Alta Tensione, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Andrea_si_e_perso_diretto">Andrea si è perso diretto, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Bad_Ass">Bad Ass, 8a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Bad_Ass_Direct">Bad Ass Direct, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Berimbau">Berimbau, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Bidone">Bidone, 6c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Black_Woman_Dream">Black Woman Dream, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Briciola">Briciola, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Cadi_e_Muori">Cadi e Muori, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Camarillo_per_Tutti">Camarillo per Tutti, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Carlotta">Carlotta, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Ciucciati_il_calzino">Ciucciati il calzino, Unknown</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Climb_For_Life_Woman">Climb For Life Woman, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Decol-Tet">Decol-Tet, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Demenza_senile">Demenza senile, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Diavolo">Diavolo, 7a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Drumntano">Drum'n'tano, 8b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Electra">Electra, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Euclide">Euclide, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Fallo_con_lancio">Fallo con lancio, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Foxy_Lady">Foxy Lady, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Fuori_dal_tunnel">Fuori dal tunnel, 8b?</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Gica">Gica, 8b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Godzilla">Godzilla, 7c/+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Grace_Kelly">Grace Kelly, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Green_Man">Green Man, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Green_Woman">Green Woman, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Grinnonno">Grinnonno, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Heart_of_Stone">Heart of Stone, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Hell_Boy">Hell Boy, 8b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Highball_Rudy">Highball Rudy, 7a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Il_Brutto">Il Brutto, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Il_Gioco_di_Nalle">Il Gioco di Nalle, 8a/+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Il_Totem">Il Totem, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Il_Tunnel">Il Tunnel, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Il_Vampiro_The_Vampire">Il Vampiro/The Vampire, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Il_diedrino_del_rudi">Il diedrino del rudi, 6c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Inshallah">Inshallah, Unknown</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Inshallah_Right_Variant">Inshallah Right Variant, Unknown</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Jhonny_crash">Jhonny crash, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/LAmbio">L'Ambio, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/LEra_Glaciale">L'Era Glaciale, 7b (stand)</a>
    </li>
    
    <li>
      <a href="val_masino/problem/LUltima_Follia_di_Lawrence_dArabia">L'Ultima Follia di Lawrence d'Arabia, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Lopilione_e_grave">L'opilione e' grave, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_Befana">La Befana, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_Bistecca">La Bistecca, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_Chimera">La Chimera, 8a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_Flaca">La Flaca, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_Poppota">La Poppota, 6c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_croce_bianca">La croce bianca, 8a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_discarica">La discarica, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/La_pioda_della_formica">La pioda della formica, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Le_Pinze">Le Pinze, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Left_of_Bad_Ass">Left of Bad Ass, 8b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Lustrini_e_pon_pon">Lustrini e pon pon, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Lopinione_dellopilione">L’opinione dell’opilione, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Magica_Miky">Magica Miky, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Manto_Nero">Manto Nero, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Mare_Nostrum">Mare Nostrum, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Mare_Nostrum_Hard">Mare Nostrum Hard, 8a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Mazzinga_Z">Mazzinga Z, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Melloblocco_Version">Melloblocco Version, 7b (sit)</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Midnight_lightning_dei_poverissimi">Midnight lightning dei poverissimi, Unknown</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Nostradamus">Nostradamus, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Onice_nera">Onice nera, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Piatto_Unico">Piatto Unico, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Pinnajet">Pinnajet, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Piri_Tecnico">Piri Tecnico, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Pole_Pole">Pole Pole, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_A_Boulder_8_Sega_lombarda">Problem A (Boulder 8, Sega lombarda), 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_A_Le_Pinze_Campeggio">Problem A (Le Pinze, Campeggio), 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_A_Pasqualino_Campeggio">Problem A (Pasqualino, Campeggio), 6b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_A_Sala_Giochi">Problem A (Sala Giochi), 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_B_Boulder_5_Sega_lombarda">Problem B (Boulder 5, Sega lombarda), 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_F_Multilinea_Campeggio">Problem F (Multilinea, Campeggio), 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Problem_M_Camarillo_Brillo_Scivolo">Problem M (Camarillo Brillo, Scivolo), 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Rastabilimento">Rastabilimento, 7c+ (sit)</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Sala_giochi">Sala giochi, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Saltamaria">Saltamaria, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Saluto_al_Sole">Saluto al Sole, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Sega_il_Crux">Sega il Crux, 7b+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Signal_electrique">Signal électrique, 7a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Six_Pistols">Six Pistols, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Sogno_di_Tarzan">Sogno di Tarzan, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Spigolo_Gladiatiore">Spigolo Gladiatiore, 8a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Spigolo_del_cuore">Spigolo del cuore, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Sugar_for_Life_Baby">Sugar for Life Baby, 7c+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Terminato">Terminato, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Tondolandia">Tondolandia, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Toro">Toro, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Total_Pole">Total Pole, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Toy_Boy">Toy Boy, 8a/8a+</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Traverso_Brugi">Traverso Brugi, 8a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Unita_di_Produzione">Unità di Produzione, 8a</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Variante_Ascari">Variante Ascari, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Virus_Attack">Virus Attack, 7c</a>
    </li>
    
    <li>
      <a href="val_masino/problem/VisionCino">VisionCino, 7b</a>
    </li>
    
    <li>
      <a href="val_masino/problem/Vivo_sovversivo">Vivo sovversivo, 7c</a>
    </li>
    
  </ul>
  <script >
	const listProblemsTitle = document.getElementById('listProblemsTitle');
	const listProblemsId = "val_masino_problemsList";
	
	document.addEventListener('DOMContentLoaded', function() {
		const problemsListOpen = localStorage.getItem(listProblemsId) === 'true';
		if (problemsListOpen) {
		  listProblemsTitle.click();
		}
	});
	
	const listProblems = document.getElementById('listProblems');
	const toggleIconProblems = document.getElementById('toggleIconProblems');

	listProblemsTitle.addEventListener('click', function() {
	  listProblems.classList.toggle('opened');
	  const isListOpen = listProblems.classList.contains('opened');
	  toggleIconProblems.style.transform = isListOpen ? 'rotate(90deg)' : 'rotate(0deg)';
	  localStorage.setItem(listProblemsId, isListOpen);
	});
  </script>
</div>
<!--Sector List-->
<div class="container">
  
  <h4 class="listTitle" id="listSectorsTitle">
	{{ _("List of Sectors") }}
	<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconSectors">
  </h4>
  
  <ul id="listSectors" class="list closed">
    
    <li>
      <a href="val_masino/sector/Altman">Altman</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Campeggio">Campeggio</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Campo_sportivo">Campo sportivo</a>
    </li>
    
    <li>
      <a href="val_masino/sector/La_mota">La mota</a>
    </li>
    
    <li>
      <a href="val_masino/sector/La_motta">La motta</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Nosferatu">Nosferatu</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Pedra_peintada">Pedra peintada</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Pilastri_del_Pesgunfi">Pilastri del Pesgunfi</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Ponte_del_Baffo">Ponte del Baffo</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Preda_peintada">Preda peintada</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Remenno">Remenno</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Scivolo">Scivolo</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Sega_lombarda">Sega lombarda</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Tarzan">Tarzan</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Unknown">Unknown</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Visido_-_I_crotti">Visido - I crotti</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Visido_-_Il_tendine_dello_Yeti">Visido - Il tendine dello Yeti</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Visido_-_La_Collinetta">Visido - La Collinetta</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Visido_-_La_collinetta">Visido - La collinetta</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Visido_-_Tetto_di_Filorera">Visido - Tetto di Filorera</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Visido_-_Vermuth_Strisciut">Visido - Vermuth Strisciut</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Zocca">Zocca</a>
    </li>
    
    <li>
      <a href="val_masino/sector/Zocca_Superiore">Zocca Superiore</a>
    </li>
    
  </ul>
  <script >
	const listSectorsTitle = document.getElementById('listSectorsTitle');
	const listSectorsId = "val_masino_sectorsList";
	
	document.addEventListener('DOMContentLoaded', function() {
		const sectorListOpen = localStorage.getItem(listSectorsId) === 'true';
		if (sectorListOpen) {
		  listSectorsTitle.click();
		}
	});
	
	const listSectors = document.getElementById('listSectors');
	const toggleIconSectors = document.getElementById('toggleIconSectors');

	listSectorsTitle.addEventListener('click', function() {
		listSectors.classList.toggle('opened');
		const isListOpen = listSectors.classList.contains('opened');
		toggleIconSectors.style.transform = isListOpen ? 'rotate(90deg)' : 'rotate(0deg)';
		localStorage.setItem(listSectorsId, isListOpen);
	});
  </script>
</div>
 
<!--Playlists-->
<div class="container">
  <br />
  
  <h4>{{ _("Playlists") }}</h4>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN1FEv4qfqEHPi7Ey1bTDN1"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Visido - Vermuth Strisciut</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNvbTjTXjPa3fMf9nn6M8e4"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Ponte del Baffo</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPu9nBjcOoKE5uT81VBFZ1b"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Nosferatu</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOCJ4143Y0I0gUuUarvTcTv"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Campo sportivo</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMLTnNUbwq0YEHxdPYJILk0"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Pilastri del Pesgunfi</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPVd5Cvmlx1JaJsNJp-5an-"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Visido - I crotti</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM_GC6dvlyGzsv0ZxuJ89ZS"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Visido - Il tendine dello Yeti</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOjIkKnxwBbxwbC5r1VRPnb"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Sega lombarda</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMJwiq4SxlSHFDtf5KJK4xq"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Preda peintada</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM7ccM4vbcoaLJuGqzOe5qy"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Visido - Tetto de la Filorera</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOqoPfUk6uTVeXsZJ2kFcPi"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Visido - La collinetta</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNBKiFwZzi6qJP-_eEPa7Ck"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Zocca Superiore</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMdaM9lEzW-GOKtyfn5Tp_D"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Campeggio</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMh1Jzv6yFUjrjR04zmsMJr"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>La mota</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO4Ahcr167S6DYYnpp-GTH_"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Nosferatu</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNwHdANJ7YLIimfeL89jwgu"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Remenno</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPX1WxD9b5TER2QsUgQ5i-6"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Scivolo</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOccozkG_IQayrJLmpAn9-c"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Zocca</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMw3gJ1kHRj0DIUn4dG2VeB"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Tarzan</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNZ70-CTASwoPMWyJl6Zqog"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Ponte del Baffo</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnNe6t6uUQtWE7x_aLkMQBon"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p>
        <b>Altman</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPU0ZHrpw32SjWSiTDIZbCI"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

        </div>
        <br />
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>