<!DOCTYPE html>
<html>
  <head>
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    <title> Yosemite Valley  Boulder | MadBoulder</title>
	<meta name="description" content="Yosemite Valley bouldering information, boulder problems, sectors, weather forecast, boulder guidebooks, boulder pdf, youtube playlist, boulder beta videos | MadBoulder">
    

<!-- Weather Widget dependencies-->
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ca.min.js"
integrity="sha512-Jj2Leg+TB+LRdCEuGXUD2/sOcZcQqVH1zQ+nk1qGBoojAphBaH90oWeYfiB1xIr3va4AIRnDGQiPopGSv6ATiw=="
crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js"
integrity="sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ+MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA=="
crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/openWeather.js')}}"></script>

<!-- Table Widget dependencies-->
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>

<link rel="canonical" href="https://www.madboulder.org/yosemite-valley">

	<link href="/static/tabdrop/css/tabdrop.css" rel="stylesheet" >
	<script src="/static/tabdrop/js/bootstrap-tabdrop.js" ></script>
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
    <main>
		<div class="zone-header">
          <h1 class="zone-header-title text-bold">
             Yosemite Valley 
          </h1>
		  <nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link text-bold" data-default-tab id="nav-info-tab" href="#info" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">
						<i class="fas fa-info"></i>
						 {{ _("Info") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold"  id="nav-problems-tab" href="#problems" data-bs-toggle="tab" data-bs-target="#problems" type="button" role="tab" aria-controls="problems" aria-selected="false">
						<i class="fas fa-list"></i>
						 {{ _("Problems") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-sectors-tab" href="#sectors" data-bs-toggle="tab" data-bs-target="#sectors" type="button" role="tab" aria-controls="sectors" aria-selected="false">
						<i class="fas fa-list"></i>
						 {{ _("Sectors") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-playlists-tab" href="#playlists" data-bs-toggle="tab" data-bs-target="#playlists" type="button" role="tab" aria-controls="playlists" aria-selected="false">
						<i class="fas fa-video-camera"></i>
						 {{ _("Playlists") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-weather-tab" href="#weather" data-bs-toggle="tab" data-bs-target="#weather" type="button" role="tab" aria-controls="weather" aria-selected="true">
						<i class="fas fa-sun"></i>
						 {{ _("Weather") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-map-tab" href="#map" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="map" aria-selected="true">
						<i class="fas fa-map"></i>
						 {{ _("Map") }} 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-bold" id="nav-stats-tab" href="#stats" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true">
						<i class="fa fa-chart-column"></i>
						 {{ _("Stats") }} 
					</a>
				</li>
			  </div>
			  <script>
				
				$(document).ready(function () {
					checkHash();
					$('.nav-tabs').tabdrop();
					
					window.addEventListener('hashchange', function() {
						checkHash();
					});
					
					function checkHash() {
						var hash = window.location.hash;
						if (hash) {
							$('a[data-bs-toggle="tab"][href="' + hash + '"]').tab('show');
						} else {
							$('a[data-bs-toggle="tab"][data-default-tab]').tab('show');
						}
					}
				});
				
				$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
					$('html, body').animate({ scrollTop: 0 }, 'fast');
					var hash = $(e.target).attr('href');
					window.location.hash = hash;
				});
			</script>
		  </nav>
        </div>
        
        <div class="container" id="pageContent">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats">
					
<div class="container" style="padding-top: 1rem;">
  <!-- Zone summary -->
  <div id="zone-summary" class="row justify-content-center">
     {% for stat in stats_list %}
    <div class="col-md-2 col-sm-2 stats-col">
      <div class="card mx-sm-1 p-2">
        <div class="card p-2 my-card" style="border-radius: 50%; align-self: baseline;">
          <span class="{{stat['logo']}}" aria-hidden="true"></span>
        </div>
        <div class="text-center mt-2">
          <h5 class="stats-title">{{stat['text']}}</h5>
        </div>
        <div class="text-center mt-1 mb-0">
          <h3 class="stats-content">{{stat['data']}}</h3>
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather">
					
<div id="big-weather-widget" class="d-flex justify-content-center align-content-center" style="margin-top: 40px;">
  <input type="hidden" id="lat" name="lat_val" value="37.7415236" />
  <input type="hidden" id="lng" name="lng_val" value="-119.6040167" />
  <!--Weather widget html code-->
  <div class="card mt-3" style="width:80%;">
    <div class="card-header d-flex justify-content-center">
      Yosemite Valley
      <!-- This will come from the datafile -->
    </div>
    <div class="row mt-1 mb-1">
      <div class="d-flex col-2 flex-column justify-content-center">
        <img height="75" class="weather-icon"></img>
            <div class="mx-auto text-capitalize weather-description text-center"></div>
      </div>
      <div class="d-flex col-2 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center" style="margin: 0.75rem;">
          <div class="my-auto d-flex align-items-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto">
            <div class="d-flex align-items-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="d-flex align-items-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-wind mr-2">air</i>
              <div class="wind-speed mb-2" style="font-size: small;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 d-flex align-content-center flex-wrap">
        <div id="big" class="row weather-forecast" style="margin: inherit;"></div>
      </div>
    </div>
  </div>
</div>

<div id="small-weather-widget" class="container d-flex justify-content-center align-content-center mt-1">
  <!--small weather widget html code-->
  <div class="card mt-1" style="width: 95%;">
    <div class="card-header d-flex justify-content-center" style="font-size: small; padding: 3px;">
      Yosemite Valley
      <!-- This will come from the datafile -->
    </div>
    <div class="row">
      <div class="d-flex col-6 flex-column justify-content-center" style="font-size: small;">
        <img height="60" class="weather-icon"></img>
        <div class="mx-auto weather-description" style="text-transform: capitalize; text-align:center; font-size: small;"></div>
      </div>
      <div class="d-flex col-6 flex-column justify-content-center">
        <div id="current_weather" class="d-flex flex-column justify-content-center">
          <div class="my-auto d-flex justify-content-center">
            <div class="weather-temperature mb-2" style="font-size: large;"></div>
          </div>
          <div class="my-auto mx-auto d-flex">
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Min:&nbsp;</label>
              <div class="weather-min-temperature" style="font-size: small;"></div>
            </div>
            <div class="col-6 d-flex justify-content-center">
              <label style="font-size: small;">Max:&nbsp;</label>
              <div class="weather-max-temperature" style="font-size: small;"></div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <i class="fas fa-wind mr-2">air</i>
            <div class="wind-speed mb-2" style="font-size: small;"></div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top: 0px; margin-bottom: 0px;" />
    <div id="small" class="row d-flex justify-content-center weather-forecast mb-2" style="margin: inherit;">
    </div>
  </div>
</div>

<!-- Ideally, make a python wrapper and pass the values instead of using jQuery? -->
<!-- jQuery, the solution to all your problems -->

<script>
  $('.weather-temperature').openWeather({
    lat: $('input#lat').val(), // From zone data
    lng: $('input#lng').val(), // From zone data
    iconTarget: '.weather-icon',
    key: 'a7bf54fbd775796a64aad9c5ca7d26ef',
    customIcons: 'images/weather_icons/',
    minTemperatureTarget: '.weather-min-temperature',
    maxTemperatureTarget: '.weather-max-temperature',
    windSpeedTarget: '.wind-speed',
    windSpeedUnit: 'km/h',
    descriptionTarget: '.weather-description',
    forecastTarget: 'weather-forecast',
    lang: '{{ current_lang }}', // from zone data
    query: 'onecall' // to get forecast
  });
</script>
 

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="-info">
					
<div id="main" class="row" style="margin-bottom: 1rem;">
	<div class="col-md-12">
		<div class="tab-content ">
			<div class="row">
				<div class="col-md-6">						
					<div id="area-thumbnail" title="A foto example of this area" style="opacity: 1; filter: saturate(100%);">
						<picture>
							<source media="(min-width: 1200px)" sizes="605px" srcset="https://i.ytimg.com/vi/NDSgG8WNcx0/hqdefault.jpg">
							<source media="(min-width: 997px)" sizes="450px" srcset="https://i.ytimg.com/vi/NDSgG8WNcx0/hqdefault.jpg">
							<source media="(min-width: 768px)" sizes="330px" srcset="https://i.ytimg.com/vi/NDSgG8WNcx0/hqdefault.jpg">
							<img class="img-fluid d-block" src="https://i.ytimg.com/vi/NDSgG8WNcx0/hqdefault.jpg" alt="">
						</picture>
					</div>
				</div>
				<div class="col-md-6">
					<div id="general-info" class="overflow-auto d-flex flex-column">
						
							<div id="features_info" class="position-relative">
								<h4>Area overview</h4>
								<p>Yosemite Valley, nestled in California, is world-famous for its massive granite cliffs, making it an iconic destination for bouldering. This area's reputation is built on the awe-inspiring rock formations and the challenging routes that attract climbers from all over the globe. Yosemite Valley is a year-round haven for boulderers, offering a once-in-a-lifetime experience.</p>
							</div>
						
						<div id="general_stats">
							<p style="background: rgba(0,0,0,.075);color: #555555;padding: 5px;">
								<b>Videos</b> 74
								
									<br>
									<b>Rock type</b> Granite
								
								
									<br>
									<b>Altitude</b> 1240m
								
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="list-group">
	
		<a id="guide_link"  href="http://www.supertopo.com/packs/yosemiteboulder.html" target="_blank" style="display: flex; align-items: center;" class="list-group-item list-group-item-action list-group-item-light text-bold">
			<i class="fas fa-book" style="margin-right: 0.2rem;"></i>
			Yosemite Valley Bouldering (supertopo)
			
		</a>
	
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map">
					
<!-- Zone Map -->
<div class="container">
	<div style="position: relative; padding-top: 56%;">
		<iframe
			src="maps/yosemite-valley"
			frameborder="0"
			allowfullscreen
			style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
		</iframe>
	</div>
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade show active" id="problems" role="tabpanel" aria-labelledby="problems">
				</div>
				<div class="tab-pane fade" id="sectors" role="tabpanel" aria-labelledby="sectors">
					
<!--Sector List-->
<div class="container">
	<input id="search-sector" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
	<table id="sectors-table" class="table table-hover">
		<thead>
			<tr>
				
				<th scope="col" class="sorting">{{ _("Name") }}</th>
				<th scope="col" class="sorting">{{ _("Problems") }}</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/ahwahnee-boulders" class="table-row-name text-bold">Ahwahnee Boulders</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/bridalveil" class="table-row-name text-bold">Bridalveil</a>
					</td>
					<td class="text-center">4</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/camp-4" class="table-row-name text-bold">Camp 4</a>
					</td>
					<td class="text-center">17</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/candyland" class="table-row-name text-bold">Candyland</a>
					</td>
					<td class="text-center">3</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/cathedral-boulders" class="table-row-name text-bold">Cathedral Boulders</a>
					</td>
					<td class="text-center">3</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/curry-village" class="table-row-name text-bold">Curry Village</a>
					</td>
					<td class="text-center">4</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/happy-isles" class="table-row-name text-bold">Happy Isles</a>
					</td>
					<td class="text-center">3</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/hapy-isles" class="table-row-name text-bold">Hapy Isles</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/highway-140-generator-boulders" class="table-row-name text-bold">Highway 140 Generator Boulders</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/housekeeping" class="table-row-name text-bold">Housekeeping</a>
					</td>
					<td class="text-center">7</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/intersection" class="table-row-name text-bold">Intersection</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/riverside-block" class="table-row-name text-bold">Riverside Block</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/sentinel-boulders" class="table-row-name text-bold">Sentinel Boulders</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/the-crumbs" class="table-row-name text-bold">The Crumbs</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/the-crystals" class="table-row-name text-bold">The Crystals</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/the-garden" class="table-row-name text-bold">The Garden</a>
					</td>
					<td class="text-center">2</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/unknown" class="table-row-name text-bold">Unknown</a>
					</td>
					<td class="text-center">18</td>
				</tr>
			
				<tr class="sector-row">
					<td>
						<a href="/sectors/yosemite-valley/woodyard" class="table-row-name text-bold">Woodyard</a>
					</td>
					<td class="text-center">1</td>
				</tr>
			
		</tbody>
	</table>
	<script>
		$(document).ready(function () {
			$('#sectors-table').DataTable({
				paging: false,
				dom: 'tr'
			});
			$("#search-sector").trigger("keyup");
				
			$("#search-sector").keyup(function() {
				var search_query = $.trim($(this).val());
				var items = $(".sector-row");
				filter_items_by_query(search_query, items)
			});
		});
	</script>
</div>

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
				<div class="tab-pane fade" id="playlists" role="tabpanel" aria-labelledby="playlists">
					
<!--Playlists-->
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        
        <b>{{ _("Full") }}</b>
        
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPN8IFjGyNWZlKcgkLgm0j2"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Housekeeping</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOVKtWNCZGq-uXjU1KX0y1F"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
      <p class="text-center">
        <b>Camp 4</b>
      </p>
      <div style="position: relative; padding-top: 56.25%;">
        <iframe
          src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN0UVvFpkZHRUw2K6ZDeuoC"
          frameborder="0"
          allowfullscreen
          style="
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
          "
        >
        </iframe>
      </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
  </div>
  

					<hr class="mt-3 mt-md-5">
					<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
				</div>
			</div>
			
<!--Problem List-->
<div class="container">
	<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
	<table id="problems-table" class="table table-hover">
		<thead>
			<tr>
				
				<th scope="col" class="sorting">{{ _("Name") }}</th>
				<th scope="col" class="sorting">{{ _("Grade") }}</th>
				<th scope="col" class="sorting">{{ _("Sector") }}</th>
				
			</tr>
		</thead>
		<tbody>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/180-degree-arete" class="table-row-name text-bold">180 Degree Arete</a>
					</td>
					<td>V6</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/a-primates-memoir" class="table-row-name text-bold">A Primate’s Memoir</a>
					</td>
					<td>V6</td>
					<td>The Garden</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/across-the-tracks" class="table-row-name text-bold">Across the Tracks</a>
					</td>
					<td>V10</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/all-start-movie-mantel" class="table-row-name text-bold">All start movie mantel</a>
					</td>
					<td>V1</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/ataturk" class="table-row-name text-bold">Ataturk</a>
					</td>
					<td>V5</td>
					<td>Bridalveil</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/atlantis" class="table-row-name text-bold">Atlantis</a>
					</td>
					<td>V5</td>
					<td>Intersection</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/atlantis" class="table-row-name text-bold">Atlantis</a>
					</td>
					<td>V6 (low)</td>
					<td>Intersection</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/balance-of-opposites" class="table-row-name text-bold">Balance of Opposites</a>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/battle-of-the-bulge" class="table-row-name text-bold">Battle of the Bulge</a>
					</td>
					<td>V6</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/big-bessey" class="table-row-name text-bold">Big Bessey</a>
					</td>
					<td>V9</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/big-present" class="table-row-name text-bold">Big Present</a>
					</td>
					<td>V9</td>
					<td>Hapy Isles</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/bipolar" class="table-row-name text-bold">Bipolar</a>
					</td>
					<td>V7</td>
					<td>The Crumbs</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/black-widow" class="table-row-name text-bold">Black Widow</a>
					</td>
					<td>V8</td>
					<td>The Garden</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/bridalveil-pogo" class="table-row-name text-bold">Bridalveil Pogo</a>
					</td>
					<td>V7</td>
					<td>Bridalveil</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/bridge-to-nowhere" class="table-row-name text-bold">Bridge to nowhere</a>
					</td>
					<td>V8</td>
					<td>Bridalveil</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/bruce-lee" class="table-row-name text-bold">Bruce Lee</a>
					</td>
					<td>V8</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/budokan" class="table-row-name text-bold">Budokan</a>
					</td>
					<td>V10</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/chapman-overhang" class="table-row-name text-bold">Chapman overhang</a>
					</td>
					<td>V1</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/cocaine-corner" class="table-row-name text-bold">Cocaine Corner</a>
					</td>
					<td>V5</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/cookie-monster" class="table-row-name text-bold">Cookie Monster</a>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/cranium-crusher" class="table-row-name text-bold">Cranium crusher</a>
					</td>
					<td>V3</td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/crossroads-moe" class="table-row-name text-bold">Crossroads Moe</a>
					</td>
					<td>V6</td>
					<td>Bridalveil</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/flatline" class="table-row-name text-bold">Flatline</a>
					</td>
					<td>V8</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/good-vibrations" class="table-row-name text-bold">Good Vibrations</a>
					</td>
					<td>V10</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/greener-pastures" class="table-row-name text-bold">Greener Pastures</a>
					</td>
					<td>V10 (sit)</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/heart-of-darkness" class="table-row-name text-bold">Heart of Darkness</a>
					</td>
					<td>V9</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/hit-man" class="table-row-name text-bold">Hit Man</a>
					</td>
					<td>V5</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/honor-among-thieves" class="table-row-name text-bold">Honor Among Thieves</a>
					</td>
					<td>V7</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/honor-among-thieves" class="table-row-name text-bold">Honor Among Thieves</a>
					</td>
					<td>V9 (sit)</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/hug-a-rock" class="table-row-name text-bold">Hug a rock</a>
					</td>
					<td>V0</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/karate" class="table-row-name text-bold">Karate</a>
					</td>
					<td>V8</td>
					<td>Riverside Block</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/kor-problem" class="table-row-name text-bold">Kor Problem</a>
					</td>
					<td>V3</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/marco-s-traverse" class="table-row-name text-bold">Marco's traverse</a>
					</td>
					<td>V1</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/midnight-lightning" class="table-row-name text-bold">Midnight Lightning</a>
					</td>
					<td>V8</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/montezuma-s-revenge-right" class="table-row-name text-bold">Montezuma's Revenge Right</a>
					</td>
					<td>V9</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/no-holds-bard" class="table-row-name text-bold">No Holds Bard</a>
					</td>
					<td>V7</td>
					<td>Sentinel Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/octagon-traverse" class="table-row-name text-bold">Octagon Traverse</a>
					</td>
					<td>V8</td>
					<td>Cathedral Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/orange-fever" class="table-row-name text-bold">Orange Fever</a>
					</td>
					<td>V7</td>
					<td>Happy Isles</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/orange-fever" class="table-row-name text-bold">Orange Fever</a>
					</td>
					<td>V10</td>
					<td>Hapy Isles</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/panic-room" class="table-row-name text-bold">Panic Room</a>
					</td>
					<td>V9</td>
					<td>Curry Village</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/pine-box" class="table-row-name text-bold">Pine Box</a>
					</td>
					<td>V10</td>
					<td>Happy Isles</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/plenty-of-fish" class="table-row-name text-bold">Plenty of Fish</a>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-11-camp-4" class="table-row-name text-bold">Problem 11 (Camp 4)</a>
					</td>
					<td>V3</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-14-housekeeping-v0" class="table-row-name text-bold">Problem 14 (Housekeeping), V0</a>
					</td>
					<td>V0 </td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-20-housekeeping" class="table-row-name text-bold">Problem 20 (Housekeeping)</a>
					</td>
					<td>V3</td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-35-camp-4" class="table-row-name text-bold">Problem 35 (Camp 4)</a>
					</td>
					<td>V4</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-40-camp-4" class="table-row-name text-bold">Problem 40 (Camp 4)</a>
					</td>
					<td>V3</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-6-housekeeping" class="table-row-name text-bold">Problem 6 (Housekeeping)</a>
					</td>
					<td>V4</td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-9-housekeeping" class="table-row-name text-bold">Problem 9 (Housekeeping)</a>
					</td>
					<td>V4-</td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/problem-unknown-curry-village" class="table-row-name text-bold">Problem Unknown (Curry village)</a>
					</td>
					<td>Unknown</td>
					<td>Curry village</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/purple-barrel" class="table-row-name text-bold">Purple Barrel</a>
					</td>
					<td>V8</td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/raven-haired-woman" class="table-row-name text-bold">Raven Haired Woman</a>
					</td>
					<td>V14</td>
					<td>Happy Isles</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/root-canal" class="table-row-name text-bold">Root Canal</a>
					</td>
					<td>V7</td>
					<td>Curry Village</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/rubik-s-revenge" class="table-row-name text-bold">Rubik's Revenge</a>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/silent-spotter" class="table-row-name text-bold">Silent Spotter</a>
					</td>
					<td>V6</td>
					<td>Ahwahnee Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/slice-of-life" class="table-row-name text-bold">Slice of life</a>
					</td>
					<td>V7</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/so-good" class="table-row-name text-bold">So Good</a>
					</td>
					<td>V5</td>
					<td>Cathedral Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/spock-direct" class="table-row-name text-bold">Spock Direct</a>
					</td>
					<td>V8</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/stream-of-being" class="table-row-name text-bold">Stream of Being</a>
					</td>
					<td>V8</td>
					<td>Highway 140 Generator Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/teenage-mutant-ninja-gerbils" class="table-row-name text-bold">Teenage Mutant Ninja Gerbils</a>
					</td>
					<td>V9</td>
					<td>Woodyard</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-diamond" class="table-row-name text-bold">The Diamond</a>
					</td>
					<td>V8</td>
					<td>Candyland</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-diamond-direct" class="table-row-name text-bold">The Diamond Direct</a>
					</td>
					<td>V10</td>
					<td>Candyland</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-force" class="table-row-name text-bold">The Force</a>
					</td>
					<td>V9</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-happening" class="table-row-name text-bold">The Happening</a>
					</td>
					<td>V10</td>
					<td>The Crystals</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-james-lucas-memorial-arete-problem" class="table-row-name text-bold">The James Lucas Memorial Arête Problem</a>
					</td>
					<td>V3</td>
					<td>Candyland</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-rift" class="table-row-name text-bold">The Rift</a>
					</td>
					<td>V8</td>
					<td>The Crumbs</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/the-squirrel" class="table-row-name text-bold">The Squirrel</a>
					</td>
					<td>V7</td>
					<td>Cathedral Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/too-big-to-fail" class="table-row-name text-bold">Too Big to Fail</a>
					</td>
					<td>V10</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/torque" class="table-row-name text-bold">Torque</a>
					</td>
					<td>V7</td>
					<td>Housekeeping</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/torque-spanner" class="table-row-name text-bold">Torque Spanner</a>
					</td>
					<td>V8</td>
					<td>Camp 4</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/unknown-arete" class="table-row-name text-bold">Unknown Arete</a>
					</td>
					<td>V5</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/where-the-sidewalk-ends" class="table-row-name text-bold">Where the sidewalk ends</a>
					</td>
					<td>V8</td>
					<td>Highway 140 Generator Boulders</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/zodiac" class="table-row-name text-bold">Zodiac</a>
					</td>
					<td>V10</td>
					<td>Unknown</td>
				</tr>
			
				<tr class="problem-row">
					<td>
						<i class="fas fa-video-camera table-row-icon"></i>
						<a href="/problems/yosemite-valley/zorro" class="table-row-name text-bold">Zorro</a>
					</td>
					<td>V4</td>
					<td>Curry Village</td>
				</tr>
			
		</tbody>
	</table>
	<script>
		$(document).ready(function () {
			$('#problems-table').DataTable({
				paging: false,
				dom: 'tr',
				columnDefs: [
					{
						targets: [1],
						type: 'custom-grade',
					},
				]
			});
			
			$("#search-problem").trigger("keyup");
				
			$("#search-problem").keyup(function() {
				var search_query = $.trim($(this).val());
				var items = $(".problem-row");
				filter_items_by_query(search_query, items)
			});
		});
	</script>
</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>