<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Entre Aguas at Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Entre Aguas at Albarracín | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/albarracin/entre-aguas">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<h1 class="zone-header-title text-bold">
				 Sector Entre Aguas, Albarracín 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMrG-Z87_1LKOHeel94FQx6" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	
	<!--Problem List-->
	<div class="container">
		<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
		<table class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col">{{ _("Name") }}</th>
					<th scope="col">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/directa-a-la-roja" class="table-row-name text-bold">Directa a la roja</a>
						</td>
						<td>7a+</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/el-cartero-siempre-llama-2-veces" class="table-row-name text-bold">El cartero siempre llama 2 veces</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/en-tierra-de-nadie" class="table-row-name text-bold">En tierra de nadie</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/falso-mandingas" class="table-row-name text-bold">Falso mandingas</a>
						</td>
						<td>7b</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/juanita-club" class="table-row-name text-bold">Juanita club</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/la-regleta-fantasma" class="table-row-name text-bold">La regleta fantasma</a>
						</td>
						<td>7a (sit)</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/placa-roja" class="table-row-name text-bold">Placa roja</a>
						</td>
						<td>7a</td>
					</tr>
				
					<tr>
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/albarracin/rasante-pal-mutante" class="table-row-name text-bold">Rasante pal Mutante</a>
						</td>
						<td>7a (sit)</td>
					</tr>
				
			</tbody>
		</table>
	</div>

			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>