<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector La fuente at Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector La fuente at Albarracín | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/albarracin/la-fuente">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
			    <h1 style="text-align: center;">
				  
			    </h1>
				
<div class="container">
	<h1 style="text-align: center;"> La fuente, Albarracín</h1>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnN1ghg5djXSjOtGLYF5EeG2" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/albarracin/alchemy">Alchemy, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/bender-el-que-ofender">Bender el que ofender, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/bihotz">Bihotz, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/black-roof">Black roof, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/bloody-mary">Bloody Mary, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/cachalotes">Cachalotes, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/cagamento">Cagamento, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/calamardo">Calamardo, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/choque-hipoglucemico">Choque hipoglucémico, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/circuncision">Circuncisión, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/cjotas">Cjotas, 8a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/claudicacion">Claudicación, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/doctor-snuggles">Doctor Snuggles, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/doctor-zoidberg">Doctor Zoidberg, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/dr-robotics">Dr. Robotics, 8a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/dumbria">Dumbria, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/dyno-placebo">Dyno placebo , 6c+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-4o-oscuro">El 4º oscuro, 4+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-acordeon">El acordeón, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-canto-de-un-duro">El canto de un duro, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-chorro">El chorro, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-gorro">El gorro, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-gorro-left">El gorro left, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-ovni">El ovni, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-pie-de-curtis">El pie de Curtis, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-pisacuellos">El pisacuellos, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-plus-del-autobus">El plus del autobús, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-plus-del-autobus">El plus del autobús, 7b (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-techo-de-la-zahora">El techo de la Zahora, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/electrostamulacion-prostatica">Electrostamulación prostática, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/epopeya">Epopeya, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/espora">Espora, 5</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/evolution">Evolution, 8a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/exclafing">Exclafing, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/fan-de-las-felpas">Fan de las felpas, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/farelli">Farelli, 5</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/fight-club">Fight club, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/filomeno">Filomeno, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/fonteneblistico">Fonteneblístico, 7b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/facil-imposible">Fácil imposible, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/gladiator">Gladiator, 4</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/guineu">Guineu, 4</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/habibati-you-i-know">Habibati you & I know, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/homo-sibaris">Homo sibaris, 5</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/i-ve-a-present-for-you">I've a present for you, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/involution">Involution, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-beca">La beca, 4</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-fuente">La fuente, 8a (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-fuente">La fuente, 7c+ (crouching start)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-fuente">La fuente, 7c (stand)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-guillotina">La guillotina, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-huella-del-jabali">La huella del jabalí, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-larga-noche">La larga noche, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-pirata">La pirata, 3+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/laugar">Laugar, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/lengua-bifida">Lengua bífida, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/lolita">Lolita, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/madreselva">Madreselva, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/mantel-en-el-bolsillo">Mantel en el bolsillo, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/melocoton-en-almibar">Melocotón en almíbar, 8a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/mortal-kombat">Mortal kombat, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/motivos-varios">Motivos varios, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/mufasa">Mufasa, 8a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/muro-de-sonido">Muro de sonido, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/nahkhiir">Nahkhiir, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/nido-de-golondrinas">Nido de Golondrinas, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/oberon">Oberon, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/orgasmo">Orgasmo, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/orgasmo-extension">Orgasmo extensión, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pa-calentar">Pa calentar, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/peter-pan">Peter Pan, 5+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pilas-chinas">Pilas chinas, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pilas-chinas-directo">Pilas chinas directo, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pilas-hacendado">Pilas hacendado, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pin-pon">Pin pon, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pin-pon-derecha">Pin pon derecha, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pin-pon-real">Pin pon real, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pirita-madre">Pirita madre, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/por-la-boca-muere-el-pez">Por la boca muere el pez, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pornochacha">Pornochacha, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/primer-mantel">Primer mantel, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pulgarcito">Pulgarcito, 4+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/regleton">Regletón, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/reno-renardo">Reno renardo, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/robabloques">Robabloques, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/robotics-jr">Robotics Jr., 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/sadhu-solitario">Sadhu Solitario, 6b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/sale-guevos">Sale güevos, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/salto-de-la-grulla">Salto de la grulla, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/sandolin">Sandolín, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/simba">Simba, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/summer-love">Summer love, 5</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/tardigrado">Tardigrado, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/techo-de-los-alemanes">Techo de los alemanes, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/techo-del-gandul">Techo del gandul, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/vipa">Vipa, 4</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/warmer-zone">Warmer zone, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/yosemite">Yosemite, 7b+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>