<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector La Mezquita at Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector La Mezquita at Albarracín | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/albarracin/la-mezquita">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> La Mezquita, Albarracín</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnO3R1JHZ-OJPdRX02RPO_r7" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/problems/albarracin/camino-del-exceso">Camino del exceso, 8a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/chinaski">Chinaski, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/coleccionista-de-huesos">Coleccionista de huesos, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/coletazo-sin-cazo">Coletazo sin cazo, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/colorado-springs">Colorado springs, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/cruising">Cruising, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/diabulus">Diabulus, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/el-amoche">El amoche, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/espiritu-del-vino">Espíritu del vino, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/flor-de-loto">Flor de Loto, 7b (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/fuyu">Fuyu, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/guapos-tarde">Guapos tarde, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/hojaldre">Hojaldre, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/hombro-meng">Hombro Meng, 7a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/hongos-o-setas">Hongos o setas, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/indian-secret-garden">Indian secret garden, 8b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/indian-secret-garden-direct">Indian secret garden Direct, 8a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-fisura-oscura">La fisura oscura, 6c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-oferta">La oferta, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/la-pelotilla">La pelotilla, 6a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/lavavajilladora">Lavavajilladora, 7c</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/limpieza-moral">Limpieza moral, 7b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/maldito-duende">Maldito duende, 7b+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/osteogenesis-imperfecta">Osteogénesis imperfecta, 7c+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/phantasma">Phantasma, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pinball">Pinball, 7b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/pinball">Pinball, 7b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/placa-del-imperio">Placa del imperio, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/shisha-nulera">Shisha Nulera, 7a</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/tulipan-negro">Tulipán negro, 6b</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/voldemort">Voldemort, 6a+</a>
		</li>
		
		<li>
		  <a href="/problems/albarracin/yoyes">Yoyes, 7c</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>