<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Pinturas at Albarracín | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Pinturas at Albarracín | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/albarracin/pinturas">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
			   
				> 
			   <a href="/albarracin" class="zone-header-tree-link">Albarracín</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Pinturas of Albarracín
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:600px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnM6TD_vMSDMb40Q_prj3Zor" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Clapping eggs, 7a+. Albarracín" href="/problems/albarracin/clapping-eggs-aka-chocando-huevos-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Clapping eggs, 7a+. Albarracín" src="https://img.youtube.com/vi/Sdlvwr3xnYw/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/clapping-eggs-aka-chocando-huevos-7a" class="table-row-name text-bold">Clapping eggs aka Chocando huevos</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El pedal, 7a+. Albarracín" href="/problems/albarracin/el-pedal-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El pedal, 7a+. Albarracín" src="https://img.youtube.com/vi/vNfVeXQllaA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/el-pedal-7a" class="table-row-name text-bold">El pedal</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Galimatías, 6b. Albarracín" href="/problems/albarracin/galimatias-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Galimatías, 6b. Albarracín" src="https://img.youtube.com/vi/E7ADUxppCtE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/galimatias-6b" class="table-row-name text-bold">Galimatías</a>
									</div>
								</td>
								<td>6b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Galimatías, 7a+ (sit). Albarracín" href="/problems/albarracin/galimatias-7a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Galimatías, 7a+ (sit). Albarracín" src="https://img.youtube.com/vi/iUa0S7GlMoY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/galimatias-7a-sit" class="table-row-name text-bold">Galimatías</a>
									</div>
								</td>
								<td>7a+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Granotismo Craneoencefálico, 7a+. Albarracín" href="/problems/albarracin/granotismo-craneoencefalico-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Granotismo Craneoencefálico, 7a+. Albarracín" src="https://img.youtube.com/vi/Rrk-cZM0IMk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/granotismo-craneoencefalico-7a" class="table-row-name text-bold">Granotismo Craneoencefálico</a>
									</div>
								</td>
								<td>7a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Imperial Ipa, 6a+. Albarracín" href="/problems/albarracin/imperial-ipa-6a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Imperial Ipa, 6a+. Albarracín" src="https://img.youtube.com/vi/tmvzGz7ZHtA/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/imperial-ipa-6a" class="table-row-name text-bold">Imperial Ipa</a>
									</div>
								</td>
								<td>6a+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pinturas buldestres, 7c+. Albarracín" href="/problems/albarracin/pinturas-buldestres-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pinturas buldestres, 7c+. Albarracín" src="https://img.youtube.com/vi/vli0gYUUNrk/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/pinturas-buldestres-7c" class="table-row-name text-bold">Pinturas buldestres</a>
									</div>
								</td>
								<td>7c+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pinturas buldestres, 8a (sit). Albarracín" href="/problems/albarracin/pinturas-buldestres-8a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pinturas buldestres, 8a (sit). Albarracín" src="https://img.youtube.com/vi/ADO0ZVeC35U/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/pinturas-buldestres-8a-sit" class="table-row-name text-bold">Pinturas buldestres</a>
									</div>
								</td>
								<td>8a (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Veneno en boca, 7c. Albarracín" href="/problems/albarracin/veneno-en-boca-7c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Veneno en boca, 7c. Albarracín" src="https://img.youtube.com/vi/x4gCaexAEUM/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/albarracin/veneno-en-boca-7c" class="table-row-name text-bold">Veneno en boca</a>
									</div>
								</td>
								<td>7c</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>