<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Kamel at Magic Wood | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Kamel at Magic Wood | MadBoulder">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Kamel, Magic Wood</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnOAJwuVDSzRLZXhLdag6z4w" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/magic-wood/problem/aces-and-eights">Aces and Eights, 7a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/aeronaut">Aeronaut, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/aeronaut-plus">Aeronaut plus, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/altersheimsitztart">Altersheimsitztart, 6a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/angelina-jolie">Angelina Jolie, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/anigel">Anigel, 1b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/big-cheese">Big Cheese, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/blindfisch">Blindfisch, 7b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/blue-sky-of-mine">Blue Sky of mine, 6a+</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/cameltrophy">Cameltrophy, 7a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/die-auferstanderung">Die Auferständerung, 6b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/eckstein">Eckstein, 5a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/fettes-schweinchen">Fettes Schweinchen, 6b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/freiflug-blindflug">Freiflug / Blindflug, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/haramis">Haramis, 5c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/headhunter">Headhunter, 6b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/jack">Jack, 6a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/kadia">Kadia, 2c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/kanonarohr">Kanonärohr, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/kashmir">Kashmir, 7c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/kung-fu-panda">Kung Fu Panda, 7c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/mantle-king">Mantle King, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/mantle-queen">Mantle Queen, 6b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/mentale-blockade">Mentale Blockade, 7a+</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/muttertag">Muttertag, 8a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/mystic-stylez">Mystic Stylez, 8b+</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/manteli">Mänteli, 5b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/no-exit">No Exit, 6b+</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/panzerknacker">Panzerknacker, 7a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/randomguy">Randomguy, 6c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/red-roses">Red Roses, 7a+</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/ruwenda">Ruwenda, 5a</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/sukkubus">Sukkubus, 7c+</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/teddybar">Teddybär, 5b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/the-gift">The Gift, 7c SD</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/the-pillar-of-autumn">The Pillar of Autumn, 7c</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/torpedo">Torpedo, 6b</a>
		</li>
		
		<li>
		  <a href="/magic-wood/problem/variante-a-j">Variante A.J., 6b</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>