<!DOCTYPE html>
<html lang="en">
  <head>
    <title>L’arête Ouest 7b Boulder Problem in GSNP | MadBoulder</title>
	<meta name="description" content="Videos of L’arête Ouest Boulder Problem in GSNP climbed by Clément Lechaptois | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/gsnp/larete-ouest-7b">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/france" class="zone-header-tree-link">France</a>
				
				> 
				<a href="/gsnp" class="zone-header-tree-link">GSNP</a>
				> 
				<a href="/sectors/gsnp/paquebot" class="zone-header-tree-link">Paquebot</a>
				
				> 
				<a href="/boulders/gsnp/" class="zone-header-tree-link">D. Le Paquebot</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				L’arête Ouest, 7b. GSNP
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/iIibe-PezLc" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: L’arête Ouest </p>
					<p> {{ _("Grade") }}: 7b </p>
					
						<p> {{ _("Zone") }}: <a href="/gsnp">GSNP</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/gsnp/paquebot">Paquebot</a></p>
					
					
						
							<p> {{ _("Boulder") }}: D. Le Paquebot</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/clement-lechaptois">Clément Lechaptois</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>