<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Placa bezana 7a Boulder Problem in Bezas | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Placa bezana Boulder Problem in Bezas climbed by Adrian Lecoutre | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/bezas/placa-bezana-7a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
	
	 > 
	<a href="/bezas" class="zone-header-tree-link">Bezas</a>
	 > 
	<a href="/sectors/bezas/el-valle" class="zone-header-tree-link">El Valle</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Placa bezana, 7a. Bezas 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/_pNtjKnWcg4" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Placa bezana </p>
		<p> {{ _("Grade") }}: 7a </p>
		
			<p> {{ _("Zone") }}: <a href="/bezas">Bezas</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/bezas/el-valle">El Valle</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/adrian-lecoutre">Adrian Lecoutre</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>