<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Striptease 5+ Boulder Problem in Bezas | MadBoulder</title>
	<meta name="description" content="Videos of Striptease Boulder Problem in Bezas climbed by Núria Cases | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/bezas/striptease-5">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
				
				> 
				<a href="/bezas" class="zone-header-tree-link">Bezas</a>
				> 
				<a href="/sectors/bezas/el-valle" class="zone-header-tree-link">El Valle</a>
				
				> 
				<a href="/boulders/bezas/" class="zone-header-tree-link">20</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Striptease, 5+. Bezas
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/ImR371Jv7dM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Striptease </p>
					<p> {{ _("Grade") }}: 5+ </p>
					
						<p> {{ _("Zone") }}: <a href="/bezas">Bezas</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/bezas/el-valle">El Valle</a></p>
					
					
						
							<p> {{ _("Boulder") }}: 20</p>
						
					
					<p> {{ _("Climber") }}: <a href="/contributors/nuria-cases">Núria Cases</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>