<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Problem 2 (El Piano) 6b Boulder Problem in Salvanebleau | MadBoulder</title>
	<meta name="description" content="Videos of Problem 2 (El Piano) Boulder Problem in Salvanebleau climbed by Aniol Santacreu | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/salvanebleau/problem-2-el-piano-6b">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/catalonia" class="zone-header-tree-link">Catalunya</a>
				
				> 
				<a href="/salvanebleau" class="zone-header-tree-link">Salvanebleau</a>
				> 
				<a href="/sectors/salvanebleau/classic-submari" class="zone-header-tree-link">Clàssic - Submarí</a>
				
			</div>
			<h1 class="zone-header-title text-bold">
				Problem 2 (El Piano), 6b. Salvanebleau
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/JCfKNQ6pS6I" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Problem 2 (El Piano) </p>
					<p> {{ _("Grade") }}: 6b </p>
					
						<p> {{ _("Zone") }}: <a href="/salvanebleau">Salvanebleau</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/salvanebleau/classic-submari">Clàssic - Submarí</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/aniol-santacreu">Aniol Santacreu</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>