<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector 4 - Puntos Azules at La Pedriza | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector 4 - Puntos Azules at La Pedriza | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/sectors/la-pedriza/4-puntos-azules">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("Areas") }}</a>
	 > 
	<a href="/la-pedriza" class="zone-header-tree-link">La Pedriza</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Sector 4 - Puntos Azules 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
	
	<!--Problem List-->
	<h2 style="clear:both;display:block" class=""> {{ _("List of Problems") }} </h2>
	<div class="container">
		<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
		<table id="problems-table" class="table table-hover">
			<thead>
				<tr>
					
					<th scope="col" class="sorting">{{ _("Name") }}</th>
					<th scope="col" class="sorting">{{ _("Grade") }}</th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/bloque-del-chuuulo" class="table-row-name text-bold">Bloque del Chuuulo</a>
						</td>
						<td>6C</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/bloque-del-chuuulo" class="table-row-name text-bold">Bloque del Chuuulo</a>
						</td>
						<td>7A (sit)</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/el-desplome-arenoso" class="table-row-name text-bold">El Desplome Arenoso</a>
						</td>
						<td>6A+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/el-recto" class="table-row-name text-bold">El Recto</a>
						</td>
						<td>6B+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/el-del-dinamico" class="table-row-name text-bold">El del Dinámico</a>
						</td>
						<td>6B</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/la-arista-bajita" class="table-row-name text-bold">La Arista Bajita</a>
						</td>
						<td>6A</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/la-fisura" class="table-row-name text-bold">La Fisura</a>
						</td>
						<td>5C</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/la-laja-roja" class="table-row-name text-bold">La Laja Roja</a>
						</td>
						<td>6A+</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/meetic" class="table-row-name text-bold">Meetic</a>
						</td>
						<td>6A</td>
					</tr>
				
					<tr class="problem-row">
						<td>
							<i class="fas fa-video-camera table-row-icon"></i>
							<a href="/problems/la-pedriza/placa-de-las-conchas" class="table-row-name text-bold">Placa de las Conchas</a>
						</td>
						<td>6C</td>
					</tr>
				
			</tbody>
		</table>
		<script>
			$(document).ready(function () {
				$('#problems-table').DataTable({
					paging: false,
					dom: 'tr',
					columnDefs: [
						{
							targets: [1],
							type: 'custom-grade',
						},
					]
				});
				
				$("#search-problem").trigger("keyup");
				
				$("#search-problem").keyup(function() {
					var search_query = $.trim($(this).val());
					var items = $(".problem-row");
					filter_items_by_query(search_query, items)
				});
			});
		</script>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>