<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sector Laboratorio Superior at La Pedriza | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Laboratorio Superior at La Pedriza | MadBoulder">
	<link rel="canonical" href="https://www.madboulder.org/sectors/la-pedriza/laboratorio-superior">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
	<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	<script defer src="{{url_for('static', filename='js/tabledata-utils.js')}}"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
	<!-- Google Ads-->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2946344276077058" crossorigin="anonymous"></script> 
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/google-ads.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				> 
			   <a href="/countries/spain" class="zone-header-tree-link">Spain</a>
			   
				> 
			   <a href="/states/madrid" class="zone-header-tree-link">Madrid</a>
			   
				> 
			   <a href="/la-pedriza" class="zone-header-tree-link">La Pedriza</a>
			</div>
			<h1 class="zone-header-title text-bold">
				Sector Laboratorio Superior of La Pedriza
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<!-- Top Ads -->
			<div style="display: flex;justify-content: center;">
				<div class="horizontal-ad-container mobile-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="6780320321"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
				<div class="horizontal-ad-container desktop-only">
					<ins class="adsbygoogle horizontal-ad" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2946344276077058" data-ad-slot="5515340112"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
				</div>
			</div>
			
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnMxBWJ4TKZRr0nFlGG1d0CS" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<h2> {{ _("List of Problems") }} </h2>
			<div class="container">
				<input id="search-problem" class="form-control  mb-2" type="text" placeholder="Search" aria-label="Search" style="display: grid; align-self: center; border-color: black;">
				<table id="problems-table" class="table table-hover">
					<thead>
						<tr>
							
							<th scope="col" class="sorting">{{ _("Name") }}</th>
							<th scope="col" class="sorting">{{ _("Grade") }}</th>
							
						</tr>
					</thead>
					<tbody style="vertical-align: middle;">
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El Migosito, 6C. La Pedriza" href="/problems/la-pedriza/el-migosito-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El Migosito, 6C. La Pedriza" src="https://img.youtube.com/vi/f6al4x51kgU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/el-migosito-6c" class="table-row-name text-bold">El Migosito</a>
									</div>
								</td>
								<td>6C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El Tridedo, 6B+. La Pedriza" href="/problems/la-pedriza/el-tridedo-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El Tridedo, 6B+. La Pedriza" src="https://img.youtube.com/vi/bTeeUS9J-ZQ/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/el-tridedo-6b" class="table-row-name text-bold">El Tridedo</a>
									</div>
								</td>
								<td>6B+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El Triángulo, 4A. La pedriza" href="/problems/la-pedriza/el-triangulo-4a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El Triángulo, 4A. La pedriza" src="https://img.youtube.com/vi/1kYMj52x998/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/el-triangulo-4a" class="table-row-name text-bold">El Triángulo</a>
									</div>
								</td>
								<td>4A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="El de la Arena, 5A. La Pedriza" href="/problems/la-pedriza/el-de-la-arena-5a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: El de la Arena, 5A. La Pedriza" src="https://img.youtube.com/vi/ym_Na2ntLac/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/el-de-la-arena-5a" class="table-row-name text-bold">El de la Arena</a>
									</div>
								</td>
								<td>5A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Hoyacampus, 6B. La Pedriza" href="/problems/la-pedriza/hoyacampus-6b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Hoyacampus, 6B. La Pedriza" src="https://img.youtube.com/vi/PvUGAdvWM04/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/hoyacampus-6b" class="table-row-name text-bold">Hoyacampus</a>
									</div>
								</td>
								<td>6B</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="La Rana, 6C+. La Pedriza" href="/problems/la-pedriza/la-rana-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: La Rana, 6C+. La Pedriza" src="https://img.youtube.com/vi/pnJOkmG7ynU/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/la-rana-6c" class="table-row-name text-bold">La Rana</a>
									</div>
								</td>
								<td>6C+</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Nautilus, 7b. La Pedriza" href="/problems/la-pedriza/nautilus-7b" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Nautilus, 7b. La Pedriza" src="https://img.youtube.com/vi/VENZnObLLGY/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/nautilus-7b" class="table-row-name text-bold">Nautilus</a>
									</div>
								</td>
								<td>7b</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Pies de Paja, 6C. La Pedriza" href="/problems/la-pedriza/pies-de-paja-6c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Pies de Paja, 6C. La Pedriza" src="https://img.youtube.com/vi/c1ZvQ0Yb7Fs/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/pies-de-paja-6c" class="table-row-name text-bold">Pies de Paja</a>
									</div>
								</td>
								<td>6C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Post Parto, 4C. La Pedriza" href="/problems/la-pedriza/post-parto-4c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Post Parto, 4C. La Pedriza" src="https://img.youtube.com/vi/4gTK7zqlVK0/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/post-parto-4c" class="table-row-name text-bold">Post Parto</a>
									</div>
								</td>
								<td>4C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Sin Dormir, 5C. La Pedriza" href="/problems/la-pedriza/sin-dormir-5c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Sin Dormir, 5C. La Pedriza" src="https://img.youtube.com/vi/VSXnoTZ-i40/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/sin-dormir-5c" class="table-row-name text-bold">Sin Dormir</a>
									</div>
								</td>
								<td>5C</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Toliken, 7A. La Pedriza" href="/problems/la-pedriza/toliken-7a" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Toliken, 7A. La Pedriza" src="https://img.youtube.com/vi/x4Pyb49TM0A/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/toliken-7a" class="table-row-name text-bold">Toliken</a>
									</div>
								</td>
								<td>7A</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Toliken, 7A+ (sit). La Pedriza" href="/problems/la-pedriza/toliken-7a-sit" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Toliken, 7A+ (sit). La Pedriza" src="https://img.youtube.com/vi/4dhJwx52D60/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/toliken-7a-sit" class="table-row-name text-bold">Toliken</a>
									</div>
								</td>
								<td>7A+ (sit)</td>
							</tr>
						
							<tr class="problem-row">
								<td>
									<div class="problem-thumbnail-cell">
										<a aria-hidden="false" aria-label="Triángulo Viroso, 3C. La Pedriza" href="/problems/la-pedriza/triangulo-viroso-3c" tabindex="0" target="">
											<div class="video-thumbnail-container">
											<img class="video-thumbnail-img" loading="lazy" alt="Video thumbnail: Triángulo Viroso, 3C. La Pedriza" src="https://img.youtube.com/vi/GFr4bvwe_iE/mqdefault.jpg">
											</div>
										</a>
										<a href="/problems/la-pedriza/triangulo-viroso-3c" class="table-row-name text-bold">Triángulo Viroso</a>
									</div>
								</td>
								<td>3C</td>
							</tr>
						
					</tbody>
				</table>
				<script>
					$(document).ready(function () {
						$('#problems-table').DataTable({
							paging: false,
							dom: 'tr',
							columnDefs: [
								{
									targets: [1],
									type: 'custom-grade',
								},
							],
							order:[[1, 'desc']]
						});
						
						$("#search-problem").trigger("keyup");
						
						$("#search-problem").keyup(function() {
							var search_query = $.trim($(this).val());
							var items = $(".problem-row");
							filter_items_by_query(search_query, items)
						});
					});
				</script>
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>