<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hamandeggs 8A/+ Boulder Problem in Bor | MadBoulder</title>
	<meta name="description" content="Videos of Hamandeggs Boulder Problem in Bor climbed by Martin Stráník | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/bor/hamandeggs-8a">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/czech-republic" class="zone-header-tree-link">Czech Republic</a>
				
				> 
				<a href="/bor" class="zone-header-tree-link">Bor</a>
				> 
				<a href="/sectors/bor/unknown" class="zone-header-tree-link">Unknown</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Hamandeggs, 8A/+. Bor
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/2PNa53Cj1QM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Hamandeggs </p>
					<p> {{ _("Grade") }}: 8A/+ </p>
					
						<p> {{ _("Zone") }}: <a href="/bor">Bor</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/bor/unknown">Unknown</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/martin-stranik">Martin Stráník</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>