<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gimmie Back My ID V5 Boulder Problem in Index | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Gimmie Back My ID Boulder Problem in Index climbed by Stefanie Myr | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/index/gimmie-back-my-id-v5">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/washington" class="zone-header-tree-link">Washington</a>
	
	 > 
	<a href="/index" class="zone-header-tree-link">Index</a>
	 > 
	<a href="/sectors/index/river-boulders" class="zone-header-tree-link">River Boulders</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Gimmie Back My ID, V5. Index 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/JAMW-cjgL_8" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Gimmie Back My ID </p>
		<p> {{ _("Grade") }}: V5 </p>
		
			<p> {{ _("Zone") }}: <a href="/index">Index</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/index/river-boulders">River Boulders</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/stefanie-myr">Stefanie Myr</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>