<!DOCTYPE html>
<html>
  <head>
    <title>Sector Ermita de Sant Pau - Talibans at Arbolí | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Ermita de Sant Pau - Talibans at Arbolí | MadBoulder">
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Ermita de Sant Pau - Talibans, Arbolí</h2>
	<br>
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/arboli/problem/Del_sevi">Del sevi, 6c</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/El_Llangardaix">El Llangardaix, 5</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Gellivacio">Gel·livació, 6a+</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_1_Ermita_-_Talibans">Problem 1 (Ermita - Talibans), 5+</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_10_Ermita_-_Talibans">Problem 10 (Ermita - Talibans), 6c+</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_11_Ermita_-_Talibans">Problem 11 (Ermita - Talibans), 6c</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_17_Ermita_-_Talibans">Problem 17 (Ermita - Talibans), 5</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_24_Ermita_-_Talibans">Problem 24 (Ermita - Talibans), 5</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_3_Ermita_-_Talibans">Problem 3 (Ermita - Talibans), 4+</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_43_Ermita_-_Talibans">Problem 43 (Ermita - Talibans), 6b</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_6_Ermita_-_Talibans">Problem 6 (Ermita - Talibans), 7a</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_7_Ermita_-_Talibans">Problem 7 (Ermita - Talibans), 6a+</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_7_Ermita_-Talibans">Problem 7' (Ermita -Talibans), 5</a>
		</li>
		
		<li>
		  <a href="/arboli/problem/Problem_9_Ermita_-_Talibans">Problem 9 (Ermita - Talibans), 6b+</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>