<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naturaleza humana 7b (sit) Boulder Problem in Alcañiz | MadBoulder</title>
	<meta name="description" content="Videos of Naturaleza humana Boulder Problem in Alcañiz climbed by Caroline Sinno | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/alcaniz/naturaleza-humana-7b-sit">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
				
				> 
				<a href="/states/aragon" class="zone-header-tree-link">Aragon</a>
				
				> 
				<a href="/alcaniz" class="zone-header-tree-link">Alcañiz</a>
				> 
				<a href="/sectors/alcaniz/peche-melba" class="zone-header-tree-link">Peche Melba</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Naturaleza humana, 7b (sit). Alcañiz
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/ZLxBFMZHQ7g" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Naturaleza humana </p>
					<p> {{ _("Grade") }}: 7b (sit) </p>
					
						<p> {{ _("Zone") }}: <a href="/alcaniz">Alcañiz</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/alcaniz/peche-melba">Peche Melba</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/caroline-sinno">Caroline Sinno</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>