<!DOCTYPE html>
<html>
  <head>
    <title>Plan B at Alcañiz | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Plan B at Alcañiz | MadBoulder">
	
	{% include 'scripts/trackingToolsScripts.html' %}
	{% include 'scripts/headResources.html' %}
	{% include 'scripts/cookiesScripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
    {% include 'mainMenu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<!-- Problem data -->
<div class="container">
	<div>
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/UOax0pQ9000" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
		<div class="row" style="display: block;">
			<p> {{ _("Name") }}: Plan B </p>
			<p> {{ _("Grade") }}: 7a </p>
			<p> {{ _("Zone") }}: Alcañiz </p>
			<p> {{ _("Sector") }}: Anfibio </p>
			<p> {{ _("Climber") }}: Joan Planas </p>
		</div>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'footer.html' %}
	
  </body>
</html>