<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Un lugar para soñar 7C+/8A (sit) Boulder Problem in La Dehesa de Candelario | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Un lugar para soñar Boulder Problem in La Dehesa de Candelario climbed by Xaco Garcia | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/la-dehesa-de-candelario/un-lugar-para-sonar-7c-8a-sit">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/spain" class="zone-header-tree-link">Spain</a>
	
	 > 
	<a href="/states/castilla-leon" class="zone-header-tree-link">Castilla Leon</a>
	
	 > 
	<a href="/la-dehesa-de-candelario" class="zone-header-tree-link">La Dehesa de Candelario</a>
	 > 
	<a href="/sectors/la-dehesa-de-candelario/acebo" class="zone-header-tree-link">Acebo</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Un lugar para soñar, 7C+/8A (sit). La Dehesa de Candelario 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/Hn5hhRJ8MOM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Un lugar para soñar </p>
		<p> {{ _("Grade") }}: 7C+/8A (sit) </p>
		
			<p> {{ _("Zone") }}: <a href="/la-dehesa-de-candelario">La Dehesa de Candelario</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/la-dehesa-de-candelario/acebo">Acebo</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/xaco-garcia">Xaco Garcia</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>