<!DOCTYPE html>
<html>
  <head>
    <title>Battle of the Bulge at Yosemite Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Battle of the Bulge at Yosemite Valley | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/yosemite-valley/battle-of-the-bulge-v6">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/yosemite-valley" class="zone-header-tree-link">Yosemite Valley</a>
	 > 
	<a href="/sectors/yosemite-valley/camp-4" class="zone-header-tree-link">Camp 4</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Battle of the Bulge 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/gy83nJOzdq0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Battle of the Bulge </p>
		<p> {{ _("Grade") }}: V6 </p>
		<p> {{ _("Zone") }}: Yosemite Valley </p>
		<p> {{ _("Sector") }}: Camp 4 </p>
		<p> {{ _("Climber") }}: Vikas Agartha </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>