<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cranium crusher V3 Boulder Problem in Yosemite Valley | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Cranium crusher Boulder Problem in Yosemite Valley climbed by Sergi Márquez (Burbu) | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/yosemite-valley/cranium-crusher-v3">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	 > 
	<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
	
	 > 
	<a href="/states/california" class="zone-header-tree-link">California</a>
	
	 > 
	<a href="/yosemite-valley" class="zone-header-tree-link">Yosemite Valley</a>
	 > 
	<a href="/sectors/yosemite-valley/housekeeping" class="zone-header-tree-link">Housekeeping</a>

			</div>
			<h1 class="zone-header-title text-bold">
				 Cranium crusher, V3. Yosemite Valley 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/qImdDJQAaLc" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div class="row" style="display: block;">
		<p> {{ _("Name") }}: Cranium crusher </p>
		<p> {{ _("Grade") }}: V3 </p>
		<p> {{ _("Zone") }}: Yosemite Valley </p>
		<p> {{ _("Sector") }}: Housekeeping </p>
		<p> {{ _("Climber") }}: Sergi Márquez (Burbu) </p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>