<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Problem 6 (Housekeeping) V4 Boulder Problem in Yosemite Valley | MadBoulder</title>
	<meta name="description" content="Videos of Problem 6 (Housekeeping) Boulder Problem in Yosemite Valley climbed by Sergi Márquez (Burbu) | MadBoulder">
	
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	

	<link rel="canonical" href="https://www.madboulder.org/problems/yosemite-valley/problem-6-housekeeping-v4">
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
				
				> 
				<a href="/countries/united-states-of-america" class="zone-header-tree-link">United States of America</a>
				
				> 
				<a href="/states/california" class="zone-header-tree-link">California</a>
				
				> 
				<a href="/yosemite-valley" class="zone-header-tree-link">Yosemite Valley</a>
				> 
				<a href="/sectors/yosemite-valley/housekeeping" class="zone-header-tree-link">Housekeeping</a>
				
				
			</div>
			<h1 class="zone-header-title text-bold">
				Problem 6 (Housekeeping), V4. Yosemite Valley
			</h1>
		</div>
		<div class="container" id="mainContainer">
			<div class="video-container" >
				<iframe src="https://www.youtube.com/embed/CZunc7AmAdE" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
			<div class="text-and-map-container">
				<div class="text-container">
					<p> {{ _("Name") }}: Problem 6 (Housekeeping) </p>
					<p> {{ _("Grade") }}: V4 </p>
					
						<p> {{ _("Zone") }}: <a href="/yosemite-valley">Yosemite Valley</a></p>
						<p> {{ _("Sector") }}: <a href="/sectors/yosemite-valley/housekeeping">Housekeeping</a></p>
					
					
					<p> {{ _("Climber") }}: <a href="/contributors/sergi-marquez-burbu">Sergi Márquez (Burbu)</a></p>
				</div>
				
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>