<!DOCTYPE html>
<html>
  <head>
    <title>Sector Sector Puig del Corb at La Jonquera | MadBoulder</title>
	<meta name="description" content="Bouldering information and videos of sector Puig del Corb at La Jonquera | MadBoulder">
	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="container" id="mainContainer">
			<div class="container" id="pageContent">
				<br />
				
<div class="container">
	<h2 style="text-align: center;"> Puig del Corb, La Jonquera</h2>
	<br>
	
		<div class="video-container" >
			<iframe src="https://www.youtube.com/embed/?listType=playlist&list=PLlwn5IhJiUnPDdSLe7TYG3VR7PZv2-GFM" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
		<br />
	
	<!--Problem List-->
	<div class="container">
	  
	  <h4 class="listTitle" id="listProblemsTitle">
		{{ _("List of Problems") }}
		<img src="{{url_for('static', filename='images/icons/triangle.png')}}" class="toggleIcon" id="toggleIconProblems">
	  </h4>
	  
	  <ul id="listProblems" class="list closed">
		
		<li>
		  <a href="/la-jonquera/problem/1-d-octubre">1 d'Octubre, 6c (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/aresta-albera">Aresta Albera, 7b (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/black-ball">Black ball, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/calavera">Calavera, 6c+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/caparrassa">Caparrassa, 6a+/6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/dr-slum">Dr Slum, 5</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/duelo-de-clanes">Duelo de clanes, 7a (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/effecto-umbrella">Effecto Umbrella, 7a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-dau">El Dau, 7a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-pato-donald">El Pato Donald, 6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-pato-lucas">El Pato Lucas, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-sangrait">El Sangraït, 6a+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-sorrenc">El Sorrenc, 4</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-corazon">El corazon, 6b+ (stand)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-corazon">El corazon, 6a (trav)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-kiyo">El kiyo, 6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/el-refugi-extension">El refugi Extension, 6b+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/fantasia">Fantasia, 6c+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/fretarnite">Fretarnite, 6b+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/gecko-negre">Gecko negre, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/gecko-negre-trave">Gecko negre Trave, 7a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/l-arare">L'Arare, 6a (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/l-aresta-del-vent">L'Aresta del vent, 7a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/l-aresta-dels-deus">L'aresta dels deus, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-corasa">La Corasa, 6c+ (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-corassa">La Corassa, 6b+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-barbeta-lance">La barbeta (Lance), 6a+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-berra">La berra, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-llengua">La llengüa, 6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-trave-de-lo-imposible">La trave de lo imposible, 7a/+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-trave-del-cucurucho">La trave del cucurucho, 6b+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-vuelta-al-cole">La vuelta al cole, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/la-vuelta-al-cole">La vuelta al cole, 7a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/lo-imposible">Lo imposible, 6c (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/macrame">Macramé, 6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/mi-pequeno-okuma">Mi pequeño okuma, 7a+ (trave)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/mi-pequeno-okuma">Mi pequeño okuma, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/miradones">Miradones, 6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/olor-a-berru">Olor a Berru, 7b (sit extension)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/olor-a-berru">Olor a Berru, 6b+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/pet-amb-cua">Pet amb cua, 6a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/pico-de-pato">Pico de Pato, 6c</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/pico-de-pato">Pico de pato, 6c (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/placa-de-santa-llucia">Placa de Santa Llúcia, 7a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/primero-mantel">Primero mantel, 6c+ (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/problem-2-boulder-111-puig-del-corb">Problem 2 (Boulder 111, Puig del Corb), 6b+ (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/problem-2-boulder-38-puig-del-corb">Problem 2 (Boulder 38, Puig del Corb), 7a+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/problem-3-boulder-111-puig-del-corb">Problem 3 (Boulder 111, Puig del Corb), 6b</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/problem-4-bloc-97-puig-del-corb">Problem 4 (Bloc 97, Puig del Corb), Unknown</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/rosas-beach">Rosas beach, 6a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/tactum-arete">Tactum Arete, 7a+ (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/tactum-slap">Tactum Slap, 6b (sit)</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/titanic">Titanic, 6a</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/titanium">Titanium, 6b+</a>
		</li>
		
		<li>
		  <a href="/la-jonquera/problem/titanium-traverse">Titanium traverse, 7b</a>
		</li>
		
	  </ul>
	  <script >
		const listProblemsTitle = document.getElementById('listProblemsTitle');
		
		// Simulate a click on the button to open the list when the page loads
		document.addEventListener('DOMContentLoaded', function() {
		  listProblemsTitle.click();
		});
	
		const listProblems = document.getElementById('listProblems');
		const toggleIconProblems = document.getElementById('toggleIconProblems');

		listProblemsTitle.addEventListener('click', function() {
		  listProblems.classList.toggle('opened');
		  toggleIconProblems.style.transform = listProblems.classList.contains('opened') ? 'rotate(90deg)' : 'rotate(0deg)';
		});
	  </script>
	</div>
</div>

				<br />
			</div>
        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>