<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Darkness 8A+ Boulder Problem in Brione | MadBoulder</title>
	<meta name="description" content="Bouldering information and video of Videos of Darkness Boulder Problem in Brione climbed by Stefano Carnati | MadBoulder">
	
<link rel="canonical" href="https://www.madboulder.org/problems/brione/darkness-8a">

	
	{% include 'scripts/tracking-tools-scripts.html' %}
	{% include 'elements/head-resources.html' %}
	{% include 'scripts/cookie-scripts.html' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
	
	
    
  </head>
  <body>
	
	{% include 'elements/main-menu.html' %}
	
	<main>
		<div class="zone-header">
			<div class="container zone-header-tree">
				
	<a href="/bouldering-areas-list" class="zone-header-tree-link">{{ _("All Areas") }}</a>
	
	 > 
	<a href="/countries/switzerland" class="zone-header-tree-link">Switzerland</a>
	
	 > 
	<a href="/states/ticino" class="zone-header-tree-link">Ticino</a>
	
	 > 
	<a href="/brione" class="zone-header-tree-link">Brione</a>
	 > 
	<a href="/sectors/brione/ganne" class="zone-header-tree-link">Ganne</a>
	

			</div>
			<h1 class="zone-header-title text-bold">
				 Darkness, 8A+. Brione 
			</h1>
		</div>
		<div class="container" id="mainContainer">
			
<!-- Problem data -->
	<div class="video-container" >
		<iframe src="https://www.youtube.com/embed/OmwcXUXF3Qw" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
	<br />
	<div>
		<p> {{ _("Name") }}: Darkness </p>
		<p> {{ _("Grade") }}: 8A+ </p>
		
			<p> {{ _("Zone") }}: <a href="/brione">Brione</a></p>
			<p> {{ _("Sector") }}: <a href="/sectors/brione/ganne">Ganne</a></p>
		
		<p> {{ _("Climber") }}: <a href="/contributors/stefano-carnati">Stefano Carnati</a></p>
	</div>

        </div>
	</main>
	
	{% include 'elements/footer.html' %}
	
  </body>
</html>